<li class="dropdown hidden-lg">
  <a href="#" id="toolsDrop" role="button" class="dropdown-toggle" data-toggle="dropdown">More Tools <b class="caret"></b></a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="toolsDrop">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Avon U</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">ALMA</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Vibe</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Avon Social</a></li>
  </ul>
</li>
