<h5 class="hidden-xs hidden-sm">Notes</h5>
<hr class="hidden-xs hidden-sm">

<ul class="list-group list-group--clean-sliced">
  {% include '_includes/modules/contacts/contact-detail/tab-panes/notes/li.html.twig' with {
    date: 'Mar 22, 2018 2:25 PM'
  }%}
</ul>
