<h5>Details</h5>

<hr>

<section>

  <div class="row my-5">
    <div class="col-xs-10 my-md-2">
      <h6 class="col-sm-4">Email</h6>
      <div class="col-sm-6">test@gmail.com</div>
    </div>
    <div class="col-xs-2 text-right">
      <span class="edit-btn d-inline-flex align-items-end align-middle">
        <span class="lt-icon lt-pen mr-2 text-muted"></span>
        <a href="#" class="link-muted small lh-1 font-weight-bold">Edit</a>
      </span>
    </div>
  </div>

  <hr>

  <div class="row my-5">
    <h6 class="col-sm-4 my-md-2">Phone Number</h6>
    <div class="col-sm-8">123.456.7890</div>
  </div>

  <hr>

  <div class="row my-5">
    <h6 class="col-sm-4 my-md-2">Address</h6>
    <div class="col-sm-8">9072 Rialto St
      <br>Naples, FL 34113</div>
  </div>

  <hr>

  <div class="row my-5">
    <h6 class="col-sm-4 my-md-2">Contact Group(s)</h6>
    <div class="col-sm-8">
      <span class="badge badge-pill">Groupname 1</span>
      <span class="badge badge-pill">Groupname 2</span>
      <br><a href="#">Add to Group</a></div>
  </div>

  <hr>

  <div class="row my-5">
    <h6 class="col-sm-4 my-md-2">Language Preference</h6>
    <div class="col-sm-8">Dutch</div>
  </div>

  <hr>

  <div class="row my-5">
    <h6 class="col-sm-4 my-md-2">Birthday</h6>
    <div class="col-sm-8">September 27</div>
  </div>

  <hr>

  <div class="row my-5">
    <h6 class="col-sm-4 my-md-2">Subscribed to my emails</h6>
    <div class="col-sm-8">Yes</div>
  </div>

  <hr>

  <div class="row my-5">
    <h6 class="col-sm-4 my-md-2">Opted in to receive texts</h6>
    <div class="col-sm-8">Yes</div>
  </div>

  <hr>

  <div class="row my-5">
    <h6 class="col-sm-4 my-md-2">Customer Since</h6>
    <div class="col-sm-8">11/20/2014</div>
  </div>

  <hr>

  <div class="row my-5">
    <h6 class="col-sm-4 my-md-2">Contact Created</h6>
    <div class="col-sm-8">11/25/2015</div>
  </div>

  <hr>

  <div class="row my-5">
    <h6 class="col-sm-4 my-md-2">Preferred Contact Method</h6>
    <div class="col-sm-8">Phone</div>
  </div>

  <hr>

  <div class="row my-5">
    <h6 class="col-sm-4 my-md-2">Sales Tax</h6>
    <div class="col-sm-8">Your default sales tax of 0.15% will be used for this customer</div>
  </div>

  <hr>

  <div class="row my-5">
    <h6 class="col-sm-4 my-md-2">Delivery Option</h6>
    <div class="col-sm-8">Use default delivery option</div>
  </div>

</section>
