<h5 class="hidden-xs hidden-sm">Contact History</h5>
<hr class="hidden-xs hidden-sm">

<ul class="list-group list-group--clean-sliced">
  {% include '_includes/modules/contacts/contact-detail/tab-panes/contact-history/li.html.twig' with {
    contactMsg: 'You created a new note:',
    contactType: 'Note'
  }%}
  {% include '_includes/modules/contacts/contact-detail/tab-panes/contact-history/li.html.twig' with {
    contactMsg: 'Contact removed from group:',
    contactType: 'Group'
  }%}
  {% include '_includes/modules/contacts/contact-detail/tab-panes/contact-history/li.html.twig' with {
    contactMsg: 'Task created related to contact:',
    contactType: 'Task'
  }%}
  {% include '_includes/modules/contacts/contact-detail/tab-panes/contact-history/li.html.twig' with {
    contactMsg: 'Email sent to this contact:',
    contactType: 'Email'
  }%}
  {% include '_includes/modules/contacts/contact-detail/tab-panes/contact-history/li.html.twig' with {
    contactMsg: 'Contact invited to event:',
    contactType: 'Event'
  }%}
  {% include '_includes/modules/contacts/contact-detail/tab-panes/contact-history/li.html.twig' with {
    contactMsg: 'Contact created via manual entry.',
    contactType: null
  }%}
</ul>


