<h5>Details</h5>

<hr>

<section class="contact-detail-table">

  {% include '_includes/modules/contacts/contact-detail/detail-item.html.twig' with {
    label: 'Email',
    canEdit: true,
    content: '<p class="mb-3"><a href="mailto:test@gmail.com">test@gmail.com</a></p>
    <div class="d-flex text-danger mb-0">
      <span class="lt-icon lt-warning lt-small mr-1"></span>
      <span class="small">Message to this address are not being delivered</span>
    </div>'
  } %}

  <hr>

  {% include '_includes/modules/contacts/contact-detail/detail-item.html.twig' with {
    label: 'Phone Number',
    canEdit: true,
    content: '<p class="mb-3">Primary: (123)456-7890</p>
      <p class="mb-0">Secondary: (890)123-4567</p>'
  } %}

  <hr>

  {% include '_includes/modules/contacts/contact-detail/detail-item.html.twig' with {
    label: 'Address',
    canEdit: true,
    content: '<h6 class="text-muted mt-0 mb-4">Home Address</h6>
      <p class="mb-3">9072 Rialto St</p>
      <p class="mb-0">Naples, FL 34113</p>'
  } %}

  <hr>

  {% include '_includes/modules/contacts/contact-detail/detail-item.html.twig' with {
    label: 'Contact Group(s)',
    canEdit: false,
    content: '<span class="badge badge-pill">Groupname 1</span>
      <span class="badge badge-pill">Groupname 2</span>
      <br><a href="#">Add to Group</a>'
  } %}

  <hr>

  {% include '_includes/modules/contacts/contact-detail/detail-item.html.twig' with {
    label: 'Language Preference',
    canEdit: true,
    content: '<p class="mb-3">English</p>'
  } %}

  <hr>

  {% include '_includes/modules/contacts/contact-detail/detail-item.html.twig' with {
    label: 'Birthday',
    canEdit: true,
    content: '<p class="mb-3">September 27</p>'
  } %}

  <hr>

  {% include '_includes/modules/contacts/contact-detail/detail-item.html.twig' with {
    label: 'Subscribed to my emails',
    canEdit: false,
    content: '<p class="mb-3">Yes</p>'
  } %}

  <hr>

  {% include '_includes/modules/contacts/contact-detail/detail-item.html.twig' with {
    label: 'Opted in to receive texts',
    canEdit: false,
    content: '<p class="mb-3">Yes</p>'
  } %}

  <hr>

  {% include '_includes/modules/contacts/contact-detail/detail-item.html.twig' with {
    label: 'Customer Since',
    canEdit: true,
    content: '<p class="mb-3">11/20/2014</p>'
  } %}

  <hr>

  {% include '_includes/modules/contacts/contact-detail/detail-item.html.twig' with {
    label: 'Contact Created',
    canEdit: true,
    content: '<p class="mb-3">11/25/2015</p>'
  } %}

  <hr>

  {% include '_includes/modules/contacts/contact-detail/detail-item.html.twig' with {
    label: 'Preferred Contact Method',
    canEdit: true,
    content: '<p class="mb-3">Phone</p>'
  } %}

  <hr>

  {% include '_includes/modules/contacts/contact-detail/detail-item.html.twig' with {
    label: 'Sales Tax',
    canEdit: true,
    content: '<p class="mb-3">0.00% (default)</p>',
    learnMoreTarget: '#change-me'
  } %}

  <hr>

  {% include '_includes/modules/contacts/contact-detail/detail-item.html.twig' with {
    label: 'Delivery Option',
    canEdit: true,
    content: '<p class="mb-3">Direct Delivery only (default)</p>',
    learnMoreTarget: '#change-me'
  } %}

</section>
