<h5 class="hidden-xs hidden-sm">Details</h5>

<hr class="hidden-xs hidden-sm">

<section class="contact-detail-table">

  {% set emailContent %}
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/email-content.html.twig' %}
  {% endset %}
  {% set emailForm %}
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/email-form.html.twig' %}
  {% endset %}

  {% include '_includes/modules/contacts/contact-detail/detail-item.html.twig' with {
    label: 'Email',
    canEdit: true,
    content: emailContent,
    formContent: emailForm
  } %}

  <hr>

  {% set phoneContent %}
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/phone-content.html.twig' %}
  {% endset %}
  {% set phoneForm %}
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/phone-form.html.twig' %}
  {% endset %}

  {% include '_includes/modules/contacts/contact-detail/detail-item.html.twig' with {
    label: 'Phone Number',
    canEdit: true,
    content: phoneContent,
    formContent: phoneForm
  } %}

  <hr>

  {% set addressContent %}
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/address-content.html.twig' %}
  {% endset %}
  {% set addressForm %}
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/address-form.html.twig' %}
  {% endset %}

  {% include '_includes/modules/contacts/contact-detail/detail-item.html.twig' with {
    label: 'Address',
    canEdit: true,
    content: addressContent,
    formContent: addressForm
  } %}

  <hr>

  {% set groupsContent %}
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/groups-content.html.twig' %}
  {% endset %}

  {% include '_includes/modules/contacts/contact-detail/detail-item.html.twig' with {
    label: 'Contact Group(s)',
    canEdit: false,
    content: groupsContent
  } %}

  <hr>

  {% set languageForm %}
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/language-form.html.twig' %}
  {% endset %}

  {% include '_includes/modules/contacts/contact-detail/detail-item.html.twig' with {
    label: 'Language Preference',
    canEdit: true,
    content: '<p class="mb-3">English</p>',
    formContent: languageForm
  } %}

  <hr>

  {% set birthdayForm %}
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/birthday-form.html.twig' %}
  {% endset %}

  {% include '_includes/modules/contacts/contact-detail/detail-item.html.twig' with {
    label: 'Birthday',
    canEdit: true,
    content: '<p class="mb-3">September 27</p>',
    formContent: birthdayForm
  } %}

  <hr>

  {% include '_includes/modules/contacts/contact-detail/detail-item.html.twig' with {
    label: 'Subscribed to my emails',
    canEdit: false,
    content: '<p class="mb-3">Yes</p>'
  } %}

  <hr>

  {% include '_includes/modules/contacts/contact-detail/detail-item.html.twig' with {
    label: 'Opted in to receive texts',
    canEdit: false,
    content: '<p class="mb-3">Yes</p>'
  } %}

  <hr>

  {% set memberSinceForm %}
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/member-since-form.html.twig' %}
  {% endset %}

  {% include '_includes/modules/contacts/contact-detail/detail-item.html.twig' with {
    label: 'Customer Since',
    canEdit: true,
    content: '<p class="mb-3">11/20/2014</p>',
    formContent: memberSinceForm
  } %}

  <hr>

  {% include '_includes/modules/contacts/contact-detail/detail-item.html.twig' with {
    label: 'Contact Created',
    canEdit: false,
    content: '<p class="mb-3">11/25/2015</p>',
    formContent: '<form role="form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="test@gmail.com">
      </div>
      <button type="button" class="btn btn-default btn-cancel">Cancel</button>
      <button type="button" class="btn btn-primary btn-save">Save</button>
    </form>'
  } %}

  <hr>

  {% set contactMethodForm %}
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/contact-method-form.html.twig' %}
  {% endset %}

  {% include '_includes/modules/contacts/contact-detail/detail-item.html.twig' with {
    label: 'Preferred Contact Method',
    canEdit: true,
    content: '<p class="mb-3">Phone</p>',
    formContent: contactMethodForm
  } %}

  <hr>

  {% set salesTaxForm %}
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/sales-tax-form.html.twig' %}
  {% endset %}

  {% include '_includes/modules/contacts/contact-detail/detail-item.html.twig' with {
    label: 'Sales Tax',
    canEdit: true,
    learnMoreTarget: '#change-me',
    content: '<p class="mb-3">0.00% (default)</p>',
    formContent: salesTaxForm
  } %}

  <hr>

  {% set deliveryForm %}
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/delivery-form.html.twig' %}
  {% endset %}

  {% include '_includes/modules/contacts/contact-detail/detail-item.html.twig' with {
    label: 'Delivery Option',
    canEdit: true,
    learnMoreTarget: '#change-me',
    content: '<p class="mb-3">Direct Delivery only (default)</p>',
    formContent: deliveryForm
  } %}

</section>
