<h5 class="pane-title">Details</h5>
<hr>

<section class="contact-detail-list">

  <!-- START - EMAIL -->
  {% set thisContent %}
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/email-content.html.twig' %}
  {% endset %}
  {% set thisFormContent %}
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/email-form.html.twig' %}
  {% endset %}

  {% include '_includes/modules/contacts/contact-detail/tab-panes/details/detail-item.html.twig' with {
    label: 'Email',
    canEdit: isEditableEmail,
    content: thisContent,
    formContent: thisFormContent
  } %}
  <!-- END - EMAIL -->


  <!-- START - PHONE NUMBER -->
   <hr>
  {% set thisContent %}
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/phone-content.html.twig' %}
  {% endset %}
  {% set thisFormContent %}
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/phone-form.html.twig' %}
  {% endset %}

  {% include '_includes/modules/contacts/contact-detail/tab-panes/details/detail-item.html.twig' with {
    label: 'Phone Number',
    canEdit: isEditablePhone,
    content: thisContent,
    formContent: thisFormContent
  } %}
  <!-- END - PHONE NUMBER -->

  <!-- START - HOME ADDRESS -->
   <hr>
  {% set thisContent %}
    {% if contactType == 'team' %}
      {% set homeAddressLabel = 'Address' %}
    {% else %}
      {% set homeAddressLabel = 'Home Address' %}
    {% endif %}

    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/address-content.html.twig' with {
      label: homeAddressLabel
    } %}
  {% endset %}
  {% set thisFormContent %}
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/address-form.html.twig' %}
  {% endset %}

  {% include '_includes/modules/contacts/contact-detail/tab-panes/details/detail-item.html.twig' with {
    label: homeAddressLabel,
    canEdit: isEditableAddressHome,
    content: thisContent,
    formContent: thisFormContent
  } %}
  <!-- END - HOME ADDRESS -->


{% if contactType != 'team' %}
  <!-- START - WORK ADDRESS -->
   <hr>
  {% set thisContent %}
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/address-content.html.twig' with {
      label: 'Work Address'
    } %}
  {% endset %}
  {% set thisFormContent %}
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/address-form.html.twig' with {
      hideAddLink: true
    } %}
  {% endset %}

  {% include '_includes/modules/contacts/contact-detail/tab-panes/details/detail-item.html.twig' with {
    label: 'Work Address',
    canEdit: isEditableAddressWork,
    content: thisContent,
    formContent: thisFormContent
  } %}
  <!-- END - WORK ADDRESS -->

{% endif %}


  <!-- START - GROUPS -->
   <hr>
  {% set thisContent %}
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/groups-content.html.twig' %}
  {% endset %}

  {% include '_includes/modules/contacts/contact-detail/tab-panes/details/detail-item.html.twig' with {
    label: 'Contact Group(s)',
    canEdit: false,
    content: thisContent
  } %}
  <!-- END - GROUPS -->



  <!-- START - LANGUAGE -->
   <hr>
  {% set thisFormContent %}
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/language-form.html.twig' %}
  {% endset %}

  {% include '_includes/modules/contacts/contact-detail/tab-panes/details/detail-item.html.twig' with {
    label: 'Language Preference',
    canEdit: isEditableLanguage,
    content: '<p class="mb-0">English</p>',
    formContent: thisFormContent
  } %}
  <!-- END - LANGUAGE -->




  {% if contactType == 'team' %}
  <!-- START - TEAM ONLY -->

    <!-- START - ONLINE STORE -->
     <hr>
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/detail-item.html.twig' with {
      label: 'Online Store',
      canEdit: false,
      content: '<p class="mb-0">youravon.com/erlindaconley</p>'
    } %}

    <!-- END - ONLINE STORE -->

    <!-- START - REFERRAL CODE -->
     <hr>
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/detail-item.html.twig' with {
      label: 'Referral Code',
      canEdit: false,
      content: '<p class="mb-0">12345678</p>'
    } %}

    <!-- END - REFERRAL CODE -->

    <!-- START - LEADERSHIP TITLE -->
     <hr>
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/detail-item.html.twig' with {
      label: 'Leadership Title',
      canEdit: false,
      content: '<p class="mb-0">Bronze Leader</p>'
    } %}

    <!-- END - LEADERSHIP TITLE -->

    <!-- START - PRP TITLE -->
     <hr>
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/detail-item.html.twig' with {
      label: 'PRP Title',
      canEdit: false,
      content: '<p class="mb-0">Rose Circle</p>'
    } %}

    <!-- END - PRP TITLE -->

    <!-- START - MENTOR -->
     <hr>
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/detail-item.html.twig' with {
      label: 'Mentor',
      canEdit: false,
      content: '<p class="mb-0">Charlotte Hassleboss</p>'
    } %}

    <!-- END - MENTOR -->

    <!-- START - LENGTH OF ASSOCIATION (LOA) -->
     <hr>
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/detail-item.html.twig' with {
      label: 'Length of Associaltion (LOA) ',
      canEdit: false,
      content: '<p class="mb-0">3 years</p>'
    } %}

    <!-- END - LENGTH OF ASSOCIATION (LOA) -->

  <!-- END - TEAM ONLY -->
  {% endif %}



  <!-- START - BIRTHDAY -->
   <hr>
  {% set thisFormContent %}
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/birthday-form.html.twig' %}
  {% endset %}

  {% include '_includes/modules/contacts/contact-detail/tab-panes/details/detail-item.html.twig' with {
    label: 'Birthday',
    canEdit: isEditableBirthday,
    content: '<p class="mb-0">September 27</p>',
    formContent: thisFormContent
  } %}
  <!-- END - BIRTHDAY -->



  {% if contactTypeCategory == 'customer-or-online-customer' %}
  <!-- START - CUSTOMER / ONLINE CUSTOMER ONLY -->

  <!-- START - EMAIL SUBSCRIPTION -->
   <hr>
  {% include '_includes/modules/contacts/contact-detail/tab-panes/details/detail-item.html.twig' with {
    label: 'Subscribed to my emails',
    canEdit: false,
    content: '<p class="mb-0">Yes</p>'
  } %}
  <!-- END - EMAIL SUBSCRIPTION -->



  {# <!-- START - TEXTS -->
   <hr>
  {% include '_includes/modules/contacts/contact-detail/tab-panes/details/detail-item.html.twig' with {
    label: 'Opted in to receive texts',
    canEdit: false,
    content: '<p class="mb-0">Yes</p>'
  } %}
   <hr>
  <!-- END - TEXTS -->

  <hr> #}




  <!-- START - CUSTOMER SINCE -->
   <hr>
  {% set thisFormContent %}
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/member-since-form.html.twig' %}
  {% endset %}

  {% include '_includes/modules/contacts/contact-detail/tab-panes/details/detail-item.html.twig' with {
    label: 'Customer Since',
    canEdit: isEditableCustomerSince,
    content: '<p class="mb-0">11/20/2014</p>',
    formContent: thisFormContent
  } %}
  <!-- END - CUSTOMER SINCE -->



  <!-- START - CONTACT CREATED -->
   <hr>
  {% include '_includes/modules/contacts/contact-detail/tab-panes/details/detail-item.html.twig' with {
    label: 'Contact Created',
    canEdit: false,
    content: '<p class="mb-0">11/25/2015</p>',
    formContent: '<form role="form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="test@gmail.com">
      </div>
      <button type="button" class="btn btn-default btn-cancel">Cancel</button>
      <button type="button" class="btn btn-primary btn-save">Save</button>
    </form>'
  } %}
  <!-- END - CONTACT CREATED -->


  {# <!-- START - CONTACT METHOD -->
  {% set thisFormContent %}
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/contact-method-form.html.twig' %}
  {% endset %}

  {% include '_includes/modules/contacts/contact-detail/tab-panes/details/detail-item.html.twig' with {
    label: 'Preferred Contact Method',
    canEdit: true,
    content: '<p class="mb-0">Phone</p>',
    formContent: thisFormContent
  } %}
  <!-- END - CONTACT METHOD -->

   #}

  <!-- START - SALES TAX -->
   <hr>
  {% set thisFormContent %}
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/sales-tax-form.html.twig' %}
  {% endset %}

  {% include '_includes/modules/contacts/contact-detail/tab-panes/details/detail-item.html.twig' with {
    label: 'Sales Tax',
    canEdit: isEditableSalesTax,
    learnMoreTarget: '#change-me',
    content: '<p class="mb-0">0.00% (default)</p>',
    formContent: thisFormContent
  } %}

  <!-- END - SALES TAX -->



  <!-- START - DELIVERY OPTION -->
   <hr>
  {% set thisFormContent %}
    {% include '_includes/modules/contacts/contact-detail/tab-panes/details/delivery-form.html.twig' %}
  {% endset %}

  {% include '_includes/modules/contacts/contact-detail/tab-panes/details/detail-item.html.twig' with {
    label: 'Delivery Option',
    canEdit: isEditableDeliveryOption,
    learnMoreTarget: '#change-me',
    content: '<p class="mb-0">Direct Delivery only (default)</p>',
    formContent: thisFormContent
  } %}
  <!-- END - DELIVERY OPTION -->

  <!-- END - CUSTOMER / ONLINE CUSTOMER ONLY -->
  {% endif %}

</section>
