<h5 class="d-inline-block hidden-xs hidden-sm">Notes</h5>
<button class="btn btn-sm btn-primary btn-header">Add Note</button>
<hr class="mt-4">

<ul class="list-group list-group--clean-sliced">
  {% include '_includes/modules/contacts/contact-detail/tab-panes/notes/li.html.twig' with {
    date: 'Mar 22, 2018 2:25 PM',
    classes: 'pt-0 pb-5'
  }%}
  {% include '_includes/modules/contacts/contact-detail/tab-panes/notes/li.html.twig' with {
    date: 'Mar 23, 2018 1:25 PM',
    classes: 'py-5'
  }%}
  {% include '_includes/modules/contacts/contact-detail/tab-panes/notes/li.html.twig' with {
    date: 'Mar 21, 2018 5:38 PM',
    classes: 'py-5'
  }%}
  {% include '_includes/modules/contacts/contact-detail/tab-panes/notes/li.html.twig' with {
    date: 'Mar 19, 2018 2:25 PM',
    classes: 'py-5'
  }%}
</ul>
