<div class="mt-3 table-responsive {{ classes }} {% if hidden %} hidden {% endif %}">
  <table class="table table-bordered-outside-only">
    <thead>
      <tr>
        <th class="t-customers">Customers</th>
        <th class="t-desc">Description</th>
        <th class="t-qty">Qty</th>
        <th class="t-purchase">Purchase Date</th>
        <th class="t-follow">Follow Up</th>
        <th class="t-call">Call</th>
        <th class="t-text visible-xs">Text</th>
        <th class="t-email">Email</th>
        <th class="t-action">Action</th>
      </tr>
    </thead>
    <tbody>

      {% include "_includes/groups/customer-product-reminder/customer-product-reminder-tr.html.twig" with {
        customer: "Tisha Denise Pennington " ~ index,
        desc: "Anew Cream",
        qty: "2",
        updatePhone: false,
        updateText:  false,
        updateEmail: false,
      } %}

      {% include "_includes/groups/customer-product-reminder/customer-product-reminder-tr.html.twig" with {
        customer: "Ana Jones " ~ index,
        desc: "Anew Ultimate Night Cream For The Ultimate Facial Experience When Your Skin be on that Dry",
        qty: "4",
        updatePhone: true,
        updateText:  false,
        updateEmail: false,
      } %}

      {% include "_includes/groups/customer-product-reminder/customer-product-reminder-tr.html.twig" with {
        customer: "Olivia Washington Carver  " ~ index,
        desc: "Creamy Cream",
        qty: "3",
        updatePhone: false,
        updateText:  true,
        updateEmail: false,
      } %}

      {% include "_includes/groups/customer-product-reminder/customer-product-reminder-tr.html.twig" with {
        customer: fpo.person.2 ~ " " ~ index,
        desc: "Mmm Cream",
        qty: "2",
        updatePhone: false,
        updateText:  false,
        updateEmail: true,
      } %}

      {% include "_includes/groups/customer-product-reminder/customer-product-reminder-tr.html.twig" with {
        customer: fpo.person.3 ~ " " ~ index,
        desc: "Anew Ultimate Night Cream",
        qty: "1",
        updatePhone: true,
        updateText:  true,
        updateEmail: false,
      } %}

      {% include "_includes/groups/customer-product-reminder/customer-product-reminder-tr.html.twig" with {
        customer: fpo.person.4 ~ " " ~ index,
        desc: "Anew Ultimate Night Cream",
        qty: "2",
        updatePhone: true,
        updateText:  true,
        updateEmail: true,
      } %}

      {% include "_includes/groups/customer-product-reminder/customer-product-reminder-tr.html.twig" with {
        customer: fpo.person.5 ~ " " ~ index,
        desc: "Anew Ultimate Night Cream",
        qty: "2",
        updatePhone: false,
        updateText:  true,
        updateEmail: true,
      } %}


      
      
      
      
      
    </tbody>
  </table>

  <!-- START - UPDATE EMAIL MODAL -->
  {% include "_includes/modules/reports/modals/update-email-address-modal.html.twig" %}
  <!-- END - UPDATE EMAIL MODAL -->

  <!-- START - UPDATE PHONE NUMBER MODAL -->
  {% include "_includes/modules/reports/modals/update-phone-number-modal.html.twig" %}
  <!-- END - UPDATE PHONE NUMBER MODAL -->

  <!-- START - UPDATE TEXT NUMBER MODAL -->
  {% include "_includes/modules/reports/modals/update-text-number-modal.html.twig" %}
  <!-- END - UPDATE TEXT NUMBER MODAL -->

</div>
