{% if position == 'top' %}
  {% set classes = 'top-content' %}
{% elseif position == 'bottom' %}
  {% set classes = 'below-content' %}
{% elseif position == 'within' %}
  {% set classes = 'within-content' %}
{% endif %}

<!-- START - GENERIC CONTENT BLOCK -->
<!-- DEV NOTE :: it's very important that there be no whitespace in the div below, use Magnolia @compress -->
<div class="{{ classes }}">{{ html }}</div>
<!-- END - GENERIC CONTENT BLOCK -->
