{% if position == 'bottom' %}
  {% set classes = 'bottom' %}
  {% if extraSpacing %}
    {% set paddingClass = ' pt-' ~  extraSpacing %}
  {% endif %}
  {% if removeDefaultSpacing %}
    {% set marginClass = ' mt-0' %}
  {% endif %}
{% elseif position == 'within' %}
  {% set classes = 'within' %}
  {% if extraSpacing %}
    {% set paddingClass = ' pb-' ~  extraSpacing %}
  {% endif %}
{% else %}
  {% set classes = 'top' %}
  {% if extraSpacing %}
    {% set paddingClass = ' pb-' ~  extraSpacing %}
  {% endif %}
{% endif %}

<!-- START - GENERIC CONTENT BLOCK -->
<div class="generic-content-block {{ classes }}{{ marginClass }}{{ paddingClass }}">
  <div class="reverse-bg py-3">
    <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
  </div>
</div>
<!-- END - GENERIC CONTENT BLOCK -->
