{% if position == 'bottom' %}
  {% set classes = 'mt-5' %}
{% else %}
  {% set classes = 'mb-5' %}
{% endif %}
<!-- START - CONTENT BLOCK -->
<div class="reverse-bg py-3 {{ classes }}">
  <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
</div>
<!-- END - CONTENT BLOCK -->