{% if position == 'bottom' %}
  {% set classes = 'mt-5' %}
{% else %}
  {% set classes = 'mb-5' %}
{% endif %}
<!-- START - CONTENT BLOCK -->
<div class="reverse-bg py-3 {{ classes }}">
  <h4 class="m-0 text-center">Mangolia Managed Content Block</h4>
</div>
<!-- END - CONTENT BLOCK -->