<!-- START - PRODUCT DETAILS -->

<!-- START - PRODUCT ID -->
<p class="text-muted">728-402</p>
<!-- START - PRODUCT ID -->

<!-- START - TITLE -->
<h3 class="pdp-product-title">Anew Skinvincible Deep Recovery Cream</h3>
<!-- END - TITLE -->

<!-- START - VIEW MORE INFO LINK -->
<!-- Dev note: Only appears in Quick SHop modal -->
<a href="#" class="pdp-more-info-link w-100 my-4 underline">View more info</a>
<!-- END - VIEW MORE INFO LINK -->



<!-- START - PRICE -->
<h3 class="d-inline-block align-middle mr-4 my-3 my-md-4">
  <!-- Developer note: If "Regular price" is not shown below, remove .text-primary to make the proce black.-->
  <span class="pdp-price text-primary">$9.99</span>
</h3>
<!-- END - PRICE -->

<!-- START - CAMPAIGN SELECT -->
<div class="form-group has-feedback d-inline-block align-middle my-3 my-md-4">
  <div class="dropdown">
    <button class="btn btn-select input-sm form-control pdp-campaign-select dropdown-toggle" id="pdpCampaignSelect" data-toggle="dropdown">
      <span class="campaign-name">CO4</span>
    </button>
    <span class="lt-icon lt-triangle-down form-control-feedback"></span>
    <ul class="dropdown-menu dropdown-menu--alt-hover" role="menu" aria-labelledby="pdpCampaignSelect">
      <li role="presentation">
        <a class="d-flex justify-content-between" role="menuitem" tabindex="-1" href="#">
          <span class="d-inline-block mr-5">CO5 - Next Campaign</span>
          <span class="d-inline-block strong">$9.99</span>
        </a>
      </li>
      <li role="presentation">
        <a class="d-flex justify-content-between" role="menuitem" tabindex="-1" href="#">
          <span class="d-inline-block mr-5">CO4 - Current Campaign</span>
          <span class="d-inline-block strong">$9.99</span>
        </a>
      </li>
      <li role="presentation">
        <a class="d-flex justify-content-between" role="menuitem" tabindex="-1" href="#">
          <span class="d-inline-block mr-5">CO3 - Previous Campaign</span>
          <span class="d-inline-block strong">$9.99</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- END - CAMPAIGN SELECT -->

<!-- START - PRICE AND OFFERS -->
<p class="my-0 my-md-4 w-100">
  <span class="text-muted col-xs-12 col-sm-6 px-0 my-3 my-md-0">Regular price:
    <span class="strike-through">$12.99</span>
  </span>
  <a class="underline col-xs-12 col-sm-6 px-0 my-3 my-md-0" href="#" data-toggle="modal" data-target="#product-offers-modal">View Offers <span class="pdp-offers">(1)</span></a>
</p>
<!-- END - PRICE AND OFFERS -->

<!-- START - STOCK STATUS MESSAGES -->
<div class="pdp-stock-status px-0 py-0 py-md-3 my-3">
  <span class="small">
    <span class="lt-icon lt-checkmark lt-medium"></span> In stock
  </span>
  <span class="small text-danger">
    <span class="lt-icon lt-close lt-medium"></span> Out of stock
  </span>
  <span class="small text-danger">
    <span class="lt-icon lt-warning lt-medium"></span> Sold out
  </span>
</div>
<!-- END - STOCK STATUS MESSAGES -->

<!-- START - VARIANT SELECT -->
<div class="pdp-variant-select col-xs-12 px-0 py-3 my-3">
  <div class="form-group has-feedback text-left d-inline-block col-xs-12 p-0 m-0">
    <label class="control-label" for="pdpVariantSelect">Shade</label>
    <div class="dropdown">
      <button class="btn btn-select form-control dropdown-toggle pl-2" id="pdpVariantSelect" data-toggle="dropdown">
        <!-- DEVELOPER NOTE :: the idea with the inline style is that you'll be able to control it easily with js -->
        <span class="variant-swatch d-inline-block align-middle mr-2" style="background-color: #E0B0FF; width: 25px; height: 25px;"></span>
        <span class="variant-title d-inline-block align-middle">Mad for Mauve</span>
        -
        <span class="variant-id d-inline-block align-middle">654-473</span>
        <span class="lt-icon lt-triangle-down form-control-feedback"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="pdpVariantSelect">
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#" class="pl-2">
            <span class="variant-swatch d-inline-block align-middle mr-2" style="background-color: salmon; width: 25px; height: 25px;"></span>
            <span class="variant-title d-inline-block align-middle">Salmon</span>
            -
            <span class="variant-id d-inline-block align-middle">654-473</span>
          </a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#" class="pl-2">
            <span class="variant-swatch d-inline-block align-middle mr-2" style="background-color: #000; width: 25px; height: 25px;"></span>
            <span class="variant-title d-inline-block align-middle">Black</span>
            -
            <span class="variant-id d-inline-block align-middle">654-473</span>
          </a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#" class="pl-2">
            <span class="variant-swatch d-inline-block align-middle mr-2" style="background-color: yellow; width: 25px; height: 25px;"></span>
            <span class="variant-title d-inline-block align-middle">Yellow</span>
            -
            <span class="variant-id d-inline-block align-middle">654-473</span>
          </a>
        </li>
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="#" class="pl-2">
            <span class="variant-swatch d-inline-block align-middle mr-2" style="background-color: #f00; width: 25px; height: 25px;"></span>
            <span class="variant-title d-inline-block align-middle">Red</span>
            -
            <span class="variant-id d-inline-block align-middle">654-473</span>
          </a>
        </li>
      </ul>
      <!-- end .dropdown-menu -->
    </div>
    <!-- end .dropdown -->
  </div>
  <!-- end .form-group -->
</div>
<!-- END - VARIANT SELECT -->

<div class="col-xs-12 p-0">
  <!-- START - QUANTITY -->
  <div class="pdp-quantity-input col-xs-3 col-sm-2 px-0 py-3 my-3">
    <div class="form-group text-left p-0 m-0 pr-4 pr-md-0">
      <label class="control-label" for="pdpQuantity">Quantity</label>
      <input type="text" class="form-control" id="pdpQuantity" placeholder="1">
    </div>
  </div>
  <!-- END - QUANTITY -->

  <!-- START - CUSTOMER SELECT -->
  <div class="pdp-customer-select col-xs-9 col-sm-12 px-0 py-3 mt-3 mb-0 mb-md-3">
    <div class="form-group text-left has-feedback d-inline-block col-xs-12 p-0 m-0">
      <label class="control-label" for="pdpCustomerSelect">Who is this for?</label>
      <input type="text" class="form-control" id="pdpCustomerSelect" placeholder="Jane Johnson">
      <span class="lt-icon lt-triangle-down form-control-feedback"></span>
      <!-- <div class="input-group">
        <input type="text" class="form-control" id="pdpCustomerSelect" placeholder="Jane Johnson">
        <span class="input-group-btn">
          <button class="btn btn-link" type="button"><span class="lt-icon lt-triangle-down"></span></button>
        </span>
      </div> -->
    </div>
  </div>
  <!-- END - CUSTOMER SELECT -->
</div>

<!-- START - STOCK MESSAGES CONTAINER -->
<div class="pdp-stock-msg clearfix border-top text-left px-0 pt-5 my-3">

  <!-- START - OUT OF STOCK MESSAGE -->
  <div class="form-group has-feedback d-inline-block col-xs-12 p-0 m-0">
    <p><strong>More on the way</strong></p>
    <p class="small">This item is currently out of stock, but we are expecting more soon. Sign up to be notified as soon as it's available.</p>
    <p class="small">Thanks! We'll email you at jane.johnson@gmail.com as soon as it's back in stock.</p>
  </div>
  <!-- END - OUT OF STOCK MESSAGE -->

  <!-- START - SOLD OUT MESSAGE -->
  <div class="form-group has-feedback d-inline-block col-xs-12 p-0 m-0">
    <p><span class="lt-icon lt-warning lt-medium text-danger"></span> <strong>This product is sold out</strong></p>
    <p class="small">This item is currently unavailable. Lorem ipsum dolor sit amet, and view similar products.</p>
  </div>
  <!-- END - SOLD OUT MESSAGE -->

</div>
<!-- END - STOCK MESSAGES CONTAINER -->

<!-- START - CTA BUTTONS -->
<div>

  <!-- START - NOTIFY BUTTON -->
  <button class="btn btn-default btn-lg mt-4 col-xs-12">
    Notify me when in stock
  </button>
  <!-- END - NOTIFY BUTTON -->

  <!-- START - SIMILAR PRODUCTS BUTTON -->
  <button class="btn btn-default btn-lg mt-4 col-xs-12">
    View similar products
  </button>
  <!-- END - SIMILAR PRODUCTS BUTTON -->

  <!-- START - ADD TO ORDER BUTTON -->
  <button class="btn btn-primary btn-lg mt-4 col-xs-12">
    Add to order
  </button>
  <!-- END - ADD TO ORDER BUTTON -->

  <!-- START - FUTURE ORDER BUTTON -->
  <button class="btn btn-default btn-lg mt-4 col-xs-12">
    Add to future order
  </button>
  <!-- END - FUTURE ORDER BUTTON -->

</div>
<!-- END - CTA BUTTONS -->

<!-- START - SOCIAL ICONS -->
<div id="pdp-imgs__social-mobile" class="pl-2 my-4 hidden-smX">
  <!-- Developer note: Icons get cloned here on page load via Javascript. Could not acheive with CSS. -->
</div>
<!-- END - SOCIAL ICONS -->





<!-- END - PRODUCT DETAILS -->
