

  <!-- CURRENT IMAGE -->
  <img src="/images/fpo/anew_lg.png" alt="" class="img-responsive pdp-imgs__img">

  <!-- THUMBNAILS -->
  <div class="pdp-imgs__thumbs mt-4">
      <div class="row">
        <div class="col-xs-3">
          <a href="#" class="thumbnail thumbnail--square">
            <img src="/images/fpo/anew_lg.png" alt="..."/>
          </a>
        </div>
        <div class="col-xs-3">
          <a href="#" class="thumbnail thumbnail--square">
            <img src="/images/fpo/anew_sm.png" alt="..."/>
          </a>
        </div>
        <div class="col-xs-3">
          <a href="#" class="thumbnail thumbnail--square">
            <img src="/images/fpo/anew_lg.png" alt="..."/>
          </a>
        </div>
        <div class="col-xs-3">
          <a href="#" class="thumbnail thumbnail--square">
            <img src="/images/fpo/pretty_lady.png" alt="..."/>
          </a>
        </div>
        <!-- <div class="col-xs-3">
          <a href="#" class="thumbnail thumbnail--square thumbnail--video">
            <img src="/images/fpo/agnew-ultimate.png" alt="..."/>
          </a>
        </div> -->
      </div>
  </div>

  <!-- SOCIAL ICONS -->
  <div class="pdp-imgs__social mt-4">
    {% include "_includes/modules/global/social-icons.html.twig" %}
  </div>
