{% extends "_layouts/modal-lg-no-footer.html.twig" %}
{% set modalId = 'product-offers-modal' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalHeader %}

  <button type="button" id="offers-modal-back-btn" class="close link-muted pull-left" data-dismiss="modal" aria-hidden="true">
    <span class="sr-only">Go back</span>
    <span class="lt-icon lt-left lt-large py-1"></span>
  </button>

  <button type="button" class="close link-muted" data-dismiss="modal" aria-hidden="true">
    <span class="sr-only">Close modal</span>
    <span class="lt-icon lt-close lt-large py-1"></span>
  </button>

  <h4 class="modal-title" id="myModalLabel">Offers</h4>

{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalBody %}

  <div class="row m-2">

    <!-- START - OFFERS MODAL CONTENT -->
    <div class="alert alert-warning">
      <span class="lt-icon lt-info lt-medium mr-2"></span>Offers are fulfilled at checkout
    </div>

    <div class="list-group list-group--clean-sliced mb-0">

      <div class="list-group-item">
        <p>Buy 2, get 1 free!</p>
      </div>

      <div class="list-group-item">
        <p>Buy this product and <span class="text-primary">Anew Clinical Advanced Wrinkle Corrector</span> to get a FREE GIFT!</p>
      </div>

      <div class="list-group-item">
        <p>Buy this product and <span class="text-primary">Anew Ultimate Supreme Advanced Performance Créme</span> and save $20!</p>
      </div>

      <div class="list-group-item">
        <p>Buy 2, get 1 free!</p>
      </div>

      <div class="list-group-item">
        <p>Buy this product and <span class="text-primary">Anew Clinical Advanced Wrinkle Corrector</span> to get a FREE GIFT!</p>
      </div>

      <div class="list-group-item">
        <p>Buy this product and <span class="text-primary">Anew Ultimate Supreme Advanced Performance Créme</span> and save $20!</p>
      </div>

    </div>
    <!-- END - OFFERS MODAL CONTENT -->

  </div>
  <!-- /.row -->

{% endblock %}
