{% extends "_layouts/modal-lg-no-footer.html.twig" %}
{% set modalId = 'product-quick-shop' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalHeader %}

  <button type="button" class="close link-muted" data-dismiss="modal" aria-hidden="true">
    <span class="sr-only">Close modal</span>
    <span class="lt-icon lt-close lt-large py-1"></span>
  </button>
  <h4 class="modal-title" id="myModalLabel">Quick Shop</h4>

{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalBody %}

  <!-- Product Details -->
  <div class="row">
    <div class="col-sm-6 px-5">

      {% include "_includes/modules/product/detail/images.html.twig" %}

    </div>
    <div class="col-sm-6 px-5">

      {% include "_includes/modules/product/detail/details.html.twig" %}

    </div>
  </div>
  <!-- /.row -->

{% endblock %}
