{% extends "_layouts/modal-lg-no-footer.html.twig" %}
{% set modalId = 'quick-shop-modal' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalHeader %}

  <button type="button" class="close link-muted" data-dismiss="modal" aria-hidden="true">
    <span class="sr-only">Close modal</span>
    <span class="lt-icon lt-close lt-large py-1"></span>
  </button>
  <h4 class="modal-title">Quick Shop</h4>

{% endblock %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeaderMessage #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalHeaderMessage %}

  <!-- START - GLOBAL ALERT MESSAGE -->
  {% include "_includes/modules/global/global-alert-message.html.twig" with {
      'alertId': '',
      'alertClasses': 'alert-success',
      'alertIcon': 'lt-checkmark',
      'alertMsg': 'Item has been added',
      'alertBtnText': 'View your Order',
    }
  %}
  <!-- END - GLOBAL ALERT MESSAGE -->

{% endblock %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalBody %}



  <!-- DEVELOPER NOTE :: this markup, starting with the .row below is shared
    between Product Detail Page and Quick Shop Modal -->
  <div class="row">

    <!-- START - PRODUCT IMAGES -->
    <div class="pdp-images-block col-sm-6 pr-md-4 pr-lg-5">
      {% include "_includes/modules/product/detail/images.html.twig" %}
    </div>
    <!-- END - PRODUCT IMAGES -->

    <!-- START - PRODUCT DETAILS -->
    <div class="pdp-details-block col-sm-6 pt-4 pt-md-0 pl-md-4 pl-lg-5 d-flex">
      {% include "_includes/modules/product/detail/details.html.twig" %}
    </div>
    <!-- END - PRODUCT DETAILS -->

  </div>
  <!-- /.row -->

{% endblock %}
