<div class="my-5">
  <h5>Other Information</h5>
  <p>Velit non aute veniam commodo enim voluptate id officia aliquip consectetur esse velit duis.</p>
</div>

<div class="my-5">
  <h6 class="text-muted">Benefits</h6>
  <ul>
    <li>Aute minim quis minim Lorem amet ex anim adipisicing.</li>
    <li>Aliqua non amet qui officia pariatur velit veniam aliqua amet pariatur sunt ipsum aliqua reprehenderit nulla.</li>
    <li>Magna officia incididunt aliquip eu velit officia occaecat reprehenderit officia ex commodo tempor officia esse exercitation.</li>
    <li>Tempor anim exercitation exercitation qui reprehenderit aliqua proident occaecat.</li>
  </ul>
</div>
