<div class="my-5">
  <h5>About this Product</h5>
  <p>Wipe away the day with Makeup Remover Wipes with Mineral Complex. Use the face wipes to wipe away all your face and eye makeup. The cleansing wipes easily remove makeup and everything else! Leaving your skin feeling clean and refreshed. Carry the wipes in your gym bag or purse for easy access to clean skin all the time! Includes 24 cleansing wipes.</p>
</div>

<div class="my-5">
  <h6 class="text-muted">Benefits</h6>
  <ul>
    <li>Reduces the appearance of fine lines and sunspots</li>
    <li>Smart Repair Technology fixes damaged skin and protects from further harm</li>
    <li>Suitable for sensitive skin</li>
    <li>Fragrance-free and oil-free</li>
    <li>Hypoallergenic and non-comedogenic</li>
    <li>Allergy-tested and dermatologist-tested</li>
  </ul>
</div>

<div class="my-5">
  <h6 class="text-muted">To Use</h6>

  <ul>
    <li>Lift the resealable adhesive strip and remove one towelete, wipe over entire face including eye area to remove all traces of makeup</li>
    <li>Immediately close the adhesive strip after each use to protect wipes from drying out</li>
    <li>Do not flush</li>
  </ul>
</div>
