<div class="my-5">

  <h5>Supplemental Facts</h5>

  <div class="col-xs-12 col-sm-3 px-0">
    <a href="#">
      <div class="thumbnail thumbnail--square px-2 mb-2">
        <img src="/images/utility/placeholder_thumb.png" alt="" class="img-responsive">
      </div>
      <div class="caption text-center">
        <p>Chocolate</p>
      </div>
    </a>
  </div>

  <div class="col-xs-12 col-sm-3 px-0">
    <a href="#">
      <div class="thumbnail thumbnail--square px-2 mb-2">
        <img src="/images/utility/placeholder_thumb.png" alt="" class="img-responsive">
      </div>
      <div class="caption text-center">
        <p>Vanilla</p>
      </div>
    </a>
  </div>

  <div class="col-xs-12 col-sm-3 px-0">
    <a href="#">
      <div class="thumbnail thumbnail--square px-2 mb-2">
        <img src="/images/utility/placeholder_thumb.png" alt="" class="img-responsive">
      </div>
      <div class="caption text-center">
        <p>Something</p>
      </div>
    </a>
  </div>

  <div class="col-xs-12 col-sm-3 px-0">
    <a href="#">
      <div class="thumbnail thumbnail--square px-2 mb-2">
        <img src="/images/utility/placeholder_thumb.png" alt="" class="img-responsive">
      </div>
      <div class="caption text-center">
        <p>Another</p>
      </div>
    </a>
  </div>

</div>
