{% extends "_layouts/modal.html.twig" %}
{% if not modalId %}
  {% set modalId = 'blank-modal-either-or' %}
{% endif %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalHeader %}

  <button type="button" class="close link-muted" data-dismiss="modal" aria-hidden="true">
    <span class="sr-only">Close modal</span>
    <span class="lt-icon lt-close lt-large py-1"></span>
  </button>
  <h4 class="modal-title text-center" id="myModalLabel">FPO: Either/Or Modal</h4>


{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalBody %}


   <p>
    {{ fpo.paragraph }}
   </p>
   <p>
    <strong>{{ fpo.sentence }}</strong>
   </p>


{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalFooter #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalFooter %}

  <div class="row">
    <div class="col-xs-12 col-sm-6 my-2">
      <button type="button" class="btn btn-default btn-block" data-dismiss="modal" aria-hidden="true">No</button>
    </div>
    <div class="col-xs-12 col-sm-6 my-2">
      <button type="button" class="btn btn-primary btn-block">Yes</button>
    </div>
  </div><!-- /.row -->



{% endblock %}
