<!-- Color
================================================== -->
<div class="bs-docs-section">

  <h1 id="color" class="page-header">Colors</h1>
  <p>Easily make use of two color schemes: semantic and grayscale. Grayscale colors provide quick access to commonly used shades of black while semantic include various colors assigned to meaningful contextual values.</p>

  <h3 id="colors">Colors</h3>
  <div class="bs-example">
    <ul class="color-swatches list-unstyled d-flex flex-column">

      {# Pink #}
      <li class="swatch-row-group">
      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "ED008C",
        color_names: ["pink", "brand-primary", "link-color", "btn-default-color"],
        reverse: false,
        is_root_color: true
      }%}

      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "D4027B",
        color_names: ["pink-dark", "brand-primary-emphasize", "link-hover-color"],
        reverse: false,
        is_root_color: false
      }%}

      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "FEF4F8",
        color_names: ["pink-light", "brand-primary-muted"],
        reverse: true,
        is_root_color: false
      }%}
      </li>


      {# Magenta #}
      <li class="swatch-row-group">
      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "8A175B",
        color_names: ["magenta", "brand-alt"],
        reverse: false,
        is_root_color: true
      }%}

      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "78114E",
        color_names: ["magenta-dark", "brand-alt"],
        reverse: false,
        is_root_color: false
      }%}

      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "2B1823",
        color_names: ["magenta-deep", "brand-alt-deep-emphasize"],
        reverse: false,
        is_root_color: false
      }%}

      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "190E15",
        color_names: ["magenta-deeper", "brand-alt-deeper"],
        reverse: false,
        is_root_color: false
      }%}
      </li>




      {# Purple #}
      <li class="swatch-row-group">
      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "48293B",
        color_names: ["purple"],
        reverse: false,
        is_root_color: true
      }%}
      </li>


      {# Red #}
      <li class="swatch-row-group">
      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "D6321C",
        color_names: ["red", "brand-danger"],
        reverse: false,
        is_root_color: true
      }%}

      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "AD1804",
        color_names: ["red-dark", "state-danger-text"],
        reverse: false,
        is_root_color: false
      }%}

      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "F29F94",
        color_names: ["red-light"],
        reverse: false,
        is_root_color: false
      }%}

      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "FDEDEA",
        color_names: ["red-lighter", "state-danger-bg"],
        reverse: true,
        is_root_color: false
      }%}
      </li>


      {# Orange #}
      <li class="swatch-row-group">
      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "FAA342",
        color_names: ["orange", "brand-warning"],
        reverse: false,
        is_root_color: true
      }%}

      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "C76E0A",
        color_names: ["orange-dark", "alert-warning-strong-bg"],
        reverse: false,
        is_root_color: false
      }%}

      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "F9CFA0",
        color_names: ["orange-light"],
        reverse: false,
        is_root_color: false
      }%}

      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "FDF3E8",
        color_names: ["orange-lighter"],
        reverse: true,
        is_root_color: false
      }%}
      </li>



      {# Blue #}
      <li class="swatch-row-group">
      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "2C97D0",
        color_names: ["blue", "brand-info"],
        reverse: false,
        is_root_color: true
      }%}

      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "0E6FA2",
        color_names: ["blue-dark", "alert-info-strong-bg"],
        reverse: false,
        is_root_color: false
      }%}

      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "9BD5ED",
        color_names: ["blue-light"],
        reverse: false,
        is_root_color: false
      }%}

      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "ECF6FA",
        color_names: ["blue-lighter"],
        reverse: true,
        is_root_color: false
      }%}


      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "8a6d3b",
        color_names: ["$state-info-text:"],
        reverse: true,
        is_root_color: false
      }%}

      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "fcf8e3",
        color_names: ["state-info-bg"],
        reverse: true,
        is_root_color: false
      }%}


      </li>


      {# Green #}
      <li class="swatch-row-group">
      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "3EA572",
        color_names: ["green", "brand-success", "alert-success-strong-bg"],
        reverse: false,
        is_root_color: true
      }%}

      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "087F44",
        color_names: ["green-dark", "alert-success-text"],
        reverse: false,
        is_root_color: false
      }%}

      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "82D3AB",
        color_names: ["green-light"],
        reverse: false,
        is_root_color: false
      }%}

      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "D5F4E5",
        color_names: ["green-lighter", "state-success-bg", "alert-success-bg"],
        reverse: true,
        is_root_color: false
      }%}
      </li>



      {# Grey #}
      <li class="swatch-row-group">
      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "666",
        color_names: ["gray", "input-color", "input-label-text-color"],
        reverse: false,
        is_root_color: true
      }%}

      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "8e8e8e",
        color_names: ["gray-medium", "link-color-muted"],
        reverse: false,
        is_root_color: false
      }%}

      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "CCC",
        color_names: ["gray-light", "border-color"],
        reverse: false,
        is_root_color: false
      }%}

      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "F2F2F2",
        color_names: ["gray-lighter", "state-success-bg", "alert-success-bg"],
        reverse: true,
        is_root_color: false
      }%}
      </li>

      {# Black and White #}
      <li class="swatch-row-group">
      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "000",
        color_names: ["black", "text-color", "gray-base", "gray-dark"],
        reverse: false,
        is_root_color: true
      }%}

      {% include "styleguide/_includes/elements/color-swatch.html.twig" with {
        color_hex: "FFF",
        color_names: ["white"],
        reverse: true,
        is_root_color: true
      }%}


      </li>




    </ul>
  </div>






  <h3 id="color-variables">Customize Variables</h3>

  <p>Use any of these color variables as they are or reassign them to more meaningful variables for your project.</p>

{{ highlightCss }}
// Use as-is
.masthead {
  background-color: $brand-primary;
}

// Reassigned variables in SASS
$alert-message-background: $brand-info;
.alert {
  background-color: $alert-message-background;
}
{{ endhighlight }}


</div>
