<!-- Color
================================================== -->
<div class="bs-docs-section">

  <h1 id="color" class="page-header">Colors</h1>
  <p>Easily make use of two color schemes: semantic and grayscale. Grayscale colors provide quick access to commonly used shades of black while semantic include various colors assigned to meaningful contextual values.</p>

  <h3 id="color-semantic">Color Names</h3>
  <div class="bs-example">
    <div class="color-swatches">
      
      <div class="color-swatch color-brand-primary">$brand-primary<br> #ED008C</div>
      <div class="color-swatch color-swatch-group">
        <div class="color-swatch color-brand-primary-emphasize ">$brand-primary-emphasize<br> #D4027B</div>
        <div class="color-swatch color-brand-primary-muted reverse">$brand-primary-muted<br> #FEF4F8</div>
      </div>
      <div class="color-swatch color-brand-info ">$brand-info<br> #2C97D0</div>
      <div class="color-swatch color-brand-success">$brand-success<br> #3EA572</div>
      <div class="color-swatch color-brand-warning">$brand-warning<br> #FAA342</div>
      <div class="color-swatch color-brand-danger">$brand-danger<br> #E54530</div>
      
      <div class="color-swatch color-gray-dark">$gray-dark<br> #000</div>
      <div class="color-swatch color-gray">$gray<br> #666 </div>
      <div class="color-swatch color-gray-light reverse">$gray-light<br> #CCC</div>
      <div class="color-swatch color-gray-lighter reverse">$gray-lighter<br> #F2F2F2</div>
      <div class="color-swatch color-white border reverse">$white<br> #FFF </div> 

    </div>
  </div>


 



  <h3 id="color-variables">Customize Variables</h3>

  <p>Use any of these color variables as they are or reassign them to more meaningful variables for your project.</p>

{{ highlightCss }}
// Use as-is
.masthead {
  background-color: $brand-primary;
}

// Reassigned variables in SASS
$alert-message-background: $brand-info;
.alert {
  background-color: $alert-message-background;
}
{{ endhighlight }}


</div>
