{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# SECTION -  GLYPHICONS #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
<div class="bs-docs-section">
  <h1 id="lushicons" class="page-header">Custom Icons</h1>

  <h2 id="lushicons-glyphs">Available icons</h2>
  <p>This is a custom font generated from SVG files the designers produce.
  <div class="bs-lushicons">
    <ul class="bs-lushicons-list">

        <li>
          <span class="lt-icon lt-search"></span>
          <span class="lushicon-class">lt-icon lt-search</span>
        </li>

        <li>
          <span class="lt-icon lt-eye"></span>
          <span class="lushicon-class">lt-icon lt-eye</span>
        </li>

        <li>
          <span class="lt-icon lt-carat-left"></span>
          <span class="lushicon-class">lt-icon lt-carat-left</span>
        </li>

        <li>
          <span class="lt-icon lt-carat-up"></span>
          <span class="lushicon-class">lt-icon lt-carat-up</span>
        </li>

        <li>
          <span class="lt-icon lt-carat-right"></span>
          <span class="lushicon-class">lt-icon lt-carat-right</span>
        </li>

        <li>
          <span class="lt-icon lt-carat-down"></span>
          <span class="lushicon-class">lt-icon lt-carat-down</span>
        </li>

        <li>
          <span class="lt-icon lt-cart"></span>
          <span class="lushicon-class">lt-icon lt-cart</span>
        </li>

        <li>
          <span class="lt-icon lt-collapse-circle"></span>
          <span class="lushicon-class">lt-icon lt-collapse-circle</span>
        </li>

        <li>
          <span class="lt-icon lt-expand-circle"></span>
          <span class="lushicon-class">lt-icon lt-expand-circle</span>
        </li>

        <li>
          <span class="lt-icon lt-pen"></span>
          <span class="lushicon-class">lt-icon lt-pen</span>
        </li>

        <li>
          <span class="lt-icon lt-mail"></span>
          <span class="lushicon-class">lt-icon lt-mail</span>
        </li>

        <li>
          <span class="lt-icon lt-comments"></span>
          <span class="lushicon-class">lt-icon lt-comments</span>
        </li>

        <li>
          <span class="lt-icon lt-comment"></span>
          <span class="lushicon-class">lt-icon lt-comment</span>
        </li>

        <li>
          <span class="lt-icon lt-ellipsis"></span>
          <span class="lushicon-class">lt-icon lt-ellipsis</span>
        </li>

        <li>
          <span class="lt-icon lt-question"></span>
          <span class="lushicon-class">lt-icon lt-question</span>
        </li>

        <li>
          <span class="lt-icon lt-heart"></span>
          <span class="lushicon-class">lt-icon lt-heart</span>
        </li>

        <li>
          <span class="lt-icon lt-store"></span>
          <span class="lushicon-class">lt-icon lt-store</span>
        </li>

        <li>
          <span class="lt-icon lt-bag"></span>
          <span class="lushicon-class">lt-icon lt-bag</span>
        </li>

        <li>
          <span class="lt-icon lt-camera"></span>
          <span class="lushicon-class">lt-icon lt-camera</span>
        </li>

        <li>
          <span class="lt-icon lt-photo"></span>
          <span class="lushicon-class">lt-icon lt-photo</span>
        </li>

        <li>
          <span class="lt-icon lt-phone"></span>
          <span class="lushicon-class">lt-icon lt-phone</span>
        </li>

        <li>
          <span class="lt-icon lt-brochures"></span>
          <span class="lushicon-class">lt-icon lt-brochures</span>
        </li>

        <li>
          <span class="lt-icon lt-clipboard"></span>
          <span class="lushicon-class">lt-icon lt-clipboard</span>
        </li>

        <li>
          <span class="lt-icon lt-location"></span>
          <span class="lushicon-class">lt-icon lt-location</span>
        </li>

        <li>
          <span class="lt-icon lt-bell"></span>
          <span class="lushicon-class">lt-icon lt-bell</span>
        </li>

        <li>
          <span class="lt-icon lt-calendar"></span>
          <span class="lushicon-class">lt-icon lt-calendar</span>
        </li>

        <li>
          <span class="lt-icon lt-lock"></span>
          <span class="lushicon-class">lt-icon lt-lock</span>
        </li>

        <li>
          <span class="lt-icon lt-unlock"></span>
          <span class="lushicon-class">lt-icon lt-unlock</span>
        </li>

        <li>
          <span class="lt-icon lt-creditcard"></span>
          <span class="lushicon-class">lt-icon lt-creditcard</span>
        </li>

        <li>
          <span class="lt-icon lt-checkmark"></span>
          <span class="lushicon-class">lt-icon lt-checkmark</span>
        </li>

        <li>
          <span class="lt-icon lt-close"></span>
          <span class="lushicon-class">lt-icon lt-close</span>
        </li>

        <li>
          <span class="lt-icon lt-tip"></span>
          <span class="lushicon-class">lt-icon lt-tip</span>
        </li>

        <li>
          <span class="lt-icon lt-info"></span>
          <span class="lushicon-class">lt-icon lt-info</span>
        </li>

        <li>
          <span class="lt-icon lt-warning"></span>
          <span class="lushicon-class">lt-icon lt-warning</span>
        </li>

        <li>
          <span class="lt-icon lt-item-entry"></span>
          <span class="lushicon-class">lt-icon lt-item-entry</span>
        </li>

        <li>
          <span class="lt-icon lt-share"></span>
          <span class="lushicon-class">lt-icon lt-share</span>
        </li>

        <li>
          <span class="lt-icon lt-up"></span>
          <span class="lushicon-class">lt-icon lt-up</span>
        </li>

        <li>
          <span class="lt-icon lt-right"></span>
          <span class="lushicon-class">lt-icon lt-right</span>
        </li>

        <li>
          <span class="lt-icon lt-down"></span>
          <span class="lushicon-class">lt-icon lt-down</span>
        </li>

        <li>
          <span class="lt-icon lt-left"></span>
          <span class="lushicon-class">lt-icon lt-left</span>
        </li>

    </ul>
  </div>


  <h2 id="lushicons-how-to-use">How to use</h2>
  <p>For performance reasons, all icons require a base class and individual icon class. To use, place the following code just about anywhere. Be sure to leave a space between the icon and text for proper padding.</p>
  <div class="bs-callout bs-callout-danger">
    <h4>Don't mix with other components</h4>
    <p>Icon classes cannot be directly combined with other components. They should not be used along with other classes on the same element. Instead, add a nested <code>&lt;span&gt;</code> and apply the icon classes to the <code>&lt;span&gt;</code>.</p>
  </div>

  {{ highlightMarkup }}
  <span class="lt-icon lt-info"></span>
  {{ endhighlight }}


  <h2 id="lushicons-examples">Examples</h2>
  <p>Use them in buttons, button groups for a toolbar, navigation, or prepended form inputs.</p>
  <div class="bs-example">
    <div class="btn-toolbar" role="toolbar">
      <div class="btn-group">
        <button type="button" class="btn btn-default"><span class="lt-icon lt-store"></span></button>
        <button type="button" class="btn btn-default"><span class="lt-icon lt-warning"></span></button>
        <button type="button" class="btn btn-default"><span class="lt-icon lt-info"></span></button>
        <button type="button" class="btn btn-default"><span class="lt-icon lt-close"></span></button>
      </div>
    </div>
    <div class="btn-toolbar" role="toolbar">
      <button type="button" class="btn btn-default btn-lg"><span class="lt-icon lt-close"></span> Close</button>
      <button type="button" class="btn btn-default"><span class="lt-icon lt-close"></span> Close</button>
      <button type="button" class="btn btn-default btn-sm"><span class="lt-icon lt-close"></span> Close</button>
      <button type="button" class="btn btn-default btn-xs"><span class="lt-icon lt-close"></span> Close</button>
    </div>
  </div>
  {{ highlightMarkup }}
  <button type="button" class="btn btn-default btn-lg">
    <span class="lt-icon lt-close"></span> Close
  </button>
  {{ endhighlight }}
</div>
