<nav class="navbar navbar-default navbar-fixed-bottom navbar-fixed-bottom--order-summary visible-xs m-0 p-3" role="navigation">

  <!-- ORDER SUMMARY -->
  <dl class="clearfix border-bottom pb-3 mb-3">
    <dt class="pull-left label-utility text-primary">Order total</dt>
    <dd class="pull-right subtotal text-primary">$90.00</dd>
  </dl>
  <dl class="clearfix border-bottom pb-3 mb-3">
    <dt class="pull-left label-utility">Total with offers</dt>
    <dd class="pull-right offers-total">$80.00</dd>
  </dl>
  <dl class="clearfix border-bottom pb-3 mb-3">
    <dt class="pull-left label-utility">Discount</dt>
    <dd class="pull-right discount">$10.00</dd>
  </dl>
  <p class="text-center">Shipping and taxes will be calculated during the checkout process</p>

  <!-- BUTTON -->
  <a href="#" class="btn btn-primary btn-lg btn-block" role="button">Checkout</a>

</nav>
