{% if btnText is empty %}
  {% set btnText = 'Checkout' %}
{% endif %}
<!-- START - ORDER TOTAL -->
<section class="checkout-order-total" data-split-content-container="desktop">
  {# add classes to hide if it's not the cart popover #}
  <div id="carts-summary-container-dt" class="{% if not isPopover %} hidden-xs hidden-sm {% endif %}">

    <h5 class="h-utility text-center mb-4">Total</h5>

     <!-- START - INLINE LEVEL - WITH HEADLINE -->
      {% include "_includes/groups/alerts/alert-level-template.html.twig" with {          
        alertIcon: 'lt-warning-fill',
        alertHeadline: 'Discounts and Offers unavailable at this time.',
        alertBody: null,
        alertBtnText: null,
        alertClasses: 'alert-danger mb-0',
        alertLevel: 'content',
        alertDismissable: false,
        alertId: null
      } %}
      <!-- END - INLINE LEVEL - JUST HEADLINE -->

    <div id="carts-details" class="mt-3 mt-md-5" data-split-content-chunk="content">

      <dl class="clearfix border-bottom pb-3 mb-3">
        <dt class="pull-left text-primary">Order total</dt>
        <dd class="pull-right subtotal text-primary">$90.00</dd>
      </dl>
      <dl class="clearfix border-bottom pb-3 mb-3 has-error ">
        <dt class="pull-left text-danger"><i class="lt-icon lt-warning-fill lt-small align-middle mr-2 show-when-has-error"></i>Subtotal with Offers</dt>
        <dd class="pull-right offers-total">$80.00</dd>
      </dl>
      <dl class="clearfix border-bottom pb-3 mb-3 has-error ">
        <dt class="pull-left text-danger"><i class="lt-icon lt-warning-fill lt-small align-middle mr-2 show-when-has-error"></i>Discount</dt>
        <dd class="pull-right discount">$10.00</dd>
      </dl>

      <p class="text-center small text-muted p-3"><i>Shipping and taxes will be calculated during the checkout process</i></p>

      <div id="carts-promo-alert" class="alert alert-promo small mb-4 p-3 fade in">
        <strong>Buy $9.99 more to get an extra discount applied to this order!</strong>
      </div>

      <div id="carts-refresh-alert" class="alert alert-promo--abs-icon small mb-4 p-3 fade out hidden">
        <strong><span class="lt-icon lt-info lt-medium align-middle mr-2"></span><span class="align-middle">[Message that explains why the user need to refresh to view their order totals]</span></strong>
      </div>

    </div>

    <div id="carts-buttons" data-split-content-chunk="buttons">
      <a id="carts-checkout-btn"
        class="btn btn-primary btn-lg btn-block mb-0 mb-md-3 fade in"
        role="button"
        data-toggle="modal"
        data-target="#order-checkout-modal">{{ btnText }}</a>

      {% if not isPopover %}
        <button id="carts-refresh-btn" class="btn btn-default btn-lg btn-block fade out hidden">
          <span class="lt-icon lt-refresh lt-medium mr-2 align-middle"></span>
          <span class="align-middle">Refresh Order</span>
        </button>

        <p id="carts-refresh-msg" class="fade out text-center--mobile mt-3 mb-0 hidden">{{ fpo.sentence }}</p>
      {% endif %}
    </div>

  </div>

</section>
<!-- END - ORDER TOTAL -->
