{% if page == 'product-detail' %}
  {% set itemsTotal = '9' %}
  {% set priceTotal = '54.00' %}
  {% set ctaButton = 'Continue' %}

{% elseif page == 'checkout' %}
  {% set itemsTotal = '55' %}
  {% set priceTotal = '484.87' %}
  {% set ctaButton = 'Place Order' %}

{% else %}
  {% set ctaButton = 'Continue' %}
{% endif %}

{% set drawerId = 'drawer-order-summary' %}



<!-- DRAWER -->
<section id="{{ drawerId }}" class="drawer drawer-fixed-bottom drawer-order-summary ">

  <!-- DRAWER SUMMARY -->
  <section class="drawer-summary">
    <div class="container-fluid">
      <div class="pull-left">
        <h4 class="drawer-summary-header">
          <a href="#{{ drawerId }}" data-toggle="drawer">Your order
          </a>
        </h4>
      </div>
      <div class="pull-right">
        <ul class="list-group pull-left drawer-list-default">
          <li class="list-group-item">
            <dl class="mb-0">
              <dt class="list-group-item-heading">Items</dt>
              <dd class="list-group-item-text">24</dd>
            </dl>
          </li>
          <li class="list-group-item hidden-xs hidden-sm">
            <dl class="mb-0">
              <dt class="list-group-item-heading">Customers</dt>
              <dd class="list-group-item-text">4</dd>
            </dl>
          </li>
          <li class="list-group-item hidden-xs hidden-sm">
            <dl class="mb-0">
              <dt class="list-group-item-heading">Incentives</dt>
              <dd class="list-group-item-text">3</dd>
            </dl>
          </li>
          <li class="list-group-item hidden-xs hidden-sm">
            <a
              href="javascript://"
              data-toggle="popover"
              data-placement="top"
              data-html="true"
              data-content='
              <!-- TODO: Create style for this kind of horizontal list and remove inline styles -->
              <div class="clearfixX" style="display:table">
                <div class="pr-3" style="display:table-cell; vertical-align:middle">1</div>
                <div class="pr-3" style="display:table-cell; vertical-align:middle"><img src="/images/utility/placeholder.png" alt="" width="50"></div>
                <div class=" style="display:table-cell; vertical-align:middle">
                  <strong>Anew Skinvincible Deep Recovery Cream</strong><br>
                  <small>289-076</small>
                </div>
              </div>



            '>
              <dl class="mb-0">
                <dt class="list-group-item-heading">Discount</dt>
                <dd class="list-group-item-text">$144.62</dd>
              </dl>
            </a>
          </li>
          <li class="list-group-item">
            <dl class="mb-0">
              <dt class="list-group-item-heading hidden-xs hidden-sm">Subtotal</dt>
              <dd class="list-group-item-text">$450.99</dd>
            </dl>
          </li>
        </ul>

        <div class="pull-right pl-5 pr-4 drawer-valign-middle">
          <a href="#drawer-order-summary" data-toggle="drawer" class="btn btn-default hidden-xs hidden-sm">
            <span class="hidden-xs hidden-sm">View Details</span>
          </a>
          <a href="#drawer-order-summary" data-toggle="drawer" class="visible-xs visible-sm">
            <span class="glyphicon glyphicon-chevron-up"></span>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- /.drawer-summary -->

  <!-- DRAWER CONTENT -->
  <section class="drawer-content reverse-bg">

    <div class="no-reverse-bg">

      <!-- HEADER -->
      {% include components.modules.global.drawer.header with {
        drawerLabel: 'Your Order',
        drawerId: drawerId,
        drawerLogoMobile: true
      } %}

      <!-- NAV TABS -->
      <div class="container">
        <div class="row">
          <div class="col-sm-9">

            {% include "_includes/modules/your-order/tab-nav.html.twig" %}

          </div>
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->

    </div>
    <!-- /.no-reverse-bg -->

    <div class="container">
      <div class="row">
        <div class="col-sm-9">

          {% include "_includes/modules/your-order/tab-content.html.twig"    %}

        </div>
        <div class="col-sm-3">

          {% include "_includes/modules/your-order/order-total.html.twig" with { btnText: 'Checkout' } %}

        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->

  </section>
</section>
<!-- /.drawer -->
