{% if btnText is empty %}
  {% set btnText = 'Checkout' %}
{% endif %}
<!-- START - ORDER TOTAL -->
<section class="checkout-order-total">
  {# add classes to hide if it's not the cart popover #}
  <div class="{% if not isPopover %} hidden-xs hidden-sm {% endif %}">
    <h3 class="h-utility text-center">Total</h3>
    <dl class="clearfix border-bottom pb-3 mb-3">
      <dt class="pull-left label-utility text-primary">Order total</dt>
      <dd class="pull-right subtotal text-primary">$90.00</dd>
    </dl>
    <dl class="clearfix border-bottom pb-3 mb-3">
      <dt class="pull-left label-utility">Total with offers</dt>
      <dd class="pull-right offers-total">$80.00</dd>
    </dl>
    <dl class="clearfix border-bottom pb-3 mb-3">
      <dt class="pull-left label-utility">Discount</dt>
      <dd class="pull-right discount">$10.00</dd>
    </dl>
    <p class="text-center small text-muted p-3"><i>Shipping and taxes will be calculated during the checkout process</i></p>

    <div class="alert alert-promo small mb-4 p-3">
      <strong>Buy $9.99 more to get an extra discount applied to this order!</strong>
    </div>

    <a href="#" class="btn btn-primary btn-checkout btn-lg btn-block mb-3 fade in" role="button">{{ btnText }}</a>

    {% if not isPopover %}
      <p class="update-totals-link fade out">
        <button class="btn btn-default btn-lg btn-block"><span class="lt-icon lt-refresh lt-medium mr-2"></span>Refresh Order</button>
      </p>
      <p class="carts-messaging fade out">{{ fpo.sentence }}</p>
    {% endif %}

  </div>

</section>
<!-- END - ORDER TOTAL -->
