<nav id="carts-fixed-btns-container" class="navbar navbar-default navbar-fixed-bottom navbar-fixed-bottom--auto-height invisible m-0 p-3" role="navigation">

  <!-- NOTE :: Checkout and Refresh Cart buttons get moved here with javascript on small screens -->

</nav>
