{% if btnText is empty %}
  {% set btnText = 'Checkout' %}
{% endif %}
<!-- START - ORDER TOTAL -->
<section class="checkout-order-total">
  {# add classes to hide if it's not the cart popover #}
  <div class="{% if not isPopover %} hidden-xs hidden-sm {% endif %}">
    <h3 class="h-utility text-center">Total</h3>
    <dl class="clearfix border-bottom pb-3 mb-3">
      <dt class="pull-left label-utility text-primary">Order total</dt>
      <dd class="pull-right subtotal text-primary">$90.00</dd>
    </dl>
    <dl class="clearfix border-bottom pb-3 mb-3">
      <dt class="pull-left label-utility">Total with offers</dt>
      <dd class="pull-right offers-total">$80.00</dd>
    </dl>
    <dl class="clearfix border-bottom pb-3 mb-3">
      <dt class="pull-left label-utility">Discount</dt>
      <dd class="pull-right discount">$10.00</dd>
    </dl>
    <p class="text-center small text-muted p-3"><i>Shipping and taxes will be calculated during the checkout process</i></p>

    <a href="#" class="btn btn-primary btn-lg btn-block mb-3" role="button">{{ btnText }}</a>

    {% if not isPopover %}
      <p class="update-totals-link text-center reverse-bg fade out p-3">
        <a href="javascript:void(0)">
          <strong><span class="lt-icon lt-refresh lt-medium pr-1"></span>Update Total
        </a></strong> to apply changes
      </p>
    {% endif %}

  </div>

</section>
<!-- END - ORDER TOTAL -->
