
<!-- START - OFFERS -->
<ul id="your-order-offers" class="your-order-offers list-unstyled">

  {% include '_includes/groups/your-order/single-extra-li.html.twig' with {
  img: '/images/fpo/brochures/01.jpg',
  descriptionText: '<h5 class="text-capitalize"><strong>Avon C08 Brochures</strong></h5>
        <p>Order brochures in packs of 10. Pricing is based on the number of packs you purchase.</p>',
  offerProgress: null,
  hasFreeLabel: false,
  hasCtaAddToOrder: true,
  hasPricingInfo: true,
  hasShowContents: false,
  hasPrice: false,
  hasValue: false,
  hasBrochureLanguage: true,
  hasExtraQty: false} %}

  {% include '_includes/groups/your-order/single-extra-li.html.twig' with {
  img: 'images/fpo/brochures/02.jpg',
  descriptionText: '<h5 class="text-capitalize"><strong>Spring Pink Delights Collection 7-piece Set</strong></h5>
        <p>New limited edition collection</p>',
  price: '34.00',
  value: 93,
  offerProgress: null,
  hasFreeLabel: false,
  hasCtaAddToOrder: true,
  hasPricingInfo: false,
  hasShowContents: true,
  hasPrice: true,
  hasValue: true,
  hasBrochureLanguage: false,
  hasExtraQty: true} %}

  {% include '_includes/groups/your-order/single-extra-li.html.twig' with {
  img: 'images/fpo/brochures/03.jpg',
  descriptionText: '<h5 class="text-capitalize"><strong>Avon C07 Brochures</strong></h5>
        <p>Order brochures in packs of 10. Pricing is based on the number of packs you purchase.</p>',
  offerProgress: null,
  hasFreeLabel: false,
  hasCtaAddToOrder: true,
  hasPricingInfo: true,
  hasShowContents: false,
  hasPrice: false,
  hasValue: false,
  hasBrochureLanguage: true,
  hasExtraQty: false} %}

  {% include '_includes/groups/your-order/single-extra-li.html.twig' with {
  img: 'images/fpo/brochures/04.jpg',
  descriptionText: '<h5 class="text-capitalize"><strong>Pom-Pom Easter Basket</strong></h5>
        <p>Don&#39;t miss this special offer! Easter is April 1st - Hop to it!</p>
        <p>11" H x 8" diam. Jute/polyester. Spot clean. Imported.</p>',
  price: 14.99,
  offerProgress: null,
  hasFreeLabel: false,
  hasCtaAddToOrder: true,
  hasPricingInfo: false,
  hasShowContents: false,
  hasPrice: true,
  hasValue: false,
  hasBrochureLanguage: false,
  hasExtraQty: true} %}

</ul>
<!-- START - OFFER DETAILS -->


<!-- START - OFFER DETAILS -->
