<div class="ext_holder border mb-3">
  <img src="images/utility/placeholder.png" alt="..." class="img-responsive">
</div>

<div class="ext_holder border mb-3">
  <img src="images/utility/placeholder.png" alt="..." class="img-responsive">
</div>