
<!-- START - OFFERS -->
<ul id="your-order-offers" class="your-order-offers list-unstyled">

  {% include '_includes/groups/your-order/single-offer-li.html.twig' with {
  img: '/images/fpo/your-order/offer-cream.jpg',
  descriptionText: '<h5 class="text-capitalize"><strong>$10 Discount</strong></h5>
        <p>Get $10 off of all purchases of Anew Platinum Night Cream during this campaign</p>',
  offerProgress: null,
  hasFreeLabel: false,
  hasCtaAddToOrder: true,
  hasCtaViewDetails: false,
  hasCtaViewDetailsSecondary: false} %}

  {% include '_includes/groups/your-order/single-offer-li.html.twig' with {
  img: '/images/fpo/your-order/offer-cream.jpg',
  descriptionText: '<h5 class="text-capitalize"><strong>Content Managed Offer</strong></h5>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit suspendisse suscipit.</p>',
  offerProgress: null,
  hasFreeLabel: false,
  hasCtaAddToOrder: true,
  hasCtaViewDetails: false,
  hasCtaViewDetailsSecondary: false} %}

  {% include '_includes/groups/your-order/single-offer-li.html.twig' with {
  img: '/images/fpo/your-order/offer-cream.jpg',
  descriptionText: '<h5 class="text-capitalize"><strong>Content Managed Offer</strong></h5>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit suspendisse suscipit.</p>',
  offerProgress: null,
  hasFreeLabel: false,
  hasCtaAddToOrder: true,
  hasCtaViewDetails: false,
  hasCtaViewDetailsSecondary: false} %}

  {% include '_includes/groups/your-order/single-offer-li.html.twig' with {
  img: '/images/fpo/your-order/offer-cream.jpg',
  descriptionText: '<h5 class="text-capitalize"><strong>Content Managed Offer</strong></h5>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit suspendisse suscipit.</p>',
  offerProgress: null,
  hasFreeLabel: false,
  hasCtaAddToOrder: true,
  hasCtaViewDetails: false,
  hasCtaViewDetailsSecondary: false} %}

</ul>
<!-- START - OFFER DETAILS -->


<!-- START - OFFER DETAILS -->
