{% set offer10Discount = '<h4>$10 Discount</h4>
<p>Get $10 off of all purchases of Anew Platinum Night Cream during this campaign</p>
<a href="#" class="btn btn-default btn-sm" role="button">Add to Order</a>' %}



<!-- START - TAB CONTENT -->
<section class="tab-content">

  <!-- START - TAB PANEL CARTS -->
  <section class="tab-pane active" id="pd-carts">
    {% include '_includes/modules/your-order/tab-panel-carts.html.twig' with {offer10Discount: offer10Discount} %}
  </section>
  <!-- END - TAB PANEL CARTS -->

  <!-- START - TAB PANEL OFFERS -->
  <section class="tab-pane " id="pd-offers">
    {% include '_includes/modules/your-order/tab-panel-offers.html.twig' with {offer10Discount: offer10Discount} %}
  </section>
  <!-- END - TAB PANEL OFFERS -->

</section>



