<!-- START - TAB CONTENT -->
<section class="tab-content">

  <!-- START - TAB PANEL CARTS -->
  <section class="tab-pane active" id="pd-carts">
    {% include '_includes/modules/your-order/tab-panel-carts.html.twig' %}
  </section>
  <!-- END - TAB PANEL CARTS -->

  <!-- START - TAB PANEL OFFERS -->
  <section class="tab-pane" id="pd-offers">
    {% include '_includes/modules/your-order/tab-panel-offers.html.twig' %}
  </section>
  <!-- END - TAB PANEL OFFERS -->

</section>



