<!-- START - OFFERS -->

  {% include '_includes/groups/your-order/single-extra-li.html.twig' with {
  img: '/images/utility/placeholder.png',
  descriptionText: '<h5 class="text-capitalize"><strong>Avon C08 Brochures</strong></h5>
        <p>Order brochures in packs of 10. Pricing is based on the number of packs you purchase.</p>',
  offerProgress: null,
  hasFreeLabel: false,
  hasCtaAddToOrder: true,
  hasPricingInfo: true,
  hasShowContents: false,
  indexNum: 1,
  hasPrice: false,
  hasValue: false,
  hasBrochureLanguage: true,
  hasExtraQty: false} %}

  {% include '_includes/groups/your-order/single-extra-li.html.twig' with {
  img: '/images/utility/placeholder.png',
  descriptionText: '<h5 class="text-capitalize"><strong>Spring Pink Delights Collection 7-piece Set</strong></h5>
        <p>New limited edition collection</p>',
  price: '34.00',
  value: 93,
  offerProgress: null,
  hasFreeLabel: false,
  hasCtaAddToOrder: true,
  hasPricingInfo: false,
  hasShowContents: true,
  indexNum: 2,
  hasPrice: true,
  hasValue: true,
  hasBrochureLanguage: false,
  hasExtraQty: true} %}

  {% include '_includes/groups/your-order/single-extra-li.html.twig' with {
  img: '/images/utility/placeholder.png',
  descriptionText: '<h5 class="text-capitalize"><strong>Avon C08 Brochures</strong></h5>
        <p>Order brochures in packs of 10. Pricing is based on the number of packs you purchase.</p>',
  offerProgress: null,
  hasFreeLabel: false,
  hasCtaAddToOrder: true,
  hasPricingInfo: true,
  hasShowContents: false,
  indexNum: 3,
  hasPrice: false,
  hasValue: false,
  hasBrochureLanguage: true,
  hasExtraQty: false} %}
