<!-- START - TAB NAVIGATION -->
<ul class="nav nav-tabs border-bottom">
  <li class="active"><a href="#pd-carts" data-toggle="tab">Carts</a></li>
  <li><a href="#pd-offers" data-toggle="tab">Offers <span class="badge">14</span></a></li>
  <li><a href="#pd-extras" data-toggle="tab">Brochures</a></li>
</ul>
<!-- END - TAB NAVIGATION -->
