{% include "_includes/groups/alerts/alert-level-section-generic.twig" %}

<ul class="list-group list-group--checkboxed pt-3 mb-4">

  <div id="carts-summary-container-mobile" data-split-content-container="mobile">

    <!-- NOTE :: Cart summary information is moved here with js on small screens -->

  </div>

  <li class="list-group-item list-group-item-checkbox">
    {% include "_includes/elements/forms/checkbox.html.twig" with {classes: 'checkbox-select-all', theLabel: 'Select Carts for Checkout', checked: true} %}
  </li>

  <!-- START - MAIN CARTS -->
  {% include '_includes/groups/your-order/single-cart-li.html.twig' with {indexNum: '1', personName: fpo.person.1, itemCount: '3', total: '90.00', classes: 'd-inline-block', collapsed: false, viewOffers: true} %}
  {% include '_includes/groups/your-order/single-cart-li.html.twig' with {indexNum: '2', personName: fpo.person.2, itemCount: '8', total: '90.00', classes: 'd-inline-block', collapsed: true, viewOffers: true} %}
  {% include '_includes/groups/your-order/single-cart-li.html.twig' with {indexNum: '3', personName: fpo.person.3, itemCount: '8', total: '90.00', classes: 'd-inline-block', collapsed: true} %}
  {% include '_includes/groups/your-order/single-cart-li.html.twig' with {indexNum: '4', personName: fpo.person.4, itemCount: '8', total: '90.00', classes: 'd-inline-block', collapsed: true} %}
  {% include '_includes/groups/your-order/single-cart-li.html.twig' with {indexNum: '5', personName: fpo.person.5, itemCount: '8', total: '90.00', classes: 'd-inline-block', collapsed: true} %}
  <!-- END - MAIN CARTS -->

</ul>

<ul class="list-group list-group--checkboxed pt-3 mb-4">
  <h6 class="mb-1">Representative Delivery</h6>
  <p class="small text-muted">Customer carts from Avon.com</p>

  <!-- START - REPRESENTATIVE DELIVERY CARTS -->
  {% include '_includes/groups/your-order/single-cart-li.html.twig' with {indexNum: '6', personName: fpo.person.4, itemCount: '8', total: '90.00', classes: 'd-inline-block', collapsed: true} %}
  <!-- END - REPRESENTATIVE DELIVERY CARTS -->
</ul>

<ul class="list-group pt-3 mb-4">
  <h6 class="mb-1">Future Orders</h6>
  <p class="small text-muted">Available for checkout in the next campaign</p>

  <!-- START - REPRESENTATIVE DELIVERY CARTS -->
  {% include '_includes/groups/your-order/single-cart-li.html.twig' with {indexNum: '7', personName: fpo.person.3, itemCount: '8', total: '90.00', classes: 'd-inline-block', collapsed: true, includeCheckbox: false} %}
  {% include '_includes/groups/your-order/single-cart-li.html.twig' with {indexNum: '8', personName: fpo.person.4, itemCount: '8', total: '90.00', classes: 'd-inline-block', collapsed: true, includeCheckbox: false} %}
  <!-- END - REPRESENTATIVE DELIVERY CARTS -->
</ul>

<ul class="list-group pt-3 mb-4">
  <h6 class="mb-1">Expired Items</h6>
  <p class="small text-muted">{{ fpo.sentence }}</p>

  <!-- START - EXPIRED ITEMS -->
  {% include '_includes/groups/your-order/single-cart-li.html.twig' with {indexNum: '9', personName: fpo.person.5, itemCount: '8', total: null, classes: 'd-inline-block', collapsed: true, includeCheckbox: false, quantityStatic: true, expiredItems: true} %}
  {% include '_includes/groups/your-order/single-cart-li.html.twig' with {indexNum: '10', personName: fpo.person.4, itemCount: '8', total: null, classes: 'd-inline-block', collapsed: true, includeCheckbox: false, quantityStatic: true, expiredItems: true} %}
  <!-- END - EXPIRED ITEMS -->
</ul>

<!-- START - MODAL CONTENT -->
{% include "_includes/modules/modals/modal-either-or.html.twig" %}
<!-- END - MODAL CONTENT -->

{#<div class="border-top py-4">
  <a class="link-primary"><span class="lt-icon lt-trash lt-medium mr-2"></span>Delete selected carts</a>
</div>#}
