<div class="mentor-card">
  <div class="d-flex align-items-center">
    <span class="img">
      <img src="images/utility/placeholder_thumb.png" alt="" class="circular-img">
    </span>
    <span class="content ml-4">
      <p class="m-0">Your Mentor</p>
      <p class="text-capitalize m-0">Tisha Pennington</p>
    </span>
    <span class="ml-auto">
      <a href="#">Remove</a>
    </span>
  </div>
  <hr class="thick">
</div>
