<!-- START - TAB PANE -->
<div class="tab-pane {{ classes }}" id="{{ id }}">

  {% include "_includes/modules/beauty-buzz/tab-pane-panel.html.twig"  %}
  {% include "_includes/modules/beauty-buzz/tab-pane-panel.html.twig"  %}
  {% include "_includes/modules/beauty-buzz/tab-pane-panel.html.twig"  %}

</div>
<!-- END - TAB PANE -->
