<!-- START - PANEL -->
<div class="panel panel-default mt-4 mb-3 {% if not isLast %} border-bottom {% endif %}">
  <div class="panel-body px-0">
    <h4 class="text-center mb-5">{{ tabLabel }} - Elit qui fugiat Lorem pariatur in nostrud irure pariatur aliquip et.</h4>
    <p class="text-center text-muted mb-5">September 25, 2018</p>
    <img class="img-responsive" src="images/utility/placeholder-panoramic.png" alt="">
    <div class="py-4">
      <p>{{ fpo.paragraph }}</p>
    </div>
  </div>
</div>
<!-- END - PANEL -->
