{% if hasWrappingText %}
  {% set wrappingTitle = fpo.sentence %}
{% endif %}
{% if hasWrappingSubtitle %}
  {% set wrappingSubtitle = fpo.sentence %}
{% endif %}
<li class="list-group-item">

  <div>
    <h4>Static Report Title {{ wrappingTitle }}</h4>
  </div>

  <ul class="list-group list-group--clean-sliced border-y">

    <li class="list-group-item d-flex justify-content-between">
      <div>
        <div class="large">Report Subtitle</div>
      </div>
      <div class="ml-5">
        <a href="#" class="nowrap">
          <span class="lt-icon lt-medium lt-download align-middle mr-2"></span>
          XLS
        </a>
        <a href="#" class="nowrap">
          <span class="lt-icon lt-medium lt-download align-middle mr-2"></span>
          PDF
        </a>
      </div>
    </li>

    <li class="list-group-item d-flex justify-content-between">
      <div>
        <div class="large">Report Subtitle {{ wrappingSubtitle }}</div>
      </div>
      <div class="ml-5">
        <a href="#" class="nowrap">
          <span class="lt-icon lt-medium lt-download align-middle mr-2"></span>
          XLS
        </a>
        <a href="#" class="nowrap">
          <span class="lt-icon lt-medium lt-download align-middle mr-2"></span>
          PDF
        </a>
      </div>
    </li>

  </ul>

</li>
