{% if hasWrappingText %}
  {% set wrappingTitle = fpo.sentence %}
  {% set wrappingBody = fpo.paragraph %}
{% else %}
  {% set wrappingBody = fpo.sentence %}
{% endif %}
<li class="list-group-item d-flex justify-content-between">
  <div>
    <a href="#" class="large link-secondary">[Customer/Team] Report Name {{ wrappingTitle }}</a>
    <div class="text-muted mt-2">{{ wrappingBody }}</div>
  </div>
  <div class="ml-5">
    <a href="#" data-toggle="modal" data-target="#delete-report-modal" class="link-muted nowrap">
      <span class="lt-icon lt-trash lt-medium text-muted mt-2"></span>
    </a>
  </div>
</li>
