{% if hasWrappingText %}
  {% set wrappingTitle = fpo.sentence %}
{% endif %}
<li class="list-group-item d-flex justify-content-between">
  <div>
    <a href="#" class="large link-secondary">[Customer/Team] Report Name {{ wrappingTitle }}</a>
  </div>
</li>
