<li role="presentation" class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    Alphabetical
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a href="#">Price</a>
    </li>
    <li>
      <a href="#">Date</a>
    </li>
    <li>
      <a href="#">Something Else</a>
    </li>
    <li class="divider"></li>
    <li>
      <a href="#">Separated link</a>
    </li>
  </ul>
</li>
