<div class="d-inline-block mt-3">
  <h7 class="hidden-xs mr-3 text-muted">Sort By:</h7>
  <span role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      Alphabetical
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="javascript:void(0)">Alphabetical A-Z</a>
      </li>
      <li>
        <a href="javascript:void(0)">Alphabetical Z-A</a>
      </li>
      {% if variation is not defined or variation == 'product' %}
      <li>
        <a href="javascript:void(0)">Price Low-High</a>
      </li>
      <li>
        <a href="javascript:void(0)">Price High-Low</a>
      </li>
      {% endif %}
    </ul>
  </span>

</div>
