<ul class="avon-product-list">
  {% include "_includes/modules/register/starter-kit-list/starter-kit-list-item.html.twig" with
    {
      itemLink:'#',
      itemInfo: '',
      linkAttrs: '',
      imgUrl: 'http://via.placeholder.com/600x600',
      itemTitle: 'Quick Started Kit',
      itemPrice: '$25.00',
      itemDiscount: '$20.00'
    }
  %}
  {% include "_includes/modules/register/starter-kit-list/starter-kit-list-item.html.twig" with
    {
      itemLink:'#',
      itemInfo: 'Most Popular',
      linkAttrs: '',
      imgUrl: 'http://via.placeholder.com/600x600',
      itemTitle: 'Advanced Started Kit',
      itemPrice: '$50.00',
      itemDiscount: '$80.00'
    }
  %}
  {% include "_includes/modules/register/starter-kit-list/starter-kit-list-item.html.twig" with
    {
      itemLink:'#',
      itemInfo: '',
      linkAttrs: '',
      imgUrl: 'http://via.placeholder.com/600x600',
      itemTitle: 'Premium Started Kit',
      itemPrice: '$100.00',
      itemDiscount: '$150.00'
    }
  %}
  {% include "_includes/modules/register/starter-kit-list/starter-kit-list-item.html.twig" with
    {
      itemLink:'#',
      itemInfo: '',
      linkAttrs: '',
      imgUrl: 'http://via.placeholder.com/600x600',
      itemTitle: 'Boss Started Kit',
      itemPrice: '$200.00',
      itemDiscount: '$250.00'
    }
  %}
  {% include "_includes/modules/register/starter-kit-list/starter-kit-list-item.html.twig" with
    {
      itemLink:'#',
      itemInfo: 'Best Deal',
      linkAttrs: '',
      imgUrl: 'http://via.placeholder.com/600x600',
      itemTitle: 'Ultra Started Kit',
      itemPrice: '$500.00',
      itemDiscount: '$800.00'
    }
  %}
</ul>

<div class="container border-top pt-5">
  <h6>All kits include</h6>
  <ul>
    <li>Moisture Therapy Intensive Healing & Repair Hand Cream</li>
    <li>Skin So Soft Original Oil Spray</li>
    <li>Anew AHA Refining Cream</li>
    <li>Mega Effects Mascara</li>
    <li>FREE Shipping</li>
  </ul>
</div>
