<span>
  {% include components.elements.ratings.selected %}
  {% include components.elements.ratings.selected %}
  {% include components.elements.ratings.selected %}
  {% include components.elements.ratings.selected %}
  {% include components.elements.ratings.unselected %}
</span>