<li class="col-xs-6">
  <a class="trigger-drawer-item-entry text-uppercase btn-primary-responsive" href="#">
  <span class="lt-icon lt-item-entry lt-medium pr-2" aria-hidden="true"></span><strong>Enter Items</strong></a>
</li>
