<li class="col-xs-6 dropdown p-2 m-0">
  <a href="#" id="storeDrop" role="button" class="dropdown-toggle small text-uppercase btn-primary-responsive" data-toggle="dropdown">
    <span class="lt-icon lt-store lt-medium pr-2"></span><strong>My Store</strong>
    <span class="lt-icon lt-triangle-down"></span>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="storeDrop">
    <li >
      <a role="menuitem" tabindex="-1" href="#">Something</a>
    </li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="#">Another action</a>
    </li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="#">Something else here</a>
    </li>
  </ul>
</li>
