<li>
  <a class="small pl-2 trigger-drawer-item-entry link-primary text-uppercase text-bold" href="#drawer-item-entry" data-toggle="drawer">
    <strong>
      <span class="lt-icon lt-addlist pr-2" aria-hidden="true"></span>Item Entry</a>
  </strong>
</li>
