{% set popoverMarkup %}
  {% include '_includes/modules/my-store/my-store-form.html.twig' with {
    isModal: false
  } %}
{% endset %}

<li class="col-xs-6 dropdown">
  <a href="#" id="storeDrop" role="button"
    class="text-uppercase btn-trans-light-responsive"
    data-toggle="modal"
    data-target="#my-store-modal"
    data-popover-modal-combo="true"
    data-placement="bottom"
    data-container="body"
    data-html="true"
    data-content="{{ popoverMarkup | e('html') }}">
    <span class="lt-icon lt-store lt-medium"></span>
    <strong>My Store</strong>
    <span class="lt-icon lt-triangle-down"></span>
  </a>
</li>
