<li class="col-xs-6 p-2 m-0">
  <a class="small trigger-drawer-item-entry text-uppercase btn-primary-responsive" href="#">
  <span class="lt-icon lt-book lt-medium pr-2" aria-hidden="true"></span>Brochures</a>
</li>
