<li class="col-xs-6">
  <a class="trigger-drawer-item-entry text-uppercase btn-trans-light-responsive" href="#">
    <span class="lt-icon lt-brochures lt-medium" aria-hidden="true"></span>
    <strong>Brochures</strong>
  </a>
</li>
