<!-- START - SOLD OUT -->
<div class="box-basic my-3">
  <p class="text-danger"><span class="lt-icon lt-warning lt-medium text-danger"></span> <strong>This product is sold out</strong></p>
  <div class="small">{{fpo.sentence}} {{fpo.sentence}}</div>
  <div>
    <button type="button" class="btn btn-discourage btn-sm btn-soft mt-4">View similar products</button>
  </div>
</div>
<!-- END - SOLD OUT -->