<!-- START - SOLD OUT -->
<div class="p-3 reverse-bg my-3">
  <p class="text-danger"><span class="lt-icon lt-warning lt-large"></span><strong>This product is sold out</strong></p>
  <div>{{fpo.sentence}} {{fpo.sentence}}</div>
  <div>
    <button type="button" class="btn btn-discourage btn-soft mt-4">View similar products</button>
  </div>
</div>
<!-- END - SOLD OUT -->