<!-- START - SOLD OUT -->
<div class="box-basic my-3">
  {% include '_includes/groups/your-order/message-title-this-product-is-sold-out.twig' %}
  <div class="small">{{ fpo.sentence }} {{ fpo.sentence }}</div>
  <div>
    <button type="button" class="btn btn-discourage btn-sm btn-soft mt-4">View similar products</button>
  </div>
</div>
<!-- END - SOLD OUT -->

