<!-- START - MESSAGE EXPIRED -->
<div class="box-basic my-3">
  <p class="text-danger">
  <span class="lt-icon lt-warning lt-medium align-middle m-0"></span>
    <strong class="align-middle">This item has expired</strong>
  </p>
  <div class="small">{{ fpo.sentence }} {{ fpo.sentence }}</div>
</div>
<!-- END - MESSAGE EXPIRED -->

