<li class="list-group-item single-cart-item box-emphasize my-4">

{% if hasCtaAddToOrder or hasCtaViewDetails or hasCtaViewDetailsSecondary %}
  {% set hasOfferCtaClass = 'has-offer-ctas' %}
{% endif %}

  <!-- START - CART SUMMARY -->


  <dl class="clearfix my-3 mr-0">

  <!-- START - BANNER (IMAGE) -->
  <div class="col-sm-4 mt-3 offer-banner brochure-img pl-0 pt-2">
    <img src="{{ img }}" class="img-responsive">
  </div>
  <!-- END - BANNER (IMAGE) -->

  <!-- START - DESCRIPTION -->
  <div class="col-sm-8 offer-description pr-0">

    <!-- START - DESCRIPTION TEXT -->
    <div class="description-text">
      {{ descriptionText }}
    </div>
    <!-- END - DESCRIPTION TEXT -->

    {% if hasPricingInfo %}
    <!-- START - PRICING INFO -->
    <div class="mb-4">
      <a href="#" class="underline">View pricing info</a>
    </div>
    <!-- END - PRICING INFO -->
    {% endif %}

    {% if hasShowContents %}
    <!-- START - SHOW CONTENTS -->
    <div class="mb-4">
      <a href="#contents" data-toggle="collapse" class="underline">Show contents <div class="lt-icon lt-triangle-down lt-medium"></div></a>

      <div class="collapse" id="contents">
      <ul class="list-group list-group--basic mb-0 mt-2">
        <li class="list-group-item ml-4">Content 1</li>
        <li class="list-group-item ml-4">Content 2</li>
        <li class="list-group-item ml-4">Content 3</li>
      </ul>
      </div>

    </div>
    <!-- END - SHOW CONTENTS -->
    {% endif %}

    {% if hasPrice %}
    <!-- START - PRICE -->
    <div class="mb-4">
      <p><span class="lead pr-2">${{ price }}</span>
      {% if hasValue %}
        <span class="text-muted">(${{ value }} value)</span></p>
      {% endif %}
    </div>
    <!-- END - PRICE -->
    {% endif %}

    {% if hasBrochureLanguage %}
    <!-- START - ENGLISH QTY -->
    <div class="pt-1">
      <h6 class="text-muted">QUANTITY - ENGLISH</h6>
      <form>
        <div class="form-group row">
          <div class="col-xs-3 col-sm-3">
            <input type="text" class="form-control input-sm" placeholder="0">
          </div>
          <label class="col-sm-9 pt-1 pl-0">x 10 Brochures</label>
        </div>
      </form>
    </div>
    <!-- END - ENGLISH QTY -->

    <!-- START - SPANISH QTY -->
    <div class="pt-1 pb-3">
      <h6 class="text-muted">QUANTITY - SPANISH</h6>
      <form>
        <div class="form-group row">
          <div class="col-xs-3 col-sm-3">
            <input type="text" class="form-control input-sm" placeholder="0">
          </div>
          <label class="col-sm-9 pt-1 pl-0">x 10 Brochures</label>
        </div>
      </form>
    </div>
    <!-- END - SPANISH QTY -->
    {% endif %}

    {% if hasExtraQty %}
    <!-- START - EXTRA QTY -->
    <div class="pt-1 pb-3">
      <h6 class="text-muted">QUANTITY</h6>
      <form>
        <div class="form-group row">
          <div class="col-xs-3 col-sm-3">
            <input type="text" class="form-control input-sm" placeholder="0">
          </div>
          <div class="col-sm-9 pt-1 pl-0"></div>
        </div>
      </form>
    </div>
    <!-- END - EXTRA QTY -->
    {% endif %}

    {% if hasOfferCtaClass %}
    <!-- START - CTAS -->
    <div class="offer-ctas">
      {% if hasCtaAddToOrder %}
        <a href="#" class="btn btn-default btn-sm mt-0 mb-4" role="button">Add to Order</a>
      {% endif %}
      {% if hasCtaViewDetails %}
        <a href="javascript:void(0)" class="btn btn-default btn-sm view-offer-details" role="button">View details</a>
      {% endif %}
      {% if hasCtaViewDetailsSecondary %}
        <a href="#" class="pull-right">View details <span class="lt-icon lt-right"></span></a>
      {% endif %}
    </div>
    <!-- END - CTAS-->
    {% endif %}

  </div>
  <!-- END - DESCRIPTION -->

  </dl>
  <!-- END - CART SUMMARY -->


</li>
