{# If no list items have been passed in, use these FPO items  #}
{% if items is empty %}
  {% set items = [{
      'label': '1'
    }, {
      'label': '2'
    }, {
      'label': '3'
    }
    ] %}
{% endif %}
{% if classes %}
  {% set classes = ' ' ~ classes %}
{% endif %}
{% if id %}
  {% set id = ' id="' ~ id ~ '"' %}
{% endif %}
{% if multiple %}
  {% set multiple = ' multiple' %}
{% endif %}
<select class="form-control{{ classes }}"{{ id }}{{ multiple }}>
  {% for item in items %}
    <option>{{ item.label }}</option>
  {% endfor %}
</select>