<!-- START - INLINE LEVEL - RICH TEXT -  -->
{% include "_includes/groups/alerts/alert-level-inline-rich-text.html.twig" with {
    alertId: null,
    alertClasses: null,
    alertIcon: null,
    alertIconMsgCols: true,
    alertMsgHeadline: null,
    alertMsg: '
      <h6>Product Information unable to be loaded</h6>
      <p>We’re sorry for the inconvenience. Lorem ipsum dolor sit amet consect adipiscing elit verbose.</p>
      <p>Please refresh the page or try back at a later time.</p>
    ',
    alertBtnText: 'Refresh page',
    alertDismissable: false,
    alertLevel:  'inline-rich-text'
  }
%}
<!-- END - INLINE LEVEL - RICH TEXT - -->