
<!-- START - TAB CONTENT -->
<section class="tab-content">

  <!-- START - TAB PANEL CARTS -->
  <section class="tab-pane active" id="message-center-avon">
    {% include '_includes/modules/message-center/tab-panel-from-avon.html.twig' %}
  </section>
  <!-- END - TAB PANEL CARTS -->

  <!-- START - TAB PANEL OFFERS -->
  <section class="tab-pane" id="message-center-system">
    {% include '_includes/modules/message-center/tab-panel-system-messages.html.twig' %}
  </section>
  <!-- END - TAB PANEL OFFERS -->
</section>
