<!-- START - TAB NAVIGATION -->
<ul class="nav nav-tabs border-bottom">
  <li class="active"><a href="#message-center-avon" data-toggle="tab">From Avon</a></li>
  <li><a href="#message-center-system" data-toggle="tab">System Messages</a></li>
</ul>
<!-- END - TAB NAVIGATION -->
