{% include '_includes/modules/search/page-search.html.twig' %}

<ul class="list-group msg-center-messages">

	<!-- START - MESSAGE LIST LOOP -->

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'A new Representative Delivery Order is available in <a href="#">Your Order</a>',
	    msgDate: 'Apr 17',
	    msgRead: false,
			index: 1,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'Avon&#39;s privacy policy has been updated to include more information that is relevent to you on lorem ipsum. Qui consectetur anim aute incididunt nisi pariatur cillum consequat deserunt velit reprehenderit adipisicing in voluptate ex labore in. <a href="#">Your Order</a>',
	    msgDate: 'Apr 17',
	    msgRead: false,
			index: 2,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'A new Representative Delivery Order is available in <a href="#">Your Order</a>',
	    msgDate: 'Apr 17',
	    msgRead: true,
			index: 3,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'Registration is open for Rep Fest 2018. Ea proident enim et fugiat ut Lorem irure esse laboris. Tempor ipsum mollit do sint incididunt deserunt deserunt id cupidatat. <a href="#">Register Today</a>',
	    msgDate: 'Apr 17',
	    msgRead: true,
			index: 4,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'A new Representative Delivery Order is available in <a href="#">Your Order</a>',
	    msgDate: 'Apr 17',
	    msgRead: true,
			index: 5,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'Registration is open for Rep Fest 2018 <a href="#">Register Today</a>',
	    msgDate: 'Apr 17',
	    msgRead: true,
			index: 6,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'A new Representative Delivery Order is available in <a href="#">Your Order</a>',
	    msgDate: 'Apr 17',
	    msgRead: true,
			index: 7,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'Registration is open for Rep Fest 2018 <a href="#">Register Today</a>',
	    msgDate: 'Apr 17',
	    msgRead: true,
			index: 8,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'A new Representative Delivery Order is available in <a href="#">Your Order</a>',
	    msgDate: 'Apr 17',
	    msgRead: true,
			index: 9,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'Registration is open for Rep Fest 2018 <a href="#">Your Order</a>',
	    msgDate: 'Apr 17',
	    msgRead: true,
			index: 10,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'A new Representative Delivery Order is available in <a href="#">Your Order</a>',
	    msgDate: 'Apr 17',
	    msgRead: true,
			index: 11,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'Registration is open for Rep Fest 2018 <a href="#">Register Today</a>',
	    msgDate: 'Apr 17',
	    msgRead: true,
			index: 12,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'A new Representative Delivery Order is available in <a href="#">Your Order</a>',
	    msgDate: 'Apr 17',
	    msgRead: true,
			index: 13,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'Registration is open for Rep Fest 2018 <a href="#">Register Today</a>',
	    msgDate: 'Dec 31 2017',
	    msgRead: true,
			index: 14,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'A new Representative Delivery Order is available in <a href="#">Your Order</a>',
	    msgDate: 'Dec 25 2017',
	    msgRead: true,
			index: 15,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'Registration is open for Rep Fest 2018 <a href="#">Register Today</a>',
	    msgDate: 'Nov 21 2017',
	    msgRead: true,
			index: 16,
			hasDelete: true
	}%}

	<!-- END - MESSAGE LIST LOOP -->

</ul>

<!-- START - PAGINATION -->
<ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
<!-- END - PAGINATION -->
