{% include '_includes/modules/search/page-search.html.twig' %}
{% include "_includes/modules/message-center/error-message.html.twig" %}

<ul class="list-group msg-center-messages">

	<!-- START - MESSAGE LIST LOOP -->

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'A new Representative Delivery Order is available in <a href="#">Your Order</a>',
	    msgDate: 'Apr 17',
	    msgRead: false,
      index: 17,
			hasDelete: false
	  }%}

	 {% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'Registration is open for Rep Fest 2018. Magna minim eiusmod occaecat incididunt occaecat qui mollit consequat amet voluptate ipsum nostrud elit. Exercitation adipisicing enim elit non sit pariatur dolore voluptate nostrud occaecat fugiat consequat id et Lorem sit. <a href="#">Register Today</a>',
	    msgDate: 'Apr 6',
	    msgRead: false,
      index: 18,
			hasDelete: false
	  }%}

	  {% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'A new Representative Delivery Order is available in lorem ipsum. Ut veniam elit commodo commodo officia sunt Lorem irure quis. Incididunt pariatur minim ea minim ad elit et deserunt aute anim qui quis velit. <a href="#">Your Order</a>',
	    msgDate: 'Apr 6',
	    msgRead: true,
      index: 19,
			hasDelete: false
	  }%}

	  {% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'Registration is open for Rep Fest 2018 <a href="#">Register Today</a>',
	    msgDate: 'Apr 6',
	    msgRead: true,
      index: 20,
			hasDelete: false
	  }%}

	  <!-- END - MESSAGE LIST LOOP -->

</ul>
