{% set read = 'reverse-bg' %}
{% set unread = '' %}

<form class="form-inline mb-4" role="form">
  <div class="form-group has-feedback">
    <input type="text" class="form-control">
    <span class="lt-icon lt-search lt-medium form-control-feedback"></span>
  </div>
</form>

<ul class="list-group">

	<!-- START - MESSAGE LIST LOOP -->

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'A new Representative Delivery Order is available in <a href="#">Your Order</a>',
	    msgDate: 'Apr 17',
	    msgStatus: unread,
      index: 17,
			hasDelete: false
	  }%}

	 {% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'Registration is open for Rep Fest 2018 <a href="#">Register Today</a>',
	    msgDate: 'Apr 6',
	    msgStatus: unread,
      index: 18,
			hasDelete: false
	  }%}

	  {% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'A new Representative Delivery Order is available in <a href="#">Your Order</a>',
	    msgDate: 'Apr 6',
	    msgStatus: read,
      index: 19,
			hasDelete: false
	  }%}

	  {% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'Registration is open for Rep Fest 2018 <a href="#">Register Today</a>',
	    msgDate: 'Apr 6',
	    msgStatus: read,
      index: 20,
			hasDelete: false
	  }%}

	  <!-- END - MESSAGE LIST LOOP -->

</ul>
