{% set read = 'reverse-bg' %}
{% set unread = '' %}

<form class="form-inline mb-4" role="form">
  <div class="form-group has-feedback">
    <input type="text" class="form-control">
    <span class="lt-icon lt-search lt-medium form-control-feedback"></span>
  </div>
</form>

<ul class="list-group">

	<!-- START - MESSAGE LIST LOOP -->

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'A new Representative Delivery Order is available in <a href="#">Your Order</a>',
	    msgDate: 'Apr 17',
	    msgStatus: unread,
			index: 1,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'Avon&#39;s privacy policy has been updated to include more information that is relevent to you on lorem ipsum. Qui consectetur anim aute incididunt nisi pariatur cillum consequat deserunt velit reprehenderit adipisicing in voluptate ex labore in. <a href="#">Your Order</a>',
	    msgDate: 'Apr 17',
	    msgStatus: unread,
			index: 2,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'A new Representative Delivery Order is available in <a href="#">Your Order</a>',
	    msgDate: 'Apr 17',
	    msgStatus: read,
			index: 3,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'Registration is open for Rep Fest 2018 <a href="#">Register Today</a>',
	    msgDate: 'Apr 17',
	    msgStatus: read,
			index: 4,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'A new Representative Delivery Order is available in <a href="#">Your Order</a>',
	    msgDate: 'Apr 17',
	    msgStatus: read,
			index: 5,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'Registration is open for Rep Fest 2018 <a href="#">Register Today</a>',
	    msgDate: 'Apr 17',
	    msgStatus: read,
			index: 6,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'A new Representative Delivery Order is available in <a href="#">Your Order</a>',
	    msgDate: 'Apr 17',
	    msgStatus: read,
			index: 7,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'Registration is open for Rep Fest 2018 <a href="#">Register Today</a>',
	    msgDate: 'Apr 17',
	    msgStatus: read,
			index: 8,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'A new Representative Delivery Order is available in <a href="#">Your Order</a>',
	    msgDate: 'Apr 17',
	    msgStatus: read,
			index: 9,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'Registration is open for Rep Fest 2018 <a href="#">Your Order</a>',
	    msgDate: 'Apr 17',
	    msgStatus: read,
			index: 10,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'A new Representative Delivery Order is available in <a href="#">Your Order</a>',
	    msgDate: 'Apr 17',
	    msgStatus: read,
			index: 11,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'Registration is open for Rep Fest 2018 <a href="#">Register Today</a>',
	    msgDate: 'Apr 17',
	    msgStatus: read,
			index: 12,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'A new Representative Delivery Order is available in <a href="#">Your Order</a>',
	    msgDate: 'Apr 17',
	    msgStatus: read,
			index: 13,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'Registration is open for Rep Fest 2018 <a href="#">Register Today</a>',
	    msgDate: 'Dec 31 2017',
	    msgStatus: read,
			index: 14,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'A new Representative Delivery Order is available in <a href="#">Your Order</a>',
	    msgDate: 'Dec 25 2017',
	    msgStatus: read,
			index: 15,
			hasDelete: true
	}%}

	{% include "_includes/modules/message-center/message-item.html.twig" with {
	    msgText: 'Registration is open for Rep Fest 2018 <a href="#">Register Today</a>',
	    msgDate: 'Nov 21 2017',
	    msgStatus: read,
			index: 16,
			hasDelete: true
	}%}

	<!-- END - MESSAGE LIST LOOP -->

</ul>

<!-- START - PAGINATION -->
<ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
<!-- END - PAGINATION -->
