{% set read = 'reverse-bg' %}
{% set unread = '' %}

<form class="form-inline mb-4" role="form">
  <div class="form-group has-feedback">
    <input type="text" class="form-control">
    <span class="lt-icon lt-search lt-medium form-control-feedback"></span>
  </div>
</form>

<ul class="list-group">

	<!-- START - MESSAGE LIST LOOP -->

	{% include "_includes/modules/message-center/message-item-system-msg.html.twig" with {
	    msgText: 'A new Representative Delivery Order is available in',
	    msgLinkText: 'Your order',
	    msgURL: '#',
	    msgDate: 'Apr 17',
	    msgStatus: unread
	}%}

	{% include "_includes/modules/message-center/message-item-system-msg.html.twig" with {
	    msgText: "Avon's privacy policy has been updates to include more information that is relevent to you on loreum ipsum",
	    msgLinkText: 'Your order',
	    msgURL: '#',
	    msgDate: 'Apr 17',
	    msgStatus: unread
	}%}

	{% include "_includes/modules/message-center/message-item-system-msg.html.twig" with {
	    msgText: 'A new Representative Delivery Order is available in',
	    msgLinkText: 'Your order',
	    msgURL: '#',
	    msgDate: 'Apr 17',
	    msgStatus: read
	}%}

	{% include "_includes/modules/message-center/message-item-system-msg.html.twig" with {
	    msgText: 'Registration is open for Rep Fest 2018',
	    msgLinkText: 'Register today',
	    msgURL: '#',
	    msgDate: 'Apr 17',
	    msgStatus: read
	}%}

	{% include "_includes/modules/message-center/message-item-system-msg.html.twig" with {
	    msgText: 'A new Representative Delivery Order is available in',
	    msgLinkText: 'Your order',
	    msgURL: '#',
	    msgDate: 'Apr 17',
	    msgStatus: read
	}%}

	{% include "_includes/modules/message-center/message-item-system-msg.html.twig" with {
	    msgText: 'Registration is open for Rep Fest 2018',
	    msgLinkText: 'Register today',
	    msgURL: '#',
	    msgDate: 'Apr 17',
	    msgStatus: read
	}%}

	{% include "_includes/modules/message-center/message-item-system-msg.html.twig" with {
	    msgText: 'A new Representative Delivery Order is available in',
	    msgLinkText: 'Your order',
	    msgURL: '#',
	    msgDate: 'Apr 17',
	    msgStatus: read
	}%}

	{% include "_includes/modules/message-center/message-item-system-msg.html.twig" with {
	    msgText: 'Registration is open for Rep Fest 2018',
	    msgLinkText: 'Register today',
	    msgURL: '#',
	    msgDate: 'Apr 17',
	    msgStatus: read
	}%}

	{% include "_includes/modules/message-center/message-item-system-msg.html.twig" with {
	    msgText: 'A new Representative Delivery Order is available in',
	    msgLinkText: 'Your order',
	    msgURL: '#',
	    msgDate: 'Apr 17',
	    msgStatus: read
	}%}

	{% include "_includes/modules/message-center/message-item-system-msg.html.twig" with {
	    msgText: 'Registration is open for Rep Fest 2018',
	    msgLinkText: 'Register today',
	    msgURL: '#',
	    msgDate: 'Apr 17',
	    msgStatus: read
	}%}

	{% include "_includes/modules/message-center/message-item-system-msg.html.twig" with {
	    msgText: 'A new Representative Delivery Order is available in',
	    msgLinkText: 'Your order',
	    msgURL: '#',
	    msgDate: 'Apr 17',
	    msgStatus: read
	}%}

	{% include "_includes/modules/message-center/message-item-system-msg.html.twig" with {
	    msgText: 'Registration is open for Rep Fest 2018',
	    msgLinkText: 'Register today',
	    msgURL: '#',
	    msgDate: 'Apr 17',
	    msgStatus: read
	}%}

	{% include "_includes/modules/message-center/message-item-system-msg.html.twig" with {
	    msgText: 'A new Representative Delivery Order is available in',
	    msgLinkText: 'Your order',
	    msgURL: '#',
	    msgDate: 'Apr 17',
	    msgStatus: read
	}%}

	{% include "_includes/modules/message-center/message-item-system-msg.html.twig" with {
	    msgText: 'Registration is open for Rep Fest 2018',
	    msgLinkText: 'Register today',
	    msgURL: '#',
	    msgDate: 'Dec 31 2017',
	    msgStatus: read
	}%}

	{% include "_includes/modules/message-center/message-item-system-msg.html.twig" with {
	    msgText: 'A new Representative Delivery Order is available in',
	    msgLinkText: 'Your order',
	    msgURL: '#',
	    msgDate: 'Dec 25 2017',
	    msgStatus: read
	}%}

	{% include "_includes/modules/message-center/message-item-system-msg.html.twig" with {
	    msgText: 'Registration is open for Rep Fest 2018',
	    msgLinkText: 'Register today',
	    msgURL: '#',
	    msgDate: 'Nov 21 2017',
	    msgStatus: read
	}%}

	<!-- END - MESSAGE LIST LOOP -->

</ul>

<!-- START - PAGINATION -->
<ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
<!-- END - PAGINATION -->