{% if alert %}
  {% set alertClass = 'text-danger' %}
  {% set alertIcon = '<span class="lt-icon lt-warning align-middle mr-2"></span>' %}
{% endif %}

<tr class="clearfix border-bottom">
  <td class="t-due font-weight-bold nowrap {{ alertClass }}" data-title="Due">
    {{ alertIcon }}Aug 7, 2018
  </td>

  <td class="t-title" data-title="Title">
    <a class="item-title link-plain underline">Contact Beth to talk to her about new products</a>
  </td>

  <td class="t-contact" data-title="Contact">
    <span>
      <a class="item-title link-plain underline mr-2 mr-md-0">Adolfo Santiago</a>
      <span class="text-muted">([Customer/Team])</span>
    </span>
  </td>

  <td class="t-actions nowrap small font-weight-bold mobile-row">
    <a href="#" class="link-muted">
      <span class="lt-icon lt-pen lt-small align-middle mr-1"></span> Edit
    </a>
    <a href="#" class="link-muted ml-4">
      <span class="lt-icon lt-trash lt-small align-middle mr-1"></span> Delete
    </a>
    <button class="btn btn-sm btn-soft btn-discourage ml-5">
      Completed
    </button>
  </td>
</tr>


