<!-- TODO :: icons are FPO -->
<ul class="social-links list-inline text-justify mt-5">
  <li>
    <a href="#"><span class="lt-icon lt-warning"></span></button></a>
  </li>
  <li>
    <a href="#"><span class="lt-icon lt-warning"></span></button></a>
  </li>
  <li>
    <a href="#"><span class="lt-icon lt-warning"></span></button></a>
  </li>
  <li>
    <a href="#"><span class="lt-icon lt-warning"></span></button></a>
  </li>
  <li class="stretch"></li>
</ul>
