<!-- START - STARTER KIT DETAILS -->

<!-- START - TITLE -->
<h3 class="pdp-product-title mt-3 w-100">[Advanced] Starter Kit</h3>
<h3 class="pdp-product-title mt-3 w-100">$50</h3>
<h6 class="text-capitalize">Save $80</h6>
<!-- END - TITLE -->

<div class="w-100 text-left">
  <p>Lorem ipsum dolor sit amet, erant dolor phaedrum ad vel, usu mundi consequuntur ne. In pri ceteros pericula argumentum, at eum veri congue consequat, no quot nibh mea.</p>
  <p>What's inside:</p>
  <p>20 full sized products, 20 minis, 50 samples, 100 catalog/brouchers, sales tools, a bike, and more!</p>
  <ul>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Erant dolor phaedrum ad vel</li>
    <li>Usu mundi consequuntur ne</li>
    <li>At eum veri congue consequat</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Erant dolor phaedrum ad vel</li>
    <li>Usu mundi consequuntur ne</li>
    <li>At eum veri congue consequat</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Erant dolor phaedrum ad vel</li>
    <li>Usu mundi consequuntur ne</li>
    <li>At eum veri congue consequat</li>
    <li>Lorem ipsum dolor sit amet</li>
    <li>Erant dolor phaedrum ad vel</li>
    <li>Usu mundi consequuntur ne</li>
    <li>At eum veri congue consequat</li>
  </ul>
</div>




<!-- START - CTA BUTTON -->
<div class="col-xs-12 p-0">
  <button class="btn btn-primary mt-4 col-xs-12">
    Select
  </button>
</div>
<!-- END - CTA BUTTON -->

<!-- END - STARTER KIT DETAILS -->
