<a href="#" class="link-plain">
  <span class="lt-icon lt-search lt-medium"></span>
  <span class="small text-uppercase text-muted hidden-xs">Search</span>
  <input class="primary-nav__search-input" type="text" class="form-inline" placeholder="Search" autocomplete="off">
</a>
