<a href="javascript:void(0)" class="link-plain">
  <span class="lt-icon lt-search lt-large"></span>
  <span class="small text-uppercase text-muted hidden-xs ml-0 ml-md-2">Search</span>
  <input class="primary-nav__search-input text-muted small ml-0 ml-md-2" type="text" class="form-inline" placeholder="Search" autocomplete="off">
  <span class="lt-icon lt-close lt-large text-muted"></span>
</a>
