<form class="page-search form-inline mb-4" role="form">
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon">
        <span class="lt-icon lt-search lt-medium"></span>
      </span>
      <input type="text" class="form-control" placeholder="Type to Filter">
      <span class="input-group-addon">
        <a class="input-close-btn" href="javascript:void(0)">
          <span class="lt-icon lt-close lt-medium text-muted"></span>
        </a>
      </span>
    </div>
  </div>
</form>
