<h1>Search Results for "Haiku"</h1>
<ul id="search-results-list">
  <li>
    <a href="#">Anew Ultimate Supreme Advanced Performance Créme</a>
  </li>
  <li>
    <a href="#">Haiku Bonus Size Roll-On</a>
  </li>
  <li>
    <a href="#">Haiku Kyoto Flower Eau de Parfum</a>
  </li>
  <li>
    <a href="#">Haiku Reflection Perfumed Skin</a>
  </li>
</ul>
