<div class="container search-results-filter">
  <h4>Refine By:</h4>
  <h5>Brands</h5>
  <ul>
    <li>Anew</li>
    <li>Haiku</li>
    <li>Brand</li>
    <li>Another Brand</li>
  </ul>
  <h5>Skin Type</h5>
  <ul>
    <li>Dry to Very Dry</li>
    <li>Normal to Very Dry</li>
    <li>Normal</li>
    <li>Combination</li>
    <li>Oily</li>
  </ul>
  <h5>Moisturizer</h5>
  <ul>
    <li>Day Cream</li>
    <li>Night Cream</li>
  </ul>
  <h5>Avg. Rating</h5>
  <ul>
    <li>5 Stars</li>
    <li>4 Stars or More</li>
    <li>3 Stars or More</li>
    <li>2 Stars or More</li>
    <li>1 Stars or More</li>
    <li>Not Rated</li>
  </ul>
</div>
