<ul class="nav navbar-nav navbar-right pull-right my-0 collapsed hidden-md hidden-lg" id="mobile-header-navbar">
  <li class="mr-4">

    <form class="navbar-form border-0 p-0 m-0" role="search">
      <div class="input-group">
        <input type="text" class="form-control invisible" placeholder="Search" name="q" id="mobile-search-input" autocomplete="off">
        <div class="input-group-btn" id="mobile-search-toggle">
          <span class="btn btn-icon" type="submit" aria-label="Search">
            <i class="glyphicon glyphicon-search"></i>
          </span>
        </div>
      </div>
    </form>

    {% include components.groups.search.searchList %}

  </li>
</ul>
