<!-- START - LIST PAGE HEADER -->
<div class="row">
  <div class="col-sm-8">
    {% include "_includes/modules/product/list/page-header.html.twig" with {
      title: 'Search Results for "Haiku"',
      showResultsInfo: true,
      isSearch: true
    } %}
  </div>
  <div class="col-sm-4 product-list-header--filters">

    <!-- START - FILTER DROPDOWN -->
    {% include "_includes/modules/product/list/menu-items/filter-dropdown.html.twig" %}
    <!-- END - FILTER DROPDOWN -->

    <!-- START - SORT DROPDOWN -->
    {% include "_includes/modules/product/list/menu-items/sort-dropdown.html.twig" %}
    <!-- END - SORT DROPDOWN -->

  </div>
</div>

<!-- END - LIST PAGE HEADER -->

<!-- START - MOBILE FILTER AND SORT -->
{% include "_includes/modules/product/list/filter-sort-mobile.html.twig" %}
<!-- END - MOBILE FILTER AND SORT -->

<!-- START - DESKTOP FILTER AND SORT -->
{% include "_includes/modules/product/list/filter-sort-desktop.html.twig" %}
<!-- END - DESKTOP FILTER AND SORT -->

<!-- START - PRODUCT LIST -->
{% include "_includes/modules/product/list/product-list.html.twig" %}
<!-- END - PRODUCT LIST -->
