<!-- <ul class="nav navbar-nav navbar-right pull-right my-0 collapsed hidden-md hidden-lg" id="mobile-header-navbar">
  <li class="mr-4"> -->
<span>
    <!-- <form class="navbar-form border-0 p-0 m-0" role="search"> -->
      <!-- <div class="input-group"> -->
        <!-- <input id="mobile-search-input" type="text" class="invisible d-inline-block" placeholder="Search" name="q" autocomplete="off"> -->
        <div class="" id="mobile-search-toggle">
          <span class="btn btn-icon py-2 px-4" type="submit" aria-label="Search">
            <i class="lt-icon lt-search lt-medium"></i>
          </span>
        </div>
      <!-- </div> -->
    <!-- </form> -->
  </span>

  <!-- </li>
</ul> -->
