<div class="scrollable-tabs-wrapper">

  <nav id="scrollableTabsNav" class="scrollable-tabs-nav">
    <ul id="scrollableTabsNavContents" class="nav nav-tabs nav-tabs--scrollable">
      <li class="scrollable-tabs-item active"><a href="#buzz-1" data-toggle="tab">MAR 19-25</a></li>
      <li class="scrollable-tabs-item"><a href="#buzz-2" data-toggle="tab">MAR 12-18</a></li>
      <li class="scrollable-tabs-item"><a href="#buzz-3" data-toggle="tab">MAR 5-11</a></li>
      <li class="scrollable-tabs-item"><a href="#buzz-4" data-toggle="tab">FEB 26-MAR 4</a></li>
      <li class="scrollable-tabs-item"><a href="#buzz-1" data-toggle="tab">MAR 12-18</a></li>
      <li class="scrollable-tabs-item"><a href="#buzz-2" data-toggle="tab">MAR 5-11</a></li>
      <li class="scrollable-tabs-item"><a href="#buzz-3" data-toggle="tab">FEB 26-MAR 4</a></li>
      <li class="scrollable-tabs-item"><a href="#buzz-4" data-toggle="tab">MAR 12-18</a></li>
      <li class="scrollable-tabs-item"><a href="#buzz-1" data-toggle="tab">MAR 5-11</a></li>
      <li class="scrollable-tabs-item"><a href="#buzz-2" data-toggle="tab">FEB 26-MAR 4</a></li>
    </ul>
  </nav>

  <button class="scrollable-tabs-advancer scrollable-tabs-advancer-left hidden-xs" type="button">
    <span class="lt-icon lt-large lt-carat-left"></span>
  </button>
  <button class="scrollable-tabs-advancer scrollable-tabs-advancer-right hidden-xs" type="button">
    <span class="lt-icon lt-large lt-carat-right"></span>
  </button>

</div>
