<tr class="t-has-absolute-col-left-and-right">
  <!-- GROUP NAME -->
  <td class="t-group-name t-primary">
    <div class="truncate">
      <a href="#" class="link-plain link-underline font-weight-bold">[Group Name That Is Long]</a>
    </div>
  </td>
  <!-- NUMBER IN GROUP -->
  <td class="t-group-number text-right">
    00 <span class="d-none">Contacts in group</span>
  </td>
  <!-- ACTIONS NAME -->
  <td class="t-actions text-right">
    <div class="btn-group">
      <a href="javascript:void(0)" data-toggle="dropdown" class="link-muted"><span class="lt-icon lt-ellipsis lt-large"></span></a>
      <ul class="dropdown-menu pull-right">
        <li><a href="#">[Action]</a></li>
        <li><a href="#">[Action]</a></li>
        <li><a href="#">[Action]</a></li>
      </ul>
    </div>
  </td>
</tr>


