<form id="#storeDrop-content">
  <div class="form-group">
    <label class="control-label">Store URL</label>
    {% include "_includes/elements/forms/input.html.twig" with {
      type : 'url',
      value: 'http://youravon.com/janejohnson5983'
    } %}
  </div>
  <div class="form-group">
    <button>Copy Link</button>
    <button>View Store</button>
    <button>Edit Store</button>
  </div>
</form>
