{% set drawerId = 'drawer-item-entry' %}

<!-- DRAWER -->
<section id="{{ drawerId }}" class="drawer drawer-fixed-top drawer-hidden drawer-item-entry">

  <!-- DRAWER CONTENT -->
  <section class="drawer-content">

    <div class="no-reverse-bg">

      <!-- HEADER -->
      {% include components.modules.global.drawer.header with {
        drawerLabel: 'Item Entry',
        drawerId: drawerId,
        drawerLogoMobile: false
      } %}

    </div>
    <!-- /.no-reverse-bg -->

    <!-- <div class="container m-0 p-0"> -->

      <div class="row m-0 p-4 item-entry-content--form">

        <div class="visible-xs-block">
          <h3>Item Entry</h3>
        </div>

        <!-- FORM -->
        <form class="" role="form">

          <div class="form-group col-xs-12 col-sm-4">
            <div class="text-left">Product Name or Number</div>
            <input id="itemEntryProduct" type="text" class="form-control collapsed" placeholder="" autocomplete="off">
            <p class="selected-item my-4"></p>
          </div>

          <div class="form-group col-xs-3 col-sm-2">
            <div class="text-left">Qty</div>
            <div class="form-group has-feedback">
              <select id="itemEntryQty" class="form-control">
                <option disabled selected value></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              <span class="glyphicon glyphicon-play form-control-feedback"></span>
            </div>
          </div>

          <div class="form-group col-xs-9 col-sm-4">
            <div class="text-left">Who is this for?</div>
            <div class="form-group has-feedback">
              <select id="itemEntryCustomer" class="form-control">
                <option disabled selected value>Select a Customer</option>
                <option>Jane Johnson</option>
                <option>John Doe</option>
                <option>Lisa Anyname</option>
              </select>
              <span class="glyphicon glyphicon-play form-control-feedback"></span>
            </div>
          </div>

          <div class="form-group col-xs-3 col-sm-2">
            <div class="text-left">&#8203;</div>
            <button id="itemEntryAdd" type="submit" class="btn btn-default" disabled="disabled">Add to List</button>
          </div>

        </form>

      </div>
      <!-- /.row -->

      <!-- Main List of Items to be Added -->
      <div class="row m-0 reverse-bg item-entry-content--list hidden">
        <ul class="list-group p-4 col-xs-12 col-sm-8">

          <!-- START - LOOPING ITEMS -->
          {% include components.groups.yourOrder.personsOrderLi with {indexNum: '1', personName: fpo.person.1, itemCount: '8', total: '90.00', classes: 'd-inline-block', collapsed: true} %}
          {% include components.groups.yourOrder.personsOrderLi with {indexNum: '2', personName: fpo.person.2, itemCount: '4', total: '90.00', classes: 'd-inline-block', collapsed: true} %}
          {% include components.groups.yourOrder.personsOrderLi with {indexNum: '3', personName: fpo.person.3, itemCount: '2', total: '12.00', classes: 'd-inline-block', collapsed: true} %}
          <!-- END - LOOPING ITEMS -->

        </ul>
        <div class="item-entry-total hidden-xs col-sm-4">
          <h3>Total</h3>
          <ul class="list-group">
            <li class="list-group-item">
              <span class="badge">$90.00</span>
              Order Subtotal
            </li>
            <li class="list-group-item">
              <span class="badge">$36.00</span>
              Discount
            </li>
          </ul>
          <p>
            Shipping and taxes will be calculated durind the checkout process
          </p>
          <div class="btn-group">
            <button id="itemEntryAddAllAside" type="submit" class="btn btn-default">Add all items to order</button>
          </div>
        </div>
      </div>

      <!-- Submit All Button -->
      <div class="item-entry-content--submit visible-xs-block">
        <div class="container">
          <div class="btn-group btn-group-justified">
            <div class="btn-group">
              <button id="itemEntryAddAll" type="submit" class="btn btn-default" disabled="disabled">Add all items to order</button>
            </div>
          </div>
        </div>
      </div>

    <!-- </div> -->
    <!-- /.container -->

  </section>
</section>
<!-- /.drawer -->
