<div class="col-xs-6 col-lg-4 my-4 box-group--item">
  <a class="thumbnail box-emphasize link-plain d-flex flex-column justify-content-start m-0 h-100">
    <div class="caption text-center m-4">
      <h6 class="m-0 text-muted">{{ title }}</h6>
    </div>
    <div class="px-4 pb-4 text-center img-container">
      <img src="{{ imgUrl }}" class="img-responsive"alt="...">
    </div>
  </a>
</div>
