<div class="col-sm-6 col-md-3 my-4">
  <a class="thumbnail box-emphasize link-plain d-flex flex-column justify-content-between m-0 h-100">
    <div class="caption text-center p-4">
      <h6 class="m-0 text-muted">{{ title }}</h6>
    </div>
    <img src="{{ imgUrl }}" alt="...">
  </a>
</div>
