<div class="password-requirements {{ classes }}">
  <div class="password-requirements__strength">
    <span class="lt-icon lt-checkmark lt-medium align-middle"></span> Password strength:
    <span class="text-danger">Weak</span>
    <span class="text-success">Strong</span>
  </div>
  <ul class="password-requirements__rules list-unstyled">
    <li><span class="lt-icon lt-close lt-medium align-middle"></span> Rule 1</li>
    <li><span class="lt-icon lt-close lt-medium align-middle"></span> Rule 2</li>
    <li><span class="lt-icon lt-close lt-medium align-middle"></span> Rule 3</li>
  </ul>
</div>
