<div class="password-requirements {{ classes }}">
  <ul class="password-requirements__rules list-unstyled medium">
    <li class="text-muted">
      <span class="lt-icon lt-close lt-medium text-muted align-middle mr-2"></span>
      Lorem ipsum
    </li>
    <li class="text-primary">
      <span class="lt-icon lt-checkmark lt-medium align-middle mr-2"></span>
      Lorem ipsum
    </li>
    <li class="text-primary">
      <span class="lt-icon lt-checkmark lt-medium align-middle mr-2"></span>
      Lorem ipsum
    </li>
    <li class="text-muted">
      <span class="lt-icon lt-close lt-medium text-muted align-middle mr-2"></span>
      Lorem ipsum
    </li>
    <li class="text-primary">
      <span class="lt-icon lt-checkmark lt-medium align-middle mr-2"></span>
      Lorem ipsum
    </li>
  </ul>
</div>
