<div class="password-requirements {{ classes }}">
  <span class="lt-icon lt-checkmark lt-medium align-middle"></span> Password strength: <span>Weak</span> <span>Strong</span>
  <ul class="list-unstyled">
    <li><span class="lt-icon lt-close lt-medium align-middle"></span> Rule 1</li>
    <li><span class="lt-icon lt-close lt-medium align-middle"></span> Rule 2</li>
    <li><span class="lt-icon lt-close lt-medium align-middle"></span> Rule 3</li>
  </ul>
</div>