<select id="{{ id }}" class="selectpicker form-control {{ classes }}" data-size="{{ size }}" data-style="btn-select" data-icon-base="lt-icon">
  {% for option in options %}
    <option {% if selectFirst and loop.first %} selected="true" disabled="true" {% endif %}>{{ option }}</option>
  {% endfor %}
</select>
