
<li>
  <a href="#product-detail">Product Detail</a>
  <ul class="nav">
    <li><a href="#product-detail-diagram">Diagram</a></li>
    <li><a href="#product-detail-structure">Structure</a></li>
    <li><a href="#product-detail-header">Header</a></li>
    <li><a href="#product-detail-tabs">Tabs</a></li>
    <li><a href="#product-detail-tab-content">Tab Contents</a></li>
    <li><a href="#product-detail-tab-pane-products">Tab Pane: Products</a></li>
    <li style="padding-left: 15px;"><a href="#product-detail-tab-pane-products-person">Person's Order</a></li>
    <li style="padding-left: 15px;"><a href="#product-detail-tab-pane-products-product">Single Product</a></li>
    <li><a href="#product-detail-tab-pane-incentives">Tab Pane - Incentives</a></li>
    <li><a href="#product-detail-total">Order Total</a></li>
  </ul>
</li>


