
<li>
  <a href="#product-detail">Product Detail</a>
  <ul class="nav">
    <li><a href="#product-detail-page-structure">Page Structure</a></li>
    <li><a href="#product-detail-checkout-header">Header</a></li>
    <li><a href="#product-detail-checkout-review-order-navTab">Nav Tabs</a></li>
    <li><a href="#product-detail-checkout-review-order-tabContent">Tab Contents</a></li>
    <li><a href="#product-detail-checkout-review-order-persons">Tab Content - Person's Order</a></li>
    <li><a href="#product-detail-checkout-review-order-persons-product">Tab Content - Product</a></li>
    <li><a href="#product-detail-checkout-review-order-total">Order Total</a></li>
  </ul>
</li>


