{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - STYLEGUIDE CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
<li>
  <a href="#color">Color</a>
  <ul class="nav">
    <li><a href="#colors">Names and hex values</a></li>
    <li><a href="#color-variables">Variables</a></li>
  </ul>
</li>
<li>
  <a href="#type">Typography</a>
  <ul class="nav">
    <li><a href="#type-links">Links</a></li>
    <li><a href="#type-headings">Headings</a></li>
    <li><a href="#type-body-copy">Body copy</a></li>
    <li><a href="#type-emphasis">Emphasis</a></li>
    <li><a href="#type-abbreviations">Abbreviations</a></li>
    <li><a href="#type-addresses">Addresses</a></li>
    <li><a href="#type-blockquotes">Blockquotes</a></li>
    <li><a href="#type-lists">Lists</a></li>
    <li><a href="#type-variables">Variables</a></li>
  </ul>
</li>
<li>
  <a href="#tables">Tables</a>
  <ul class="nav">
    <li><a href="#tables-example">Basic example</a></li>
    <li><a href="#tables-striped">Striped rows</a></li>
    <li><a href="#tables-no-borders">No borders</a></li>
    <li><a href="#tables-bordered">Bordered table</a></li>
    <li><a href="#tables-hover-rows">Hover rows</a></li>
    <li><a href="#tables-sparse">Sparse table</a></li>
    <li><a href="#tables-condensed">Condensed table</a></li>
    <li><a href="#tables-contextual-classes">Contextual classes</a></li>
    <li><a href="#tables-responsive">Responsive tables</a></li>
  </ul>
</li>
<li>
  <a href="#forms">Forms</a>
  <ul class="nav">
    <li><a href="#forms-inputs">Inputs</a></li>
    <li class="pl-4"><a href="#forms-control-focus">Focus state</a></li>
    <li class="pl-4"><a href="#forms-control-disabled">Disabled state</a></li>
    <li class="pl-4"><a href="#forms-control-validation">Validation states</a></li>
    <li class="pl-4"><a href="#forms-control-sizes">Control sizing</a></li>
    <li><a href="#forms-textareas">Textareas</a></li>
    <li><a href="#forms-selects">Selects</a></li>
    <li><a href="#forms-checkboxes">Checkboxes</a></li>
    <li><a href="#forms-radios">Radios</a></li>
  </ul>
</li>
<li>
  <a href="#buttons">Buttons</a>
  <ul class="nav">
    <li><a href="#buttons-options">Options</a></li>
    <li><a href="#buttons-sizes">Sizes</a></li>
    <li><a href="#buttons-active">Active state</a></li>
    <li><a href="#buttons-disabled">Disabled state</a></li>
    <li><a href="#buttons-tags">Button tags</a></li>
  </ul>
</li>
<li>
  <a href="#images">Images</a>
  <ul class="nav">
    <li><a href="#images-responsive-images">Responsive Images</a></li>
    <li><a href="#images-youravon-logo">YourAvon Logo</a></li>
  </ul>
</li>

<li>
  <a href="#customicons">Custom Icons</a>
  <ul class="nav">
    <li><a href="#customicons-glyphs">Available icons</a></li>
    <li><a href="#customicons-how-to-use">How to use</a></li>
    <li><a href="#customicons-sizes">Sizes</a></li>
    <li><a href="#customicons-examples">Examples</a></li>
  </ul>
</li>

<li><a href="#labels">Labels</a></li>
<li><a href="#badges">Badges</a></li>
<li>
  <a href="#alerts">Alerts</a>
  <ul class="nav">
    <li><a href="#alerts-examples">Examples</a></li>
    <li><a href="#alerts-dismissable">Dismissable alerts</a></li>
    <li><a href="#alerts-links">Links in alerts</a></li>
  </ul>
</li>
<li>
  <a href="#progress">Progress bars</a>
  <ul class="nav">
    <li><a href="#progress-basic">Basic example</a></li>
    <li><a href="#progress-alternatives">Contextual alternatives</a></li>
    <li><a href="#progress-striped">Striped</a></li>
    <li><a href="#progress-animated">Animated</a></li>
    <li><a href="#progress-stacked">Stacked</a></li>
  </ul>
</li>
