
{# <li>
  <a href="#global">Global</a>
  <ul class="nav">
    <li><a href="#global-logo">Logo</a></li>
    <li><a href="#global-primary-navigation">Primary Navigation</a></li>
    <li><a href="#global-header">Header</a></li>
    <li><a href="#global-footer">Footer</a></li>
  </ul>
</li> #}
<li>
  <a href="#your-order">Your Order</a>
  <ul class="nav">
    <li><a href="#your-order-diagram">Diagram</a></li>
    <li><a href="#your-order-structure">Structure</a></li>
    <li><a href="#your-order-header">Header</a></li>
    <li><a href="#your-order-tabs">Tab Navigation</a></li>
    <li><a href="#your-order-tab-content-structure">Tab Content Structure</a></li>
    <li><a href="#your-order-tab-content">Tab Contents</a></li>
    <li><a href="#your-order-tab-pane-products">Tab Pane: Products</a></li>
    <li style="padding-left: 15px;"><a href="#your-order-tab-pane-products-list-structure">List Structure</a></li>
    <li style="padding-left: 15px;"><a href="#your-order-tab-pane-products-person">Person's Order (list item)</a></li>

    

    <li style="padding-left: 15px;"><a href="#your-order-tab-pane-products-person-table-structure">Table Structure</a></li>
    <li style="padding-left: 15px;"><a href="#your-order-tab-pane-products-product">Single Product (table row)</a></li>

    <li><a href="#your-order-tab-pane-incentives">Tab Pane - Incentives</a></li>
    <li><a href="#your-order-total">Order Total</a></li>
  </ul>
</li>


