
<li>
  <a href="#product-detail">Product Detail</a>
  <ul class="nav">
    <li><a href="#product-detail-header">Header</a></li>
    <li><a href="#product-detail-images">Images</a></li>
    <li><a href="#product-detail-details">Details</a></li>
    <li><a href="#product-detail-features">Features</a></li>
  </ul>
</li>
<li>
  <a href="#order-summary">Order Summary</a>
  <ul class="nav">
    <li><a href="#order-summary-pd">Product Detail</a></li>
    <li><a href="#order-summary-checkout">Checkout</a></li>
  </ul>
</li>
<li><a href="#jumbotron">Jumbotron</a></li>
<li><a href="#page-header">Page header</a></li>