
<li>
  <a href="#global">Global</a>
  <ul class="nav">
    <li><a href="#global-logo">Logo</a></li>
    <li><a href="#global-static-nav">Static Header Nav</a></li>
    <li><a href="#global-user-nav">User Header Nav</a></li>
    <li><a href="#global-primary-nav">Primary Header Nav</a></li>
    <li><a href="#global-header">Header</a></li>
    <li><a href="#global-footer">Footer</a></li>
  </ul>
</li>
