
<header class="navbar navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">

        <li {% if slug == "styleguide-home" %} class="active" {% endif %}>
          <a href="index.html">Styleguide home</a>
        </li>
        <li {% if slug == "styleguide-css" %} class="active" {% endif %}>
          <a href="css.html">CSS</a>
        </li>
        <li {% if slug == "styleguide-elements" %} class="active" {% endif %}>
          <a href="elements.html">Elements</a>
        </li>
        <li {% if slug == "styleguide-groups" %} class="active" {% endif %}>
          <a href="groups.html">Groups</a>
        </li>
        <li {% if slug == "styleguide-modules" %} class="active" {% endif %}>
          <a href="modules.html">Modules</a>
        </li>
        <li {% if slug == "styleguide-javascript" %} class="active" {% endif %}>
          <a href="javascript.html">Javascript</a>
        </li>
        <li {% if slug == "styleguide-examples" %} class="active" {% endif %}>
          <a href="examples.html">Bootstrap Examples</a>
        </li>

      </ul>
    </nav>
  </div>
</header>
