<!-- START - INLINE LEVEL - GENERIC -->
{% include "_includes/groups/alerts/alert-level-template.html.twig" with {          
  alertIcon: 'lt-warning-fill',
  alertHeadline: 'This goes to the top of the section where the error occured.',
  alertBody: '
  <ul class="alert-list">
    <li>Error explanation 1</li>
    <li>Error explanation 2</li>
    <li>Error explanation 3</li>
  </ul>',
  alertBtnText: null,
  alertClasses: 'alert-danger ' ~ marginClasses,
  alertLevel: 'content',
  alertDismissable: false,
  alertId: null
} %}
<!-- END - INLINE LEVEL - GENERIC -->