<div class="row">
  <aside class="col-md-4 hidden-xs hidden-sm" role="complementary">
    {% block aside %}{% endblock %}
  </aside>
  <main class="col-md-8" role="main">
    {% block main %}{% endblock %}
  </main>
</div><!-- /.row -->
