<div class="container">

  <div class="row">

    <div class="col-md-10 col-md-offset-1">

      <header class="col-md-12" role="header">
        {% block contentheader %}{% endblock %}
      </header>

      <main class="col-md-8" role="main">
        {% block main %}{% endblock %}
      </main>

      <aside class="col-md-4">
        <!-- DEV NOTE :: data-offset-top attr is set with js in
                      :: src/js/demo/checkoutDemo.js. This allows
                      :: the sidebar to stick at the right point -->
        <div class="affix--aside-col-4" role="complementary" data-spy="affix">
          {% block aside %}{% endblock %}
        </div>
      </aside>

    </div>

  </div>

</div>
