<div class="row">

  <div class="col-md-10 col-md-offset-1">

    <aside class="col-md-6" role="complementary">
      {% block aside %}{% endblock %}
    </aside>

    <main class="col-md-6" role="main">
      {% block main %}{% endblock %}
    </main>

  </div>

</div>
