  <div class="row">
    <div class="col-md-8 col-md-8--max-width">

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# RENDER BLOCK - CONTENT #}
      {% block main %}{% endblock %}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}

  </div>
</div>
