<!-- START - MODAL -->
<section class="modal fade {{ modalClasses }}" id="{{ modalId }}" tabindex="-1" role="dialog" aria-labelledby="{{ modalId }}" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# RENDER BLOCK - modalHeader #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% set _block = block('modalHeader') %}
      {% if _block is not empty %}

          <div class="modal-header">
            {{ _block|raw }}
          </div>

      {% endif %}


      <div class="modal-body">

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# RENDER BLOCK - modalBody #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block modalBody %}{% endblock %}

      </div>

    </div>
  </div>
</section>
<!-- END - MODAL -->
