{% extends '_layouts/base.html.twig' %}

{% if has_super_panel %}
  {%  set super_panel_start = '<div class="super-panel">' %}
  {%  set super_panel_stop = '</div><!-- /.super-panel -->' %}
{% endif %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}
 

{{ super_panel_start }}
<div class="container">
  <main role="main">

    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {# RENDER BLOCK - CONTENT #}
    {% block main %}{% endblock %}
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}

  </main>
</div><!-- /.container -->
{{ super_panel_stop }}

{% endblock %}
