{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - HEADER #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block header %}
  <!-- START - HEADER -->
  <div class="no-reverse-bg">
    {% include "_includes/modules/global/header.html.twig" %}

    {# TODO :: Leaving the simple header commented out for now, remove later
            :: once we've confirmed this is permanent

    {% include "_includes/modules/global/simple-header.html.twig" with {
      'title': 'Checkout'
    } %}   ######}

  </div>
  <!-- /.no-reverse-bg -->
  <!-- END - HEADER -->
{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <div class="super-panel reverse-bg">

    <!-- START - ALERT MESSAGES -->
    <section id="" class="global-alert-msg alert container-fluid mb-0 alert-success fade in">
      <span class="alert-msg-icon lt-icon lt-medium lt-checkmark"></span>
      <span class="alert-msg-txt text-uppercase mr-0 mr-sm-4 ml-0 ml-sm-2">Balance successfully paid</span>
    </section>

    <section id="" class="global-alert-msg alert container-fluid mb-0 alert-danger fade in">
      <span class="alert-msg-txt text-uppercase mr-0 mr-sm-4 ml-0 ml-sm-2">There was an error...</span>
    </section>
    <!-- END - ALERT MESSAGES -->

  </div>
  <!-- /.super-panel -->

{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - FOOTER (blank) #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block footer %}{% endblock %}
