{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - HEADER #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block header %}
  <!-- START - HEADER -->
  <div class="no-reverse-bg">
    {% include components.modules.global.drawer.header with { drawerLabel: 'Your Order', drawerId: drawerId } %}
  </div><!-- /.no-reverse-bg -->
  <!-- END - HEADER -->
{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - FOOTER (blank) #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block footer %}{% endblock %}

