{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - HEADER #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block header %}
  <!-- START - HEADER -->
  <div class="no-reverse-bg">
    {% include "_includes/modules/global/simple-header.html.twig" with {
      'title': 'Your Order'
    } %}
  </div>
  <!-- /.no-reverse-bg -->
  <!-- END - HEADER -->
{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - FOOTER (blank) #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block footer %}{% endblock %}
