<nav class="navbar navbar-secondary" role="navigation">

  <ul class="list-group small">

    <!-- START - BASE LIST ITEM -->
    <li class="list-group-item">

      <!-- START - LEVEL 2 - COLLAPSABLE TRIGGER -->
      <!-- Developer note: must have data-toggle="collapse" and data-target value must match ID of "COLLAPSABLE CONTENT"-->
      <a data-toggle="collapse" data-target="#secondary-nav-collapse-1">
        Sales Leadership
        <span class="lt-icon lt-carat-down lt-medium"></span>
      </a>
      <!-- END - LEVEL 2 - COLLAPSABLE TRIGGER -->

      <!-- START - LEVEL 2 - COLLAPSABLE CONTENT -->
      <!-- Developer note: Remove class "in" for production. that just makes it expaned for demo -->
      <div class="collapse in" id="secondary-nav-collapse-1">

        <!-- START - LEVEL 2 - LIST -->
        <ul class="list-group mb-0 mt-2">
          <li class="list-group-item"><a href="#">Advanced Leadership Program</a></li>
          <li class="list-group-item"><a href="#">Mentor Tools</a></li>
          <li class="list-group-item"><a href="#">ALMA (Leads Management)</a></li>
          <li class="list-group-item"><a href="#">VIBE for Sales Leaders</a></li>
          <li class="list-group-item">

            <!-- START - LEVEL 3 - COLLAPSABLE TRIGGER -->
            <a data-toggle="collapse" data-target="#secondary-nav-collapse-2">
              Flexible Ordering Hub
              <span class="lt-icon lt-carat-down lt-medium"></span>
            </a>
            <!-- END - LEVEL 3 - COLLAPSABLE TRIGGER -->

            <!-- START - LEVEL 3 - COLLAPSABLE CONTENT -->
              <div class="collapse in" id="secondary-nav-collapse-2">

                <!-- START - LEVEL 3 - LIST -->
                <ul class="list-group mb-0 mt-2">
                  <li class="list-group-item"><a class="active" href="#">Lorem Ipsum Item 1</a></li>
                  <li class="list-group-item"><a href="#">Lorem Ipsum Item 2</a></li>
                </ul>
                <!-- END - LEVEL 3 - LIST -->

              </div>
            <!-- END - LEVEL 3 - COLLAPSABLE CONTENT -->

          </li>

          <li class="list-group-item"><a href="#">About Leadership</a></li>
          <li class="list-group-item"><a href="#">Training</a></li>
          <li class="list-group-item"><a href="#">Materials &amp; Resources</a></li>
          <li class="list-group-item"><a href="#">Conference Calls &amp; Webinars</a></li>

        </ul>
        <!-- END - LEVEL 2 - LIST -->

      </div>
      <!-- END - LEVEL 2 - COLLAPSABLE CONTENT -->

    </li>
    <!-- END - BASE LIST ITEM -->

  </ul>

</nav>
