{% include "_includes/groups/navigation/back-link.twig" with {
  label: "All Team Members",
  classes: 'flex-basis-100 mb-5'
} %}
<div class="d-flex align-items-center flex-basis-100 flex-basis-sm-auto">
  <span class="avatar avatar-md mr-4">L</span>
  <div>
    <h3 class="m-0">Linda Mitchell</h3>
    <p class="small m-0"><span>#1234567</span> <span>(Active)</span></p>
  </div>
</div>
<div class="ml-sm-auto mt-5 mt-sm-0">
  <form class="form-inline" role="form">
    <button type="submit" class="btn btn-default btn-soft">One</button>
    <button type="submit" class="btn btn-default btn-soft">Two</button>
    <button type="submit" class="btn btn-default btn-soft">Three</button>
  </form>
</div>
