{% include "_includes/groups/navigation/back-link.twig" with {
label: "All [Customers / Team Members]",
classes: 'flex-basis-100 mb-5'
} %}
<div class="d-flex align-items-center flex-basis-100 flex-basis-md-auto">
  <!-- DEV NOTE :: .avatar is TEAM MEMBER ONLY -
    Add or remove class 'd-none' depending on case
    The layout automatically works if this is hidden or shown
  -->
  <span class="avatar avatar-md mr-4 flex-shrink-0">L</span>
  <div>
    <h3 class="m-0 edit-contact-value">Erlinda Conley</h3>
    <!-- DEV NOTE ::
      The edit link is for CUSTOMERS ONLY
      This link toggles the edit state
      see src/js/demo/contacts-detail.js
    -->
    <span class="edit-contact-btn align-items-end ml-3">
      <span class="lt-icon lt-pen mr-2 text-muted"></span>
      <a href="#" class="link-muted small lh-1 font-weight-bold">Edit</a>
    </span>
    <!-- DEV NOTE ::
      The form below is for CUSTOMERS ONLY
      This form is shown with js when edit link is clicked
      see src/js/demo/contacts-detail.js
    -->
    <form class="form-inline edit-contact-form d-none">
      {% include '_includes/elements/forms/input.html.twig' with {
        type: 'text',
        theValue: 'Erlinda',
        classes: 'form-control--underline pl-0 large'
      } %}
      {% include '_includes/elements/forms/input.html.twig' with {
        type: 'text',
        theValue: 'Conley',
        classes: 'form-control--underline pl-0 ml-3 large'
      } %}
      <div class="btn-group mt-4 mt-md-0">
        <a href="javascript:void(0)" class="edit-contact-cancel btn btn-default btn-default-link-responsive btn-sm">Cancel</a>
        <a href="javascript:void(0)" class="edit-contact-save btn btn-primary btn-sm ml-4">Save</a>
      </div>
    </form>
    <!-- DEV NOTE :: customer status / number is TEAM MEMBER ONLY -
      Add or remove class 'd-none' depending on case
      The layout automatically works if this is hidden or shown
    -->
    <p class="contact-details small m-0">[Online Customer / #1234567 (Active)]</p>
  </div>
</div>
<div class="action-btns">
  <div class="affix-container">
    <form class="form-inline affix--mobile-top" role="form" data-spy="affix">
      <div class="ml-0 ml-lg-auto">
        <a class="btn btn-discourage btn-sm btn-soft mr-2 hidden-md hidden-lg">Call</a>
        <a class="btn btn-discourage btn-sm btn-soft mr-2 hidden-md hidden-lg">Text</a>
        <a data-toggle="modal" data-target="#modal-contact-detail-send-email" class="btn btn-discourage btn-sm btn-soft mr-2">Email</a>
        <a class="btn btn-discourage btn-sm btn-soft mr-2 hidden-xs hidden-sm">E-card</a>
        <div class="dropdown d-inline-block">
          <a class="btn btn-discourage btn-sm btn-soft dropdown-toggle" id="filterMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Actions<span class="lt-icon lt-carat-down lt-medium align-middle"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="filterMenu">
            <li><a href="#">[Action Item]</a></li>
            <li><a href="#">[Action Item]</a></li>
            <li><a href="#">[Action Item]</a></li>
          </ul>
        </div>
      </div>
    </form>
  </div>
</div>
