<ul class="list-inline list-inline--dividers mb-0 actions-secondary--list">
  <!-- E-MAIL -->
  <li>
    <span class="tooltip-disableable" data-toggle="tooltip" data-placement="top" title="[A helpful message]">
      <a data-toggle="modal" data-target="#modal-contacts-send-email" href="javascript:void(0)" class="link-item disableable link-disable" >
        <span class="lt-icon lt-mail lt-medium"></span>
        <span class="link-underline">Email</span>
      </a>
    </span>
  </li>
  <!-- E-CARD -->
  <li>
    <span class="tooltip-disableable" data-toggle="tooltip" data-placement="top" title="[A helpful message]">
      <a data-toggle="modal" data-target="#modal-contacts-send-ecard" href="javascript:void(0)" class="link-item disableable link-disable">
        <span class="lt-icon lt-airplane lt-medium align-middle"></span>
        <span class="link-underline">E-card</span>
      </a>
    </span>
  </li>

  {% if contactType != 'group-members' %}
  <!-- START - ALL EXCEPT GROUP MEMBERS -->
  <!-- ADD TO GROUP -->
  <li>
    <span class="tooltip-disableable" data-toggle="tooltip" data-placement="top" title="[A helpful message]">
      <a data-toggle="modal" data-target="#modal-contacts-groups-add-to" href="javascript:void(0)" class="link-item disableable link-disable">
        <span class="lt-icon lt-expand-circle lt-medium align-middle"></span>
        <span class="link-underline">Add to group</span>
      </a>
    </span>
  </li>
  <!-- END - ALL EXCEPT GROUP MEMBERS -->
  {% endif %}

  {% if contactType == 'group-members' %}
  <!-- START - GROUP MEMBERS ONLY -->
  <!-- REMOVE -->
  <li>
    <span class="tooltip-disableable" data-toggle="tooltip" data-placement="top" title="[A helpful message]">
      <a data-toggle="modal" data-target="#blank-modal-either-or-error" href="javascript:void(0)" class="link-item disableable link-disable">
        <span class="lt-icon lt-trash lt-medium align-middle"></span>
        <span class="link-underline">Remove</span>
      </a>
    </span>
  </li>
  <!-- END - GROUP MEMBERS ONLY -->
  {% endif %}


</ul>




