<ul class="list-inline list-inline--dividers mb-0 actions-secondary--list">
  <!-- E-MAIL -->
  <li>
    <span class="tooltip-disableable" data-toggle="tooltip" data-placement="top" title="Select {{ contactTooltip }} you want to send an email.">
      <a data-toggle="modal" data-target="#modal-contacts-send-email" href="javascript:void(0)" class="link-item disableable link-disable link-underline">Email</a>
    </span>
  </li>
  <!-- E-CARD -->
  <li>
    <span class="tooltip-disableable" data-toggle="tooltip" data-placement="top" title="Select {{ contactTooltip }} you want to send an eCard.">
      <a data-toggle="modal" data-target="#modal-contacts-send-ecard" href="javascript:void(0)" class="link-item disableable link-disable link-underline">eCard</a>
    </span>
  </li>

  {% if isGroupMemberList != 'yes' %}
  <!-- START - ALL EXCEPT GROUP MEMBERS LIST -->
  <!-- ADD TO GROUP -->
  <li>
    <span class="tooltip-disableable" data-toggle="tooltip" data-placement="top" title="Select {{ contactTooltip }} you want to add to a group.">
      <a data-toggle="modal" data-target="#modal-contacts-groups-add-to" href="javascript:void(0)" class="link-item disableable link-disable link-underline">Add to Group</a>
    </span>
  </li>
  <!-- END - ALL EXCEPT GROUP MEMBERS LIST -->
  {% endif %}

  {% if isGroupMemberList == 'yes' %}
  <!-- START - GROUP MEMBERS LIST ONLY -->
  <!-- REMOVE -->
  <li>
    <span class="tooltip-disableable" data-toggle="tooltip" data-placement="top" title="Select {{ contactTooltip }} you want to remove.">
      <a data-toggle="modal" data-target="#blank-modal-either-or-error" href="javascript:void(0)" class="link-item disableable link-disable link-underline">Remove</a>
    </span>
  </li>
  <!-- END - GROUP MEMBERS LIST ONLY -->
  {% endif %}


</ul>




