{% include "_includes/groups/navigation/back-link.twig" with {
label: "All [Customers / Team Members]",
classes: 'flex-basis-100 mb-5'
} %}
<div class="d-flex align-items-center flex-basis-100 flex-basis-sm-auto">
  <span class="avatar avatar-md mr-4 flex-shrink-0">L</span>
  <div>
    <h3 class="m-0 d-inline">[Customer / Team Member Name]</h3>
    <span class="d-inline-flex align-items-center ml-4">
      <span class="lt-icon lt-pen lt-medium mr-2"></span>
      <a href="#">Edit</a>
    </span>
    <form class="form-inline">
      {% include '_includes/elements/forms/input.html.twig' with {
        type: 'text',
        theValue: 'Linda'
      } %}
      {% include '_includes/elements/forms/input.html.twig' with {
        type: 'text',
        theValue: 'Mitchell'
      } %}
    </form>
    <p class="small m-0">[Online Customer / #1234567 (Active)]</p>
  </div>
</div>
<div class="ml-lg-auto mt-5 mt-lg-0">
  <div class="affix-container">
    <form class="form-inline affix--mobile-top" role="form" data-spy="affix">
      {% include '_includes/modules/contacts/conacts-header-buttons.html.twig' %}
    </form>
  </div>
</div>
