<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified">
  <li class="active ml-4"><a href="#pd-products" data-toggle="tab">Products (8)</a></li>
  <li><a href="#pd-incentives" data-toggle="tab">Incentives <span class="badge">2</span></a></li>
</ul>

