<!-- Tab panes -->
<section class="tab-content">
  <section class="tab-pane active" id="pd-products">
    {% include components.modules.checkout.review.order.tabPane.products %}
  </section>
  <section class="tab-pane" id="pd-incentives">
    {% include components.modules.checkout.review.order.tabPane.incentives %}
  </section>
</section>


