<div class="row d-flex flex-wrap font-size-base">
  <div class="col-xs-12 col-sm-6 p-0 mb-2 mb-md-0 mr-auto">
    <span class="lt-icon lt-icon lt-expand-circle lt-large"></span>
    <span class="lt-icon lt-icon lt-collapse-circle lt-large"></span>
    <span>{% if hasErrors %}<span class="lt-icon lt-warning-fill lt-medium text-danger align-middle mr-2"></span>{% endif %}{{ name }}</span>
  </div>
  <span class="col-xs-4 col-sm-3 text-muted p-2">{{ numOrders }}</span>
  <span class="col-xs-4 col-sm-3 text-muted p-2">{{ totalItems }}</span>
</div>
