<div class="row brochure-container">
    <a class="" data-toggle="modal" data-target="#product-list-modal" data-target-desktop="#quick-shop-modal">
        <img src="./images/fpo/brochures/dummy_brochure.jpg" class="img-responsive hidden-xs" alt="">
        <img src="./images/fpo/brochures/dummy_brochure_mobile.jpg" class="img-responsive visible-xs-block" alt="">
    </a>
</div>
