<div class="row">
  <div class="brochure-item col-xs-6 col-sm-3 p-4">
    <a href="javascript:void(0)">
      <div class="brochure-img" style="background-image: url(./images/fpo/brochures/01.jpg);"></div>
      <div class="text-center mt-3">Brochure Title</div>
    </a>
  </div>
  <div class="brochure-item col-xs-6 col-sm-3 p-4">
    <a href="javascript:void(0)">
      <div class="brochure-img" style="background-image: url(./images/fpo/brochures/02.jpg);"></div>
      <div class="text-center mt-3">Brochure Title</div>
    </a>
  </div>
  <div class="brochure-item col-xs-6 col-sm-3 p-4">
    <a href="javascript:void(0)">
      <div class="brochure-img" style="background-image: url(./images/fpo/brochures/03.jpg);"></div>
      <div class="text-center mt-3">Brochure Title</div>
    </a>
  </div>
  <div class="brochure-item col-xs-6 col-sm-3 p-4">
    <a href="javascript:void(0)">
      <div class="brochure-img" style="background-image: url(./images/fpo/brochures/04.jpg);"></div>
      <div class="text-center mt-3">Brochure Title</div>
    </a>
  </div>
</div>

<div class="row">
  <div class="brochure-item col-xs-6 col-sm-3 p-4">
    <a href="javascript:void(0)">
      <div class="brochure-img" style="background-image: url(./images/fpo/brochures/04.jpg);"></div>
      <div class="text-center mt-3">Brochure Title</div>
    </a>
  </div>
  <div class="brochure-item col-xs-6 col-sm-3 p-4">
    <a href="javascript:void(0)">
      <div class="brochure-img" style="background-image: url(./images/fpo/brochures/03.jpg);"></div>
      <div class="text-center mt-3">Brochure Title</div>
    </a>
  </div>
  <div class="brochure-item col-xs-6 col-sm-3 p-4">
    <a href="javascript:void(0)">
      <div class="brochure-img" style="background-image: url(./images/fpo/brochures/02.jpg);"></div>
      <div class="text-center mt-3">Brochure Title</div>
    </a>
  </div>
  <div class="brochure-item col-xs-6 col-sm-3 p-4">
    <a href="javascript:void(0)">
      <div class="brochure-img" style="background-image: url(./images/fpo/brochures/01.jpg);"></div>
      <div class="text-center mt-3">Brochure Title</div>
    </a>
  </div>
</div>
