

<div class="row">
  {% for i in 1..4 %}
    <div class="brochure-item col-xs-6 col-sm-3 p-4">
      <a href="javascript:void(0)">
        <img src="./images/fpo/brochures/0{{ i }}.jpg" class="img-responsive brochure-img-alt">
        <div class="text-center mt-3">Brochure Title</div>
      </a>
    </div>
  {% endfor %}
</div>

<div class="row">
  {% for i in 1..4 %}
    <div class="brochure-item col-xs-6 col-sm-3 p-4">
      <a href="javascript:void(0)">
        <img src="./images/fpo/brochures/0{{ i }}.jpg" class="img-responsive brochure-img-alt">
        <div class="text-center mt-3">Brochure Title</div>
      </a>
    </div>
  {% endfor %}
</div>
