<div class="row header--has-nav">
  <div class="col-xs-12 col-sm-6">
    <h3 class="mb-5 header-title">Virtual Brochures</h3>
    <a href="javascript:void(0);" class="brochures-back-btn mb-5 hidden">
      <span class="lt-icon lt-left"></span>
      All Brochures</a>
  </div>

  <div class="col-xs-12 col-sm-6 lg-right">
    <form class="form-inline mb-5">
      <div class="form-group has-feedback">
        <label>Select Campaign</label>

        <div class="form-group has-feedback">
            <div class="dropdown inner-addon right-addon">

            <span class="lt-icon lt-triangle-down form-control-feedback"></span>
              <select class="input input-sm form-control form-inline" data-toggle="dropdown">


              <option class="input input-sm d-inline-block mr-5">Current - CO1</option>
              <option class="input input-sm d-inline-block mr-5">Something Else</option>
                <option class="input input-sm d-inline-block mr-5">And Another</option>

              </select>

              

            </div>
          </div>
      </div>

    </form>
  </div>
</div>



<hr class="border-bottom mt-0 hidden-xs">
