<div class="row header--has-nav">
  <div class="col-xs-12 col-sm-6">
    <h3 class="mb-5 header-title">Virtual Brochures</h3>
    <a href="javascript:void(0);" class="brochures-back-btn mb-5 hidden">
      <span class="lt-icon lt-left"></span>
      All Brochures</a>
  </div>

  <div class="col-xs-12 col-sm-6 lg-right">
    <form class="form-inline mb-5">
      <div class="form-group has-feedback">
        <label>Select Campaign</label>

        <div class="form-group has-feedback">
          <select class="input-sm form-control form-inline">
            <option>Current - CO1</option>
            <option>Something Else</option>
            <option>And Another</option>
          </select>
          <span class="lt-icon lt-triangle-down form-control-feedback"></span>
        </div>
      </div>

    </form>
  </div>
</div>

<hr class="border-bottom mt-0 hidden-xs">
