<!--
Parameters:
  amount (dollar amount '$0.00')
  type (name of payment type 'VISA ending in 1234')
  icon (path to payment icon '/images/icons/payment-avoncredit.svg')
  subhead (secondary info that appears under the payment type '$85 available' or 'Transaction ID: 12345')
-->

<div class="clearfix my-2 border-bottom py-3">
  {% if icon %}
    <div class="pull-left mr-4">
      <img src="{{ icon }}">
    </div>
  {% endif %}
  <div class="pull-left">
    <div>{{ type }}</div>
    {% if subhead %}<div class="text-muted small">{{ subhead }}</div>{% endif %}
  </div>
  <div class="pull-right text-right">
    {% if amount %}
      <div>{{ amount }}</div>
      <div class="small"><a class="underline" href="#">Edit</a> | <a class="underline" href="#">Remove</a></div>
    {% endif %}
  </div>
</div>
