{% extends "_layouts/modal.html.twig" %}
{% if not modalId %}
  {% set modalId = 'modal-routing-number' %}
{% endif %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalHeader %}

  <button type="button" class="close link-primary pull-left" data-toggle="modal" data-target="#modal-sign-up-with-an-account" data-direction="back" aria-hidden="true">
    <span class="sr-only">Go back</span>
    <span class="lt-icon lt-left lt-large py-1"></span>
  </button>

  <h4 class="modal-title text-center">Bank Routing Number</h4>

{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalBody %}

  <div class="py-3">
    <p class="text-center mb-5">Your routing number is the 9 digit number found on the bottom of your check or savings deposit slip. For verification, contact your bank.</p>
    <img src="images/diagrams/check-routing-numbers-desktop.png" alt="" class="img-responsive m-auto hidden-xs" width="450">
    <img src="images/diagrams/check-routing-numbers.png" alt="" class="img-responsive m-auto visible-xs" width="350">
    <div class="my-5 py-4 px-5 visible-xs">
      <p class="lead mb-4"><strong class="text-primary mr-4">1</strong> Routing Number</p>
      <p class="lead mb-4"><strong class="text-primary mr-4">2</strong> Account Number</p>
      <p class="lead mb-4"><strong class="text-primary mr-4">3</strong> Check Number</p>
    </div>
  </div>

{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalFooter #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalFooter %}
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-sign-up-with-an-account" data-direction="back" aria-hidden="true">Ok</button>
{% endblock %}
