{% extends "_layouts/modal.html.twig" %}
{% if not modalId %}
  {% set modalId = 'modal-select-an-account' %}
{% endif %}

{% set modalClasses = 'modal-either-or' %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalHeader %}

  <button type="button" class="close link-muted" data-dismiss="modal" aria-hidden="true">
    <span class="sr-only">Close modal</span>
    <span class="lt-icon lt-close lt-large py-1"></span>
  </button>

  <h4 class="modal-title text-center">Select an account</h4>

{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalBody %}


   <p class="mb-5 text-center">Add a bank account to complete sign up.</p>

  {% include components.elements.forms.radio with {
    id: 'select-account-modal-existing-1',
    name: 'select-account',
    classes: 'my-4',
    theValue: 'accont 1',
    theLabel: '<div class="d-inline">Use BOFA</div> <div class="d-inline">**********3123</div> <div class="d-inline">Savings</div>',
    checked: true
  } %}

  {% include components.elements.forms.radio with {
    id: 'select-account-modal-add-new',
    name: 'select-account',
    classes: 'my-4',
    theValue: 'account 2',
    theLabel: 'Add a new Account',
    checked: false
  } %}

  <!-- START - ADD NEW ACCOUNT -->
  <div id="select-account-modal-add-new-details" class="d-none">

    <p class="my-5 text-center">To enroll, please fill out the fields below.</p>

    <div class="form-group">
      <label class="control-label">Bank Name</label>
      {% include "_includes/elements/forms/input.html.twig" with {
        type : 'text'
      } %}
    </div>

    <div class="form-group">
      <label class="control-label">Name on Account</label>
      {% include "_includes/elements/forms/input.html.twig" with {
        type : 'text'
      } %}
    </div>

    <div class="form-group">
      <label class="control-label">Bank Account Number
        <span class="lt-icon lt-tip lt-medium align-middle" data-toggle="modal" data-target="#modal-routing-number" aria-hidden="true"></span>
      </label>
      {% include "_includes/elements/forms/input.html.twig" with {
        type : 'text'
      } %}
    </div>

    <div class="form-group">
      <label class="control-label">Bank Routing Number
        <span class="lt-icon lt-tip lt-medium align-middle" data-toggle="modal" data-target="#modal-routing-number" aria-hidden="true"></span>
      </label>
      {% include "_includes/elements/forms/input.html.twig" with {
        type : 'text'
      } %}
    </div>

    <!-- START - ACCOUNT TYPE RADIOS -->
    <div class="form-group w-100">
      <form class="form-inline" role="form">
        <h6 class="pt-2">Account Type</h6>
        {% include components.elements.forms.radio with {
          id: 'account-type-checking',
          name: 'account-type',
          classes: 'radio-inline pl-0',
          theLabel: 'Checking',
          checked: true
        } %}

        {% include components.elements.forms.radio with {
          id: 'account-type-savings',
          name: 'account-type',
          classes: 'radio-inline',
          theLabel: 'Savings',
          checked: false
        } %}
      </form>
    </div>
    <!-- END - ACCOUNT TYPE RADIOS -->

    <div class="form-group">
      <label class="control-label">Last 4 digits of SSN</label>
      {% include "_includes/elements/forms/input.html.twig" with {
        type: 'password',
        maxlength: '4'
      } %}
    </div>

  </div>
  <!-- END - ADD NEW ACCOUNT -->



{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalFooter #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalFooter %}

  <div class="row">
    <div class="col-xs-12 col-sm-6 my-2">
      <button type="button" class="btn btn-default btn-block" data-dismiss="modal" aria-hidden="true">No</button>
    </div>
    <div class="col-xs-12 col-sm-6 my-2">
      <button type="button" class="btn btn-primary btn-block">Yes</button>
    </div>
  </div><!-- /.row -->



{% endblock %}
