.demo-datepicker-from-angular {
  small {
    color: inherit;
  }

  tr:last-child th {
    padding-top: 10px;
  }

  .btn-group {
    display: block;
    width: 100%;

    > .btn {
      float: none;
    }

    &.pull-left,
    + .pull-right {
      float: none !important;
    }
  }

  .btn-danger,
  .btn-info,
  .btn-success {
    display: block;
    width: 100%;
    margin: 2px !important;
    padding: 11px 10px !important;
  }

  .btn-group {
    .btn-danger,
    .btn-info {
      display: none;
    }
  }

  .dropdown-menu {
    left: inherit;
    right: 0;
  }

  // .btn-danger,
  // .btn-info,
  // .btn-success,
  // .btn-danger:hover,
  // .btn-info:hover,
  // .btn-success:hover,
  // .btn-danger.active,
  // .btn-info.active,
  // .btn-success.active {
  //   background-color: $btn-primary-bg !important;
  //   border-color: transparent !important;
  //   color: #fff !important;
  // }

  .glyphicon-chevron-left,
  .glyphicon-chevron-right {
    width: 20px;
    display: block;
    font-style: initial;

    &:before {
      @extend [class^="lt-"];

      font-size: 28px;
      line-height: 24px;
    }
  }

  .glyphicon-chevron-left {
    &:before {
      @extend .lt-carat-left:before;
    }
  }

  .glyphicon-chevron-right {
    margin-right: 5px;

    &:before {
      @extend .lt-carat-right:before;
    }
  }

  .ng-hide {
    display: none;
  }

  .btn-default {
    // On month view, the active classes are a little different
    // &:not(.active) {
    //   .text-info.text-info.text-info.text-info {
    //     // [ng-switch-when="month"] & {
    //     color: $btn-default-color !important;

    //     // }

    //   }
    // }

    // &.disabled,
    // &[disabled],
    // fieldset[disabled] & {
    //   color: $btn-default-color;
    //   cursor: pointer;

    //   &:hover,
    //   &:focus,
    //   &.focus {
    //     border-color: transparent;
    //     color: $btn-default-hover-color;
    //   }
    // }

  }

  @mixin demo-datepicker-btn-default {
    background-color: #fff !important;
    color: $btn-default-color !important;
  }

  @mixin demo-datepicker-btn-default-hover {
    background-color: $gray-lighter !important;

    // color: $btn-default-hover-color !important;
  }

  @mixin demo-datepicker-btn-today {
    border-color: $gray-light !important;
    color: $btn-default-color !important;
  }

  @mixin demo-datepicker-btn-active {
    background-color: $btn-primary-bg !important;
    color: #fff !important;
  }

  @mixin demo-datepicker-btn-active-hover {
    background-color: $btn-default-hover-color !important;
    color: #fff !important;
  }

  [ng-switch-when="month"] {
    margin-left: 5px;
    margin-right: 5px;
  }

  td {
    padding-left: 2px;
    padding-right: 2px;
  }

  thead {
    th {
      .btn {
        &.btn-default {
          color: #000 !important;
        }
      }

      &[colspan="5"] {
        .btn {
          &.btn-default {
            // Middle button in header
            cursor: default;
          }
        }
      }
    }
  }

  tbody {
    .btn {
      padding: 0 !important;
      margin: 0 !important;

      // Make the span define size of box so we can use a border on it later
      > span {
        padding: 5px 10px;
        border: 1px solid transparent;
        display: block;
      }

      &.btn-default:not(.active) {
        &:hover,
        &:focus,
        &.focus {
          @include demo-datepicker-btn-default-hover;
        }
      }
    }
  }

  .btn {
    box-shadow: none;
    border-color: transparent !important;
    cursor: pointer;
    border-width: 0;
    padding: 1px;

    // Use .btn-default here to override bootstrap style
    &.btn-default {
      @include demo-datepicker-btn-default;

      &:not(.active) {
        // Future days
        &.disabled,
        &[disabled],
        fieldset[disabled] & {
          color: $gray-light !important;

          &:hover,
          &:focus,
          &.focus {
            color: $gray-light !important;
            cursor: default;
            background-color: #fff !important;
          }
        }
      }
    }

    // If today is NOT selected
    &:not(.active) {
      .text-info {
        @include demo-datepicker-btn-today;
      }
    }

    // Selected days
    &.active {
      @include demo-datepicker-btn-active;

      // If today IS selected
      .text-info {
        color: #fff !important;
      }

      &:hover,
      &:focus,
      &.focus {
        @include demo-datepicker-btn-active-hover;
      }
    }
  }

  // Big buttons
  .btn-danger,
  .btn-success {
    @include demo-datepicker-btn-active;

    &:hover,
    &:focus,
    &.focus {
      @include demo-datepicker-btn-active-hover;
    }
  }

  display: block;
  top: 75px;

  // left: 0px;
}
