<!-- START - SINGLE BOX -->
<div class="box-group--item box-emphasize">

  <!-- START - FPO CONTENT -->
  <h3 class="m-0" style="text-align: center; padding-top: 80px;">{{ label }}</h3>
  <!-- END - FPO CONTENT -->

</div><!-- /.box-group-item -->
<!-- END - SINGLE BOX -->