
{# "itemContainerType" options: carouselOnly, boxesOnly, carouselBoxesCombo #}
{% if itemContainerType == 'carouselOnly' %}
  {% set comment = 'SLIDES' %}
  {% set containerClasses = 'carousel-inner' %}
{% elseif itemContainerType == 'carouselBoxesCombo' %}
  {% set comment = 'SLIDES *AND* BOX PRIMARY CONTAINER' %}
  {% set containerClasses = 'carousel-inner box-group--primary' %}
{% else %}
  {% set comment = 'BOX PRIMARY CONTAINER' %}
  {% set containerClasses = 'box-group--primary' %}
{% endif %}

<!-- START - {{ comment }}  -->
<div class="{{ containerClasses }}">
  {% for item in items %}
    {% include "_includes/groups/boxes/primary/item.html.twig" with { 
      src: item.imgPath, 
      isFirstItem: loop.first, 
      loopIndex: loop.index, 
      hasToolbar: hasToolbar 
    } %}
  {% endfor %}
</div>
<!-- END - {{ comment }} -->


