
{# "itemContainerType" options: carouselOnly, boxesOnly, carouselBoxesCombo #}
{% if itemContainerType == 'carouselOnly' %}
  {% set comment = 'SLIDES' %}
  {% set containerClasses = 'carousel-inner' %}
{% elseif itemContainerType == 'carouselBoxesCombo' %}
  {% set comment = 'SLIDES *AND* BOX PRIMARY CONTAINER' %}
  {% set containerClasses = 'carousel-inner box-group--primary' %}
{% else %}
  {% set comment = 'BOX PRIMARY CONTAINER' %}
  {% set containerClasses = 'box-group--primary' %}
{% endif %}

{# if we're dealing with widgets, we need a class for height styles #}
{% if isWidget %}
  {% set containerClasses = containerClasses ~ ' box-group--widgets' %}
{% endif %}


<!-- START - {{ comment }}  -->
<div class="{{ containerClasses }}">
  {% for item in items %}

    {% include "_includes/groups/boxes/primary/item.html.twig" with {
      fpoImgSrc:    item.fpoImgSrc,
      imgSrc:       item.imgPath,
      widgetPath:   item.widgetPath,
      isFirstItem:  loop.first,
      loopIndex:    loop.index,
      hasToolbar:   hasToolbar,
      itemContainerType: itemContainerType
    } %}
  {% endfor %}
</div>
<!-- END - {{ comment }} -->
