<!-- START - SINGLE BOX -->
<div class="item box-group--item box-emphasize">
  <div class="item-content">
    
    <!-- START - FPO CONTENT -->
    <img src="images/fpo/home/{{ label }}.png" alt="FPO image">
    <!-- END - FPO CONTENT -->

  </div>
</div><!-- /.box-group-item -->
<!-- END - SINGLE BOX -->