{% if active %}
  {% set classes = ' active ' %}
{% endif %}
<!-- START - SINGLE SLIDE -->
<div class="item  {{ classes }}">
  <div class="box-group--item box-emphasize">

    <div class="change-widget clearfix px-3 py-2">
      <span class="badge pull-left">{{ loopIndex }}</span>
      <a href="javascript:void(0)" class="pull-right underline">Change</a>
    </div>


    <div class="item-content">
      <!-- START - FPO CONTENT -->
      <img src="{{ src }}" alt="FPO image">
      <!-- END - FPO CONTENT -->

    </div>
  </div>
</div><!-- /.box-group-item -->
<!-- END - SINGLE SLIDE -->