<!-- START - ACCOUNT STATEMENT SEARCH -->

<h3 class="h2">My Statements</h3>
<p class="mt-4">Click "Search" below to see your most recent transactions. You can also choose a custom date range.</p>

<!-- search form -->
<form class="form-inline my-5" role="form">

  <!-- start date -->
  <div class="form-group">
    <label class="pb-1">Start Date</label><br/>
    <div class="inner-addon right-addon">
      <i class="lt-icon lt-calendar"></i>
      <input type="text" class="form-control" placeholder="11/17/2017">
    </div>
  </div>

  <!-- end date -->
  <div class="form-group">
    <label class="pb-1">End Date</label><br/>
    <div class="inner-addon right-addon">
      <i class="lt-icon lt-calendar"></i>
      <input type="text" class="form-control" placeholder="02/15/2018">


      

      {% include '_includes/groups/forms/datepicker-rendered-from-you-avon.html.twig'  %}
    </div>
  </div>

  <!-- transaction type -->
  <div class="form-group">
    <label class="pb-1">Transaction Type</label>
    <div class="clearfix">
      {% include components.elements.forms.select with {
        items: [
          {
            'label': 'All Transactions'
          }, {
            'label': 'Transaction Type I'
          }, {
            'label': 'Transaction Type II'
          }
        ]
      } %}
    </div>
  </div>

  <!-- search button -->
  <button type="submit" class="btn btn-primary button-full-width-mobile btn-bottom-align">Search</button>
</form>

<!-- end search form -->

<!-- END - ACCOUNT STATEMENT SEARCH -->
