<!-- START - ACCOUNT STATEMENT SEARCH -->

<h3 class="h2">My Statements</h3>
<p class="mt-4">Click "Search" below to see your most recent transactions. You can also choose a custom date range.</p>

<!-- search form -->
<form class="form-inline my-5" role="form">

  <!-- start date -->
  <div class="form-group">
    <label class="pb-1">Start Date</label><br/>
    <div class="inner-addon right-addon">
      <i class="lt-icon lt-calendar"></i>
      <input type="text" class="form-control" placeholder="11/17/2017">
    </div>
  </div>

  <!-- end date -->
  <div class="form-group">
    <label class="pb-1">End Date</label><br/>
    <div class="inner-addon right-addon">
      <i class="lt-icon lt-calendar"></i>
      <input type="text" class="form-control" placeholder="02/15/2018">
    </div>
  </div>

  <!-- transaction type -->
  <div class="form-group">
    <label>Transaction Type</label>
    <div class="clearfix">
      <form class="form-inline">
      <div class="form-group has-feedback">
        <div class="dropdown inner-addon right-addon">
          <span class="lt-icon lt-triangle-down form-control-feedback"></span>
          <select class="input form-control form-inline" data-toggle="dropdown">
            <option class="input d-inline-block mr-5">All Transactions</option>
            <option class="input d-inline-block mr-5">Transaction Type I</option>
            <option class="input d-inline-block mr-5">Transaction Type II</option>
          </select>
        </div>
      </div>
      <!-- search button -->
      <button type="submit" class="btn btn-primary button-full-width-mobile btn-bottom-align">Search</button>
      </form>
    </div>
  </div>
<!-- end search form -->

<!-- END - ACCOUNT STATEMENT SEARCH -->
