<!-- START - ACCOUNT STATEMENT SEARCH RESULTS -->

<div class="row">
  <div class="table-responsive">
      <table class="table table-striped table-bordered-outside-only">
        <thead>
          <tr>
            <th>DATE</th>
            <th>DESCRIPTION</th>
            <th>CHARGES</th>
            <th>CREDITS</th>
            <th>BALANCE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>01/19/2018</td>
            <td>Online Appointment/Starter Kit</td>
            <td></td>
            <td>$25.00</td>
            <td>-$11,978.12</td>
          </tr>
          <tr>
            <td>01/19/2018</td>
            <td>Credit Card Payment</td>
            <td></td>
            <td>$25.00</td>
            <td>-$11,978.12</td>
          </tr>
          <tr>
            <td>01/19/2018</td>
            <td>Charge - Separate Shipment W/O Inv</td>
            <td>$21.39</td>
            <td></td>
            <td>-$11,978.12</td>
          </tr>
          <tr>
            <td>01/19/2018</td>
            <td>Credit Card Payment</td>
            <td></td>
            <td>$25.00</td>
            <td>-$11,978.12</td>
          </tr>
          <tr>
            <td>01/19/2018</td>
            <td>Online Appointment/Starter Kit</td>
            <td></td>
            <td>$25.00</td>
            <td>-$11,978.12</td>
          </tr>
          <tr>
            <td>01/19/2018</td>
            <td>Credit Card Payment</td>
            <td></td>
            <td>$25.00</td>
            <td>-$11,978.12</td>
          </tr>
          <tr>
            <td>01/19/2018</td>
            <td>Charge - Separate Shipment W/O Inv</td>
            <td>$21.39</td>
            <td></td>
            <td>-$11,978.12</td>
          </tr>
          <tr>
            <td>01/19/2018</td>
            <td>Credit Card Payment</td>
            <td></td>
            <td>$25.00</td>
            <td>-$11,978.12</td>
          </tr>
        </tbody>
      </table>
  </div>
</div>


<!-- END - ACCOUNT STATEMENT SEARCH RESULTS-->
