<!-- START - ACCOUNT STATEMENT BALANCES -->

<h2>Account Balance</h2>
<p class="my-4">As of 11:12 AM EST</p>
<hr>


<div class="row mb-4">
  <div class="col-xs-5 col-sm-4 col-md-3">
    <h6>Amount Due</h6>
    <h2 class="mt-2 text-muted">$12.34</h2>
  </div>
  <div class="col-xs-6 col-sm-4 col-md-3">
    <h6>Balance</h6>
    <h2 class="mt-2 text-muted">-$11,978.12</h2>
  </div>
</div><!-- /.row -->


<button class="btn btn-primary mt-3 mb-4 button-full-width-mobile">Pay Avon</button>
<p class="pt-3">
  <span class="h6">Last payment:</span>
  <span>$21.22 on Dec 22, 2017</span>
</p>
<hr>

<!-- END - ACCOUNT STATEMENT BALANCES -->
