<!-- START - ACCOUNT STATEMENT BALANCES -->

<h2 class="pb-3">Account Balance</h2>
<h6 class="text-capitalize normal pb-3">As of 11:12 AM EST</h6>
<hr class="mb-0 visible-sm">
<div class="mt-0">
  <ul class="list-inline mt-5 mb-5">
    <li class="font-weight-bold mr-5">AMOUNT DUE<br/>
      <span class="h2 text-muted pt-4">$12.34</span></li>
    <li class="font-weight-bold ml-5">BALANCE<br/>
      <span class="h2 text-muted mt-4">-$11,978.12</span></li>
  </ul>
</div>
<button class="btn btn-primary btn-lg mt-0 button-full-width-mobile">Pay Avon</button>
<p class="normal mt-4 pt-2 mb-0 pb-2">
  <span class="h6">Last payment:</span>
  $21.22 on Dec 22, 2017</p>
<hr>

<!-- END - ACCOUNT STATEMENT BALANCES -->
