<section class="row hidden-xs hidden-sm">

  <nav class="navbar navbar-default border-0">
    <ul class="nav nav-pills pull-right">
      <p class="navbar-text">Sort By:
      </p>

      <!-- START - SORT DROPDOWN -->
      {% include "_includes/modules/product/list/menu-items/sort-dropdown.html.twig" %}
      <!-- END - SORT DROPDOWN -->

    </ul>
  </nav>

</section>
