<section class="container hidden-md hidden-lg">
  <div class="row">

    <nav class="navbar navbar-default border-0 px-0">
      <ul class="nav nav-pills">

        <!-- START - FILTER DROPDOWN -->
        {% include "_includes/modules/product/list/menu-items/filter-dropdown.html.twig" %}
        <!-- END - FILTER DROPDOWN -->

        <!-- START - SORT DROPDOWN -->
        {% include "_includes/modules/product/list/menu-items/sort-dropdown.html.twig" %}
        <!-- END - SORT DROPDOWN -->

      </ul>
    </nav>

  </div>
</section>
