{# <div>
  <h3>{{ title }}</h3>
  {% if showResultsInfo %}
    <h4><small>1-10 of 361 results</small></h4>
  {% endif %}
</div>

 #}

  <h2 class="d-inline-block my-0">{{ title }}</h2>
  {% if showResultsInfo %}
    <h4><small>1-10 of 361 results</small></h4>
  {% endif %}
