{# <div>
  <h3>{{ title }}</h3>
  {% if showResultsInfo %}
    <h4><small>1-10 of 361 results</small></h4>
  {% endif %}
</div>

 #}

{% if isSearch %}
  <h2 class="d-inline-block my-0">{{ title }}</h3>
{% else %}
  <h2 class="d-inline-block my-0">{{ title }}</h2>
{% endif %}
{% if showResultsInfo %}
  <h4 class="mb-0">
    <small>1-10 of 361 results</small>
  </h4>
{% endif %}
