
<div class="checkbox">
  <label>
    {% include components.elements.forms.checkbox with {
      'id': id,
      'name': name,
      'theValue': theValue,
      'classes': classes,
      'classesLabel': classesLabel,
      'checked': checked,
      'required': required
    } %}
    {{ label }}
  </label>
</div>
