
<div class="checkbox">
  <label>
    {% include components.elements.forms.checkbox with {'id': id, 'theValue': theValue, 'classes': classes, 'checked': checked} %}
    
    {{ label }}
  </label>
</div>