<!-- START - Rendered calendar/datepicker taken from https://youravon.com/avon-us/us-home/my-account/account-summary-earnings/account-balance.html -->
<div class="demo-datepicker-from-angular {{ class }}">




  <ul class="dropdown-menu ng-valid ng-valid-date ng-valid-date-disabled" ng-style="{display: (isOpen &amp;&amp; 'block') || 'none', top: position.top+'px', left: position.left+'px'}" ng-keydown="keydown($event)" datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection()" aria-invalid="false" style="display: block; top: 45px; left: 0px;">
    <li ng-transclude=""><div ng-switch="datepickerMode" role="application" ng-keydown="keydown($event)" datepicker="" datepicker-config="MM/dd/yyyy" format="MM/dd/yyyy" starting-day="1" show-weeks="false" min-date="watchData.minDate" max-date="watchData.maxDate" class="ng-isolate-scope">
    <!-- ngSwitchWhen: day -->
    <!-- ngSwitchWhen: month --><table role="grid" aria-labelledby="datepicker-11-6776-title" aria-activedescendant="datepicker-11-6776-3" ng-switch-when="month" tabindex="0">
    <thead>
      <tr>
        <th><button type="button" class="btn btn-default btn-sm pull-left" ng-click="move(-1)" tabindex="-1"><i class="glyphicon glyphicon-chevron-left"></i></button></th>
        <th><button id="datepicker-11-6776-title" role="heading" aria-live="assertive" aria-atomic="true" type="button" class="btn btn-default btn-sm" ng-click="toggleMode()" tabindex="-1" style="width:100%;"><strong class="ng-binding">2018</strong></button></th>
        <th><button type="button" class="btn btn-default btn-sm pull-right" ng-click="move(1)" tabindex="-1"><i class="glyphicon glyphicon-chevron-right"></i></button></th>
      </tr>
    </thead>
    <tbody>
      <!-- ngRepeat: row in rows track by $index --><tr ng-repeat="row in rows track by $index" class="ng-scope">
        <!-- ngRepeat: dt in row track by dt.date --><td ng-repeat="dt in row track by dt.date" class="text-center ng-scope" role="gridcell" id="datepicker-11-6776-0" aria-disabled="false">
          <button type="button" style="width:100%;" class="btn btn-default" ng-class="{'btn-info': dt.selected, active: isActive(dt)}" ng-click="select(dt.date)" ng-disabled="dt.disabled" tabindex="-1"><span ng-class="{'text-info': dt.current}" class="ng-binding">January</span></button>
        </td><!-- end ngRepeat: dt in row track by dt.date --><td ng-repeat="dt in row track by dt.date" class="text-center ng-scope" role="gridcell" id="datepicker-11-6776-1" aria-disabled="false">
          <button type="button" style="width:100%;" class="btn btn-default" ng-class="{'btn-info': dt.selected, active: isActive(dt)}" ng-click="select(dt.date)" ng-disabled="dt.disabled" tabindex="-1"><span ng-class="{'text-info': dt.current}" class="ng-binding">February</span></button>
        </td><!-- end ngRepeat: dt in row track by dt.date --><td ng-repeat="dt in row track by dt.date" class="text-center ng-scope" role="gridcell" id="datepicker-11-6776-2" aria-disabled="false">
          <button type="button" style="width:100%;" class="btn btn-default" ng-class="{'btn-info': dt.selected, active: isActive(dt)}" ng-click="select(dt.date)" ng-disabled="dt.disabled" tabindex="-1"><span ng-class="{'text-info': dt.current}" class="ng-binding">March</span></button>
        </td><!-- end ngRepeat: dt in row track by dt.date -->
      </tr><!-- end ngRepeat: row in rows track by $index --><tr ng-repeat="row in rows track by $index" class="ng-scope">
        <!-- ngRepeat: dt in row track by dt.date --><td ng-repeat="dt in row track by dt.date" class="text-center ng-scope" role="gridcell" id="datepicker-11-6776-3" aria-disabled="false">
          <button type="button" style="width:100%;" class="btn btn-default btn-info active" ng-class="{'btn-info': dt.selected, active: isActive(dt)}" ng-click="select(dt.date)" ng-disabled="dt.disabled" tabindex="-1"><span ng-class="{'text-info': dt.current}" class="ng-binding text-info">April</span></button>
        </td><!-- end ngRepeat: dt in row track by dt.date --><td ng-repeat="dt in row track by dt.date" class="text-center ng-scope" role="gridcell" id="datepicker-11-6776-4" aria-disabled="false">
          <button type="button" style="width:100%;" class="btn btn-default" ng-class="{'btn-info': dt.selected, active: isActive(dt)}" ng-click="select(dt.date)" ng-disabled="dt.disabled" tabindex="-1"><span ng-class="{'text-info': dt.current}" class="ng-binding">May</span></button>
        </td><!-- end ngRepeat: dt in row track by dt.date --><td ng-repeat="dt in row track by dt.date" class="text-center ng-scope" role="gridcell" id="datepicker-11-6776-5" aria-disabled="false">
          <button type="button" style="width:100%;" class="btn btn-default" ng-class="{'btn-info': dt.selected, active: isActive(dt)}" ng-click="select(dt.date)" ng-disabled="dt.disabled" tabindex="-1"><span ng-class="{'text-info': dt.current}" class="ng-binding">June</span></button>
        </td><!-- end ngRepeat: dt in row track by dt.date -->
      </tr><!-- end ngRepeat: row in rows track by $index --><tr ng-repeat="row in rows track by $index" class="ng-scope">
        <!-- ngRepeat: dt in row track by dt.date --><td ng-repeat="dt in row track by dt.date" class="text-center ng-scope" role="gridcell" id="datepicker-11-6776-6" aria-disabled="false">
          <button type="button" style="width:100%;" class="btn btn-default" ng-class="{'btn-info': dt.selected, active: isActive(dt)}" ng-click="select(dt.date)" ng-disabled="dt.disabled" tabindex="-1"><span ng-class="{'text-info': dt.current}" class="ng-binding">July</span></button>
        </td><!-- end ngRepeat: dt in row track by dt.date --><td ng-repeat="dt in row track by dt.date" class="text-center ng-scope" role="gridcell" id="datepicker-11-6776-7" aria-disabled="false">
          <button type="button" style="width:100%;" class="btn btn-default" ng-class="{'btn-info': dt.selected, active: isActive(dt)}" ng-click="select(dt.date)" ng-disabled="dt.disabled" tabindex="-1"><span ng-class="{'text-info': dt.current}" class="ng-binding">August</span></button>
        </td><!-- end ngRepeat: dt in row track by dt.date --><td ng-repeat="dt in row track by dt.date" class="text-center ng-scope" role="gridcell" id="datepicker-11-6776-8" aria-disabled="false">
          <button type="button" style="width:100%;" class="btn btn-default" ng-class="{'btn-info': dt.selected, active: isActive(dt)}" ng-click="select(dt.date)" ng-disabled="dt.disabled" tabindex="-1"><span ng-class="{'text-info': dt.current}" class="ng-binding">September</span></button>
        </td><!-- end ngRepeat: dt in row track by dt.date -->
      </tr><!-- end ngRepeat: row in rows track by $index --><tr ng-repeat="row in rows track by $index" class="ng-scope">
        <!-- ngRepeat: dt in row track by dt.date --><td ng-repeat="dt in row track by dt.date" class="text-center ng-scope" role="gridcell" id="datepicker-11-6776-9" aria-disabled="false">
          <button type="button" style="width:100%;" class="btn btn-default" ng-class="{'btn-info': dt.selected, active: isActive(dt)}" ng-click="select(dt.date)" ng-disabled="dt.disabled" tabindex="-1"><span ng-class="{'text-info': dt.current}" class="ng-binding">October</span></button>
        </td><!-- end ngRepeat: dt in row track by dt.date --><td ng-repeat="dt in row track by dt.date" class="text-center ng-scope" role="gridcell" id="datepicker-11-6776-10" aria-disabled="false">
          <button type="button" style="width:100%;" class="btn btn-default" ng-class="{'btn-info': dt.selected, active: isActive(dt)}" ng-click="select(dt.date)" ng-disabled="dt.disabled" tabindex="-1"><span ng-class="{'text-info': dt.current}" class="ng-binding">November</span></button>
        </td><!-- end ngRepeat: dt in row track by dt.date --><td ng-repeat="dt in row track by dt.date" class="text-center ng-scope" role="gridcell" id="datepicker-11-6776-11" aria-disabled="false">
          <button type="button" style="width:100%;" class="btn btn-default" ng-class="{'btn-info': dt.selected, active: isActive(dt)}" ng-click="select(dt.date)" ng-disabled="dt.disabled" tabindex="-1"><span ng-class="{'text-info': dt.current}" class="ng-binding">December</span></button>
        </td><!-- end ngRepeat: dt in row track by dt.date -->
      </tr><!-- end ngRepeat: row in rows track by $index -->
    </tbody>
  </table><!-- end ngSwitchWhen: -->
    <!-- ngSwitchWhen: year -->
  </div></li>
    <!-- ngIf: showButtonBar --><li ng-if="showButtonBar" style="padding:10px 9px 2px" class="ng-scope">
      <span class="btn-group pull-left">
        <button type="button" class="btn btn-sm btn-info ng-binding" ng-click="select('today')">Today</button>
        <button type="button" class="btn btn-sm btn-danger ng-binding" ng-click="select(null)">Clear</button>
      </span>
      <button type="button" class="btn btn-sm btn-success pull-right ng-binding" ng-click="close()">Done</button>
    </li><!-- end ngIf: showButtonBar -->
  </ul>


</div>
<!-- END - Rendered calendar/datepicker taken from https://youravon.com/avon-us/us-home/my-account/account-summary-earnings/account-balance.html -->
