<div class="global-angular-datepicker-day">
  {% include '_includes/groups/forms/datepicker-rendered-from-you-avon-day-alt.html.twig' %}
  {% include '_includes/groups/forms/datepicker-rendered-from-you-avon-day.html.twig' %}
</div>