<div class="global-angular-datepicker-year">
  {% include '_includes/groups/forms/datepicker-rendered-from-you-avon-year-alt.html.twig' %}
  {% include '_includes/groups/forms/datepicker-rendered-from-you-avon-year.html.twig' %}
</div>