{% if label is not defined %}
  {% set includeLabel = false %}
{% else %}
  {% set includeLabel = true %}
{% endif %}

{% if includeLabel %}
  <label class="control-label" for="{{ id }}">{{ label }}</label>
{% endif %}
{% include '_includes/elements/forms/selectpicker.html.twig' with {
  id : id,
  classes: classes,
  size: size,
  options: options,
  selectFirst: selectFirst
} %}
