<!-- START - UTILITY NAV 2 -->
<nav class="navbar navbar-inverse navbar-static-top navbar--utility-2 border-0 m-0 px-4 px-md-5 pt-3 pt-md-4 d-flex">

<!-- START - MORE TOOLS LOGOS -->
{% include '_includes/groups/navigation/global-header-nav/elements/utility-nav-2/tools-logo-list.html.twig' %}
<!-- END - MORE TOOLS LOGOS -->

<!-- START - ACCOUNT SECTION -->
{% include '_includes/groups/navigation/global-header-nav/elements/utility-nav-2/account-list.html.twig' %}
<!-- END - ACCOUNT SECTION -->

</nav>
<!-- END - UTILITY NAV 2 -->
