<!-- START - UTILITY NAV 1 -->
<nav class="navbar navbar-default navbar-static-top navbar--utility-1 border-0 d-flex">

    <!-- START - ITEM ENTRY / BROCHURES BUTTONS -->
    <ul class="nav row m-0">
      {% include '_includes/groups/navigation/global-header-nav/elements/utility-nav-1/btn-enter-items.html.twig' %}
      {% include '_includes/groups/navigation/global-header-nav/elements/utility-nav-1/btn-brochures.html.twig' %}
    </ul>
    <!-- END - ITEM ENTRY / BROCHURES BUTTONS -->

    <!-- START - ESTORE / SUPPORT BUTTONS -->
    <ul class="nav row m-0">
      {% include '_includes/groups/navigation/global-header-nav/elements/utility-nav-1/btn-my-store.html.twig' %}
      {% include '_includes/groups/navigation/global-header-nav/elements/utility-nav-1/btn-support.html.twig' %}
    </ul>
    <!-- END - ESTORE / SUPPORT BUTTONS -->

</nav>
<!-- END - UTILITY NAV 1 -->
