<!-- START - UTILITY NAV 2 -->
<nav class="navbar navbar-inverse navbar-static-top navbar--utility-2 border-0 m-0 d-flex">

  <div class="container d-flex align-items-center">

    <!-- BEGIN - MORE TOOLS LOGOS -->
    {% include '_includes/groups/navigation/global-header-nav/elements/utility-nav-2/tools-logo-list.html.twig' %}
    <!-- END - MORE TOOLS LOGOS -->

    <!-- BEGIN - ACCOUNT SECTION -->
    {% include '_includes/groups/navigation/global-header-nav/elements/utility-nav-2/account-list.html.twig' %}
    <!-- END - ACCOUNT SECTION -->

  </div>

</nav>
<!-- END - UTILITY NAV 2 -->
