<div class="col-xs-12 col-md-4">

  <h5 class="text-center mt-0 mb-5">Avon Beauty Buzz</h5>

  <div class="box-scrollhide">

    <ul class="list-unstyled m-0">

      {% include "_includes/modules/home/beauty-buzz-widget-item.html.twig" with {
        headline: "Don't Miss the Boat! There's Still Time to Achieve with Cruise Like a Boss"
      } %}

      {% include "_includes/modules/home/beauty-buzz-widget-item.html.twig" with {
        headline: "Join Our Get to Know Flexible Webinar. Lorem enim occaecat nostrud culpa reprehenderit Lorem voluptate ex."
      } %}

      {% include "_includes/modules/home/beauty-buzz-widget-item.html.twig" with {
        headline: "BLAB About Avon to Boost Your Sales"
      } %}

      {% include "_includes/modules/home/beauty-buzz-widget-item.html.twig" with {
        headline: "Join Our Get to Know Flexible Webinar"
      } %}

      {% include "_includes/modules/home/beauty-buzz-widget-item.html.twig" with {
        headline: "Register Now for Spring Workshops in 69 Locations"
      } %}

      {% include "_includes/modules/home/beauty-buzz-widget-item.html.twig" with {
        headline: "BLAB About Avon to Boost Your Sales"
      } %}

      {% include "_includes/modules/home/beauty-buzz-widget-item.html.twig" with {
        headline: "Join Our Get to Know Flexible Webinar"
      } %}

    </ul>

  </div>

  <div class="text-center mt-4">
    <a href="#" class="link-plain underline">View All</a>
  </div>

</div>
