<li>
  <div class="d-flex align-items-center">
    <!-- <div class=""> -->
      <img src="images/utility/placeholder_thumb.png">
    <!-- </div> -->
    <!-- <div class=""> -->
      <h6 class="title text-capitalize m-0">{{ headline }}</h6>
    <!-- </div> -->
  </div>
</li>
