<li>
  <a href="javascript:void(0)" class="link-plain d-flex align-items-center">
    <img src="images/utility/placeholder_thumb.png">
    <h6 class="title text-capitalize m-0">{{ headline }}</h6>
  </a>
</li>
