<!-- START - FULL WIDTH CONTAINER ! -->
<section class="my-5">

  <!-- START - FPO HEADLINE -->
  <h5 class="text-center my-4 pt-5">From Avon</h5>
  <!-- END - FPO HEADLINE -->

  {% include "_includes/groups/boxes/primary/carousel-container.html.twig" with {
    carouselId: 'carousel-from-avon',
    itemContainerType: 'carouselBoxesCombo',
    items: {
      item1: {
        widgetPath: '_includes/modules/widgets/widget-kickstart.html.twig'
      },
      item2: {
        widgetPath: '_includes/modules/widgets/widget-campaign-selling-dates.html.twig'
      },
      item3: {
        widgetPath: '_includes/modules/widgets/widget-customer-product-reminders.html.twig'
      },
      item4: {
        widgetPath: '_includes/modules/widgets/widget-online-store-orders.html.twig'
      },
    }
  } %}


</section>
<!-- END - FULL WIDTH CONTAINER -->
