<!-- START - FULL WIDTH CONTAINER ! -->
<section class="my-5">

  <!-- START - FPO HEADLINE -->
  <div class="pt-5">
    <h5 class="text-center mb-4">FROM AVON</h5>
  </div>
  <!-- END - FPO HEADLINE -->

  <div id="carousel-widgets-from-avon" class="carousel carousel--box-group-primary slide" data-ride="carousel"  data-interval="false">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-widgets-from-avon" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-widgets-from-avon" data-slide-to="1"></li>
      <li data-target="#carousel-widgets-from-avon" data-slide-to="2"></li>
      <li data-target="#carousel-widgets-from-avon" data-slide-to="3"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner box-group--primary ">
   
      {% include "_includes/groups/boxes/primary/item.html.twig" with { label: '1', active: 'true' } %}
      {% include "_includes/groups/boxes/primary/item.html.twig" with { label: '2' } %}
      {% include "_includes/groups/boxes/primary/item.html.twig" with { label: '3' } %}
      {% include "_includes/groups/boxes/primary/item.html.twig" with { label: '4' } %}

    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-widgets-from-avon" data-slide="prev">
      <span class="lt-icon lt-left lt-large"></span>
    </a>
    <a class="right carousel-control" href="#carousel-widgets-from-avon" data-slide="next">
      <span class="lt-icon lt-right lt-large"></span>
    </a>
  </div>

  {# <div id="carousel-widgets-from-avon" class="carousel slide" data-ride="carousel">

    <!-- START - INDICATORS -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-widgets-from-avon" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-widgets-from-avon" data-slide-to="1"></li>
      <li data-target="#carousel-widgets-from-avon" data-slide-to="2"></li>
    </ol>
    <!-- END - INDICATORS -->

    <!-- START - WRAPPER FOR SLIDES -->
    <div class="box-group--primary carousel-inner">

        {% include "_includes/groups/boxes/primary/item.html.twig" with { label: '1' } %}
        {% include "_includes/groups/boxes/primary/item.html.twig" with { label: '2' } %}
        {% include "_includes/groups/boxes/primary/item.html.twig" with { label: '3' } %}
        {% include "_includes/groups/boxes/primary/item.html.twig" with { label: '4' } %}

    </div><!-- /.box-group-primary -->

    <!-- END - WRAPPER FOR SLIDES -->

    <!-- START - CONTROLS -->
    <a class="left carousel-control" href="#carousel-widgets-from-avon" data-slide="prev">
      <span class="lt-icon lt-carat-left lt-medium"></span>
    </a>
    <a class="right carousel-control" href="#carousel-widgets-from-avon" data-slide="next">
      <span class="lt-icon lt-carat-right lt-medium"></span>
    </a>
    <!-- END - CONTROLS -->

  </div> #}

</section>
<!-- END - FULL WIDTH CONTAINER -->