<!-- START - FULL WIDTH CONTAINER -->
<section class="my-5">

  <!-- START - FPO HEADLINE -->
  <h5 class="text-center my-4 pt-5">Just For You <i class="lt-icon lt-info lt-medium"></i></h5>
  <!-- END - FPO HEADLINE -->

  {% include "_includes/groups/boxes/primary/carousel-container.html.twig" with { 
    carouselId: 'carousel-just-for-you', 
    items: {
      item1: {
        imgPath: 'images/fpo/home/5.png'
      },
      item2: {
        imgPath: 'images/fpo/home/6.png'
      },
      item3: {
        imgPath: 'images/fpo/home/7.png'
      },
      item4: {
        imgPath: 'images/fpo/home/8.png'
      },
    }
  } %}


  <button type="button" class="btn btn-default btn-sm my-5 mx-xs-auto ml-lg-0 d-block">View full dashboard</button>
</section>
<!-- END - FULL WIDTH CONTAINER -->