<!-- START - FULL WIDTH CONTAINER ! -->
<section class="my-5">

  <!-- START - FPO HEADLINE -->
  <h5 class="text-center my-4 pt-5">From Avon</h5>
  <!-- END - FPO HEADLINE -->

  {% include "_includes/groups/boxes/primary/carousel-container.html.twig" with {
    carouselId: 'carousel-from-avon',
    itemContainerType: 'carouselBoxesCombo',
    items: components.modules.widgets.primary
  } %}


</section>
<!-- END - FULL WIDTH CONTAINER -->
