<!-- START - FULL WIDTH CONTAINER -->
        <section class="my-5">

          <!-- START - FPO HEADLINE -->
          <div class="pt-5">
            <h5 class="text-center mb-4">JUST FOR YOU <i class="lt-icon lt-info lt-medium"></i></h5>
          </div>
          <!-- END - FPO HEADLINE -->


          <section class="box-group--primary">

            <!-- START - BOX GROUP PAIR -->
            <div class="box-group--pair">

              {% include "_includes/groups/boxes/primary/item.html.twig" with { label: '5' } %}
              {% include "_includes/groups/boxes/primary/item.html.twig" with { label: '6' } %}

            </div><!-- /.box-group-pair -->
            <!-- END - BOX GROUP PAIR -->


            <!-- START - BOX GROUP PAIR-->
            <div class="box-group--pair">

              {% include "_includes/groups/boxes/primary/item.html.twig" with { label: '7' } %}
              {% include "_includes/groups/boxes/primary/item.html.twig" with { label: '8' } %}

            </div><!-- /.box-group-pair -->
            <!-- END - BOX GROUP PAIR -->

          </section>

          <button type="button" class="btn btn-default my-5">View full dashboard</button>
        </section>
        <!-- END - FULL WIDTH CONTAINER -->