<!-- START - FULL WIDTH CONTAINER -->
        <section class="my-5">

          <!-- START - FPO HEADLINE -->
          <div class="pt-5">
            <h5 class="text-center mb-4">FROM AVON</h5>
          </div>
          <!-- END - FPO HEADLINE -->

          <!-- START - BOX GROUP OF 4 -->
          <section class="box-group--primary">

            <!-- START - BOX GROUP PAIR -->
            {# <div class="box-group--pair"> #}

              {% include "_includes/groups/boxes/primary/item.html.twig" with { label: '1' } %}
              {% include "_includes/groups/boxes/primary/item.html.twig" with { label: '2' } %}

        {#     </div><!-- /.box-group-pair --> #}
            <!-- END - BOX GROUP PAIR -->


            <!-- START - BOX GROUP PAIR-->
            {# <div class="box-group--pair"> #}

              {% include "_includes/groups/boxes/primary/item.html.twig" with { label: '3' } %}
              {% include "_includes/groups/boxes/primary/item.html.twig" with { label: '4' } %}

          {#   </div><!-- /.box-group-pair --> #}
            <!-- END - BOX GROUP PAIR -->

          </section><!-- /.box-group-primary -->

        </section>
        <!-- END - FULL WIDTH CONTAINER -->