{% extends "_layouts/modal.html.twig" %}
{% if not modalId %}
  {% set modalId = 'modal-nba-learn-more' %}
{% endif %}

{% set modalClasses = 'modal-vert-center' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalHeader %}

  <button type="button" class="close link-muted" data-dismiss="modal" aria-hidden="true">
    <span class="sr-only">Close modal</span>
    <span class="lt-icon lt-close lt-large py-1"></span>
  </button>

  <h4 class="modal-title text-center">Learn More</h4>

{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalBody %}

   <h6>Title of the Next Best Action</h6>
   <p>{{ fpo.paragraph }}</p>

{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalFooter #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalFooter %}

  <div class="row">
    <div class="col-xs-12 col-sm-6 my-2">
      <button type="button" class="btn btn-primary btn-block" aria-hidden="true">CTA Action Title</button>
    </div>
  </div><!-- /.row -->



{% endblock %}
