<section class="alert alert-info">
  <div class="row">
    <div class="col-md-12 col-xs-12 d-flex align-items-center justify-content-between">

      <div id="home-banner-carousel" class="carousel carousel--banner slide flex-fill text-left" data-ride="carousel">
        <div class="carousel-inner">
          <div class="item active">
            <span class="">Sint consectetur pariatur anim et ut aute amet fugiat tempor occaecat ex non.</span>
          </div>
          <div class="item">
            <span class="">Ullamco cillum aliqua consequat quis ad exercitation proident sunt officia cupidatat.</span>
          </div>
          <div class="item">
            <span class="">Reprehenderit sunt adipisicing aliqua enim sunt elit ipsum amet.</span>
          </div>
          <div class="item">
            <span class="">Nisi eu occaecat mollit fugiat magna proident labore dolore consectetur veniam elit non velit.</span>
          </div>
        </div>
      </div>

      <div class="carousel-controls mx-4">
        <a class="left" href="#home-banner-carousel" data-slide="prev">
          <span class="lt-icon lt-left lt-large"></span>
        </a>
        <a class="right" href="#home-banner-carousel" data-slide="next">
          <span class="lt-icon lt-right lt-large"></span>
        </a>
      </div>

      <div class="ml-4 mr-3">
        <span class="lt-icon lt-mail lt-large badged-icon">
          <span class="badge badge--align-right">4</span>
        </span>
      </div>

    </div>
  </div>
</section>
