<!-- START - TAB CONTENT -->
<section class="tab-content">

  <!-- START - TAB PANEL PRODUCTS -->
  <section class="tab-pane active" id="pd-products">
    {% include '_includes/modules/your-order/review-order-tab-panel-products.html.twig' %}
  </section>
  <!-- END - TAB PANEL PRODUCTS -->

  <!-- START - TAB PANEL INCENTIVES -->
  <section class="tab-pane" id="pd-incentives">
    {% include '_includes/modules/your-order/review-order-tab-panel-incentives.html.twig' %}
  </section>
  <!-- END - TAB PANEL INCENTIVES -->

</section>



