<table class="table table-no-borders table-w-inherit mb-3">
  <thead class="sr-only">
    <tr>
      <th class="t-label"> Label</th>
      <th class="t-content">Content</th>
    </tr>
  </thead>
  <tbody>
    <!-- ONLINE STORE ADDRESS -->
    <tr>
      <td class="t-label pl-0">
        <h6 class="mb-0 mt-2">Online Store Address</h6>
        <a href="#" class="small underline">Learn more</a>
      </td>
      <td class="t-content"><a href="#">youravon.com/janejhonson</a></td>
    </tr>
    <!-- DELIVERY OPTION -->
    <tr>
      <td class="t-label pl-0">
        <h6 class="mb-0 mt-2">Delivery Option</h6>
        <a href="#" class="small underline">Learn more</a>
      </td>
      <td class="t-content">Personal or direct delivery</td>
    </tr>
  </tbody>
</table>
{% include '_includes/groups/user-editable/cta-edit.html.twig' %}


