<section>
  <!-- ONLINE STORE ADDRESS -->
  {% include '_includes/groups/lists/label-content/row.html.twig' with {
    rowLabel:       '<h6 class="m-0 mr-2 d-inline-xs">Online Store Address</h6>
                     <a href="#" class="small underline nowrap">Learn more</a>',
    rowContent:     '<a href="#" class="underline">youravon.com/janejhonson</a>'
  }%}
  <!-- DELIVERY OPTION -->
  {% include '_includes/groups/lists/label-content/row.html.twig' with {
    rowLabel:       '<h6 class="m-0 mr-2 d-inline-xs">Delivery Option</h6>
                     <a href="#" class="small underline nowrap">Learn more</a>',
    rowContent:     'Personal or direct delivery'
  }%}
</section>
{% include '_includes/groups/user-editable/cta-edit.html.twig' %}



