<!-- START - NAV TABS -->
<ul class="nav nav-tabs border-bottom">
  <li class="active"><a href="#public-profile-english" data-toggle="tab">English</a></li>
  <li><a href="#public-profile-spanish" data-toggle="tab">Spanish</a></li>
</ul>
<!-- END - NAV TABS -->

<!-- START - TAB PANES -->
<div class="tab-content">

  <!-- START ENGLISH -->
  <div class="tab-pane active" id="public-profile-english">
    <section>
      <!-- REPRESENTATIVE -->
      {% set profileAvatarAddress %}
        <div class="d-flex align-items-center flex-basis-100 flex-basis-md-auto mt-3 mt-md-0">
          <span class="avatar"><img src="/images/fpo/img_avatar_square.png"></span>
          <div class="ml-4 lh-md">
            <strong>Erlinda Conley</strong>
            <div class="medium">
              <div>(000) 000-0000</div>
              <div>Hamtown, FL</div>
            </div>
          </div>
        </div>
      {% endset %}

      {% include '_includes/groups/lists/label-content/row.html.twig' with {
        rowLabel: '<h6 class="m-0">Representative</h6>',
        rowContent: profileAvatarAddress
      }%}

      <!-- DELIVERY OPTIONS -->
      {% include '_includes/groups/lists/label-content/row.html.twig' with {
        rowLabel: '<h6 class="m-0">Delivery Options</h6>',
        rowContent: fpo.sentence
      }%}

      <!-- LANGUAGES -->
      {% include '_includes/groups/lists/label-content/row.html.twig' with {
        rowLabel: '<h6 class="m-0">Languages</h6>',
        rowContent: fpo.sentence
      }%}

      <!-- INTERESTS -->
      {% include '_includes/groups/lists/label-content/row.html.twig' with {
        rowLabel: '<h6 class="m-0">Interests</h6>',
        rowContent: fpo.sentence
      }%}

      <!-- WHY I LOVE SELLING AVON -->
      {% include '_includes/groups/lists/label-content/row.html.twig' with {
        rowLabel: '<h6 class="m-0">Why I love selling Avon</h6>',
        rowContent: fpo.sentence
      }%}
    </section>
  </div>
  <!-- END - ENGLISH -->
  <!-- START - SPANISH -->
  <div class="tab-pane" id="public-profile-spanish">
    <section>
      <!-- REPRESENTATIVE -->
      {% include '_includes/groups/lists/label-content/row.html.twig' with {
        rowLabel: '<h6 class="m-0">representante</h6>',
        rowContent: profileAvatarAddress
      }%}

      <!-- DELIVERY OPTIONS -->
      {% include '_includes/groups/lists/label-content/row.html.twig' with {
        rowLabel: '<h6 class="m-0">Opciones de entrega</h6>',
        rowContent: fpo.sentence
      }%}

      <!-- LANGUAGES -->
      {% include '_includes/groups/lists/label-content/row.html.twig' with {
        rowLabel: '<h6 class="m-0">Idiomas</h6>',
        rowContent: fpo.sentence
      }%}

      <!-- INTERESTS -->
      {% include '_includes/groups/lists/label-content/row.html.twig' with {
        rowLabel: '<h6 class="m-0">Intereses</h6>',
        rowContent: fpo.sentence
      }%}

      <!-- WHY I LOVE SELLING AVON -->
      {% include '_includes/groups/lists/label-content/row.html.twig' with {
        rowLabel: '<h6 class="m-0">Por qué me encanta vender Avon</h6>',
        rowContent: fpo.sentence
      }%}
    </section>
  </div>
  <!-- START - SPANISH -->

</div>
<!-- END TAB PANES -->




{% include '_includes/groups/user-editable/cta-edit.html.twig' %}
