<tr>
  <td class="t-row-1 t-inline t-checkbox">
    {% include "_includes/elements/forms/checkbox.html.twig" with { checked: false, classes: 'input-sm' } %}
  </td>
  <td class="t-row-1 t-inline t-first-name">
    {# {% include "_includes/elements/forms/checkbox.html.twig" with { checked: false, classes: 'input-sm' } %} #}
    <a href="#">Firstname</a>
  </td>
  <td class="t-row-1 t-inline t-last-name"><a href="#">Lastnameislong</a></td>
  <td class="t-row-3 t-block t-phone">000-000-0000</td>
  <td class="t-row-3 t-block t-email"><div class="truncate"><a href="#">firstnamelastname@otto.com</a></div></td>
{% if contactType == 'customer' %}
  <!-- START - For "Customer List" only -->
  <td class="t-row-2 t-block t-customer-type">
    {% if isOnlineCustomer %}
    <span class="customer-type--label">[customer type]</span>
    <span class="customer-type--icon">
      <span class="lt-icon lt-checkmark"></span>
    </span>
    {% endif %}
  </td>
  <!-- END - For "Customer List" only -->
{% endif %}
{% if contactType == 'team' %}
  <!-- START - For "Team List" only -->
  <td class="t-row-3 t-upline t-block">[contact type]</td>
  <td class="t-row-3 t-gen t-block">#</td>
  <!-- END - For "Team List" only -->
{% endif %}
  <td class="t-row-1 t-inline t-self-end t-actions">•••</td>
</tr>


