<div class="d-flex align-items-center flex-basis-100 flex-basis-sm-auto">
  <div>
    <h3 class="m-0 d-inline">[Customer / Team Member Name]</h3>
  </div>
</div>
<div class="ml-lg-auto mt-5 mt-lg-0">
  <div class="affix-container">
    <form class="form-inline affix--mobile-top" role="form" data-spy="affix">
      {% include '_includes/modules/contacts/conacts-header-buttons.html.twig' %}
    </form>
  </div>
</div>
