<tr>
  <td class="t-row-1 t-inline t-checkbox">
    {% include "_includes/elements/forms/checkbox.html.twig" with { checked: false, classes: 'input-sm' } %}
  </td>
  <td class="t-row-1 t-inline t-first-name">
    {# {% include "_includes/elements/forms/checkbox.html.twig" with { checked: false, classes: 'input-sm' } %} #}
    <a href="#">Firstname</a>
  </td>
  <td class="t-row-1 t-inline t-last-name"><a href="#">Lastnameislong</a></td>
  <td class="t-row-3 t-block t-phone">000-000-0000</td>
  <td class="t-row-3 t-block t-email">firstnamelastname@otto.com</td>
  <td class="t-row-2 t-block t-customer-type">
    {% if isOnlineCustomer %}
    <span class="customer-type--label">[customer type]</span>
    <span class="customer-type--icon">
      <span class="lt-icon lt-checkmark"></span>
    </span>
    {% endif %}
  </td>
  <td class="t-row-1 t-inline t-self-end t-actions">•••</td>
</tr>
