<tr class="t-has-col-start">
  <td class="t-checkbox t-row-1 t-col-start">
    {% include "_includes/elements/forms/checkbox.html.twig" with { checked: false, classes: 'input-sm' } %}
  </td>
  <td class="t-first-name t-row-1 t-inline t-col-sibling-left">
    <a href="#">Firstname</a>
  </td>
  <td class="t-last-name t-row-1 t-inline"><a href="#">Lastnameislong</a></td>
  <td class="t-phone t-row-3 t-block t-col-sibling-left">000-000-0000</td>
  <td class="t-email t-row-3 t-block t-col-sibling-left"><div class="truncate"><a href="#">firstnamelastname@otto.com</a></div></td>
{% if contactType == 'customer' %}
  <!-- START - For "Customer List" only -->
  <td class="t-customer-type t-row-2 t-block t-col-sibling-left">
    {% if isOnlineCustomer %}
    <span class="customer-type--label">[customer type]</span>
    <span class="customer-type--icon">
      <span class="lt-icon lt-checkmark"></span>
    </span>
    {% endif %}
  </td>
  <!-- END - For "Customer List" only -->
{% endif %}
{% if contactType == 'team' %}
  <!-- START - For "Team List" only -->
  <td class="t-upline t-row-3 t-block t-col-sibling-left">[contact type]</td>
  <td class="t-gen t-row-3 t-block t-col-sibling-left">#</td>
  <!-- END - For "Team List" only -->
{% endif %}
  <td class="t-actions t-row-1 t-self-end">•••</td>
</tr>


