{% extends "_layouts/modal.html.twig" %}
{% if not modalId %}
  {% set modalId = 'modal-contact-list-filter-team' %}
{% endif %}

{% set modalClasses = 'modal-either-or' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalHeader %}

  <button type="button" class="close link-muted" data-dismiss="modal" aria-hidden="true">
    <span class="sr-only">Close modal</span>
    <span class="lt-icon lt-close lt-large py-1"></span>
  </button>

  <h4 class="modal-title text-center">Filter</h4>

{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeaderMessage #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# {% block modalHeaderMessage %}
<div class="reverse-bg px-4 py-3 text-center text-muted">
  <span>[4]</span> filters applied. <a href="#">Clear all</a>
</div>
{% endblock %} #}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalBody %}

<form role="form">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group has-feedback">
        {% include components.groups.forms.selectAndLabel with {
          id: 'filter-account-status',
          mainLabel: 'Account Status',
          required: null,
          haslabelErrorIcon: true,
          hasInlineErrorIcon: null,
          hasAbsoluteErrorIcon: null,
          optionSelected: 0,
          'options': [
            {'label': 'All'},
            {'label': 'Item with long name 1'},
            {'label': 'Item with long name 2'}
          ]
        } %}
      </div>
      <div class="form-group has-feedback">
        {% include components.groups.forms.selectAndLabel with {
          id: 'filter-leadership-title',
          mainLabel: 'Leadership Title',
          required: null,
          haslabelErrorIcon: true,
          hasInlineErrorIcon: null,
          hasAbsoluteErrorIcon: null,
          optionSelected: 0,
          'options': [
            {'label': 'All'},
            {'label': 'Item with long name 1'},
            {'label': 'Item with long name 2'}
          ]
        } %}
      </div>
      <div class="form-group has-feedback">
        {% include components.groups.forms.selectAndLabel with {
          id: 'filter-presidents-club-level',
          mainLabel: "President's Club Level" ,
          required: null,
          haslabelErrorIcon: true,
          hasInlineErrorIcon: null,
          hasAbsoluteErrorIcon: null,
          optionSelected: 0,
          'options': [
            {'label': 'All'},
            {'label': 'Item with long name 1'},
            {'label': 'Item with long name 2'}
          ]
        } %}
      </div>
      <div class="form-group has-feedback">
        {% include components.groups.forms.selectAndLabel with {
          id: 'filter-generation',
          mainLabel: "Generation" ,
          required: null,
          haslabelErrorIcon: true,
          hasInlineErrorIcon: null,
          hasAbsoluteErrorIcon: null,
          optionSelected: 0,
          'options': [
            {'label': 'All'},
            {'label': 'Item with long name 1'},
            {'label': 'Item with long name 2'}
          ]
        } %}
      </div>
    </div><!-- /.col -->
    <div class="col-xs-12 col-sm-6">
      <div class="form-group has-feedback">
        {% include components.groups.forms.selectAndLabel with {
          id: 'filter-language',
          mainLabel: 'Language',
          required: null,
          haslabelErrorIcon: true,
          hasInlineErrorIcon: null,
          hasAbsoluteErrorIcon: null,
          optionSelected: 0,
          'options': [
            {'label': 'All'},
            {'label': 'Item with long name 1'},
            {'label': 'Item with long name 2'}
          ]
        } %}
      </div>

      <div class="form-group-wrapper">
        <label class="control-label">Length of Association (LOA)</label>
        <div class="form-inline-all-devices mb-4">
          <div class="form-group">
            {% include components.groups.forms.inputAndLabel with {
              id: 'filter-length-of-association-all',
              mainLabel: 'Between',
              type: 'text',
              required: null,
              haslabelErrorIcon: true,
              hasInlineErrorIcon: null,
              hasAbsoluteErrorIcon: null,
              theValue: '0',
              size: '3'
            } %}
          </div>
          <div class="form-group">
            {% include components.groups.forms.inputAndLabel with {
              id: 'filter-length-of-association-and',
              mainLabel: 'and',
              type: 'text',
              required: null,
              haslabelErrorIcon: true,
              hasInlineErrorIcon: null,
              hasAbsoluteErrorIcon: null,
              theValue: '999',
              size: '3'
            } %}
          </div>
        </div>
      </div>

      <div class="form-group has-feedback">
        {% include components.groups.forms.selectAndLabel with {
          id: 'filter-notes-added-recently',
          mainLabel: 'Notes Added Recently',
          required: null,
          haslabelErrorIcon: true,
          hasInlineErrorIcon: null,
          hasAbsoluteErrorIcon: null,
          optionSelected: 0,
          'options': [
            {'label': 'All'},
            {'label': 'Item with long name 1'},
            {'label': 'Item with long name 2'}
          ]
        } %}
      </div>
    </div><!-- /.col -->
  </div><!-- /.row -->

</form>


{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalFooter #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalFooter %}

  <div class="row">
    <div class="col-xs-12 col-sm-6 my-2">
      <button type="button" class="btn btn-default btn-block" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
    <div class="col-xs-12 col-sm-6 my-2">
      <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Apply</button>
    </div>
  </div><!-- /.row -->



{% endblock %}
