.drawer {
    overflow: hidden;
    background-color: $body-bg;

    @include box-shadow(0 -1px 9px rgba(0, 0, 0, 0.175));

    &-fixed-bottom {
        position: fixed;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: $zindex-drawer-fixed;
        transition: height 0.5s;
    }

    height: $navbar-drawer-height;

    &-height {
        height: $navbar-drawer-height;
    }

    .drawer-valign-middle {
        line-height: $navbar-drawer-height;
    }

    .drawer-summary-header {
        line-height: $navbar-drawer-height;
        margin: 0;
    }

    &-list-default {
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;

        > li,
        > .list-group-item {
            height: $navbar-drawer-height;
            border-top: 0;
            border-bottom: 0;
        }

        .list-group-item {
            padding-left: 30px;
            padding-right: 30px;
        }

        .list-group-item-heading {
            margin-top: 5px;
        }

        @extend .list-inline-abutted;
    }

    @media (min-width: $screen-md-min) {
        // height: inherit;
        // position: relative;
    }

    &.drawer-expanded {
        height: 100vh;

        .drawer-summary {
            display: none;
        }
    }
}

.drawer-summary {
    height: $navbar-drawer-height;
}

.order-summary {
    // ATODO: Use @extend .contrainer
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}