.navbar {
  .profile-img {
    position: absolute;
    right: 100%;
    top: 0;
    background-color: $gray-lighter;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-image: url("../images/fpo/img_avatar.png");
  }

  // &--static-nav,
  // &--user-nav {
  // border: none;
  // }

  &--static-nav {
    background-color: $gray-lighter;
    height: 36px;
    margin: 0;

    li > a {
      line-height: 1;
    }
  }

  // &--user-nav {
  //
  // }

  &--primary-nav {
    @media (min-width: $screen-sm-min) {
      padding-bottom: 0;
    }

    #mobile-header-navbar {
      .navbar-form {
        .input-group {
          input {
            border: none;
            box-shadow: none;
          }

          .input-group-btn {}
        }
      }
    }

    .navbar-toggle,
    .navbar-toggle:focus,
    .navbar-toggle:hover {
      background-color: transparent;
      border: none;

      .icon-bar {}
    }

    .navbar-header {
      .navbar-right {
        width: 80%;
        transition: 0.2s width ease;

        &.expanded {
          width: 100%;
        }
      }
    }

    .navbar-nav > li {
      &.active a,
      &.active a:hover,
      a:hover {
        background-color: transparent;
        color: $brand-primary;
        border-bottom: none;

        @media (min-width: $screen-sm-min) {
          border-bottom: 4px solid $brand-primary;
        }
      }

      a {
        text-transform: uppercase;

        @media (min-width: $screen-sm-min) and (max-width: $screen-md-min) {
          font-size: 1.1rem;
        }
      }

    }
  }
}
// end .navbar
