{% extends "_layouts/widget.html.twig" %}

{% set widgetId = 'widget-kickstart-program' %}
{% set widgetLayout = 'flex-column' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetHeader %}
  <h7>New Registered customers</h7>
{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetBody %}
  <div class="d-flex flex-column mb-4">
    <h1 class="mt-0 mb-4">12</h1>
    <p class="m-0 text-muted"><strong>New Customers attached to you</strong></p>
  </div>
{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetFooter #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetFooter %}
  <button class="btn btn-default btn-sm btn-soft">Reach Out</button>
{% endblock %}
