{% extends "_layouts/widget.html.twig" %}

{% set widgetId = 'widget-kickstart-program' %}
{% set widgetLayout = 'flex-column' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetHeader %}
  <h7>Current Performance level</h7>
{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetBody %}
    <div class="container-fluid px-0">
      <div class="progress-radial progress-radial--reverse m-auto"
        role="progressbar"
        aria-valuenow="82"
        aria-valuemin="0"
        aria-valuemax="100"
        data-radprogress-offset="0"
        data-radprogress-stroke-width="5"
        data-radprogress-diameter="100">
      <div class="svg-holder"></div>
      <span class="sr-only">82% Complete</span>
      <div class="progress-counter percentage">
        <h3 data-radprogress-counter></h3>
      </div>
     </div>
    </div>
    <p class="m-0 text-uppercase">Bronze (BEL)</p>
    <hr class="my-3">
    <p class="m-0"><strong class="text-uppercase text-muted"><span class="small">Next Level:</span></strong> <strong>Silver (SEL)</strong></p>
{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetFooter #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetFooter %}
  <a href="#" class="link-primary">Jump into VIBE</a>
{% endblock %}
