{% extends "_layouts/widget.html.twig" %}

{% set widgetId = 'widget-selling-dates' %}
{% set widgetLayout = 'flex-column' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetHeader %}
  <h7>Days left to sell in CO3</h7>
{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetBody %}
  <div class="container-fluid px-0">
    <div class="progress-radial"
  		role="progressbar"
  		aria-valuenow="2"
  		aria-valuemin="0"
  		aria-valuemax="14"
  		data-radprogress-offset="2"
  		data-radprogress-stroke-width="6"
  		data-radprogress-diameter="150">

		<div class="svg-holder"></div>

    <span class="sr-only">sr-only msg fpo</span>

    <div class="progress-counter">
			<h1 data-radprogress-counter>12</h1>
		</div>

	</div>

  <div class="progress-msg">
    <p class="text-muted m-0"><strong>Order by September 24th</strong></p>
  </div>

  </div>
{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetFooter #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetFooter %}
  <button class="btn btn-primary btn-sm btn-soft">Start Your Order</button>
{% endblock %}
