{% extends "_layouts/widget.html.twig" %}

{% set widgetId = 'widget-kickstart-program' %}
{% set widgetLayout = 'flex-column' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetHeader %}
  <h7>Facebook Performance</h7>
  <p class="mb-0 mt-2 text-muted">Feb 14 - Feb 21</p>
{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetBody %}
  <img class="mb-4" src="images/social/facebook-black.svg" alt="facebook" width="38" height="38">
  <p class="mx-xl-4 mb-2 widget-columns">Likes: <strong>104</strong></p>
  <p class="mx-xl-4 mb-2 widget-columns">Comments: <strong>341</strong></p>
  <p class="mx-xl-4 mb-2 widget-columns">Total Reach: <strong>104</strong></p>
{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetFooter #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetFooter %}
  <a href="#" class="link-primary">View your analytics</a>
{% endblock %}
