{% extends "_layouts/widget.html.twig" %}

{% set widgetId = 'widget-kickstart-program' %}
{% set widgetLayout = 'flex-column' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetHeader %}
  <h7>Social Performance</h7>
  <p class="mb-0 mt-2 text-muted">Feb 14 - Feb 21</p>
{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetBody %}
  <p class="text-left d-flex align-items-center ml-4 mb-4">
    <img class="mr-3" src="/images/social/google.svg" alt="facebook" width="18" height="18">
    <span>New Likes: <strong>5,234</strong></span>
  </p>
  <p class="text-left d-flex align-items-center ml-4 mb-4">
    <img class="mr-3" src="/images/social/google.svg" alt="twitter" width="18" height="18">
    <span>Retweets: <strong>912</strong></span>
  </p>
  <p class="text-left d-flex align-items-center ml-4 mb-4">
    <img class="mr-3" src="/images/social/google.svg" alt="pinterest" width="18" height="18">
    <span>New Pins Saved: <strong>59</strong></span>
  </p>
  <p class="text-left d-flex align-items-center ml-4 mb-4">
    <img class="mr-3" src="/images/social/google.svg" alt="pinterest" width="18" height="18">
    <span><a href="#" class="underline">Connect now</a></span>
  </p>
{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetFooter #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetFooter %}
  <button class="btn btn-primary btn-sm btn-soft">View your analytics</button>
{% endblock %}
