{% extends "_layouts/widget.html.twig" %}

{% set widgetId = 'widget-product-reminders' %}
{% set widgetLayout = 'flex-column' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetHeader %}
  <h7>Customer Product Reminders</h7>
{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetBody %}
  <div class="container-fluid p-0">
    <div class="row d-flex align-items-center px-4">
      <span class="badge badge--circ">1</span>
      <span class="text-left widget-truncate">Teresa Porter</span>
    </div>
    <hr class="my-2">
    <div class="row d-flex align-items-center px-4">
      <span class="badge badge--circ">2</span>
      <span class="text-left widget-truncate">Elizabeth McMasterson</span>
    </div>
    <hr class="my-2">
    <div class="row d-flex align-items-center px-4">
      <span class="badge badge--circ">3</span>
      <span class="text-left widget-truncate">Nell Weaver</span>
    </div>
    <p class="mt-3 mb-0">+ 4 more</p>
  </div>
{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetFooter #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetFooter %}
  <a class="link-primary">View all</a>
{% endblock %}
