{% extends "_layouts/widget.html.twig" %}

{% set widgetId = 'widget-kickstart-program' %}
{% set widgetLayout = 'flex-column' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetHeader %}
  <h7>Kickstart Program</h7>
{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetBody %}
  <p>Sit consectetur proident dolore velit consequat adipisicing amet quis quis voluptate enim duis ut ad amet labore nisi.</p>
{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetFooter #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetFooter %}
  <a href="#" class="link-primary">Learn more</a>
{% endblock %}
