{% extends "_layouts/widget.html.twig" %}

{% set widgetId = 'widget-kickstart-program' %}
{% set widgetLayout = 'flex-column' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetHeader %}
  <h7>Your Activities</h7>
{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetBody %}
  <div class="container-fluid px-4">
    <div class="row d-flex align-items-center px-4">
      <h1 class="text-primary text-center d-inline col-xs-5 m-0">12</h1>
      <strong class="col-xs-7 text-left">Available</strong>
    </div>
    <hr class="my-3">
    <div class="row d-flex align-items-center px-4">
      <h1 class="text-primary text-center d-inline col-xs-5 m-0">3</h1>
      <strong class="col-xs-7 text-left">In Progress</strong>
    </div>
  </div>
{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - widgetFooter #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block widgetFooter %}
  <button class="btn btn-primary btn-sm btn-soft">Go to Avon U</button>
{% endblock %}
