{% set idPrefix = 'contact-details-' %}
{% set showTheValue = true %}
{% set showPlaceholder = false %}

<form role="form">
  <!-- ADDRESS -->
  <div class="form-group">
    {% include '_includes/groups/forms/generic/address.html.twig' with {
    'idPrefix': idPrefix,
    'showTheValue': showTheValue,
    'showPlaceholder': showPlaceholder,
    'hideAddressLabel': true
    }%}
  </div>
  <div class="form-group">
    {% include '_includes/groups/forms/generic/address-2.html.twig' with {
    'idPrefix': idPrefix,
    'showTheValue': false,
    'showPlaceholder': true
    }%}
  </div>
  <!-- ZIP AND CITY -->
  <div class="row">
    <div class="col-xs-4 pr-0">
      <div class="form-group">
        {% include '_includes/groups/forms/generic/zip.html.twig' with {
        'idPrefix': idPrefix,
        'showTheValue': showTheValue,
        'showPlaceholder': showPlaceholder
        }%}
      </div>
    </div>
    <div class="col-xs-8">
      <div class="form-group">
        {% include '_includes/groups/forms/generic/city.html.twig' with {
        'idPrefix': idPrefix,
        'showTheValue': showTheValue,
        'showPlaceholder': showPlaceholder
        }%}
      </div>
    </div>
  </div>
  <!-- STATE -->
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group has-feedback">
        {% include '_includes/groups/forms/generic/state.html.twig' with {
        'idPrefix': idPrefix,
        'selectFirst': true
        }%}
      </div>
    </div>
    {# <div class="col-xs-8">
      <div class="form-group has-feedback">
        {% include '_includes/groups/forms/generic/country.html.twig' with {
        'idPrefix': idPrefix,
        'selectFirst': true
        }%}
      </div>
    </div> #}
  </div>

  <div class="row mb-4">
    <div class="col-xs-12">
      <a class="underline d-flex align-items-center" href="">
        <span>+ Add work address</span>
      </a>
    </div>
  </div>

  {% include '_includes/modules/contacts/contact-detail/tab-panes/details/edit-btns.html.twig' %}
</form>
