<form role="form">
  <div class="form-group">
    <input type="email" class="form-control" placeholder="test@gmail.com">
  </div>
  {% include '_includes/modules/contacts/contact-detail/tab-panes/details/edit-btns.html.twig' %}
</form>
