<span class="badge badge-secondary badge-pill">
  <span>Bowling</span>
  <a class="dismiss" href="#"><span class="lt-icon lt-small lt-close"></span></a>
</span>
<span class="badge badge-secondary badge-pill">
  <span>Book Club</span>
  <a class="dismiss" href="#"><span class="lt-icon lt-small lt-close"></span></a>
</span>
<a class="d-block underline mt-4" href="#">Add to Group</a>
