<span class="label label-secondary label-dismissable">
  <span>Bowling</span>
  <a class="dismiss" href="javascript:void(0)"><span class="lt-icon lt-small lt-close"></span></a>
</span>
<span class="label label-secondary label-dismissable">
  <span>Book Club</span>
  <a class="dismiss" href="javascript:void(0)"><span class="lt-icon lt-small lt-close"></span></a>
</span>
<a href="javascript:void(0)" data-toggle="modal" data-target="#modal-contacts-groups-add-to" class="d-block underline mt-4">Add to Group</a>
