<p class="mb-2"><a data-toggle="modal" data-target="#modal-contacts-send-email" class="underline" href="javascript:void(0)">test@gmail.com</a></p>
<div class="d-flex text-danger mb-0">
  <span class="lt-icon lt-warning lt-small mr-1"></span>
  <span class="small">Message to this address are not being delivered</span>
</div>
