<p class="d-flex mb-3">
  <span class="">Primary: (123) 456-7890</span>
  <span class="d-inline visible-xs visible-sm ml-auto">
    <a href="tel:1234567890" class="underline mr-2">Call</a>
    <span class="small pipe">|</span>
    <a href="sms://+1234567890" class="underline ml-2">Text</a>
  </span>
</p>
<p class="d-flex mb-0">
  <span class="">Secondary: (890) 123-4567</span>
  <span class="d-inline visible-xs visible-sm ml-auto">
    <a href="tel:8901234567" class="underline mr-2">Call</a>
    <span class="small pipe">|</span>
    <a href="sms://+8901234567" class="underline ml-2">Text</a>
  </span>
</p>
