<!-- TODO :: pass in data-target so we can re-use -->

<button class="navbar-toggle primary-nav__close link-reverse-plain pr-1 pl-4 mr-0 mt-1" type="button" data-toggle="off-canvas-collapse" data-target=".navbar-collapse">
  <span class="sr-only">Close navigation</span>
  <span class="lt-icon lt-close lt-medium pb-0"></span>
</button>
