<a href="#" class="link-plain">
  <span class="small text-uppercase text-muted hidden-xs">Order
  </span>
  <span class="lt-icon lt-cart lt-large badged-icon">
    <span class="badge">12</span>
  </span>
</a>
