<ul class="nav nav-tabs navbar-main__list m-0">

  <li class="visible-xs-block">
    <a href="#" class="large">Home</a>
  </li>

  <li class="active has-sub-items dropdown">

    <a class="dropdown-toggle large" href="#" id="productsDrop" data-toggle="dropdown">Products<span class="lt-icon lt-carat-down lt-medium hidden-xs"></span></a>

    <!-- sub-menu toggle -->
    <a class="toggle off-canvas-nested text-right visible-xs-flex" data-toggle="off-canvas-collapse" data-target=".navbar-products">
      <span class="lt-icon lt-carat-right lt-large text-light flex-ml-auto"></span>
    </a>
    <span class="sr-only">Toggle sub-menu</span>

    <!-- Sub nav list -->
    {% include '_includes/groups/navigation/global-header-nav/elements/primary-nav/sub-nav-list.html.twig' %}

  </li>

  <li>
    <a href="#" class="large">Web Office</a>
  </li>
  <li>
    <a href="#" class="large">Campaigns</a>
  </li>
  <li>
    <a href="#" class="large">Earnings</a>
  </li>
  <li>
    <a href="#">Resources</a>
  </li>
</ul>
<!-- END - MAIN MENU LIST -->
