<!-- START - PRODUCTS SUB-MENU -->
<div class="nav navbar-nav navbar-products navbar-sub off-canvas off-canvas--right">

  <!-- START - SUB-MENU HEADER -->
  <div class="navbar-header visible-xs-flex-header align-items-center px-4">

    <!-- back button & menu title -->
    <a class="toggle toggle-back off-canvas-nested flex-fill ml-0 p-0" data-toggle="off-canvas-collapse" data-target=".navbar-products">
      <!-- Developer note: This is the label or the parent. If Magnolia won't let you print the name twice, use the word "Back" -->
      <h3 class="text-light d-inline-block m-0"><span class="lt-icon lt-left lt-medium mr-2"></span> Products</h3>
    </a>

    <!-- close button -->
    {% include '_includes/groups/navigation/global-header-nav/elements/shared/btn-close.html.twig' with {
      class: 'off-canvas-nested',
      dataTarget: '.navbar-products, .navbar-collapse'
    }%}

  </div>
  <!-- END - SUB-MENU HEADER -->

  <!-- START - PRODUCTS SUB-MENU LIST -->
  <ul class="nav navbar-nav navbar-sub__sub-list dropdown-menu dropdown-menu--responsive m-0">
    <li class="sub-list-item">
      <a class="collapsed d-flex align-items-center" href="#"><span>Makeup</span></a>
    </li>
    <li class="sub-list-item">
      <a class="collapsed d-flex align-items-center" href="#"><span>Skincare</span></a>
    </li>
    <li class="sub-list-item">
      <a class="collapsed d-flex align-items-center" href="#"><span>Bath &amp; Body</span></a>
    </li>
    <li class="sub-list-item">
      <a class="collapsed d-flex align-items-center" href="#"><span>Fragrance</span></a>
    </li>
    <li class="sub-list-item">
      <a class="collapsed d-flex align-items-center" href="#"><span>Jewelry</span></a>
    </li>
    <li class="sub-list-item">
      <a class="collapsed d-flex align-items-center" href="#"><span>Fashion</span></a>
    </li>
    <li class="sub-list-item">
      <a class="collapsed d-flex align-items-center" href="#"><span>mark. <span class="text-uppercase">by avon</span></span></a>
    </li>
    <li class="sub-list-item">
      <a class="collapsed d-flex align-items-center" href="#"><span>Avon Living</span></a>
    </li>
    <li class="sub-list-item">
      <a class="collapsed d-flex align-items-center" href="#"><span>Men</span></a>
    </li>
    <li class="sub-list-item">
      <a class="collapsed d-flex align-items-center" href="#"><span>Outlet</span></a>
    </li>
    <li class="sub-list-item">
      <a class="collapsed d-flex align-items-center" href="#"><span>Extra Item 1</span></a>
    </li>
    <li class="sub-list-item">
      <a class="collapsed d-flex align-items-center" href="#"><span>Extra Item 2</span></a>
    </li>
    <li class="sub-list-item">
      <a class="collapsed d-flex align-items-center" href="#"><span>Extra Item 3 Lorem Ipsum Dolor</span></a>
    </li>
    <li class="sub-list-item">
      <a class="collapsed d-flex align-items-center" href="#"><span>Extra Item 4</span></a>
    </li>
    <li class="sub-list-item">
      <a class="collapsed d-flex align-items-center" href="#"><span>Extra Item 5</span></a>
    </li>
  </ul>
  <!-- END - PRODUCTS SUB-MENU LIST -->

</div>
<!-- END - PRODUCTS SUB-MENU -->
