<!-- START - PRODUCTS SUB-MENU -->
<div class="nav navbar-nav navbar-products navbar-sub off-canvas off-canvas--right">

  <!-- START - SUB-MENU HEADER -->
  <div class="navbar-header visible-xs-flex align-items-center px-4">

    <!-- back button & menu title -->
    <a class="flex-fill ml-0">
      <span data-toggle="off-canvas-collapse" data-target=".navbar-products">
        <span class="lt-icon lt-left lt-medium mr-2"></span>
        <span class="text-light"> Products</span>
      </span>
    </a>

    <!-- close button -->
    {% include '_includes/groups/navigation/global-header-nav/elements/shared/btn-close.html.twig' with {
      dataTarget: '.navbar-products, .navbar-collapse'
    }%}

  </div>
  <!-- END - SUB-MENU HEADER -->

  <!-- START - PRODUCTS SUB-MENU LIST -->
  <ul class="nav navbar-nav navbar-sub__sub-list m-0 visible-xs-block">
    <li class="sub-list-item">

      <!-- START - NESTED ITEMS LEVEL 1 -->
      <a class="link-reverse-plain py-4 collapsed arrow-box" data-toggle="collapse" data-target="#submenu-cat1">
        Makeup
        <span class="lt-icon lt-next ml-1"></span>
        <span class="lt-icon lt-plus lt-medium pull-right mt-1"></span>
      </a>
      <div id="submenu-cat1" class="collapse navbar-sub__sub-child">
        <ul class="nav list-unstyled text-uppercase">
          <li class="small sub-list-item">

            <!-- START - NESTED ITEMS LEVEL 2 -->
            <a class="link-reverse-plain pl-5 py-4 collapsed" data-toggle="collapse" data-target="#submenu-subcat1">
              Eye
              <span class="lt-icon lt-next ml-1"></span>
              <span class="lt-icon lt-plus lt-medium pull-right mt-1"></span>
            </a>
            <div id="submenu-subcat1" class="collapse navbar-sub__sub-child">
              <ul class="nav list-unstyled text-uppercase">
                <li class="small pl-5 pr-4"><a class="link-reverse-plain py-4 pl-4">Mascara</a></li>
                <li class="small pl-5 pr-4"><a class="link-reverse-plain py-4 pl-4">Eyeshadow</a></li>
                <li class="small pl-5 pr-4"><a class="link-reverse-plain py-4 pl-4">Eye Liner</a></li>
                <li class="small pl-5 pr-4"><a class="link-reverse-plain py-4 pl-4">Brows</a></li>
              </ul>
            </div>
            <!-- END - NESTED ITEMS LEVEL 2 -->

          </li>
          <li class="small sub-list-item"><a class="link-reverse-plain pl-5 py-4 collapsed">Lips</a></li>
          <li class="small sub-list-item"><a class="link-reverse-plain pl-5 py-4 collapsed">Face</a></li>
          <li class="small sub-list-item"><a class="link-reverse-plain pl-5 py-4 collapsed">Nails</a></li>
          <li class="small sub-list-item"><a class="link-reverse-plain pl-5 py-4 collapsed">Tools &amp; Brushes</a></li>
          <li class="small sub-list-item"><a class="link-reverse-plain pl-5 py-4 collapsed">Features</a></li>
          <li class="small sub-list-item"><a class="link-reverse-plain pl-5 py-4 collapsed">Brands</a></li>
        </ul>
      </div>
      <!-- END - NESTED ITEMS LEVEL 1 -->

    </li>
    <li class="sub-list-item">
      <a class="link-reverse-plain py-4 collapsed" href="#">Skincare</a>
    </li>
    <li class="sub-list-item">
      <a class="link-reverse-plain py-4 collapsed" href="#">Bath &amp; Body</a>
    </li>
    <li class="sub-list-item">
      <a class="link-reverse-plain py-4 collapsed" href="#">Fragrance</a>
    </li>
    <li class="sub-list-item">
      <a class="link-reverse-plain py-4 collapsed" href="#">Jewelry</a>
    </li>
    <li class="sub-list-item">
      <a class="link-reverse-plain py-4 collapsed" href="#">Fashion</a>
    </li>
    <li class="sub-list-item">
      <a class="link-reverse-plain py-4 collapsed" href="#">mark. <span class="text-uppercase">by avon</span></a>
    </li>
    <li class="sub-list-item">
      <a class="link-reverse-plain py-4 collapsed" href="#">Avon Living</a>
    </li>
    <li class="sub-list-item">
      <a class="link-reverse-plain py-4 collapsed" href="#">Men</a>
    </li>
    <li class="sub-list-item">
      <a class="link-reverse-plain py-4 collapsed" href="#">Outlet</a>
    </li>
  </ul>
  <!-- END - PRODUCTS SUB-MENU LIST -->

</div>
<!-- END - PRODUCTS SUB-MENU -->
