<!-- START - UTILITY NAV 2 -->
<nav class="navbar navbar-inverse navbar-static-top navbar--utility-2 border-0 d-flex">
  <a class="link-reverse-plain text-uppercase" href="#">Avon.com</a>
  <a class="link-reverse-plain ml-auto" href="#">Ver en Español</a>
</nav>
<!-- END - UTILITY NAV 2 -->
