<!-- START - SIMPLE HEADER CONTAINER -->
<nav class="navbar navbar--primary-nav navbar-default d-flex" role="navigation">

  <!-- top bar -->
  {% include '_includes/groups/navigation/simple-header/header-utility-nav-2-simple.html.twig' %}

</nav>
<section class="navbar navbar--simple-nav navbar-default d-flex flex-fill align-items-center">
  <span class="hidden-xs">&nbsp;</span>
  <!-- logo -->
  <div class="primary-nav__logo d-flex justify-content-center">
    {% include '_includes/elements/images/logo-your-avon.html.twig' %}
  </div>
  <!-- links -->
  <div class="navbar-links d-flex justify-content-end"> 
    <a href="#" class="btn btn-link">Log In</a>
    <a href="#" class="btn btn-default btn-primary hidden-xs">Get Started</a>
  </div>
</section>
<!-- END - SIMPLE HEADER CONTAINER -->


<!-- START - GLOBAL MESSAGE -->
<section class="alert alert-level-header alert-strong alert-neutral alert-campaign-timer">
  <span class="alert-msg-icon lt-icon lt-medium lt-tip align-middle hidden-xs"></span>
  <span class="alert-msg-txt">Get started with Avon for just $10! Receive $546 in free product when you meet the goals. Offer expires August 6.</span>
</section>
<!-- END - GLOBAL MESSAGE -->
