{% extends "_layouts/modal-lg-no-footer.html.twig" %}
{% set modalId = 'checkout-quickpay-enrollment-modal' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalHeader %}

  <button type="button" class="close link-muted" data-dismiss="modal" aria-hidden="true">
    <span class="sr-only">Close modal</span>
    <span class="lt-icon lt-close lt-large py-1"></span>
  </button>
  <h6 class="modal-title" id="myModalLabel">Quickpay Enrollment</h6>

{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalBody %}

  <h5>ENROLL IN QUICKPAY</h5>
  <p>Enroll in Avon's secure online payment system, QuickPAY, and never worry about mailing a check again. With QuickPAY, you...</p>
  <p class="font-weight-bold">To get started, complete the form below as part of a three-step online process.</p>

  <form role="form">

    <div class="form-group">
      <label class="control-label">Name on Account*</label>
      {% include components.elements.forms.input with {
        placeholder: 'Janet Jo'
      } %}
    </div>

    <div class="form-group">
      <label class="control-label">Routing Number*</label>
      {% include components.elements.forms.input with {
        placeholder: '01340013'
      } %}
    </div>

    <div class="form-group">
      <label class="control-label">Bank Name*</label>
      {% include components.elements.forms.input with {
        placeholder: 'Citi'
      } %}
      <a href="#" data-toggle="modal" data-target="#checkout-quickpay-enrollment-learn-more-modal">Learn More</a>
    </div>

    <div class="form-group">
      <label class="control-label">Checking Account Number*</label>
      {% include components.elements.forms.input with {
        placeholder: '83095345'
      } %}
    </div>

    <div class="form-group">
      <label class="control-label">Mother's Maiden Name*</label>
      {% include components.elements.forms.input with {
        placeholder: 'Williams'
      } %}
    </div>

    <button type="button" class="btn btn-default">CANCEL</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#checkout-quickpay-enrollment-review-modal">SAVE</button>

  </form>

{% endblock %}
