<div class="container {{ classes }}">
  <nav class="navbar navbar-default navbar-fixed-bottom navbar-fixed-bottom--auto-height invisible m-0 p-3" role="navigation" data-split-content="bottom">

    <!-- NOTE :: Checkout buttons get moved here with javascript on small screens -->

  </nav>
</div>
