{% extends "_layouts/modal-lg-no-footer.html.twig" %}
{% set modalId = 'checkout-quickpay-enrollment-review-modal' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalHeader %}

  <button type="button" class="close link-muted" data-dismiss="modal" aria-hidden="true">
    <span class="sr-only">Close modal</span>
    <span class="lt-icon lt-close lt-large py-1"></span>
  </button>
  <h6 class="modal-title" id="myModalLabel">Quickpay Enrollment</h6>

{% endblock %}




{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalBody %}

<div class="row pb-4">
  <h5>PLEASE REVIEW YOUR INFORMATION</h5>
  <p>Please review your payment information</p>
</div>
<div class="row pt-4">
  <div class="col-md-3"></div>
  <div class="col-xs-12 col-md-6">
    <table class="table table-no-borders">
      <tr>
        <td class="font-weight-bold">NAME ON ACCOUNT</td>
        <td>Lara Croft</td>
      </tr>
      <tr>
        <td class="font-weight-bold">ROUTING NUMBER</td>
        <td>*****0013</td>
      </tr>
      <tr>
        <td><span class="font-weight-bold">BANK NAME</span><br/>
        <a href="#" data-toggle="modal" data-target="#checkout-quickpay-enrollment-learn-more-modal">Learn More</a></td>
        <td>Citi</td>
      </tr>
      <tr>
        <td class="font-weight-bold">BANK ACCOUNT NUMBER</td>
        <td>****5345</td>
      </tr>
      <tr>
        <td class="font-weight-bold">MOTHER'S MAIDEN NAME</td>
        <td>Robinson</td>
      </tr>
    </table>
  </div>
  <div class="col-md-3"></div>
</div>
<div class="row">
  <hr>


  <section class="clearfix text-center mb-4">
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#checkout-quickpay-enrollment-modal">EDIT</button>
    <button type="button" class="btn btn-primary">CONFIRM</button>
  </section>

</div>
  <!-- /.row -->

  <!-- MODAL - QUICKPAY ENROLLMENT REVIEW -->
  {% include "_includes/modules/checkout/checkout-quickpay-enrollment-learn-more-modal.html.twig" %}

{% endblock %}
