{% extends "_layouts/modal.html.twig" %}
{% set modalId = 'checkout-quickpay-enrollment-learn-more-modal' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalHeader %}

  <button type="button" id="offers-modal-back-btn" class="close link-muted pull-left" data-dismiss="modal" aria-hidden="true">
    <span class="sr-only">Go back</span>
    <span class="lt-icon lt-left lt-large py-1"></span>
  </button>

  <button type="button" class="close link-muted" data-dismiss="modal" aria-hidden="true">
    <span class="sr-only">Close modal</span>
    <span class="lt-icon lt-close lt-large py-1"></span>
  </button>
  <h6 class="modal-title" id="myModalLabel">Bank Name</h6>

{% endblock %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalBody %}

  <p>{{ fpo.paragraph }}</p>

{% endblock %}



{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalFooter #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalFooter %}

  <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>

{% endblock %}
