<!-- START - MAIN CONTENT -->
<div class="container mt-5">

  <!-- START - TOP CONTENT -->
  <div class="row">
    <p class="col-sm-6 col-sm-offset-3">This order contains multiple carts. You can quickly check out by applying the same settings to all carts or customize each cart’s individual settings.</p>
  </div>
  <!-- END - TOP CONTENT -->

  <!-- START - CHECKOUT OPTIONS -->
  <div class="row my-4">

    <div class="col-sm-6" role="main">
      <div class="panel panel-default panel-button">
        <a href="./checkout-quick-checkout.html">
          <div class="panel-body p-4">
            <div class="row">
              <div class="col-sm-10 text-left vcenter">
                <h4 class="mt-0 panel-header">Quick Checkout</h3>
                <p class="mb-0">Apply a single shipping address and payment method to all carts</p>
              </div><!--
              --><div class="col-sm-2 vcenter">
                <span class="lt-icon lt-rightbutton"></span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="col-sm-6" role="complementary">
      <div class="panel panel-default panel-button">
        <a href="./checkout-itemized-checkout.html">
          <div class="panel-body p-4">
            <div class="row">
              <div class="col-sm-10 text-left vcenter">
                <h4 class="mt-0 panel-header">Itemized Checkout</h3>
                <p class="mb-0">Use unique shipping and payments options for individual carts</p>
              </div><!--
              --><div class="col-sm-2 vcenter">
                <span class="lt-icon lt-rightbutton"></span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

  </div>
  <!-- END - CHECKOUT OPTIONS -->

</div>
<!-- /.container -->
<!-- END - MAIN CONTENT -->
