<p>This order contains multiple carts. You can quickly check out by applying the same settings to all carts or customize each cart’s individual settings.</p>

<div class="row">
  <div class="col-md-6" role="main">
    <a href="#" class="btn btn-default btn-block my-4">
      <div  class="text-left">
        <h3>Quick Checkout</h3>
        <p>Apply a single shipping address and payment method to all carts</p>
      </div>
    </a>
  </div>
  <div class="col-md-6" role="complementary">
    <a href="{{ pages.checkout.review.itemized }}" class="btn btn-default btn-block my-4">
      <div  class="text-left">
        <h3>Itemized Checkout</h3>
        <p>Use unique shipping and payments options for individual carts</p>
      </div>
    </a>
  </div>
</div><!-- /.row -->



