<header class="navbar navbar-isolated navbar-static-top" role="banner">
  <div class="container">
  
      <a href="index.html" class="navbar-brand ml-0">
        {% include components.elements.images.logoYourAvon %}
      </a>
       <h1 class="navbar-title">Checkout</h1>
       <a href="{{ pages.product.detail }}" class="pull-right mt-3">
        <span class="h4"><span class="glyphicon glyphicon-remove"></span></span>
        
      </a>
 
  </div>
</header>