{% if page == 'product-detail' %}
  {% set itemsTotal = '9' %}
  {% set priceTotal = '54.00' %}
  {% set ctaButton = 'Continue' %}

{% elseif page == 'checkout' %}
  {% set itemsTotal = '55' %}
  {% set priceTotal = '484.87' %}
  {% set ctaButton = 'Place Order' %}

{% else %}
  {% set ctaButton = 'Continue' %}
{% endif %}

<!-- DRAWER -->
<div id="drawer-order-summary" class="drawer drawer-fixed-bottom drawer-order-summary">

  <!-- DRAWER NAV BAR -->
  <section class="navbar navbar-default">
    <div class="container pt-4">

      <!-- DRAWER SUMMARY -->
      <div class="pull-left">
        <h4 class="m-0"><a href="#drawer-order-summary" data-toggle="drawer">Your order </a></h4>

      </div>
      <div class="pull-right">
        <a href="#drawer-order-summary" data-toggle="drawer" class="btn btn-default btn-sm">Continue</a>

        
      </div>
    </div>
  </section>

  <!-- DRAWER CONTENT -->
  <section>

    {% include components.modules.checkout.header %}

    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          
          {% include components.modules.checkout.review.order.navTab %}

        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->

    
    <div class="container">
      <div class="row">
        <div class="col-sm-9">

           {% include components.modules.checkout.review.order.tabContent %}

        </div>
        <div class="col-sm-3">

          {% include components.modules.checkout.order.total %}

        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->




  </section>
</div><!-- /.drawer -->