{% set personsOrderItems = '
  <ul class="list-unstyled mb-0">
                  <li class="border-top p-4">
                    <div class="row">
                      <div class="col-xs-7 col-sm-8">
                        Anew Ultimate Supreme Advanced Performance Créme<br>
                        762-938
                      </div>
                      <div class="col-xs-2 text-right">
                        <b>$10.00</b><br>
                        <small>Auto-replenish</small> 
                      </div>
                      <div class="col-xs-3 col-sm-2 text-right">
                        <button type="button" class="btn btn-default">&bull; &bull; &bull;</button>
                      </div>
                    </div><!-- /.row -->
                  </li>

                  <li class="border-top p-4">
                    <div class="row">
                      <div class="col-xs-7 col-sm-8">
                        Avon Joyful Makeup Collection<br>
                        762-938
                      </div>
                      <div class="col-xs-2 text-right">
                        <b>$10.00</b><br>
                        <small>3 units</small>
                      </div>
                      <div class="col-xs-3 col-sm-2 text-right">
                        <button type="button" class="btn btn-default">&bull; &bull; &bull;</button>
                      </div>
                    </div><!-- /.row -->
                  </li>

                  <li class="border-top p-4">
                    <div class="row">
                      <div class="col-xs-7 col-sm-8">
                        Avon Joyful Makeup Collection<br>
                        762-938
                      </div>
                      <div class="col-xs-2 text-right">
                        <b>$10.00</b><br>
                        <small>3 units</small>
                      </div>
                      <div class="col-xs-3 col-sm-2 text-right">
                        <button type="button" class="btn btn-default">&bull; &bull; &bull;</button>
                      </div>
                    </div><!-- /.row -->
                </ul>

' %}

          <!-- Item -->
          <div class="panel panel-default">
            <div class="panel-body p-4">
              <a href="#collapse-2" data-toggle="collapse" class="collapsed">
                <span class="glyphicon glyphicon-play pull-left"></span>
                <span class="pull-left mx-4 ">
                  <h4 class="m-0">You (Rosa Stone)</h4>
                  2 items - Price: $16.75 - Discount: $4.55
                </span>
                <button type="button" class="btn btn-default pull-right">&bull; &bull; &bull;</button>
              </a>
            </div>
            <div class="collapse alert-info" id="collapse-2">
              {{ personsOrderItems }}
            </div>
          </div>
     

          <!-- Item -->
          <div class="panel panel-default">
            <div class="panel-body p-4">
              <a href="#collapse-3" data-toggle="collapse" class="collapsed">
                <span class="glyphicon glyphicon-play pull-left"></span>
                <span class="pull-left mx-4 ">
                  <h4 class="m-0">Kory Rasmussen</h4>
                  8 items - Price: $75 - Earnings: $10
                </span>
                <button type="button" class="btn btn-default pull-right">&bull; &bull; &bull;</button>
              </a>
            </div>
            <div class="collapse alert-info" id="collapse-3">
              {{ personsOrderItems }}
            </div>
          </div>
      

          <!-- Item -->
          <div class="panel panel-default">
            <div class="panel-body p-4">
              <a href="#collapse-1" data-toggle="collapse" class="collapsed">
                <span class="glyphicon glyphicon-play pull-left"></span>
                <span class="pull-left mx-4 ">
                  <h4 class="m-0">Tisha Pennington</h4>
                  8 items - Price: $75 - Earnings: $10
                </span>
                <button type="button" class="btn btn-default pull-right">&bull; &bull; &bull;</button>
              </a>
            </div>
            <div class="collapse alert-info" id="collapse-1">
              {{ personsOrderItems }}
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-body p-4">
              <h3 class="my-0">TOTAL</h3>
              <hr>
              <div class="row">
                <div class="col-xs-6">Balance Due:</div>
                <div class="col-xs-6 text-right">$90.00</div>
              </div><!-- /.row -->
              <hr>
              <div class="row">
                <div class="col-xs-6">Discounts/Earnings:</div>
                <div class="col-xs-6 text-right">$36.00</div>
              </div><!-- /.row -->
              <div class="alert alert-info mt-4"><span class="glyphicon glyphicon-info-sign"></span> Shipping and taxes will be calculated during the checkout process</div>
            </div>
          </div>