<div class="panel panel-default">
            <div class="panel-body p-4">
              <h4>FREE GIFT</h4>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                  <span class="sr-only">60% Complete</span>
                </div>
              </div>
              <p>Progress: 10% (Add $XX to unlock)</p>
            </div>
          </div>

          <div class="panel panel-default">
            <div class="panel-body p-4">
              <h4>FREE SAMPLE PACK</h4>
              <p>Progress: Available</p>
              <p>Free sample pack with each Anew Ultimate Supreme product purchase</p>
            </div>
          </div>
        </div>