{% if page == 'product-detail' %}
  {% set itemsTotal = '9' %}
  {% set priceTotal = '54.00' %}
  {% set ctaButton = 'Continue' %}

{% elseif page == 'checkout' %}
  {% set itemsTotal = '55' %}
  {% set priceTotal = '484.87' %}
  {% set ctaButton = 'Place Order' %}

{% else %}
  {% set ctaButton = 'Continue' %}
{% endif %}

{% set drawerId = 'drawer-order-summary' %}

<!-- DRAWER -->
<section id="{{ drawerId }}" class="drawer drawer-fixed-bottom drawer-order-summary">

  <!-- DRAWER SUMMARY -->
  <section class="drawer-summary">
    <div class="container-fluid">
      <div class="pull-left">
        <h4 class="drawer-summary-header"><a href="#{{ drawerId }}" data-toggle="drawer">Your order </a></h4>
      </div>
      <div class="pull-right">
        <ul class="list-group pull-left drawer-list-default">
          <li class="list-group-item">
            <dl class="mb-0">
              <dt class="list-group-item-heading">Items</dt>
              <dd class="list-group-item-text">24</dd>
            </dl>
          </li>
          <li class="list-group-item">
            <dl class="mb-0">
              <dt class="list-group-item-heading">Customers</dt>
              <dd class="list-group-item-text">4</dd>
            </dl>
          </li>
          <li class="list-group-item">
            <dl class="mb-0">
              <dt class="list-group-item-heading">Incentives</dt>
              <dd class="list-group-item-text">3</dd>
            </dl>
          </li>
          <li class="list-group-item">
            <dl class="mb-0">
              <dt class="list-group-item-heading">Discount</dt>
              <dd class="list-group-item-text">$144.62</dd>
            </dl>
          </li>
          <li class="list-group-item">
            <dl class="mb-0">
              <dt class="list-group-item-heading">Subtotal</dt>
              <dd class="list-group-item-text">$450.99</dd>
            </dl>
          </li>
        </ul>

        <div class="pull-right pl-5 pr-4 drawer-valign-middle">
          <a href="#drawer-order-summary" data-toggle="drawer" class="btn btn-default ">Continue</a>
        </div>
      </div>
    </div>
  </section><!-- /.drawer-summary -->

  <!-- DRAWER CONTENT -->
  <section class="drawer-content">

    <!-- HEADER -->
    {% include components.modules.global.drawer.header with { drawerLabel: 'Your Order', drawerId: drawerId } %}

    

    <div class="container">
      <div class="row">
        <div class="col-sm-9">
          
          {% include components.modules.checkout.review.order.navTab %}

        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->

    
    <div class="container">
      <div class="row">
        <div class="col-sm-9">

           {% include components.modules.checkout.review.order.tabContent %}

        </div>
        <div class="col-sm-3">

          {% include components.modules.checkout.order.total %}

        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->




  </section>
</section><!-- /.drawer -->