{% if buttonText is not defined %}
  {% set buttonText = 'Continue' %}
{% endif %}

<section class="list-group box-emphasize box-emphasize--focused">

  <div class="list-group-item border-0">

    <!-- START - HEADER -->
    <div class="clearfix mb-4">
      <h6 class="pull-left m-0 mt-2">Enter credit card details</h6>
    </div>
    <!-- END - HEADER -->

    {% include '_includes/modules/account/add-credit-card-form.html.twig' with {
      isPayment: true
    } %}

  </div>

</section>
