{% if headline is empty %}
  {% set headline = 'Choose Payment Method' %}
{% endif %}
<section class="list-group box-emphasize">
  <div class="list-group-item remove-last-border">
    <div class="mb-2">
      <h6 class="mb-3">{{ headline }}</h6>
    </div>

    {% include '_includes/modules/checkout/elements/payment-option-single.html.twig' with {
      type: 'Credit card',
      icon: '/images/icons/payment-mastercard.svg',
      subhead: null,
      amount: null,
      holder: 'Marcia Brady',
      expired: false,
      expiredDate: null,
      editable: false,
      buttonMode: true
    } %}

    {% include '_includes/modules/checkout/elements/payment-option-single.html.twig' with {
      type: 'Credit card',
      icon: '/images/icons/payment-visa.svg',
      subhead: null,
      amount: null,
      holder: 'Marcia Brady',
      expired: true,
      expiredDate: '01/17',
      editable: false,
      buttonMode: true
    } %}

    {% include '_includes/modules/checkout/elements/payment-option-single.html.twig' with {
      type: 'Avon Credit Line',
      icon: '/images/icons/payment-avoncredit.svg',
      subhead: '($85 available!)',
      amount: null,
      holder: null,
      expired: false,
      expiredDate: null,
      editable: false,
      buttonMode: true
    } %}

    {% include '_includes/modules/checkout/elements/payment-option-single.html.twig' with {
      type: 'QuickPAY',
      icon: '/images/icons/payment-quickpay.svg',
      subhead: null,
      amount: null,
      holder: null,
      expired: false,
      expiredDate: null,
      editable: false,
      buttonMode: true
    } %}

    {% include '_includes/modules/checkout/elements/payment-option-single.html.twig' with {
      type: 'PayPal',
      icon: '/images/icons/payment-paypal.svg',
      subhead: null,
      amount: null,
      holder: null,
      expired: false,
      expiredDate: null,
      editable: false,
      buttonMode: true
    } %}

  </div>
</section>
