<div class="container container--page">

  <!-- START - ORDER OVERVIEW -->
  {% include '_includes/modules/checkout/quick-checkout-order-overview.html.twig' %}
  <!-- END - ORDER OVERVIEW -->

  <!-- START - SHIPPING ADDRESS -->
  {% include '_includes/modules/checkout/quick-checkout-shipping-address.html.twig' %}
  <!-- END - SHIPPING ADDRESS -->

  <!-- START - SHIPPING METHOD -->
  {% include '_includes/modules/checkout/quick-checkout-shipping-method.html.twig' %}
  <!-- END - SHIPPING METHOD -->

  <!--START: PAYMENT METHOD-->
  {% include '_includes/modules/checkout/quick-checkout-payment-method.html.twig' %}
  <!--END: PAYMENT METHOD-->

  <!-- START - CREDIT CARD PAYMENT METHOD -->
  {% include '_includes/modules/checkout/quick-checkout-cc.html.twig' %}
  <!-- END - CREDIT CARD PAYMENT METHOD -->

  <!-- START: PAY WITH AVON CREDIT-->
  {% include '_includes/modules/checkout/quick-checkout-ac.html.twig' %}
  <!-- END: PAY WITH AVON CREDIT -->

  <!-- START: PAY WITH QUICKPAY-->
  {% include '_includes/modules/checkout/quick-checkout-aq.html.twig' %}
  <!-- END: PAY WITH AUICKPAY-->

</div>
<!-- /.container -->
