{% if showAmount is not defined %}
  {% set showAmount = false %}
{% endif %}

{% if buttonText is not defined %}
  {% set buttonText = 'Continue' %}
{% endif %}

<section class="list-group box-emphasize box-emphasize--focused">
  <div class="list-group-item border-0">
    <div class="clearfix mb-4">
      <h6 class="pull-left m-0 mt-2">Pay With QuickPAY</h6>
      <a class="pull-right underline" href="#">Cancel</a>
    </div>
    <p>{{ fpo.sentence }}</p>

    {% if showAmount %}
      <div class="form-group form-inline">
         <label class="control-label d-block mb-2">Amount to pay</label>
         <!-- DEV NOTE :: to disable input, add 'disabled' attribute -->
         {% include components.elements.forms.input with {
          classes: 'form-control-inline',
          type: 'number',
          placeholder: '$0.00',
          maxlength: '',
          size: '12'
        } %}
      </div>
    {% endif %}

    <div class="form-group form-inline">
       <label class="control-label d-block mb-2">Your 4-digit PIN</label>
       {% include components.elements.forms.input with {
        classes: 'form-control-inline',
        type: 'number',
        placeholder: '',
        maxlength: '4',
        size: '12'
      } %}
    </div>
     <!--Continue Button-->
    <a class="btn btn-primary">{{ buttonText }}</a>
  </div>
</section>
