{% if buttonText is not defined %}
  {% set buttonText = 'Continue' %}
{% endif %}

<section class="list-group box-emphasize box-emphasize--focused">

  <div class="list-group-item border-0">

    <!-- START - HEADER -->
    <div class="clearfix mb-4">
      <h6 class="pull-left m-0 mt-2">Pay with credit card</h6>
      <a class="pull-right underline" href="#">Cancel</a>
    </div>
    <!-- END - HEADER -->

    <!-- START - FORM -->
    <form role="form" class="pt-4">

      <div class="form-group">
        <label class="control-label">Amount to Pay</label>
        <div class="row">
          <div class="col-xs-4">
            <!-- DEV NOTE :: to disable this input add 'disabled' attribute -->
            {% include components.elements.forms.input with {
              placeholder: '$XXX.XX',
              type: 'number'
            } %}
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">Card Number</label>
        <div class="input-group">
          <span class="input-group-addon"><img src="/images/icons/payment-visa.svg"></span>
          {% include components.elements.forms.input with {
            placeholder: ''
          } %}
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">Name on Card</label>
        <div class="row">
          <div class="col-xs-12 mb-3 mb-xs-0">
            {% include components.elements.forms.input %}
          </div>
        </div>
      </div>

      <div class="form-group">

        <div class="row">

          <div class="col-xs-12 col-sm-9 mb-4 mb-xs-0">
            <label class="control-label">Expiration date</label>
            <div class="row">
              <div class="col-xs-12 col-sm-6 mb-3 mb-xs-0">
                <select class="form-control form-inline">
                  <option value="" selected>Month</option>
                  <option>January</option>
                  <option>February</option>
                  <option>March</option>
                </select>
                <span class="lt-icon lt-triangle-down form-control-feedback mr-4"></span>
              </div>
              <div class="col-xs-12 col-sm-6">
                <select class="form-control form-inline">
                  <option value="" selected>Year</option>
                  <option>2018</option>
                  <option>2019</option>
                  <option>2020</option>
                </select>
                <span class="lt-icon lt-triangle-down form-control-feedback mr-4"></span>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3">
            <label class="control-label">CVV</label>
            <span class="lt-icon lt-info lt-medium mb-2 align-middle"
              data-container="body"
              data-toggle="popover"
              data-placement="bottom"
              data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
            </span>
            {% include components.elements.forms.input with {
              placeholder: ''
            } %}
          </div>

        </div> <!-- / .row -->

      </div><!-- / .form-group -->

      <!-- START - SAME ADDRESS CHECKBOX -->
      <div class="form-group mb-4">
        {% include "_includes/elements/forms/checkbox.html.twig" with {
          checked: false,
          theLabel: 'Billing address is same as Shipping'
        } %}
      </div>
      <!-- END - SAME ADDRESS CHECKBOX -->

      <!-- START - BILLING ADDRESS FORM FIELDS -->
      <!-- DEV NOTE :: add class '.d-none' to billing-address to hide -->
      <div class="billing-address">
        <div class="form-group">
          <div class="mb-3">
            <label class="control-label">Address</label>
            {% include components.elements.forms.input with {
              placeholder: ''
            } %}
          </div>
          {% include components.elements.forms.input with {
            placeholder: ''
          } %}
        </div>

        <div class="list-group-item border-0 p-1 mb-4">
          <div class="row">
            <div class="col-xs-5">
              <label class="control-label">ZIP</label>
              {% include components.elements.forms.input with {
                placeholder: ' '
              } %}
            </div>
            <div class="col-xs-7">
              <label class="control-label">City</label>
              {% include components.elements.forms.input with {
                placeholder: ' '
              } %}
            </div>
          </div>
        </div>

        <div class="list-group-item border-0 p-1 mb-4">
          <div class="row">
            <div class="col-xs-5">
              <div class="form-group has-feedback">
                <label class="control-label">State</label>
                <select class="form-control">
                  <option value="" selected>Select...</option>
                  <option>State 1</option>
                  <option>State 2</option>
                </select>
                <span class="lt-icon lt-triangle-down form-control-feedback"></span>
              </div>
            </div>

            <div class="col-xs-7">
              <div class="form-group has-feedback">
                <label class="control-label">Country</label>
                <select class="form-control">
                  <option value="" selected>Select...</option>
                  <option>State 1</option>
                  <option>State 2</option>
                </select>
                <span class="lt-icon lt-triangle-down form-control-feedback"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END - BILLING ADDRESS FORM FIELDS -->

      <!-- START - Continue Button -->
      <a href="javascript:void(0);" class="btn btn-primary">{{ buttonText }}</a>
      <!-- END - Continue Button -->

    </form>
    <!-- END - FORM -->

  </div>

</section>
