{% if buttonText is not defined %}
  {% set buttonText = 'Continue' %}
{% endif %}

<section class="list-group box-emphasize box-emphasize--focused">

  <div class="list-group-item border-0">

    <!-- START - HEADER -->
    <div class="clearfix mb-4">
      <h6 class="pull-left m-0 mt-2">Enter credit card details</h6>
    </div>
    <!-- END - HEADER -->

    <!-- START - FORM -->
    <form role="form" class="pt-4">

      <div class="form-group">
        <label class="control-label">Amount to Pay</label>
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <!-- DEV NOTE :: to disable this input add 'disabled' attribute -->
            {% include components.elements.forms.input with {
              placeholder: '$XXX.XX',
              type: 'number'
            } %}
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">Card Number</label>
        <div class="input-group">
          <span class="input-group-addon"><img src="/images/icons/payment-visa.svg"></span>
          {% include components.elements.forms.input with {
            placeholder: ''
          } %}
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">Name on Card</label>
        <div class="row">
          <div class="col-xs-12 mb-3 mb-xs-0">
            {% include components.elements.forms.input %}
          </div>
        </div>
      </div>

      <div class="form-group">

        <div class="row">

          <div class="col-xs-12 col-sm-9 mb-4 mb-xs-0">
            <label class="control-label">Expiration date</label>
            <div class="row">
              <div class="col-xs-12 col-sm-6 mb-3 mb-xs-0">
                <select class="form-control form-inline selectpicker" data-size="4" data-style="btn-select" data-icon-base="lt-icon">
                  <option selected="true" disabled="true">Month</option>
                  <option>January</option>
                  <option>February</option>
                  <option>March</option>
                </select>
              </div>
              <div class="col-xs-12 col-sm-6">
                <select class="form-control form-inline selectpicker" data-size="4" data-style="btn-select" data-icon-base="lt-icon">
                  <option selected="true" disabled="true">Year</option>
                  <option>2018</option>
                  <option>2019</option>
                  <option>2020</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3">
            {% include "_includes/groups/forms/input-and-label.html.twig" with {
              mainLabel: 'CVV',
              labelAddon: '<a href="javascript:void(0)" data-toggle="modal" data-target="#shippingModal">
                  <span class="lt-icon lt-tip lt-medium align-middle"></span>
              </a>',
              type: 'number'
            } %}
          </div>

        </div> <!-- / .row -->

      </div><!-- / .form-group -->

      <!-- START - SAME ADDRESS CHECKBOX -->
      <div class="form-group mb-4">
        {% include "_includes/elements/forms/checkbox.html.twig" with {
          checked: false,
          theLabel: 'Billing address is same as Shipping',
          wrapLabel: true
        } %}
      </div>
      <!-- END - SAME ADDRESS CHECKBOX -->

      <!-- START - BILLING ADDRESS FORM FIELDS -->
      <!-- DEV NOTE :: add class '.d-none' to billing-address to hide -->
      <div class="billing-address">
        <div class="form-group">
          <div class="mb-3">
            <label class="control-label">Address</label>
            {% include components.elements.forms.input with {
              placeholder: 'Address Line 1'
            } %}
          </div>
          {% include components.elements.forms.input with {
            placeholder: 'Address Line 2 (optional)'
          } %}
        </div>

        <div class="list-group-item border-0 p-1 mb-4">
          <div class="row">
            <div class="col-xs-4">
              <label class="control-label">ZIP</label>
              {% include components.elements.forms.input with {
                placeholder: ' '
              } %}
            </div>
            <div class="col-xs-8">
              <label class="control-label">City</label>
              {% include components.elements.forms.input with {
                placeholder: ' '
              } %}
            </div>
          </div>
        </div>

        <div class="list-group-item border-0 p-1 mb-4">
          <div class="row">
            <div class="col-xs-4">
              <div class="form-group has-feedback">
                <label class="control-label">State</label>
                <select class="form-control selectpicker" data-size="4" data-style="btn-select" data-icon-base="lt-icon">
                  <option selected="true" disabled="true">Select...</option>
                  <option>State 1</option>
                  <option>State 2</option>
                </select>
              </div>
            </div>

            <div class="col-xs-8">
              <div class="form-group has-feedback">
                <label class="control-label">Country</label>
                <select class="form-control selectpicker" data-size="4" data-style="btn-select" data-icon-base="lt-icon">
                  <option selected="true" disabled="true">Select...</option>
                  <option>State 1</option>
                  <option>State 2</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END - BILLING ADDRESS FORM FIELDS -->

      <div class="pb-4 pl-1">
        {% include "_includes/elements/forms/checkbox.html.twig" with {
          checked: true,
          theLabel: 'Save credit card information to my account',
          helperText: 'Donec id elit non mi porta gravida et eget metus. Nulla vitae elit libero, a phareta augue verbose.',
          emphasize: false,
          wrapLabel: true
        } %}
      </div>

      <div class="pb-4 pl-1">
        {% include "_includes/elements/forms/checkbox.html.twig" with {
          checked: true,
          theLabel: 'Save credit card information to my account',
          helperText: 'Donec id elit non mi porta gravida et eget metus. Nulla vitae elit libero, a phareta augue verbose.',
          emphasize: false,
          wrapLabel: true,
          disabled: true
        } %}
      </div>

      <div class="row mt-4">
          <div class="col-xs-12">
              <div class="btn-group btn-group-50-50--contained">
                <div class="btn-group">
                  <a href="javascript:void(0)" class="btn btn-default">Cancel</a>
                  {# <button type="button" class="btn btn-default">Left</button> #}
                </div>
                <div class="btn-group">
                  <a href="javascript:void(0)" class="btn btn-primary">{{ buttonText }}</a>
                  {# <button type="button" class="btn btn-primary">Right</button> #}
                </div>
              </div>
          </div>
        </div>

    </form>
    <!-- END - FORM -->

  </div>

</section>
