{% if headline is empty %}
  {% set headline = 'Choose Payment Method' %}
{% endif %}
<section class="list-group box-emphasize">
  <div class="list-group-item remove-last-border">
    <div class="mb-2">
      <h6 class="mb-3">{{ headline }}</h6>
    </div>

    <div class="clearfix border-bottom py-4">
      <div class="pull-left mr-3">
        <img src="/images/icons/payment-visa.svg">
      </div>
      <div class="pull-left">
        Card Card
      </div>
    </div>

    <div class="clearfix border-bottom py-4">
      <div class="pull-left mr-3">
        <img src="/images/icons/payment-avoncredit.svg">
      </div>
      <div class="pull-left">
        Avon Credit Line <br>
        <span class="text-muted d-block">($85 available)</span>
      </div>
    </div>

    <div class="clearfix border-bottom py-4">
      <div class="pull-left mr-3">
        <img src="/images/icons/payment-quickpay.svg">
      </div>
      <div class="pull-left">
        QuickPay
      </div>
    </div>

    {% if hasSplitPayment %}
    <div class="clearfix pt-4">
      <a href="javascript:void(0)">
        <div class="pull-left">
          Split Payments
        </div>
        <div class="pull-right">
          <span class="lt-icon lt-right lt-large"></span>
        </div>
      </a>
    </div>
    {% endif %}

  </div>
</section>
