<section class="list-group box-emphasize">
  <div class="list-group-item">
    <h6 class="mb-3">Pay Past Due Balance</h6>
    <p>
      You must pay your past due balance before paying for this order
    </p>
    <dl class="clearfix border-top pt-4 my-2">
      <dt class="pull-left"><strong>Balance Due:</strong></dt>
      <dd class="pull-right text-right">
        <b>$XXX.XX</b>
      </dd>
    </dl>
  </div>
</section>
