{% if headline is empty %}
  {% set headline = 'Choose Payment Method' %}
{% endif %}
<section class="list-group box-emphasize">
  <div class="list-group-item remove-last-border">
    <div class="mb-2">
      <h6 class="mb-3">{{ headline }}</h6>
    </div>

    {% include '_includes/modules/checkout/elements/payment-option-single.html.twig' with {
      type: 'Credit card',
      icon: '/images/icons/payment-visa.svg',
      subhead: null,
      amount: null,
      editable: false,
      buttonMode: true
    } %}

    {% include '_includes/modules/checkout/elements/payment-option-single.html.twig' with {
      type: 'Avon Credit Line',
      icon: '/images/icons/payment-avoncredit.svg',
      subhead: '($85 available!)',
      amount: null,
      editable: false,
      buttonMode: true
    } %}

    {% include '_includes/modules/checkout/elements/payment-option-single.html.twig' with {
      type: 'QuickPAY',
      icon: '/images/icons/payment-quickpay.svg',
      subhead: null,
      amount: null,
      editable: false,
      buttonMode: true
    } %}

    {% if hasSplitPayment %}
      <a href="javascript:void(0)">
        <div class="clearfix pt-4">
          <div class="pull-left">
            Split Payments
          </div>
          <div class="pull-right">
            <span class="lt-icon lt-right lt-large"></span>
          </div>
        </div>
      </a>
    {% endif %}

  </div>
</section>
