<section class="list-group box-emphasize box-emphasize--focused">
  <div class="list-group-item border-0">
    <div class="clearfix mb-4">
      <h6 class="pull-left m-0 mt-2">Pay With Avon Credit</h6>
      <a class="pull-right underline" href="#">Cancel</a>
    </div>
    <dl class="clearfix my-2 text-muted">
      <dt class="pull-left">Available credit</dt>
      <dd class="pull-right text-right">+ $XX.XX</dd>
    </dl>
    <dl class="clearfix my-2 text-muted">
      <dt class="pull-left">Order Total</dt>
      <dd class="pull-right text-right">+ $XX.XX</dd>
    </dl>
    <dl class="clearfix my-4 py-4 border-y">
      <dt class="pull-left">Credit after purchase</dt>
      <dd class="pull-right text-right"><strong>$XX.XX</strong></dd>
    </dl>
     <!--Continue Button-->
    <a class="btn btn-primary">Continue</a>
  </div>
</section>
