{% if headline is empty %}
  {% set headline = 'Payments' %}
{% endif %}
<section class="list-group box-emphasize">
  <div class="list-group-item remove-last-border">
    <div class="clearfix mb-2">
      <h6 class="mb-3 pull-left">Payments</h6>
    </div>

    {% include '_includes/modules/checkout/elements/payment-option-single.html.twig' with {
      type: 'Avon Credit Line',
      icon: '/images/icons/payment-avoncredit.svg',
      subhead: '($85 available!)',
      amount: '$85.00'
    } %}

    {% include '_includes/modules/checkout/elements/payment-option-single.html.twig' with {
      type: 'QuickPAY',
      icon: '/images/icons/payment-quickpay.svg',
      amount: '$10.00'
    } %}

    {% include '_includes/modules/checkout/elements/payment-option-single.html.twig' with {
      type: 'VISA ending 1234',
      icon: '/images/icons/payment-visa.svg',
      amount: '$15.00',
    } %}

    {# {% include '_includes/modules/checkout/elements/payment-option-single.html.twig' with {
      type: 'VISA ending 1234',
      icon: '/images/icons/payment-visa.svg',
      amount: '$15.00',
      subhead: 'Transaction ID: 12345'
    } %} #}

    {% include '_includes/modules/checkout/elements/payment-option-single.html.twig' with {
      type: 'Mastercard ending in 9876',
      icon: '/images/icons/payment-mastercard.svg',
      amount: '$25.00'
    } %}

    <div class="pt-4">
      <div class="clearfix mb-2">
        <h6 class="mb-3 pull-left">Add Another Payment Method</h6>
      </div>

      {% include '_includes/modules/checkout/elements/payment-option-single.html.twig' with {
        type: 'Visa ending in 1234 - Expired',
        icon: '/images/icons/payment-visa.svg',
        subhead: null,
        amount: null,
        holder: 'Marcia Brady',
        expired: true,
        expiredDate: '01/17',
        editable: false,
        buttonMode: true
      } %}

      {% include '_includes/modules/checkout/elements/payment-option-single.html.twig' with {
        type: 'Use another credit card',
        icon: '/images/icons/payment-avoncredit.svg',
        subhead: null,
        amount: null,
        editable: false,
        buttonMode: true
      } %}

      <div class="text-muted pb-4">Max number of payment methods(3) reached. </div>

    </div>
  </div>
    

  
</section>
