<section class="list-group box-emphasize box-emphasize--focused">

  <div class="list-group-item border-0">

    <!-- START - HEADER -->
    <div class="clearfix mb-4">
      <h6 class="pull-left m-0 mt-2">Edit Credit Card</h6>
    </div>
    <!-- END - HEADER -->

    {% include '_includes/modules/checkout/elements/payment-option-single.html.twig' with {
      type: 'VISA ending 1234',
      icon: '/images/icons/payment-visa.svg',
      editable: false,
      border: false,
      customClasses: 'mb-2 pb-3'
    } %}

    {% include '_includes/modules/account/edit-credit-card-form.html.twig' %}

  </div>

</section>
