<div class="container container--page">

  <h3 class="mb-5 text-center">Review and Submit Order</h3>

  <!-- START - ORDER SUMMARY -->
  <section class="list-group box-emphasize">

    <div class="list-group-item">

      <h6 class="mb-4">Order Overview</h6>

      <div class="item-count">
        {% include '_includes/modules/checkout/elements/product-table-collapsible.html.twig' with {
          id: 'item-count',
          desc: '3 Items in order',
          expanded: true,
          borderBottom: true
        } %}
      </div>

      <div class="free-items">
        {% include '_includes/modules/checkout/elements/product-table-collapsible.html.twig' with {
          id: 'free-items',
          desc: '3 Free items',
          expanded: false,
          borderBottom: true
        } %}
      </div>

      <div class="additional-shipping">
        {% include '_includes/modules/checkout/elements/product-table-collapsible.html.twig' with {
          id: 'additional-shipping',
          desc: 'Additional Shipping Items',
          expanded: false,
          borderBottom: false
        } %}
      </div>

      <dl class="clearfix my-2 border-top pt-4 text-muted">
        <dt class="pull-left">Shipping</dt>
        <dd class="pull-right text-right">+ $XX.XX</dd>
      </dl>
      <dl class="clearfix my-2 text-muted">
        <dt class="pull-left">Taxes</dt>
        <dd class="pull-right text-right">+ $XX.XX</dd>
      </dl>
      <dl class="clearfix my-2 pb-4 text-muted">
        <dt class="pull-left">Earnings/Discount</dt>
        <dd class="pull-right text-right">- $XX.XX</dd>
      </dl>

      <dl class="clearfix my-2 text-primary border-y py-4">
        <dt class="pull-left">ORDER TOTAL:</dt>
        <dd class="pull-right text-right">
          <b>$XXX.XX</b>
        </dd>
      </dl>

      <dl class="clearfix my-2 text-muted">
        <dt class="pull-left">Account balance<span class="lt-icon lt-info lt-medium ml-2 align-middle"></span></dt>
        <dd class="pull-right text-right">
          - $XX.XX
        </dd>
      </dl>
      <dl class="clearfix my-2">
        <dt class="pull-left"><strong>Pay this amount</strong></dt>
        <dd class="pull-right text-right">
          <b>$XXX.XX</b>
        </dd>
      </dl>
    </div>

  </section>
  <!-- END - ORDER SUMMARY -->

  <!-- START - ADDRESS -->
  <section class="list-group box-emphasize">
    <div class="list-group-item">
      <h6 class="mb-3">Ship to</h6>
      <p>
        1153 W Grand Ave<br>
        Chicago, IL, 60642-5808
      </p>
    </div>
  </section>
  <!-- END - ADDRESS -->

  <!-- START - SHIPPING -->
  <section class="list-group box-emphasize">
    <div class="list-group-item">
      <h6 class="mb-3">Shipping Method</h6>
      <p>
        USPS Ground (4–7 business days) <br>
        $5.95
      </p>
    </div>
  </section>
  <!-- END - SHIPPING -->

  <!-- START - PAYMENTS -->
  <section class="list-group box-emphasize">
    <div class="list-group-item">
      <div class="clearfix mb-4">
        <h6 class="mb-3 pull-left">Payments</h6>
        <a class="underline pull-right" href="#">Edit</a>
      </div>
      <dl class="clearfix my-2">
        <dt class="pull-left"><img class="mr-2" src="/images/icons/payment-mastercard.svg"> Mastercard ending in 9876</dt>
        <dd class="pull-right text-right">
          $85.00
        </dd>
      </dl>
    </div>
  </section>
  <!-- END - PAYMENTS -->

  <!-- START - PAYMENT OPTIONS -->
  <section class="list-group box-emphasize">
    <div class="list-group-item">
      <div class="clearfix mb-2">
        <h6 class="mb-3 pull-left">Payments</h6>
        <a class="underline pull-right" href="#">Edit</a>
      </div>
      <dl class="clearfix my-2 border-bottom py-3">
        <dt class="pull-left"><img class="mr-2" src="/images/icons/payment-avoncredit.svg"> Avon Credit Line</dt>
        <dd class="pull-right text-right">
          $85.00
        </dd>
      </dl>
      <dl class="clearfix my-2 border-bottom py-3">
        <dt class="pull-left"><img class="mr-2" src="/images/icons/payment-quickpay.svg"> QuickPAY</dt>
        <dd class="pull-right text-right">
          $10.00
        </dd>
      </dl>
      <dl class="clearfix my-2 border-bottom py-3">
        <dt class="pull-left"><img class="mr-2" src="/images/icons/payment-visa.svg"> VISA ending 1234</dt>
        <dd class="pull-right text-right">
          $15.00
        </dd>
      </dl>
      <dl class="clearfix py-3 mb-0">
        <dt class="pull-left"><img class="mr-2" src="/images/icons/payment-mastercard.svg"> Mastercard ending in 9876</dt>
        <dd class="pull-right text-right">
          $25.00
        </dd>
      </dl>
    </div>
  </section>
  <!-- END - PAYMENT OPTIONS -->

  <!-- DEV NOTE :: This sticky footer requires some js to add appropriate padding to <body>
                :: See avon-main.js near the bottom -> "if(hasStickyFooter) {... -->
  <nav class="navbar navbar-default navbar-fixed-bottom navbar-fixed-bottom--auto-height m-0 p-3" role="navigation">
    <div class="container">
      <a href="javascript:void(0)" class="btn btn-primary btn-block">Submit Order</a>
    </div>
  </nav>

</div>
<!-- /.container -->
