<div class="container container--page">

  <h3 class="mb-5 text-center">Review and Submit Order</h3>

  <section class="list-group">
    <div class="list-group-item">
      <h6 class="mb-5">Order Overview</h6>
      <div class="item-count">
        <dl class="clearfix py-4 m-0">
          <dt class="pull-left">
            <a href="javascript:void(0)" data-toggle="collapse" data-target="#item-count" class="link-plain">
              <span class="lt-icon lt-triangle-down collapse-indicator align-middle"></span>
              <span class="ml-3 align-middle">3 Items in order</span>
            </a>
          </dt>
          <dd class="pull-right text-right">$XXX.XX</dd>
        </dl>
        <div class="collapse in border-bottom" id="item-count">
          <table class="table table-fixed m-0">
            <tbody>
              <tr class="pt-3">
                <td class="t-item pl-0 pb-3">
                  <img src="/images/fpo/agnew-ultimate.png" class="img-responsive" alt="">
                </td>

                <td class="t-desc pb-3">
                  <div>
                    <span class="mr-4"><strong>Avon Tru Color Ultra Hydrating Lip Color</strong></span>
                    <span class="text-muted d-block">829-957</span>
                  </div>
                </td>

                <td class="t-price pb-3 px-1">
                  $XXX.XX
                  <span class="text-muted">QTY: XX</span>
                </td>
              </tr>
              <tr class="pt-3">
                <td class="t-item pl-0 pb-3">
                  <img src="/images/fpo/agnew-ultimate.png" class="img-responsive" alt="">
                </td>

                <td class="t-desc pb-3">
                  <div>
                    <span class="mr-4"><strong>Avon Tru Color Ultra Hydrating Lip Color</strong></span>
                    <span class="text-muted d-block">829-957</span>
                  </div>
                </td>

                <td class="t-price pb-3 px-1">
                  $XXX.XX
                  <span class="text-muted">QTY: XX</span>
                </td>
              </tr>
              <tr class="pt-3">
                <td class="t-item pl-0 pb-3">
                  <img src="/images/fpo/agnew-ultimate.png" class="img-responsive" alt="">
                </td>

                <td class="t-desc pb-3">
                  <div>
                    <span class="mr-4"><strong>Avon Tru Color Ultra Hydrating Lip Color</strong></span>
                    <span class="text-muted d-block">829-957</span>
                  </div>
                </td>

                <td class="t-price pb-3 px-1">
                  $XXX.XX
                  <span class="text-muted">QTY: XX</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="item-count">
        <dl class="clearfix py-4 m-0">
          <dt class="pull-left">
            <a href="javascript:void(0)" data-toggle="collapse" data-target="#free-items" class="link-plain collapsed">
              <span class="lt-icon lt-triangle-down collapse-indicator align-middle"></span>
              <span class="ml-3 align-middle">2 Free items</span>
            </a>
          </dt>
          <dd class="pull-right text-right">$0.00</dd>
        </dl>
        <div class="collapse border-top" id="free-items">
          <table class="table table-fixed m-0">
            <tbody>
              <tr class="pt-3">
                <td class="t-item pl-0 pb-3">
                  <img src="/images/fpo/agnew-ultimate.png" class="img-responsive" alt="">
                </td>

                <td class="t-desc pb-3">
                  <div>
                    <span class="mr-4"><strong>Avon Tru Color Ultra Hydrating Lip Color</strong></span>
                    <span class="text-muted d-block">829-957</span>
                  </div>
                </td>

                <td class="t-price pb-3 px-1">
                  $XXX.XX
                  <span class="text-muted">QTY: XX</span>
                </td>
              </tr>
              <tr class="pt-3">
                <td class="t-item pl-0 pb-3">
                  <img src="/images/fpo/agnew-ultimate.png" class="img-responsive" alt="">
                </td>

                <td class="t-desc pb-3">
                  <div>
                    <span class="mr-4"><strong>Avon Tru Color Ultra Hydrating Lip Color</strong></span>
                    <span class="text-muted d-block">829-957</span>
                  </div>
                </td>

                <td class="t-price pb-3 px-1">
                  $XXX.XX
                  <span class="text-muted">QTY: XX</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <dl class="clearfix my-2 border-top pt-4 text-muted">
        <dt class="pull-left">Shipping</dt>
        <dd class="pull-right text-right">+ $XX.XX</dd>
      </dl>
      <dl class="clearfix my-2 text-muted">
        <dt class="pull-left">Taxes</dt>
        <dd class="pull-right text-right">+ $XX.XX</dd>
      </dl>
      <dl class="clearfix my-2 pb-4 text-muted">
        <dt class="pull-left">Earnings/Discount</dt>
        <dd class="pull-right text-right">- $XX.XX</dd>
      </dl>

      <dl class="clearfix my-2 text-primary border-y py-4">
        <dt class="pull-left">ORDER TOTAL:</dt>
        <dd class="pull-right text-right">
          <b>$XXX.XX</b>
        </dd>
      </dl>

      <dl class="clearfix my-2 text-muted">
        <dt class="pull-left">Account balance<span class="lt-icon lt-info lt-medium ml-2 align-middle"></span></dt>
        <dd class="pull-right text-right">
          - $XX.XX
        </dd>
      </dl>
      <dl class="clearfix my-2">
        <dt class="pull-left"><strong>Pay this amount</strong></dt>
        <dd class="pull-right text-right">
          <b>$XXX.XX</b>
        </dd>
      </dl>
    </div>
  </section>
  <section class="list-group">
    <div class="list-group-item">
      <h6 class="mb-3">Ship to</h6>
      <p>
        1153 W Grand Ave<br>
        Chicago, IL, 60642-5808
      </p>
    </div>
  </section>
  <section class="list-group">
    <div class="list-group-item">
      <h6 class="mb-3">Shipping Method</h6>
      <p>
        USPS Ground (4–7 business days) <br>
        $5.95
      </p>
    </div>
  </section>
  <section class="list-group">
    <div class="list-group-item">
      <div class="clearfix mb-4">
        <h6 class="mb-3 pull-left">Payments</h6>
        <a class="underline pull-right" href="#">Edit</a>
      </div>
      <dl class="clearfix my-2">
        <dt class="pull-left">Mastercard ending in 9876</dt>
        <dd class="pull-right text-right">
          $85.00
        </dd>
      </dl>
    </div>
  </section>
  <section class="list-group">
    <div class="list-group-item">
      <div class="clearfix mb-2">
        <h6 class="mb-3 pull-left">Payments</h6>
        <a class="underline pull-right" href="#">Edit</a>
      </div>
      <dl class="clearfix my-2 border-bottom py-3">
        <dt class="pull-left">Avon Credit Line</dt>
        <dd class="pull-right text-right">
          $85.00
        </dd>
      </dl>
      <dl class="clearfix my-2 border-bottom py-3">
        <dt class="pull-left">QuickPAY</dt>
        <dd class="pull-right text-right">
          $10.00
        </dd>
      </dl>
      <dl class="clearfix my-2 border-bottom py-3">
        <dt class="pull-left">VISA ending 1234</dt>
        <dd class="pull-right text-right">
          $15.00
        </dd>
      </dl>
      <dl class="clearfix py-3 mb-0">
        <dt class="pull-left">Mastercard ending in 9876</dt>
        <dd class="pull-right text-right">
          $25.00
        </dd>
      </dl>
    </div>
  </section>

</div>
<!-- /.container -->


<div class="container">
  <section class="clearfix text-center mb-4">
    <a class="btn btn-primary btn-lg btn-block">SUBMIT ORDER</a>
  </section>
