<div class="container container--page">

  <h3 class="mb-5">Review and Complete Order</h3>

  <section class="list-group">
    <div class="list-group-item">
      <h4 class="m-0">Order Overview</h4>
    </div>
    <div class="list-group-item">
      <dl class="clearfix my-2">
        <dt class="pull-left">You (Rosa Stone)</dt>
        <dd class="pull-right text-right">$123.99</dd>
      </dl>
      <dl class="clearfix my-2">
        <dt class="pull-left">Kory Rasmussen</dt>
        <dd class="pull-right text-right">$51.72</dd>
      </dl>
      <dl class="clearfix my-2">
        <dt class="pull-left">Tisha Pennington</dt>
        <dd class="pull-right text-right"></dd>
      </dl>
      <hr>
      <dl class="clearfix my-2">
        <dt class="pull-left">ORDER TOTAL</dt>
        <dd class="pull-right text-right">
          <b>$484.87</b>
        </dd>
      </dl>
      <dl class="clearfix my-2">
        <dt class="pull-left">EARNINGS TOTAL</dt>
        <dd class="pull-right text-right">
          <b>$50.56</b>
        </dd>
      </dl>
    </div>
  </section>

  <section class="list-group">
    <div class="list-group-item clearfix">
      <h4 class="my-2 pull-left">
        <span class="lt-icon lt-bag"></span>
        You (Rosa Stone)
      </h4>
      <a href="{{ pages.checkout.review.itemized }}" class="btn btn-default btn-sm pull-right">Edit</a>
    </div>
    <div class="list-group-item">

      <!-- ITEMS -->
      <div class="clearfix my-4">
        <dl class="bg-primary-muted text-center px-4 py-2 pull-left d-inline-block mb-0 mr-4">
          <dt class="text-primary">ITEMS</dt>
          <dd>3</dd>
        </dl>
        <dl class="bg-primary-muted text-center px-4 py-2 pull-left d-inline-block mb-0 mr-4">
          <dt class="text-primary">TOTAL</dt>
          <dd>$135.00</dd>
        </dl>
        <dl class="bg-primary-muted text-center px-4 py-2 pull-left d-inline-block mb-0">
          <dt class="text-primary">DISCOUNT</dt>
          <dd>$23.45</dd>
        </dl>
      </div>

      <!-- SHIP TO -->
      <div class="clearfix my-4">
        <b>SHIP TO</b><br>
        1153 W Grand Ave<br>
        Chicago, IL, 60642-5808
      </div>

      <!-- SHIPPING METHOD -->
      <div class="clearfix my-4">
        <b>SHIPPING METHOD</b><br>
        USPS Ground (4–7 business days)<br>
        $5.95
      </div>

      <!-- PAYMENT METHOD -->
      <div class="clearfix my-4">
        <b>PAYMENT METHOD</b><br>
        Visa ending in 9845
      </div>

    </div>
  </section>

  <section class="list-group">
    <div class="list-group-item clearfix">
      <h4 class="my-2 pull-left">
        <span class="lt-icon lt-bag"></span>
        Kory Rasmussen
      </h4>
      <a href="{{ pages.checkout.review.itemized }}" class="btn btn-default btn-sm pull-right">Edit</a>
    </div>
    <div class="list-group-item">

      <!-- ITEMS -->
      <div class="clearfix my-4">
        <dl class="bg-primary-muted text-center px-4 py-2 pull-left d-inline-block mb-0 mr-4">
          <dt class="text-primary">ITEMS</dt>
          <dd>3</dd>
        </dl>
        <dl class="bg-primary-muted text-center px-4 py-2 pull-left d-inline-block mb-0 mr-4">
          <dt class="text-primary">TOTAL</dt>
          <dd>$135.00</dd>
        </dl>
        <dl class="bg-primary-muted text-center px-4 py-2 pull-left d-inline-block mb-0">
          <dt class="text-primary">DISCOUNT</dt>
          <dd>$23.45</dd>
        </dl>
      </div>

      <!-- SHIP TO -->
      <div class="clearfix my-4">
        <b>SHIP TO</b><br>
        1042 N Winchester Ave Apt 3,<br>
        Chicago, IL, 60622
      </div>

      <!-- SHIPPING METHOD -->
      <div class="clearfix my-4">
        <b>SHIPPING METHOD</b><br>
        USPS Ground (4–7 business days)<br>
        $5.95
      </div>

      <!-- PAYMENT METHOD -->
      <div class="clearfix my-4">
        <b>PAYMENT METHOD</b><br>
        Visa ending in 9845
      </div>

    </div>
  </section>

  <section class="list-group">
    <div class="list-group-item clearfix">
      <h4 class="my-2 pull-left">
        <span class="lt-icon lt-bag"></span>
        Tisha Pennington
      </h4>
      <a href="{{ pages.checkout.review.itemized }}" class="btn btn-default btn-sm pull-right">Edit</a>
    </div>
    <div class="list-group-item">

      <!-- ITEMS -->
      <div class="clearfix my-4">
        <dl class="bg-primary-muted text-center px-4 py-2 pull-left d-inline-block mb-0 mr-4">
          <dt class="text-primary">ITEMS</dt>
          <dd>3</dd>
        </dl>
        <dl class="bg-primary-muted text-center px-4 py-2 pull-left d-inline-block mb-0 mr-4">
          <dt class="text-primary">TOTAL</dt>
          <dd>$135.00</dd>
        </dl>
        <dl class="bg-primary-muted text-center px-4 py-2 pull-left d-inline-block mb-0">
          <dt class="text-primary">DISCOUNT</dt>
          <dd>$23.45</dd>
        </dl>
      </div>

      <!-- SHIP TO -->
      <div class="clearfix my-4">
        <b>SHIP TO</b><br>
        1042 N Winchester Ave Apt 3,<br>
        Chicago, IL, 60622
      </div>

      <!-- SHIPPING METHOD -->
      <div class="clearfix my-4">
        <b>SHIPPING METHOD</b><br>
        USPS Ground (4–7 business days)<br>
        $5.95
      </div>

      <!-- PAYMENT METHOD -->
      <div class="clearfix my-4">
        <b>PAYMENT METHOD</b><br>
        Visa ending in 9845
      </div>

    </div>
  </section>

</div>
<!-- /.container -->

<hr>

<div class="container">
  <section class="clearfix text-center mb-4">
    <a class="btn btn-primary btn-lg">Complete &amp; process order</a>
  </section>
