<!-- START - PRODUCT FILTERS -->
<section class="aside-product-filters hidden-xs hidden-sm mt-5">

  <h4 class="text-uppercase"><small>Refine By</small></h4>

  <form>

    <div class="form-group border-bottom py-4">
      <label>Brands</label>
      {% include components.elements.forms.checkbox with { theLabel: 'Anew', checked: false } %}
      {% include components.elements.forms.checkbox with { theLabel: 'Haiku', checked: false } %}
      {% include components.elements.forms.checkbox with { theLabel: 'Other', checked: false } %}
    </div>

    <div class="form-group border-bottom py-4">
      <label>Skin Type</label>
      {% include components.elements.forms.checkbox with { theLabel: 'Dry to Very Dry', checked: false } %}
      {% include components.elements.forms.checkbox with { theLabel: 'Normal to Very Dry', checked: false } %}
      {% include components.elements.forms.checkbox with { theLabel: 'Normal', checked: false } %}
      {% include components.elements.forms.checkbox with { theLabel: 'Combination', checked: false } %}
      {% include components.elements.forms.checkbox with { theLabel: 'Oily', checked: false } %}
      {% include components.elements.forms.checkbox with { theLabel: 'Sensitive', checked: false } %}
    </div>

    <div class="form-group border-bottom py-4">
      <label>Moisturizer</label>
      {% include components.elements.forms.checkbox with { theLabel: 'Day Cream', checked: false } %}
      {% include components.elements.forms.checkbox with { theLabel: 'Night Cream', checked: false } %}
    </div>

    <div class="form-group border-bottom py-4">
      <label>Avg Rating</label>
      {% include components.elements.forms.checkbox with { theLabel: '5 Stars', checked: false } %}
      {% include components.elements.forms.checkbox with { theLabel: '4 Stars or More', checked: false } %}
      {% include components.elements.forms.checkbox with { theLabel: '3 Stars or More', checked: false } %}
      {% include components.elements.forms.checkbox with { theLabel: '2 Stars or More', checked: false } %}
      {% include components.elements.forms.checkbox with { theLabel: '1 Star or More', checked: false } %}
      {% include components.elements.forms.checkbox with { theLabel: 'Not Rated', checked: false } %}
    </div>

  </form>

</section>
<!-- END - PRODUCT FILTERS -->
