<!-- START - FEATURE FILTERS -->
<section class="aside-product-features hidden-xs hidden-sm mt-4 pb-4 border-bottom small">

  <label class="link-plain">Features</label>

  <!-- Dev note: Last list-group in a section (like Features) gets mb-0 -->
  <ul class="list-group list-group--basic mb-0">
    <li class="list-group-item"><a href="#">What's New</a></li>
    <li class="list-group-item"><a href="#">Top Rated</a></li>
    <li class="list-group-item"><a href="#">Gift &amp; Value Sets</a></li>
    <li class="list-group-item"><a href="#">Sales &amp; Specials</a></li>
    <li class="list-group-item"><a href="#">Avon Auto-Replenish</a></li>
  </ul>

</section>
<!-- END - FEATURE FILTERS -->
