<!-- START - CATEGORY FILTERS -->
<section class="aside-product-categories hidden-xs hidden-sm pb-4 border-bottom small">

  <label class="link-plain">Categories</label>

  <!-- START - LEVEL 1 - LIST -->
  <!-- Dev note: Last list-group in a section (like Categoies) hets mb-0 -->
  <ul class="list-group list-group--basic mb-0">
    <li class="list-group-item">

      <!-- START - LEVEL 2 - COLLAPSABLE TRIGGER -->
      <!-- Developer note: must have data-toggle="collapse" and href value must match ID of "COLLAPSABLE CONTENT"-->
      <a href="#skincare-items" data-toggle="collapse">Skincare</a>
      <!-- END - LEVEL 2 - COLLAPSABLE TRIGGER -->

      <!-- START - LEVEL 2 - COLLAPSABLE CONTENT -->
      <!-- Developer note: Remove class "in" for production. that just makes it expaned for demo -->
      <div class="collapse in" id="skincare-items">

        <!-- START - LEVEL 2 - LIST -->
        <ul class="list-group list-group--basic mb-0 mt-2">
          <li class="list-group-item ml-4">

            <!-- START - LEVEL 3 - COLLAPSABLE TRIGGER -->
            <a href="#moisturizers-items"  data-toggle="collapse" class="active">Moisturizers</a>
            <!-- END - LEVEL 3 - COLLAPSABLE TRIGGER -->

            <!-- START - LEVEL 3 - COLLAPSABLE CONTENT -->
              <div class="collapse in" id="moisturizers-items">

                <!-- START - LEVEL 3 - LIST -->
                <ul class="list-group list-group--basic mb-0 mt-2">
                  <li class="list-group-item ml-4"><a href="#">Moisturizer Product</a></li>
                  <li class="list-group-item ml-4"><a href="#">Moisturizer Product</a></li>
                  <li class="list-group-item ml-4"><a href="#">Moisturizer Product</a></li>
                </ul>
                <!-- END - LEVEL 3 - LIST -->

              </div>
            <!-- END - LEVEL 3 - COLLAPSABLE CONTENT -->

          </li>
          <li class="list-group-item ml-4"><a href="#">Cleansers &amp; Toners</a></li>
          <li class="list-group-item ml-4"><a href="#">Scrubs &amp; Masks</a></li>
          <li class="list-group-item ml-4"><a href="#">Treatments</a></li>
          <li class="list-group-item ml-4"><a href="#">Eye Care</a></li>
          <li class="list-group-item ml-4"><a href="#">Travel Sizes</a></li>
        </ul>
        <!-- END - LEVEL 2 - LIST -->


      </div>
      <!-- END - LEVEL 2 - COLLAPSABLE CONTENT -->

    </li>
    <li class="list-group-item"><a href="#">Fragrance</a></li>
    <li class="list-group-item"><a href="#">Personal Care</a></li>
    <li class="list-group-item"><a href="#">Beauty</a></li>
    <li class="list-group-item"><a href="#">Jewelry</a></li>
    <li class="list-group-item"><a href="#">Fashion</a></li>
    <li class="list-group-item"><a href="#">Home</a></li>
    <li class="list-group-item"><a href="#">mark. by Avon</a></li>
    <li class="list-group-item"><a href="#">Espira</a></li>
    <li class="list-group-item"><a href="#">Demos</a></li>
    <li class="list-group-item"><a href="#">Samples</a></li>
    <li class="list-group-item"><a href="#">Sales Aides &amp; Tools</a></li>
  </ul>
  <!-- END  - LEVEL 1 - LIST -->

</section>
<!-- END - CATEGORY FILTERS -->
