<!-- START - FEATURE FILTERS -->
<section class="aside-product-features hidden-xs hidden-sm mt-5">

  <h4 class="text-uppercase"><small>Features</small></h4>

  <ul class="list-group">
    <li class="list-group-item"><a href="#">Item</a></li>
    <li class="list-group-item"><a href="#">Item</a></li>
    <li class="list-group-item"><a href="#">Item</a></li>
    <li class="list-group-item"><a href="#">Item</a></li>
    <li class="list-group-item"><a href="#">Item</a></li>
    <li class="list-group-item"><a href="#">Item</a></li>
  </ul>

</section>
<!-- END - FEATURE FILTERS -->