<!-- START - CATEGORY FILTERS -->
<section class="aside-product-categories hidden-xs hidden-sm mt-5">

  <h4 class="text-uppercase"><small>Categories</small></h4>

  <ul class="list-group">
    <li class="list-group-item"><a href="#">Item</a></li>
    <li class="list-group-item"><a href="#">Item</a></li>
    <li class="list-group-item"><a href="#">Item</a></li>
    <li class="list-group-item"><a href="#">Item</a></li>
    <li class="list-group-item"><a href="#">Item</a></li>
    <li class="list-group-item"><a href="#">Item</a></li>
  </ul>

</section>
<!-- END - CATEGORY FILTERS -->
