<!-- START - CATEGORY FILTERS -->
<section class="aside-product-categories hidden-xs hidden-sm mt-5">

  <label>Categories</label>

  <ul class="list-group list-group--basic">
    <li class="list-group-item">
      <a href="#skincare-items" data-toggle="collapse">Skincare</a>
      <div class="collapse" id="skincare-items">
        <ul class="list-group list-group--basic mb-0 mt-2">
          <li class="list-group-item ml-5"><a href="#" class="active">Moisturizers</a></li>
          <li class="list-group-item ml-5"><a href="#">Cleansers &amp; Toners</a></li>
          <li class="list-group-item ml-5"><a href="#">Scrubs &amp; Masks</a></li>
          <li class="list-group-item ml-5"><a href="#">Treatments</a></li>
          <li class="list-group-item ml-5"><a href="#">Eye Care</a></li>
          <li class="list-group-item ml-5"><a href="#">Travel Sizes</a></li>
        </ul>
      </div>
    </li>

    <li class="list-group-item"><a href="#">Fragrance</a></li>
    <li class="list-group-item"><a href="#">Personal Care</a></li>
    <li class="list-group-item"><a href="#">Beauty</a></li>
    <li class="list-group-item"><a href="#">Jewelry</a></li>
    <li class="list-group-item"><a href="#">Fashion</a></li>
    <li class="list-group-item"><a href="#">Home</a></li>
    <li class="list-group-item"><a href="#">mark. by Avon</a></li>
    <li class="list-group-item"><a href="#">Espira</a></li>
    <li class="list-group-item"><a href="#">Demos</a></li>
    <li class="list-group-item"><a href="#">Samples</a></li>
    <li class="list-group-item"><a href="#">Sales Aides &amp; Tools</a></li>
  </ul>

</section>
<!-- END - CATEGORY FILTERS -->
