<!-- START - PRODUCT FILTERS -->
<section class="aside-product-filters mt-4 pb-4 border-bottom">

  <!-- START - FILTERS HEADLINE AND CHECKBOXES ON DESKTOP -->
  <div class="hidden-xs hidden-sm">
    <h7 class="my-4 d-block text-muted">Refine By: </h7>
    <div id="product-filter-container" class="small">

      <!-- START - FORM -->
      {% include '_includes/modules/product/filters/product-filters-form.html.twig' %}
      <!-- END - FORM -->

    </div>
  </div>
  <!-- END - FILTERS HEADLINE AND CHECKBOXES ON DESKTOP -->


  <!-- START - MODAL FOR FILTERS (ONLY FOR MOBILE) -->
  <div class="modal modal-fullscreen-sm fade" id="product-filter-modal" tabindex="-1" role="dialog" aria-labelledby="product-filter-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Filters</h4>
        </div>
        <div id="product-filter-container-modal" class="modal-body">

          <!-- CHECKBOXES GET MOVED HERE WITH JAVASCRIPT WHEN MODAL OPENS -->

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Done</button>
        </div>
       </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!-- END - MODAL FOR FILTERS (ONLY FOR MOBILE) -->

</section>
<!-- END - PRODUCT FILTERS -->
