<!-- START - PRODUCT FILTERS -->
<section class="aside-product-filters">

  <!-- START - FILTERS HEADLINE AND CHECKBOXES ON DESKTOP -->
  <div class="hidden-xs hidden-sm">
    <div id="product-filter-container" class="small">

      <!-- START - FORM -->
      {% include '_includes/modules/product/filters/product-filters-form.html.twig' %}
      <!-- END - FORM -->

    </div>
  </div>
  <!-- END - FILTERS HEADLINE AND CHECKBOXES ON DESKTOP -->

  {% include "_includes/modules/product/filters/product-filters-modal.html.twig" %}

</section>
<!-- END - PRODUCT FILTERS -->
