<!-- START - FEATURE FILTERS -->
<section class="aside-product-features hidden-xs hidden-sm mt-5">

  <label>Features</label>

  <ul class="list-group list-group--basic">
    <li class="list-group-item"><a href="#">What's New</a></li>
    <li class="list-group-item"><a href="#">Top Rated</a></li>
    <li class="list-group-item"><a href="#">Gift &amp; Value Sets</a></li>
    <li class="list-group-item"><a href="#">Sales &amp; Specials</a></li>
    <li class="list-group-item"><a href="#">Avon Auto-Replenish</a></li>
  </ul>

</section>
<!-- END - FEATURE FILTERS -->
