<div class="page-header">
  <!-- TITLE -->
  <h1>Product Name</h1>

  <!-- HEADER EXTRA -->
  <div class="page-header-extra mb-3">
    <!-- SKU -->
    <span class="mr-4">{{ fpo.sku }}</span>
    
    <!-- RATINGS -->
    {% include components.groups.ratings.unit %}
  </div>
</div>