{# styleguide/index.html.twig #}
{% set title = "Code Snippets" %}
{% set slug = "code-snippets" %}
{% extends "styleguide/_layouts/styleguide-main.html.twig" %}

{# DEFINE BLOCK - STYLEGUIDE CONTENT #}
{% block styleguideContent %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# SECTION -  FORMS #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
<div class="bs-docs-section">
  <h1 id="code-snippets" class="page-header">Code Snippets</h1>



  <h2 id="campaign-literature">Campaign Literature</h2>
  <p>Snippet to show campaign literature on a content page.</p>

  <div class="bs-example">

    <!-- START - CAMPAIGN LITERATURE SNIPPET -->
    <div class="box-group box-group-halves">

      <div class="box-group--single">

        <div class="img">
          <img src="../../images/utility/placeholder_thumb.png" alt="" class="img-responsive">
        </div>

        <div class="content">

          <div class="header">
            <h5 class="text-capitalize mt-0 mb-2">Purchase Order</h5>
            <p class="text-muted">View, download, and/or print your order form.</p>
          </div>

          <div class="details">
            <div class="column small">
              <p class="mt-2"><a href="#">Current - C11</a></p>
              <p class="mt-2"><a href="#">Future - C12</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="box-group--single">

        <div class="img">
          <img src="../../images/utility/placeholder_thumb.png" alt="" class="img-responsive">
        </div>

        <div class="content">

          <div class="header">
            <h5 class="text-capitalize mt-0 mb-2">Product Number Guide</h5>
            <p class="text-muted">Information on product numbers in the campaign as well as ordering instructions for special offers.</p>
          </div>

          <div class="details">
            <div class="column small">
              <p class="mt-2"><a href="#">Current - C11</a></p>
              <p class="mt-2"><a href="#">Future - C12</a></p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- END - CAMPAIGN LITERATURE SNIPPET -->

  </div><!-- /.bs-example -->


  {{ highlightMarkup }}
  <!-- START - CAMPAIGN LITERATURE SNIPPET -->
  <div class="box-group box-group-halves">

    <div class="box-group--single">

      <div class="img">
        <img src="../../images/utility/placeholder_thumb.png" alt="" class="img-responsive">
      </div>

      <div class="content">

        <div class="header">
          <h5 class="text-capitalize mt-0 mb-2">Purchase Order</h5>
          <p class="text-muted">View, download, and/or print your order form.</p>
        </div>

        <div class="details">
          <div class="column small">
            <p class="mt-2"><a href="#">Current - C11</a></p>
            <p class="mt-2"><a href="#">Future - C12</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="box-group--single">

      <div class="img">
        <img src="../../images/utility/placeholder_thumb.png" alt="" class="img-responsive">
      </div>

      <div class="content">

        <div class="header">
          <h5 class="text-capitalize mt-0 mb-2">Product Number Guide</h5>
          <p class="text-muted">Information on product numbers in the campaign as well as ordering instructions for special offers.</p>
        </div>

        <div class="details">
          <div class="column small">
            <p class="mt-2"><a href="#">Current - C11</a></p>
            <p class="mt-2"><a href="#">Future - C12</a></p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- END - CAMPAIGN LITERATURE SNIPPET -->
  {{ endhighlight }}


<style>


  </style>

  <h2 id="facebook-login">Facebook Sign in Button</h2>
  <p>Example code withing Avon's live home page code.</p>

  <div class="bs-example">



    <!-- START - NEW FROM S4DC -->
    <div class="form-group">

      {% include "_includes/elements/misc/divider-with-or.html.twig" %}
      {% include "_includes/modules/sign-in/sign-in-via-social.html.twig" %}

    </div>
    <!-- END - NEW FROM S4DC -->



  </div><!-- /.bs-example -->


  {{ highlightMarkup }}
  <form class="login ng-pristine ng-invalid ng-invalid-required ng-submitted ng-valid-pattern ng-valid-maxlength" name="login" id="login" novalidate="" method="post">

    <div id="error-msg" ng-show="login.$submitted &amp;&amp; (login.userId.$touched || login.userId.$untouched
        || login.password.$touched || login.password.$untouched)" class="ng-hide" aria-hidden="true">
      <span class="has-error ng-binding" ng-show="login.userId.$error.required ||
        login.password.$error.required" aria-hidden="false">
        All fields required.</span> <span ng-hide="login.userId.$error.required ||
        login.password.$error.required" class="has-error ng-binding ng-hide" aria-hidden="true">  </span>
    </div>

    <div class="form-group">
      <input id="user_id" class="form-control textinput ng-pristine ng-invalid ng-invalid-required ng-touched ng-untouched ng-isolate-scope ng-valid-pattern ng-valid-maxlength" name="userId" numeric="" ng-trim="false" ng-pattern="/^[0-9]*$/" type="text" required="" ng-model="userId" maxlength="8" size="8" placeholder="Account Number" onfocus="this.ph=this.placeholder;this.placeholder=''" onblur="this.placeholder=this.ph" focus="true" style="cursor: auto; background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;" aria-invalid="true">
      <label class="control-label ng-binding" for="userId">Account Number</label>
    </div>

    <div class="form-group">
      <input id="password" class="form-control textinput ng-pristine ng-invalid ng-invalid-required ng-touched ng-untouched" name="password" type="password" required="" ng-model="password" placeholder="Password" onfocus="this.ph=this.placeholder;this.placeholder=''" onblur="this.placeholder=this.ph" style="cursor: auto; background-attachment: scroll; background-position: 100% 50%; background-repeat: no-repeat;" aria-invalid="true">
      <label class="control-label ng-binding" for="password">Password</label>
    </div>

    <input id="login_submit" type="submit" class="btn btn-primary" ng-click="login.$valid &amp;&amp; doLogin()" ng-disabled="isDisabled" value="Log In"> <a class="forgot-pwd ng-binding" ng-click="pswdHint()">Forgot your password?</a>

    <!-- START - NEW FROM S4DC -->
    <!-- Demo: https://codepen.io/studio4dc/pen/mXOBjm -->


    <div class="form-group">

      {% include "_includes/elements/misc/divider-with-or.html.twig" %}
      {% include "_includes/modules/sign-in/sign-in-via-social.html.twig" %}

    </div>
    <!-- END - NEW FROM S4DC -->

  </form>
  {{ endhighlight }}

</div>

{% endblock %}
