{# styleguide/index.html.twig #}
{% set title = "Styleguide Home" %}
{% set slug = "styleguide-home" %}
{% extends "_layouts/styleguide-main.html.twig" %}
 

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - STYLEGUIDE CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block styleguideContent %}
  
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# SECTION - OVERVIEW #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
<div class="bs-docs-section">
  <h1 id="overview" class="page-header">Overview</h1>

  <p class="lead">Get the lowdown on the key pieces of Bootstrap's infrastructure, including our approach to better, faster, stronger web development.</p>

  <!-- HTML5 doctype -->
  {% include "_includes/home/html5-doctype.html.twig" %}

  <!-- Mobile first -->
  {% include "_includes/home/mobile-first.html.twig" %}

  <!-- Normalize.css -->
  {% include "_includes/home/normalize.html.twig" %}

</div>

{% endblock %}


