{# styleguide/index.html.twig #}
{% set title = "Styleguide Layouts" %}
{% set slug = "styleguide-layouts" %}
{% extends "styleguide/_layouts/styleguide-full-width.html.twig" %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - STYLEGUIDE CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block styleguideContent %}





  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# BASE #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Body",
    slug:         "page-body",
    snippet:      '
    <body>
      <section id="avon-poc">
        <a class="sr-only" href="#content">Skip to main content</a>

        <!-- Header -->

        <!-- Content -->

        <!-- Footer -->

      </section>
    </body>'
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}



  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# COLUMN 12 #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Full Width",
    slug:         "columns-12",
    snippet:      '
    <div class="container">
      <main role="main">
        <p>' ~ fpo.paragraph ~ '</p>
      </main>
    </div>'
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}



  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# COLUMN 12 - Inner 6x6 #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Column: 12 - Inner 6x6",
    slug:         "columns-12-6x6",
    snippet:      '
    <div class="container">
      <div class="row">
        <aside class="col-md-6" role="complementary">
          <p><img class="img-responsive" src="http://via.placeholder.com/800x800"></p>
        </aside>
        <main class="col-md-6" role="main">
          <p>' ~ fpo.paragraph ~ '</p>
          <p>' ~ fpo.paragraph ~ '</p>
        </main>
      </div>
    </div>'
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}



  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# COLUMN 12 - Optional Promo (With Promo) #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Column: 12 - Optional Promo (With Promo)",
    description:  "This layout allows us to use the same template but a different layout depending on some variable which will ultimately come from the server. If the page contains a promo, for example, the layout is 12 column, with an inner 6x6 as seen below. If no promo is present, the layout is a <a href='#columns-12-without-optional-promo'>centered 6 column</a>.",
    slug:         "columns-12-with-optional-promo",
    snippet:      '
    <div class="container">
      <div class="row">
        <aside class="col-md-6" role="complementary">
          <p><img class="img-responsive" src="http://via.placeholder.com/800x800"></p>
        </aside>
        <main class="col-md-6" role="main">
          <p>' ~ fpo.paragraph ~ '</p>
          <p>' ~ fpo.paragraph ~ '</p>
        </main>
      </div>
    </div>'
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}



  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# COLUMN 12 - Optional Promo (Without Promo - Max 6) #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Column: 12 - Optional Promo (Without Promo - Max 6)",
    slug:         "columns-12-without-optional-promo",
    description:  "This layout allows us to use the same template but a different layout depending on some variable which will ultimately come from the server. If the page contains a promo, for example, the layout is <a href='#columns-12-with-optional-promo'>12 column, with an inner 6x6</a>. If no promo is present, the layout is a centered 6 column as seen below.",
    snippet:      '
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <main class="col-md-6 col-md-offset-3" role="main">
            <p>' ~ fpo.paragraph ~ '</p>
            <p>' ~ fpo.paragraph ~ '</p>
          </main>
        </div>
      </div>
    </div>'
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}





  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# COLUMN 10 - Max #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Column: 10 - Max",
    slug:         "columns-10-max",
    snippet:      '
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <p>' ~ fpo.paragraph ~ '</p>
        </div>
      </div>
    </div>'
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}



  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# COLUMN 10 - Max 3x9 #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Column: 10 - Max, Inner 3x9",
    slug:         "columns-10-max-3x9",
    snippet:      '
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <aside class="col-md-3" role="complementary">
            <p>' ~ fpo.paragraph ~ '</p>
          </aside>
          <main class="col-md-9" role="main">
            <p>' ~ fpo.paragraph ~ '</p>
          </main>
        </div>
      </div>
    </div>'
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}



  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# COLUMN 10 - Max 8x4 #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Column: 10 - Max, Inner 8x4 with content header",
    slug:         "columns-10-max-8x4-header",
    snippet:      '
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <header class="col-md-12" role="header">
            <h1 class="border-bottom pb-4 mb-4">' ~ fpo.sentence ~ '</h1>
          </header>
          <hr>
          <main class="col-md-8" role="main">
            <p>' ~ fpo.paragraph ~ '</p>
          </main>
          <aside class="col-md-4" role="complementary">
            <p>' ~ fpo.paragraph ~ '</p>
          </aside>
        </div>
      </div>
    </div>'
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}



  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# COLUMN 6 - Max #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Column: 6 - Max",
    slug:         "columns-6-max",
    snippet:      '
    <div class="container">
      <div class="row">
        <main class="col-md-6 col-md-offset-3">
          <p>' ~ fpo.paragraph ~ '</p>
        </main>
      </div>
    </div>'
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}



  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# COLUMN 8 - Max #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Column: 8 - Max",
    slug:         "columns-8-max",
    snippet:      '
    <div class="container">
      <div class="row">
        <main class="col-md-8 col-md-offset-2">
          <p>' ~ fpo.paragraph ~ '</p>
        </main>
      </div>
    </div>'
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}



  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# COLUMNS 4x8 - Aside Hidden on Mobile #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Columns: 4x8 - Aside Hidden on Mobile",
    slug:         "columns-4-x-8-mobile-aside-hidden",
    snippet:      '
    <div class="container">
      <div class="row">
        <aside class="col-md-4 hidden-xs hidden-sm" role="complementary">
          <p><img class="img-responsive" src="http://via.placeholder.com/600x1200"></p>
        </aside>
        <main class="col-md-8" role="main">
          <p>' ~ fpo.paragraph ~ '</p>
          <p>' ~ fpo.paragraph ~ '</p>
          <p>' ~ fpo.paragraph ~ '</p>
        </main>
      </div>
    </div>'
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}



  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# COLUMNS 8x4 #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Columns: 8x4",
    slug:         "columns-8-x-4",
    snippet:      '
    <div class="container">
      <div class="row">
        <main class="col-md-8" role="main">
          <p>' ~ fpo.paragraph ~ '</p>
        </main>
        <aside class="col-md-4" role="complementary">
          <p>' ~ fpo.paragraph ~ '</p>
        </aside>
      </div>
    </div>'
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}



  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# COLUMNS 9x3 #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Columns: 9x3",
    slug:         "columns-9-x-3",
    snippet:      '
    <div class="container">
      <div class="row">
        <main class="col-md-9" role="main">
          <p>' ~ fpo.paragraph ~ '</p>
        </main>
        <aside class="col-md-3" role="complementary">
          <p>' ~ fpo.paragraph ~ '</p>
        </aside>
      </div>
    </div>'
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}


  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# COLUMNS 9x3 INSIDE SUPER PANEL #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
 {#  TODO: Show after make a demo where you can actually see the grey background. Maybe open in a new window. #}
  {% set styleguideItem = {
    title:        "Super Panel (Full bleed grey background)",
    slug:         "super-panel",
    snippet:      '
    <div class="super-panel">
      <div class="container">
        <div class="row">
          <main class="col-md-9" role="main" style="background: white;">
            <p>' ~ fpo.paragraph ~ '</p>
          </main>
          <aside class="col-md-3" role="complementary">
            <p>' ~ fpo.paragraph ~ '</p>
          </aside>
        </div>
      </div>
    </div>'
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}


  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# COLUMNS 3x9 #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Columns: 3x9",
    slug:         "columns-3-x-9",
    snippet:      '
    <div class="container">
      <div class="row">
        <aside class="col-md-3" role="complementary">
          <p>' ~ fpo.paragraph ~ '</p>
        </aside>
        <main class="col-md-9" role="main">
          <p>' ~ fpo.paragraph ~ '</p>
        </main>
      </div>
    </div>'
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}






{% endblock %}
