{# styleguide/index.html.twig #}
{% set title = "Styleguide Modules" %}
{% set slug = "styleguide-modules" %}
{% extends "styleguide/_layouts/styleguide-main.html.twig" %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - STYLEGUIDE CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block styleguideContent %}

<ul>
  <li><a href="modules-global.html">Global</a></li>
  {# <li><a href="modules-your-order.html">Your Order</a></li> #}
{#   <li><a href="modules-product-detail.html">Product Details</a></li>
  <li><a href="modules-search-results.html">Search Results</a></li> #}
</ul>

{% endblock %}


