{# styleguide/index.html.twig #}
{% set title = "Styleguide Modules" %}
{% set slug = "styleguide-modules-global" %}
{% extends "styleguide/_layouts/styleguide-main.html.twig" %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - STYLEGUIDE CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block styleguideContent %}




  <h1 id="global" class="bs-headline">Global</h1>

    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# GLOBAL - LOGO #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Logo",
    slug:         "global-logo",
    twig:         "components.elements.images.logoYourAvon",
    path:         components.elements.images.logoYourAvon
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}



  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# GLOBAL - MAIN NAVIGATIONS #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Header Navigation - Utility #2",
    slug:         "global-static-nav",
    twig:         "_includes/groups/navigation/header-utility-nav-2.html.twig",
    path:         "_includes/groups/navigation/header-utility-nav-2.html.twig"
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}


  {% set styleguideItem = {
    title:        "Header Navigation - Utlity #1",
    slug:         "global-user-nav",
    twig:         "_includes/groups/navigation/header-utility-nav-1.html.twig",
    path:         "_includes/groups/navigation/header-utility-nav-1.html.twig"
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}


  {% set styleguideItem = {
    title:        "Header Navigation - Primary",
    slug:         "global-primary-nav",
    twig:         "_includes/groups/navigation/header-primary-nav.html.twig",
    path:         "_includes/groups/navigation/header-primary-nav.html.twig"
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}






  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# GLOBAL - HEADER #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Global Header",
    slug:         "global-header",
    description:  'The global header is composed of the three navs shown above: Static, User and Primary',
    twig:         "components.modules.global.header",
    path:         components.modules.global.header
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}



  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# GLOBAL - FOOTER #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Global Footer",
    slug:         "global-footer",
    twig:         "components.modules.global.footer",
    path:         components.modules.global.footer
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}



  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# ITEM ENTRY #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Item Entry (Drawer Content)",
    slug:         "global-item-entry-drawer-content"
  }%}

  <h2 id="{{ styleguideItem.slug }}" class="bs-headline">{{ styleguideItem.title }}</h2>
  <div class="bs-example">
    {% include "_includes/modules/item-entry/item-entry.html.twig" with {isInStyleguide: true} %}
  </div>

  {# Markup #}
  {{ highlightMarkup }}
    {% include "_includes/modules/item-entry/item-entry.html.twig" with {isInStyleguide: true} %}
  {{ endhighlight }}






{% endblock %}
