{# styleguide/index.html.twig #}
{% set title = "Styleguide Modules" %}
{% set slug = "styleguide-modules-global" %}
{% extends "styleguide/_layouts/styleguide-full-width.html.twig" %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - STYLEGUIDE CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block styleguideContent %}




  <h1 id="global" class="bs-headline">Global</h1>

    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# GLOBAL - LOGO #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Logo",
    slug:         "global-logo",
    path:         "_includes/elements/images/logo-your-avon.html.twig"
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}



  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# GLOBAL - HEADER #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Global Header",
    slug:         "global-header",
    description:  "The global header is composed of the two utility navs shown above and the primary navigation list",
    path:         "_includes/modules/global/header.html.twig"
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}



  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# GLOBAL - SIMPLE HEADER #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Simple Header",
    slug:         "simple-header",
    description:  "The simple header is stripped down primarily for unauthenticated users",
    path:         "_includes/modules/global/header-simple.html.twig"
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}



  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# GLOBAL - FOOTER #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% set styleguideItem = {
    title:        "Global Footer",
    slug:         "global-footer",
    path:         components.modules.global.footer
  }%}
  {% include styleguide.item with 'styleguideItem': styleguideItem %}

{% endblock %}
