{# styleguide/index.html.twig #}
{% set title = "Modules - Logos" %}
{% set slug = "styleguide-modules-logos" %}
{% extends "_layouts/styleguide-main.html.twig" %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - STYLEGUIDE CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block styleguideContent %}




<!-- Glyphicons
================================================== -->
<div class="bs-docs-section">
  <h1 id="logos" class="page-header">Logos</h1>


  <!-- YOUR AVON
  ================================================== -->
  <h2 id="logos-your-avon">Your Avon</h2>
  <div class="bs-example">
    {% include "../_includes/modules/atoms/images/logo-your-avon.html.twig" %}
  </div>
  {{ highlightMarkup }}
  {% include "../_includes/modules/atoms/images/logo-your-avon.html.twig" %}
  {{ endhighlight }}



  <!-- YOUR AVON
  ================================================== -->
  <h2 id="logos-your-avon">Your Avon</h2>
  <div class="bs-example">
    {% include "../_includes/modules/organisms/global/header.html.twig" %}
  </div>
  {{ highlightMarkup }}
  {% include "../_includes/modules/organisms/global/header.html.twig" %}
  {{ endhighlight }}



  

  




{% endblock %}


