{# styleguide/index.html.twig #}
{% set title = "Modules - Logos" %}
{% set slug = "styleguide-modules-logos" %}
{% set urlBase = "../" %}

{% extends "_layouts/styleguide-main.html.twig" %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - STYLEGUIDE CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block styleguideContent %}




<!-- Glyphicons
================================================== -->
<div class="bs-docs-section">
  <h1 id="logos" class="page-header">Logos</h1>


  <!-- YOUR AVON LOGO
  ================================================== -->
  {% set modItem = {
      title:  "Your Avon Logo",
      slug:   "your-avon-logo",
      path:   module.atom.image.logoYourAvon
    } 
  %}
  {% include module.template %}

  <!-- Primary Navigation
  ================================================== -->
  {% set modItem = {
      title:  "Primary Navigation ",
      slug:   "primary-navigation",
      path:   module.molecules.navigation.primary 
    } 
  %}
  {% include module.template %}

  <!-- HEADER
  ================================================== -->
  {% set modItem = {
      title:  "Header",
      slug:   "global-header",
      path:   module.organism.global.header 
    } 
  %}
  {% include module.template %}


   
    


 



  

  




{% endblock %}


