{# styleguide/index.html.twig #}
{% set title = "Modules - Logos" %}
{% set slug = "styleguide-modules-logos" %}
{% set urlBase = "../" %}

{% extends "styleguide/_layouts/styleguide-main.html.twig" %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - STYLEGUIDE CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block styleguideContent %}




<!-- Glyphicons
================================================== -->
<div class="bs-docs-section">
  <h1 id="logos" class="page-header">Logos</h1>



  <!-- PRIMARY NAVIGATION
  ================================================== -->
  {% set modItem = {
    title:  "Primary Navigation ",
    slug:   "primary-navigation",
    path:   components.groups.navigation.primary 
  }%}
  {% include module.template %}

  <!-- HEADER
  ================================================== -->
  {% set modItem = {
    title:  "Header",
    slug:   "global-header",
    path:   components.modules.global.header 
  }%}
  {% include module.template %}


   
    


 



  

  




{% endblock %}


