<h1>Order History</h1>

<h5>Purchases by category</h5>

<hr>

<p><img src="/images/utility/placeholder_thumb.png" class="img-circle img-responsive" style="width: 300px;"></p>

<h5 class="mt-5">Orders</h5>

<div class="table-responsive {{ classes }} {% if hidden %} hidden {% endif %}">
  <table class="table table-striped table-bordered-outside-only">
    <thead>
      <tr>
        <th class="t-conf-num">Confirmation #</th>
        <th class="t-date">Date</th>
        <th class="t-c-num">C #</th>
        <th class="t-source">Source</th>
        <th class="t-order-amount">Order Amount</th>
        <th class="t-status">Status</th>
      </tr>
    </thead>
    <tbody>
      {% include '_includes/modules/contacts/contact-detail/order-history/tr.html.twig' with {
        contactCnum: '18',
        contactType: 'Online Store'
      }%}
      {% include '_includes/modules/contacts/contact-detail/order-history/tr.html.twig' with {
        contactCnum: '17',
        contactType: 'Online Store'
      }%}
      {% include '_includes/modules/contacts/contact-detail/order-history/tr.html.twig' with {
        contactCnum: '15',
        contactType: 'Your Avon'
      }%}
      {% include '_includes/modules/contacts/contact-detail/order-history/tr.html.twig' with {
        contactCnum: '14',
        contactType: 'Online Store'
      }%}
      {% include '_includes/modules/contacts/contact-detail/order-history/tr.html.twig' with {
        contactCnum: '13',
        contactType: 'Your Avon'
      }%}
      {% include '_includes/modules/contacts/contact-detail/order-history/tr.html.twig' with {
        contactCnum: '11',
        contactType: 'Your Avon'
      }%}
    </tbody>
  </table>
</div>




