<h3>Moisturizers</h3>

<!-- Mobile Filter and Sort -->
<div class="container hidden-md hidden-lg">
  <div class="row">

    <nav class="navbar navbar-default border-0 px-0">
      <ul class="nav nav-pills">
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Filter
            <span class="caret"></span>
          </a>
          <!-- TODO :: populate this menu dynamically -->
          <ul class="dropdown-menu">
            <li>
              <a href="#">Price</a>
            </li>
            <li>
              <a href="#">Date</a>
            </li>
            <li>
              <a href="#">Something Else</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">Separated link</a>
            </li>
          </ul>
        </li>
        <li role="presentation" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Sort
            <span class="caret"></span>
          </a>
          <!-- TODO :: populate this menu dynamically -->
          <ul class="dropdown-menu">
            <li>
              <a href="#">Price</a>
            </li>
            <li>
              <a href="#">Date</a>
            </li>
            <li>
              <a href="#">Something Else</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">Separated link</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

  </div>
</div>
<!-- // Mobile Filter and Sort -->

<!-- Desktop Filter and Sort -->
<div class="row hidden-xs hidden-sm">

  <nav class="navbar navbar-default border-0">
    <ul class="nav nav-pills pull-right">
      <p class="navbar-text">Sort By:
      </p>
      <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Alphabetical
          <span class="caret"></span>
        </a>
        <!-- TODO :: populate this menu dynamically -->
        <ul class="dropdown-menu">
          <li>
            <a href="#">Price</a>
          </li>
          <li>
            <a href="#">Date</a>
          </li>
          <li>
            <a href="#">Something Else</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#">Separated link</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

</div>
<!-- // Desktop Filter and Sort -->

{% include components.modules.product.list.productList %}
