<!-- START - NBA DRAWER -->
<section id="nba-drawer" class="drawer drawer-fixed-bottom drawer-compact drawer-transparent-backdrop">

  <!-- DRAWER SUMMARY -->
  <section class="drawer-summary">
    <div href="#nba-drawer" data-toggle="drawer" class="container-fluid d-flex align-items-center h-100">
      <h6 class="d-flex align-items-center">Power Moves <span class="badge item-count ml-2">3</span></h6>
      <span class="lt-icon lt-carat-up lt-large ml-auto"></span>
    </div>
  </section>

  <!-- DRAWER CONTENT -->
  <section class="drawer-content">
    <div id="nba-carousel" class="carousel carousel--banner slide d-flex flex-column justify-content-between" data-interval="false">
      <div class="carousel-inner">

        <!-- START - Repeatable carousel items -->
        <div class="item active px-4">
          <div class="d-flex flex-column h-100">
            <div class="flex-spacer"></div>
            <div>
              <p class="item-title lead mb-3 mt-0 mt-md-4">Two-line title lorem ipsum dolor lorem ipsum dolor</p>
              <div class="item-more mb-3 mb-sm-0">
                <a class="underline" data-toggle="collapse" data-target="#collapse01" data-parent="#nba-carousel" aria-expanded="false" aria-controls="collapse01">
                  <span class="more">Learn more</span>
                  <span class="less d-none">Read less</span>
                </a>
                <p class="collapse mb-0" id="collapse01">Three-line subtitle {{ fpo.sentence }} {{ fpo.sentence }}</p>
              </div>
            </div>
            <div class="d-flex justify-content-between flex-wrap align-items-center mb-3 mb-md-2">
              <div class="btn-group mr-3">
                <a class="item-cta btn btn-primary nowrap">Lorem Ipsum</a>
              </div>
              <div class="mb-3 mb-md-0 mt-4 mt-md-0 mr-5">
                <a href="#" class="item-dismiss text-muted underline">Got it. Done!</a>
              </div>
            </div>
          </div>
        </div>

        <div class="item px-4">
          <div class="d-flex flex-column h-100">
            <div class="flex-spacer"></div>
            <div>
              <p class="item-title lead mb-3 mt-0 mt-md-4">One-line title lorem ipsum</p>
              <div class="item-more mb-3 mb-sm-0">
                <a class="underline" data-toggle="collapse" data-target="#collapse02" data-parent="#nba-carousel" aria-expanded="false" aria-controls="collapse02">
                  <span class="more">Learn more</span>
                  <span class="less d-none">Read less</span>
                </a>
                <p class="collapse mb-0" id="collapse02">One-line subtitle lorem ipsum dolor</p>
                <!-- <a class="underline" data-target="#modal-nba-learn-more" data-toggle="modal">Read more</a> -->
              </div>
            </div>
            <div class="d-flex justify-content-between flex-wrap align-items-center mb-3 mb-md-2">
              <div class="btn-group mr-3">
                <a class="item-cta btn btn-primary nowrap">Lorem Ipsum</a>
              </div>
              <div class="mb-3 mb-md-0 mt-4 mt-md-0 mr-5">
                <a href="#" class="item-dismiss text-muted underline">Got it. Done!</a>
              </div>
            </div>
          </div>
        </div>


        <div class="item px-4">
          <div class="d-flex flex-column h-100">
            <div class="flex-spacer"></div>
            <div>
              <p class="item-title lead mb-3 mt-0 mt-md-4">One-line subtitle 2 lorem ipsum dolor</p>
              <div class="item-more mb-3 mb-sm-0">
                <a class="underline" data-toggle="collapse" data-target="#collapse03" data-parent="#nba-carousel" aria-expanded="false" aria-controls="collapse03">
                  <span class="more">Learn more</span>
                  <span class="less d-none">Read less</span>
                </a>
                <p class="collapse mb-0" id="collapse03">Two-line subtitle {{ fpo.sentence }}</p>
              </div>
            </div>
            <div class="d-flex justify-content-between flex-wrap align-items-center mb-3 mb-md-2">
              <div class="btn-group mr-3">
                <a class="item-cta btn btn-primary nowrap">Lorem Ipsum</a>
              </div>
              <div class="mb-3 mb-md-0 mt-4 mt-md-0 mr-5">
                <a href="#" class="item-dismiss text-muted underline">Got it. Done!</a>
              </div>
            </div>
          </div>
        </div>
        <!-- END - Repeatable carousel items -->
      </div>

      <!-- START - Carousel controls / nav -->
      <div class="carousel-controls">
        <div class="container-fluid align-items-center">
          <a class="left" href="#nba-carousel" data-slide="prev"> <span class="lt-icon lt-left lt-large"></span> </a>
          <a class="right" href="#nba-carousel" data-slide="next"> <span class="lt-icon lt-right lt-large"></span> </a>
          <span class="carousel-index ml-2"> <span class="current-slide"></span> of <span class="total-slides"></span> </span>
        </div>
      </div>
      <!-- END - Carousel controls / nav -->

      <!-- START - Carousel messaging -->
      <div class="carousel-msg d-flex align-items-center justify-content-center p-4">
        <div class="m-0 carousel-msg_cover"></div>
        <div class="m-0 carousel-msg_complete text-center flex-column">
          <p class="w-100"><em>No current actions are available. Lorem ipsum dolor sit amet elit consect adipiscing elit verbose. Great job!</em></p>
          <p class="w-100"><a href="#">Text link here lorem ipsum</a></p>
        </div>
      </div>
      <!-- END - Carousel messaging -->

    </div>
    <!-- /#nba-carousel -->
  </section>
  <!-- /.drawer-content -->
</section>
<!-- /.drawer -->

<!-- END - NBA DRAWER -->
