<section class="">

  <h5 class="my-5">Address</h5>

  <div class="row my-5">
    <h6 class="col-sm-4 my-md-2">Home/Billing Address</h6>
    <div class="col-sm-8">9072 Rialto St
      <br>Naples, FL 34113</div>
  </div>

  <div class="row my-5">
    <h6 class="col-sm-4 my-md-2">Shipping Address</h6>
    <div class="col-sm-8">9072 Rialto St
      <br>Napls, FL 34113</div>
  </div>

  <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#requestchange">Edit</button>

  {# MODAL - Request Change #}
  {# {% include "_includes/modules/profile/request-change.html.twig" %} #}

</section>
