{% extends "_layouts/modal-lg-no-footer.html.twig" %}
{% set modalId = 'enrollnow' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalHeader %}

  <button type="button" class="close link-muted" data-dismiss="modal" aria-hidden="true">
    <span class="sr-only">Close modal</span>
    <span class="lt-icon lt-close lt-large py-1"></span>
  </button>

{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalBody %}

  <section class="py-5">
    <!-- Product Details -->
    <div class="row">
      <div class="col-md-12 vcenter">
        <iframe
          align="center"
          marginwidth="0"
          src="/REPSuite/vendorlinks.page?linkid=75"
          frameborder="0"
          width="608"
          height="900">Your browser can not display this content correctly. Please download the lastest version of Internet Explorer to view this page.
        </iframe>
      </div>
    </div>
    <!-- /.row -->
  </section>

{% endblock %}
