<div class="d-flex align-items-start flex-basis-100 flex-basis-md-auto pb-3">
  <div class="d-flex flex-column align-items-center mr-4">
    <span class="avatar flex-shrink-0">L</span>
    <p class="small mb-0 mt-2"><a href="#" class="underline">Edit photo</a></p>
  </div>
  <div class="ml-3">
    <h3 class="mb-0 mt-1">Erlinda Conley</h3>
    {# <!-- DEV NOTE ::
        The edit link is for CUSTOMERS ONLY
        This link toggles the edit state
        see src/js/demo/contacts-detail.js
      -->
    #}
    {# <span class="d-inline-flex align-items-end ml-3">
      <span class="lt-icon lt-pen mr-2 text-muted"></span>
      <a href="#" class="link-muted small lh-1 font-weight-bold">Edit</a>
    </span> #}
    {# <!-- DEV NOTE ::
        The form below is for CUSTOMERS ONLY
        This form is shown with js when edit link is clicked
        see src/js/demo/contacts-detail.js
      -->
    #}
    {# <form class="form-inline edit-contact-form d-none">
      {% include '_includes/elements/forms/input.html.twig' with {
      type: 'text',
      theValue: 'Erlinda',
      classes: 'form-control--underline pl-0 large'
      } %}
      {% include '_includes/elements/forms/input.html.twig' with {
      type: 'text',
      theValue: 'Conley',
      classes: 'form-control--underline pl-0 ml-3 large'
      } %}
      <div class="btn-group mt-4 mt-md-0">
        <a href="javascript:void(0)" class="edit-contact-cancel btn btn-default
          btn-default-link-responsive btn-sm">Cancel</a>
        <a href="javascript:void(0)" class="edit-contact-save btn btn-primary
          btn-sm ml-4">Save</a>
      </div>
    </form> #}
    <p class="small my-2">Account #: 1234567</p>
    <p class="small mb-0 pt-1"><a href="#" class="underline">Change name</a></p>
  </div>
</div>

<section>
  <div class="row my-5">
    <h6 class="col-sm-4 my-md-2">District Number</h6>
    <div class="col-sm-8">1234</div>
  </div>

  <div class="row my-5">
    <h6 class="col-sm-4 my-md-2">Mentor</h6>
    <div class="col-sm-8">Janet Johnson</div>
  </div>

  <div class="row my-5">
    <h6 class="col-sm-4 my-md-2">Leadership Level</h6>
    <div class="col-sm-8">Sales Leader</div>
  </div>

  <div class="row my-5">
    <h6 class="col-sm-4 my-md-2">Sales Level</h6>
    <div class="col-sm-8">David H. McConnell Club</div>
  </div>

  <div class="row my-5">
    <h6 class="col-sm-4 my-md-2">Avon Anniversary</h6>
    <div class="col-sm-8">November 12, 1999</div>
  </div>
</section>
