<section class="">
  <h5 class="my-5">Payment &amp; Delivery</h5>

  <div class="row my-5">
    <h6 class="col-sm-4 my-md-2">Pay by Check</h6>
    <div class="col-sm-8">Yes</div>
  </div>

  <div class="row my-5">
    <h6 class="col-sm-4 my-md-2">Instant Credit</h6>
    <div class="col-sm-8">Yes</div>
  </div>

  <div class="row my-5">
    <h6 class="col-sm-4 my-md-2">Credit Limit</h6>
    <div class="col-sm-8">[value]</div>
  </div>

  <div class="row my-5">
    <h6 class="col-sm-4 my-md-2">Delivery Time</h6>
    <div class="col-sm-8">[value]</div>
  </div>
</section>
