<!-- START - TAB CONTENT -->
<section class="tab-content">

  <!-- START - TAB PANE - PRODUCTS -->
  <section class="tab-pane active" id="pd-products">
    {% include 'styleguide/_includes/modules/pages/your-order-tab-panel-products.html.twig' %}
  </section>
  <!-- END - TAB PANE - PRODUCT -->

  <!-- START - TAB PANE - INCENTIVES -->
  <section class="tab-pane" id="pd-incentives">
    {% include components.modules.checkout.review.order.tabPane.incentives %}
  </section>
  <!-- END - TAB PANE - INCENTIVES -->

</section>
<!-- END - TAB CONTENT -->


