{% extends "_layouts/modal.html.twig" %}
{% if not modalId %}
  {% set modalId = "modal-contacts-follow-ups-add-edit" %}
{% endif %}
{% set modalSizeClass = null %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalHeader %}

  <button type="button" class="close link-muted" data-dismiss="modal" aria-hidden="true">
    <span class="sr-only">Close modal</span>
    <span class="lt-icon lt-close lt-large py-1"></span>
  </button>

  <h4 class="modal-title text-center">[Add/Edit] follow-up</h4>

{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalBody %}

<form role="form">
  <div class="form-group">
    {% include components.groups.forms.inputAndLabel with {
      id: 'follow-ups-add-description',
      mainLabel: 'Follow-up Description (required)',
      haslabelErrorIcon: true,
      hasInlineErrorIcon: null,
      hasAbsoluteErrorIcon: null,
      classes: null,
      type: 'input',
      theValue: null
    } %}
  </div>

  <div class="form-group has-feedback">
    {% include components.groups.forms.inputAndLabel with {
      id: 'follow-ups-add-target-date',
      mainLabel: 'Target Date (required)',
      haslabelErrorIcon: true,
      hasInlineErrorIcon: null,
      hasAbsoluteErrorIcon: null,
      hasCalendar: true,
      classes: null,
      type: 'input',
      theValue: null
    } %}
  </div>

  <div class="form-group">
    {% include components.groups.forms.inputAndLabel with {
      id: 'follow-ups-add-customer',
      mainLabel: 'Customer/Team Member',
      haslabelErrorIcon: true,
      hasInlineErrorIcon: null,
      hasAbsoluteErrorIcon: null,
      classes: null,
      type: 'input',
      theValue: null
    } %}
  </div>

  <div class="form-group">
    {% include '_includes/groups/forms/textarea-and-label.html.twig' with {
      id: 'follow-ups-notes',
      mainLabel: 'Notes',
      haslabelErrorIcon: true,
      hasInlineErrorIcon: null,
      hasAbsoluteErrorIcon: null,
      classes: null,
      theValue: null,
      rows: 4
    } %}
  </div>


</form>


{% endblock %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalFooter #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalFooter %}

  <div class="row">
    <div class="col-xs-12 col-sm-6 my-2">
      <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
    </div>
    <div class="col-xs-12 col-sm-6 my-2">
      <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" aria-hidden="true">Save</button>
    </div>
  </div><!-- /.row -->



{% endblock %}
