{% extends "_layouts/modal.html.twig" %}
{% if not modalId %}
  {% set modalId = "modal-contact-detail-follow-ups-details" %}
{% endif %}
{% set modalSizeClass = null %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalHeader %}

  <button type="button" class="close link-muted" data-dismiss="modal" aria-hidden="true">
    <span class="sr-only">Close modal</span>
    <span class="lt-icon lt-close lt-large py-1"></span>
  </button>

  <h4 class="modal-title text-center">Follow-up Details</h4>

{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalBody %}

  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">

      <dl class="dl-spacing">
        <dt class="h6">Title</dt>
        <dd>{{ fpo.sentence }}</dd>
        <dt class="h6">Due Date</dt>
        <dd>00/00/0000</dd>
        <dt class="h6">Contact</dt>
        <dd><span>[Person's Name]</span> <span>([Team/Customer])</span></dd>
        <dt class="h6">Due Date</dt>
        <dd>{{ fpo.paragraph }}</dd>
      </dl>

    </div>
  </div><!-- /.row -->

{% endblock %}

