{% extends "_layouts/modal.html.twig" %}
{% if not modalId %}
  {% set modalId = "modal-contact-detail-groups-add-new" %}
{% endif %}
{% set modalSizeClass = null %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalHeader %}

  <button type="button" class="close link-muted" data-dismiss="modal" aria-hidden="true">
    <span class="sr-only">Close modal</span>
    <span class="lt-icon lt-close lt-large py-1"></span>
  </button>

  <h4 class="modal-title text-center">Add New Group</h4>

{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalBody %}

<form role="form">
  <div class="form-group">
    {% include components.groups.forms.inputAndLabel with {
      id: 'add-new-group',
      mainLabel: 'Group Name',
      haslabelErrorIcon: true,
      hasInlineErrorIcon: null,
      hasAbsoluteErrorIcon: null,
      classes: null,
      type: 'input',
      theValue: null
    } %}
  </div>


</form>


{% endblock %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalFooter #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalFooter %}

  <div class="row">
    <div class="col-xs-12 col-sm-6 my-2">
      <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
    </div>
    <div class="col-xs-12 col-sm-6 my-2">
      <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" aria-hidden="true">Create Group</button>
    </div>
  </div><!-- /.row -->



{% endblock %}
