{% extends "_layouts/modal.html.twig" %}
{% if not modalId %}
  {% set modalId = "modal-contacts-groups-add-to" %}
{% endif %}
{% set modalSizeClass = null %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalHeader %}

  <button type="button" class="close link-muted" data-dismiss="modal" aria-hidden="true">
    <span class="sr-only">Close modal</span>
    <span class="lt-icon lt-close lt-large py-1"></span>
  </button>

  <h4 class="modal-title text-center">Add to Group</h4>

{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalBody %}

<form role="form">
  <div class="form-group">
    {% include "_includes/elements/forms/checkbox.html.twig" with {
      checked : true,
      theLabel: '[Group name (00)] - no translation needed',
      wrapLabel: true
    } %}
  </div>
  <div class="form-group">
    {% include "_includes/elements/forms/checkbox.html.twig" with {
      checked : false,
      theLabel: '[Group name (00)] - no translation needed',
      wrapLabel: true
    } %}
  </div>
  <div class="form-group">
    {% set idPrefix = 'add-new-group-' %}
    {% set theInput %}
      {% include '_includes/elements/forms/input.html.twig' with {
        id: idPrefix ~ 'input',
        name: idPrefix ~ 'input',
        classes: idPrefix ~ 'input input-sm form-control-inline',
        placeholder: 'Create a new group'
      } %}
    {% endset %}
    {% include '_includes/groups/forms/checkbox-and-input.html.twig' with {
      id: idPrefix ~ 'checkbox',
      name: idPrefix ~ 'checkbox',
      theLabel: theInput,
      checked: false,
      classes: '',
      labelClasses: 'd-flex align-items-center'
    } %}
  </div>
</form>

{% endblock %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalFooter #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalFooter %}

  <div class="row">
{#     <div class="col-xs-12 col-sm-6 my-2">
      <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
    </div> #}
    <div class="col-xs-12 col-sm-6 my-2">
      <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" aria-hidden="true">Save</button>
    </div>
  </div><!-- /.row -->

{% endblock %}
