{% extends "_layouts/modal.html.twig" %}
{% if not modalId %}
  {% set modalId = "modal-contacts-notes-add-edit" %}
{% endif %}
{% set modalSizeClass = null %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalHeader %}

  <button type="button" class="close link-muted" data-dismiss="modal" aria-hidden="true">
    <span class="sr-only">Close modal</span>
    <span class="lt-icon lt-close lt-large py-1"></span>
  </button>

  <h4 class="modal-title text-center">[Add/Edit] Note</h4>

{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalBody %}

<form role="form">

  <div class="form-group mb-2">
    {% include '_includes/groups/forms/textarea-and-label.html.twig' with {
      id: 'follow-ups-description',
      mainLabel: 'Write note',
      haslabelErrorIcon: true,
      hasInlineErrorIcon: null,
      hasAbsoluteErrorIcon: null,
      classes: null,
      theValue: null,
      rows: 15,
      maxlength: 350
    } %}
  </div>

  <div class="form-group d-flex justify-content-between">
    {% include components.elements.forms.checkbox with {
      id: 'modal-notes-private',
      name: 'modal-notes-private',
      classes: 'null',
      classesLabel: 'd-flex align-with-text',
      theValue: null,
      theLabel: '<div class="mr-4"><strong>Make this note private</strong>
    <div class="small mt-2">This [customer&rsquo;s/team member&rsquo;s] upline can view your notes, unless you mark as private.</div></div>',
      checked: false
    } %}

    <span class="small text-muted mt-3">
      <span class="count-current">0</span>/<span class="count-max">350</span>
    </span>
  </div>


</form>


{% endblock %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalFooter #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalFooter %}

  <div class="row">
    <div class="col-xs-12 col-sm-6 my-2">
      <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
    </div>
    <div class="col-xs-12 col-sm-6 my-2">
      <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" aria-hidden="true">Save</button>
    </div>
  </div><!-- /.row -->



{% endblock %}
