{% if classes is not defined %}
  {% set classes = '' %}
{% endif %}

{% if notificationMsg is not defined %}
  {% set notificationMsg = 'Campaign 3 is due by 11:59 local time on Wednesday 01/17/2018 21 Day(s) left' %}
{% endif %}

<section class="global-alert-msg alert alert-promo container-fluid mb-0 {{ classes }} fade in">
  <span class="alert-msg-icon lt-icon lt-warning lt-medium {{ alertIcon }}"></span>
  <span class="alert-msg-txt text-uppercase mr-0 mr-sm-4 ml-0 ml-sm-2">{{ notificationMsg }}</span>
</section>
