{% if classes is not defined %}
  {% set classes = '' %}
{% endif %}

{% if notificationMsg is not defined %}
  {% set notificationMsg = 'Campaign 4 is due by midnight on April 24, 2018' %}
{% endif %}

<section class="alert-page-level {{ classes }} fade in">
  <span class="alert-msg-icon lt-icon lt-warning lt-medium {{ alertIcon }}"></span>
  <span class="alert-msg-txt h6">{{ notificationMsg }}</span>
</section>
