<div class="btn btn-back-to-top d-flex flex-wrap align-items-center justify-content-center align-content-around invisible p-0">
  <span class="lt-icon lt-up lt-large"></span>
  <span>Top</span>
</div>
