<header class="navbar navbar-isolated navbar-static-top" role="banner">
  <div class="container-fluid">

    <a href="index.html" class="navbar-brand ml-0 {% if not drawerLogoMobile %}hidden-xs{% endif %}">
      {% include components.elements.images.logoYourAvon %}
    </a>

    <h1 class="navbar-title">{{ drawerLabel }}</h1>
    <a href="#{{ drawerId }}" class="close link-muted" data-toggle="drawer">
      <span class="lt-icon lt-close"></span>
    </a>
  </div>
</header>
