<!-- START - FOOTER -->
<footer class="my-5 footer text-center global-footer">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                
                <div class="footer-group mb-5">
                    <ul class="list-unstyled list-inline">
                        <li class="my-1"><a href="#!">Site Map</a></li>
                        <li class="my-1"><a href="#!">Provacy Statement</a></li>
                        <li class="my-1"><a href="#!">Conditions of Use</a></li>
                        <li class="my-1"><a href="#!">Product Recal</a></li>
                        <li class="my-1"><a href="#!">Direct Selling Messaging</a></li>
                        <li class="my-1"><a href="#!">Product Safety Certificates</a></li>
                        <li class="my-1"><a href="#!">California Supply</a></li>
                        <li class="my-1"><a href="#!">Chains Act</a></li>
                        <li class="my-1"><a href="#!">Animal Welfare Policy</a></li>
                    </ul>
                </div>

                <div class="footer-group my-5">
                    <h6 class="title mb-2">Call Support</h6>
                    <ul class="list-unstyled list-inline">
                        <li class="my-1">English: <a href="tel:1-866-513-2866">(866) 513-AVON</a></li>
                        <li class="my-1">Espanol: <a href="tel:1-866-588-2866">(866) 588-AVON</a></li>
                    </ul>
                </div>

                <div class="footer-group my-5">
                    &copy; 2018 New Avon LLC
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/.Footer-->
<!-- END - FOOTER -->