<!-- START - FOOTER -->
<footer class="my-5 footer text-center global-footer small">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                
                <div class="footer-group mb-4">
                    <ul class="list-unstyled list-inline">
                        <li class="my-1 mx-2"><a href="#!">Site Map</a></li>
                        <li class="my-1 mx-2"><a href="#!">Privacy Statement</a></li>
                        <li class="my-1 mx-2"><a href="#!">Conditions of Use</a></li>
                        <li class="my-1 mx-2"><a href="#!">Product Recall</a></li>
                        <li class="my-1 mx-2"><a href="#!">Direct Selling Messaging</a></li>
                        <li class="my-1 mx-2"><a href="#!">Product Safety Certificates</a></li>
                        <li class="my-1 mx-2"><a href="#!">California Supply Chains Act</a></li>
                        <li class="my-1 mx-2"><a href="#!">Animal Welfare Policy</a></li>
                    </ul>
                </div>

                <div class="footer-group my-4">
                    <h6 class="title mb-2 d-inline mx-2">Call Support</h6>
                    <ul class="list-unstyled list-inline d-inline">
                        <li class="my-1 mx-2">English: <a href="tel:1-866-513-2866" class="link-phone-number">(866) 513-AVON</a></li>
                        <li class="my-1 mx-2">Espanol: <a href="tel:1-866-588-2866" class="link-phone-number">(866) 588-AVON</a></li>
                    </ul>
                </div>

                <div class="footer-group my-4">
                    &copy; 2018 New Avon LLC
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/.Footer-->
<!-- END - FOOTER -->