<div class="no-reverse-bg avon-header">
  <div class="row">
    <div class="col-xs-12">
      <header class="global-header" role="banner">

        <!-- Static top navbar -->
        {% include components.groups.navigation.headerStatic %}

        <!-- User navbar -->
        {% include components.groups.navigation.headerUser %}

        <!-- Primary navbar -->
        {% include components.groups.navigation.headerPrimary %}

        <!-- Item entry drawer -->
        {% include components.modules.itemEntry.drawer %}

      </header>

    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.no-reverse-bg -->
