<!-- START - HEADER -->
<div class="no-reverse-bg avon-header">
  <div class="row">
    <div class="col-xs-12">
      <header class="global-header mb-5" role="banner">

        <!-- Primary navbar -->
        {% include '_includes/groups/navigation/header-primary-nav.html.twig' %}

        <!-- Global alert message -->
        <!-- TODO :: I think this is the cause of the X overflow  -->
        {% include '_includes/modules/global/alert-message.html.twig' %}

        <!-- Item entry drawer -->
        {% include '_includes/modules/item-entry/item-entry.html.twig' %}

      </header>

    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.no-reverse-bg -->
<!-- END - HEADER -->
