<!-- START - HEADER -->
<div class="no-reverse-bg avon-header">
  <div class="row">
    <div class="col-xs-12">
      <header class="global-header mb-5" role="banner">

        <!-- Nav Container -->
        <div class="container-fluid p-0 m-0 border-bottom">

          <!-- Static top navbar -->
          <div class="col-xs-12 p-0 m-0 hidden-xs">
            {% include components.groups.navigation.headerStatic %}
          </div>

          <!-- User navbar -->
          <div class="col-xs-12 p-0 m-0 hidden-xs">
            {% include components.groups.navigation.headerUser %}
          </div>

        </div>

        <!-- Primary navbar -->
        {% include components.groups.navigation.headerPrimary %}

        <!-- Global alert message -->
        {% include components.modules.global.alertMessage %}

        <!-- Item entry drawer -->
        {% include components.modules.itemEntry.drawer %}

      </header>

    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.no-reverse-bg -->
<!-- END - HEADER -->
