<!-- START - HEADER -->
<div class="no-reverse-bg avon-header">
  <div class="row">
    <div class="col-xs-12">
      <header class="global-header mb-5" role="banner">

        <!-- START - Utility Nav Container -->
        <div class="container-fluid p-0 m-0 border-bottom">

          <!-- Utility nav 2 -->
          <div class="col-xs-12 p-0 m-0 hidden-xs">
            {% include '_includes/groups/navigation/header-utility-nav-2.html.twig' %}
          </div>

          <!-- Utility nav 1 -->
          <div class="col-xs-12 p-0 m-0 hidden-xs">
            {% include '_includes/groups/navigation/header-utility-nav-1.html.twig' %}
          </div>

        </div>
        <!-- END - Utility Nav Container -->

        <!-- Primary navbar -->
        {% include '_includes/groups/navigation/header-primary-nav.html.twig' %}

        <!-- Global alert message -->
        <!-- TODO :: I think this is the cause of the X overflow  -->
        {% include '_includes/modules/global/alert-message.html.twig' %}

        <!-- Item entry drawer -->
        {% include '_includes/modules/item-entry/item-entry.html.twig' %}

      </header>

    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.no-reverse-bg -->
<!-- END - HEADER -->
