<!-- START - HEADER -->
<div class="no-reverse-bg avon-header">
  <div class="row px-0 mx-0">
    <div class="col-xs-12 px-0">
      <header class="global-header" role="banner">

        <!-- Primary navbar -->
        {% include '_includes/groups/navigation/global-header-nav/header-nav-container.html.twig' %}

        <!-- Item entry drawer -->
        {% include '_includes/modules/item-entry/item-entry.html.twig' %}

      </header>

    </div>
  </div>
  <!-- /.row -->
</div>
<!-- END - HEADER -->
