<div class="no-reverse-bg">
  <div class="row">
    <div class="col-xs-12">
      <header class="global-header" role="banner">

        <!-- Static top navbar -->
        {% include components.groups.navigation.headerStatic %}

        <!-- User navbar -->
        {% include components.groups.navigation.headerUser %}

        <!-- Primary navbar -->
        {% include components.groups.navigation.headerPrimary %}

      </header>

    </div>
  </div>
  <!-- /.row -->
</div>
<!-- /.no-reverse-bg -->

{# <header class="navbar navbar-isolated navbar-static-top" role="banner">
  <div class="container-fluid">
      <a href="index.html" class="navbar-brand ml-0">
        <img src="/images/logos/your-avon.png" alt="Your Avon">
      </a>
       <h1 class="navbar-title">Your Order</h1>
       <a href="#drawer-order-summary" class="pull-right mt-3" data-toggle="drawer">
        <span class="h4"><span class="glyphicon glyphicon-remove"></span></span>
      </a>
  </div>
</header> #}
