<header class="navbar navbar-isolated navbar-static-top navbar-thirds" role="banner">

  <div class="container-fluid d-flex align-items-center justify-content-center">

    <a href="index.html" class="navbar-item navbar-brand py-3 pl-2">
      <img src="/images/logos/avon_logo_usa.png" alt="Your Avon">
    </a>

    <h1 class="navbar-item navbar-title mt-0">{{ title }}</h1>

    <a href="#drawer-order-summary" class="navbar-item navbar-right link-muted text-right">
      <span class="h4">
        <span class="lt-icon lt-close lt-large"></span>
      </span>
    </a>

  </div>

</header>
