<header class="navbar navbar-isolated navbar-static-top navbar-thirds" role="banner">

  <div class="container-fluid d-flex align-items-center justify-content-center">

    <a href="index.html" class="navbar-item navbar-brand py-3 pl-2">
      <img src="/images/logos/logo_your_avon_dt.png" class="hidden-xs" alt="Your Avon">
      <img src="/images/logos/logo_your_avon_mob.png" class="visible-xs" alt="Your Avon">
    </a>

    <h1 class="navbar-item navbar-title mt-0">{{ title }}{{foo}}</h1>

    {% if useSaveAndExit %}

      <div class="navbar-item navbar-right text-right">
        <a href="#drawer-order-summary" class="link-muted btn btn-discourage">Save &amp; Exit</a>
      </div>
    {% else %}
      <a href="#drawer-order-summary" class="navbar-item navbar-right link-muted text-right">
        <span class="h4">
          <span class="lt-icon lt-close lt-large"></span>
        </span>
      </a>
    {% endif %}

  </div>

</header>
