<ul class="list-unstyled list-inline text-center social-icons-list">
  <li class="px-0mb-3 ">
    <a href="javascript:void(0)"><img src="/images/social/google.svg"></a>
  </li>
  <li class="pl-3 pl-sm-4 pr-0 ml-3 ml-sm-4 mb-3 border-left">
    <a href="javascript:void(0)"><img src="/images/social/google.svg"></a>
  </li>
  <li class="pl-3 pl-sm-4 pr-0 ml-3 ml-sm-4 mb-3 border-left">
    <a href="javascript:void(0)"><img src="/images/social/google.svg"></a>
  </li>
  <li class="pl-3 pl-sm-4 pr-0 ml-3 ml-sm-4 mb-3 border-left">
    <a href="javascript:void(0)"><img src="/images/social/google.svg"></a>
  </li>
  <li class="pl-3 pl-sm-4 pr-0 ml-3 ml-sm-4 mb-3 border-left">
    <a href="javascript:void(0)"><img src="/images/social/google.svg"></a>
  </li>
  <!-- Note this one is for things we want to only show for mobile (things you tounch to trigger a text) -->
  <li class="pl-3 pl-sm-4 pr-0 ml-3 ml-sm-4 mb-3 border-left visible-xs-inline-block">
    <a href="javascript:void(0)"><img src="/images/social/google.svg"></a>
  </li>
</ul>
