<ul class="list-unstyled list-inline text-center social-icons-list">
  <li class="border-right pr-3 py-1">
    <img src="/images/social/google.svg">
  </li>
  <li class="border-right pr-3 py-1">
    <img src="/images/social/google.svg">
  </li>
  <li class="border-right pr-3 py-1">
    <img src="/images/social/google.svg">
  </li>
  <li class="py-1">
    <img src="/images/social/google.svg">
  </li>
</ul>
