<div class="col-sm-6 col-md-4">
  <a href="#" class="thumbnail thumbnail--caption-in-front">
    {{ fpo.image }}
    <div class="caption">
      <h3 class="m-0">{{ label }}</h3>
    </div>
  </a>
</div>