<!-- CTA -->
<div class="user-editable--cta">
  <button type="button" class="user-editable--cta-cancel btn btn-sm btn-default mr-2">Cancel</button>
  <button type="button" class="user-editable--cta-save btn btn-sm btn-primary ">Save</button>
</div>
