<!-- START - CTA BUTTONS -->
  <div class="group--table-controls d-inline-block action-items pr-2">
    <button type="button" class="btn btn-primary btn-sm">
      Import <span class="checked-checkbox-count">[0] Customers
    </button>
  </div>
  <!-- END - CTA BUTTONS -->
