{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <section class="container account-balance-page">

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>Account Balance</h1>
        <small class="small text-muted">As of 11:12 AM EST</small>
        <div class="table-responsive">
          <table class="table-no-borders">
            <thead>
              <tr>
                <th class="text-muted h5-nonbold">AMOUNT DUE</th>
                <th class="text-muted h4-nonbold">BALANCE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="h2 text-muted">$12.34</td>
                <td class="h2 text-muted">-$11,978.12</td>
              </tr>
            </tbody>
          </table>
        </div>
        <button class="btn btn-primary btn-lg">Pay Avon</button>
        <p class="small text-muted">Last payment: $21.22 on Dec 22, 2017</p>
        <hr>
        <h3 class="text-muted">My Statements</h3>
        <p class="text-muted">Click "Search" below to see your most recent transactions.<br/>
        You can also choose a custom date range.</p>

        <!-- START - ACCOUNT STATEMENT SEARCH -->
        <section class="list-group">

          <!-- account statement search -->
          {% include "_includes/modules/account/account-statements-search.html.twig" %}

        </section>
        <!-- END - ACCOUNT STATEMENT SEARCH -->

      </div>
    </div>

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="table-responsive">
          <table class="table table-striped table-bordered-outside-only">
            <thead>
              <tr>
                <th>DATE</th>
                <th>DESCRIPTION</th>
                <th>CHARGES</th>
                <th>CREDITS</th>
                <th>BALANCE</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>01/19/2018</td>
                <td>Online Appointment/Starter Kit</td>
                <td></td>
                <td>$25.00</td>
                <td>-$11,978.12</td>
              </tr>
              <tr>
                <td>01/19/2018</td>
                <td>Credit Card Payment</td>
                <td></td>
                <td>$25.00</td>
                <td>-$11,978.12</td>
              </tr>
              <tr>
                <td>01/19/2018</td>
                <td>Charge - Separate Shipment W/O Inv</td>
                <td>$21.39</td>
                <td></td>
                <td>-$11,978.12</td>
              </tr>
              <tr>
                <td>01/19/2018</td>
                <td>Credit Card Payment</td>
                <td></td>
                <td>$25.00</td>
                <td>-$11,978.12</td>
              </tr>
              <tr>
                <td>01/19/2018</td>
                <td>Online Appointment/Starter Kit</td>
                <td></td>
                <td>$25.00</td>
                <td>-$11,978.12</td>
              </tr>
              <tr>
                <td>01/19/2018</td>
                <td>Credit Card Payment</td>
                <td></td>
                <td>$25.00</td>
                <td>-$11,978.12</td>
              </tr>
              <tr>
                <td>01/19/2018</td>
                <td>Charge - Separate Shipment W/O Inv</td>
                <td>$21.39</td>
                <td></td>
                <td>-$11,978.12</td>
              </tr>
              <tr>
                <td>01/19/2018</td>
                <td>Credit Card Payment</td>
                <td></td>
                <td>$25.00</td>
                <td>-$11,978.12</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <p>Print</p>
    </section>

  {% endblock %}


{% endblock %}
