{% extends layouts.base %}

{% set sectionClass = 'page--acct-balance' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    {% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with {
      position: 'top',
      html: '<div class="reverse-bg py-3">
      <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
      </div>'
    } %}

    <section class="container container--page">

      {% embed '_layouts/columns-3x9-secondary-nav.html.twig' %}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - ASIDE #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block aside %}

          {% include '_includes/groups/navigation/my-account-nav.html.twig' with { active : 'account-balance' } %}

        {% endblock %}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - MAIN #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block main %}

          <!-- START - ACCOUNT STATEMENT BALANCES -->

          {% include "_includes/modules/account/account-statements-balances.html.twig" %}

          <!-- END - ACCOUNT STATEMENT BALANCES -->

          <!-- START - ACCOUNT STATEMENT SEARCH -->

          {% include "_includes/modules/account/account-statements-search.html.twig" %}

          <!-- END - ACCOUNT STATEMENT SEARCH -->

          <!-- START - ACCOUNT STATEMENT SEARCH RESULTS-->

          {% include "_includes/modules/account/account-statements-search-results.html.twig" %}

          <!-- END - ACCOUNT STATEMENT SEARCH RESULTS -->

          <p class="text-center">
            <a class="text-center" href="#">Print</a>
          </p>

        {% endblock %}

      {% endembed %}

    </section>

    {% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with {
      position: 'bottom',
      html: '<div class="reverse-bg py-3">
      <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
      </div>'
    } %}

  {% endblock %}

{% endblock %}
