{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <section class="container container--page">

      {% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with { position: 'top' } %}


      {% embed '_layouts/columns-3x9-secondary-nav.html.twig' %}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - ASIDE #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block aside %}

          {% include '_includes/groups/navigation/my-account-nav.html.twig' with { active : 'account-balance' } %}

        {% endblock %}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - MAIN #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block main %}

          <!-- START - ACCOUNT STATEMENT BALANCES -->

          {% include "_includes/modules/account/account-statements-balances.html.twig" %}

          <!-- END - ACCOUNT STATEMENT BALANCES -->

          <!-- START - ACCOUNT STATEMENT SEARCH -->

          {% include "_includes/modules/account/account-statements-search.html.twig" %}

          <!-- END - ACCOUNT STATEMENT SEARCH -->

          <!-- START - ACCOUNT STATEMENT SEARCH RESULTS-->

          {% include "_includes/modules/account/account-statements-search-results.html.twig" %}

          <!-- END - ACCOUNT STATEMENT SEARCH RESULTS -->

          <p class="text-center">
            <a class="text-center" href="#">Print</a>
          </p>

        {% endblock %}

      {% endembed %}

      <!-- START - MAGNOLIA BLOCK -->
      {% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with {
        position: 'bottom',
        extraSpacing: 4
      } %}
      <!-- END - MAGNOLIA BLOCK -->

    </section>

  {% endblock %}

{% endblock %}
