{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <div class="container">

      <div class="col-md-8 col-md-offset-2">

        <!-- START - ACCOUNT STATEMENT BALANCES -->
        <section>
          {% include "_includes/modules/account/account-statements-balances.html.twig" %}

        </section>
        <!-- END - ACCOUNT STATEMENT BALANCES -->

        <!-- START - ACCOUNT STATEMENT SEARCH -->
        <section>

          {% include "_includes/modules/account/account-statements-search.html.twig" %}

        </section>
        <!-- END - ACCOUNT STATEMENT SEARCH -->

        <!-- START - ACCOUNT STATEMENT SEARCH RESULTS-->
        <section>

          {% include "_includes/modules/account/account-statements-search-results.html.twig" %}

        </section>
        <!-- END - ACCOUNT STATEMENT SEARCH RESULTS -->

        <p class="text-muted text-center">Print</p>

      </div>

    </div>

  {% endblock %}


{% endblock %}
