{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {% embed layouts.columns12 %}

    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {# DEFINE BLOCK - MAIN #}
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {% block main %}

      <!-- START - PAGE LEVEL - ERROR -->
      {% include "_includes/modules/global/alert-page-level.html.twig" with {
          'alertId': null,
          'alertClasses': 'alert-danger',
          'alertIcon': 'lt-warning',
          'alertMsg': 'Page level - persistent',
          'alertBtnText': null,
          'alertDismissable': false
        }
      %}
      <!-- END - PAGE LEVEL - ERROR -->

      <!-- START - PAGE LEVEL - SUCCESS -->
      {% include "_includes/modules/global/alert-page-level.html.twig" with {
          'alertId': null,
          'alertClasses': 'alert-success',
          'alertIcon': 'lt-checkmark',
          'alertMsg': 'Page level - dismissable',
          'alertBtnText': 'Optional button',
          'alertDismissable': true
        }
      %}
      <!-- END - PAGE LEVEL - SUCCESS -->
    
      <section class="container container--page">

        <h1>Alerts</h1>
        <h3>Page level</h3>
        <p>Page level alerts go between the header and content and span thw width of the window. Icons and buttons are optional. Dismissable alerts become sticky to the top of the window once you scroll down far enough. </p>

        <h3>Section level</h3>
        <p>Section level alerts usually are at the top of a section, but can be inserted anywhere. They are as wide as their parent container. They can contain any topy of content. However, if it's just one line, it is structured and styled slightly differently..</p>

        <!-- START - SECTION LEVEL -->
        {% include "_includes/modules/global/alert-section-level.html.twig" with {
            'alertId': null,
            'alertClasses': 'alert-danger',
            'alertIcon': 'lt-warning',
            'alertMsg': ' Section level',
            'alertMsgBody': null,
            'alertBtnText': false
          }
        %}
        <!-- END - SECTION LEVEL -->


        <!-- START - SECTION LEVEL - WITH RICH TEXT -->
        {% include "_includes/modules/global/alert-section-level.html.twig" with {
            'alertId': null,
            'alertClasses': 'alert-info',
            'alertIcon': 'lt-warning',
            'alertMsg': 'Section level - with rich text',
            'alertMsgBody': '
              <p>' ~ fpo.paragraph ~ '</p>
              <p><a href="#">' ~ fpo.sentence ~ '</a></p>
            ',
            'alertBtnText': false,
            'alertDismissable': false
          }
        %}
        <!-- END - SECTION LEVEL - WITH RICH TEXT -->


     
        <p>{{ fpo.paragraph }}</p>
        <p>{{ fpo.paragraph }}</p>
        <p>{{ fpo.paragraph }}</p>
        <p>{{ fpo.paragraph }}</p>
        {# <div class="row">
          <div class="col-xs-3">

            <div class="form-group has-error has-error--absolute-1-line">

              {% include components.groups.forms.inputAndLabel with { mainLabel: 'Quantity', id: 'error-horizontal-input-1' } %} 

            </div>



            <div class="form-group has-error has-error--absolute-1-line text-left p-0 m-0 pr-4 pb-3">
              <label class="control-label" for="pdpQuantity">Quantity</label>
              <input type="text" class="form-control" id="pdpQuantity" placeholder="1">
              <p class="text-danger small label-abs">
                <strong>You have exceeded your demo limit. Please modify the quantity.</strong>
              </p>
            </div>
          </div>
        </div> #}
        



      </section>
 

      <!-- END - RELATED PRODUCTS -->

    {% endblock %}

  {% endembed %}



{% endblock %}
