{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {% embed layouts.columns12 %}

    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {# DEFINE BLOCK - MAIN #}
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {% block main %}

      <!-- START - GLOBAL ALERT MESSAGE -->
      {% include "_includes/modules/global/alert-page-level.html.twig" with {
          'alertId': null,
          'alertClasses': 'alert-danger',
          'alertIcon': 'lt-warning',
          'alertMsg': 'Page level - persistent',
          'alertBtnText': null,
          'alertDismissable': false
        }
      %}
      <!-- END - GLOBAL ALERT MESSAGE -->

      <!-- START - GLOBAL ALERT MESSAGE -->
      {% include "_includes/modules/global/alert-page-level.html.twig" with {
          'alertId': null,
          'alertClasses': 'alert-danger',
          'alertIcon': 'lt-warning',
          'alertMsg': 'Page level - dismissable',
          'alertBtnText': 'Optional button',
          'alertDismissable': true
        }
      %}
    

      <section class="container container--page">
        <!-- START - GLOBAL ALERT MESSAGE -->
        {% include "_includes/modules/global/alert-section-level.html.twig" with {
            'alertId': null,
            'alertClasses': 'alert-danger',
            'alertIcon': 'lt-warning',
            'alertMsg': ' Section level',
            'alertMsgBody': null,
            'alertBtnText': false
          }
        %}


        <!-- START - GLOBAL ALERT MESSAGE -->
        {% include "_includes/modules/global/alert-section-level.html.twig" with {
            'alertId': null,
            'alertClasses': 'alert-danger',
            'alertIcon': 'lt-warning',
            'alertMsg': 'Section level - with rich text',
            'alertMsgBody': '
              <p>' ~ fpo.paragraph ~ '</p>
              <p><a href="#">' ~ fpo.sentence ~ '</a></p>
            ',
            'alertBtnText': false,
            'alertDismissable': false
          }
        %}


     

        {# <div class="row">
          <div class="col-xs-3">

            <div class="form-group has-error has-error--absolute-1-line">

              {% include components.groups.forms.inputAndLabel with { mainLabel: 'Quantity', id: 'error-horizontal-input-1' } %} 

            </div>



            <div class="form-group has-error has-error--absolute-1-line text-left p-0 m-0 pr-4 pb-3">
              <label class="control-label" for="pdpQuantity">Quantity</label>
              <input type="text" class="form-control" id="pdpQuantity" placeholder="1">
              <p class="text-danger small label-abs">
                <strong>You have exceeded your demo limit. Please modify the quantity.</strong>
              </p>
            </div>
          </div>
        </div> #}
        



      </section>
 

      <!-- END - RELATED PRODUCTS -->

    {% endblock %}

  {% endembed %}



{% endblock %}
