{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <div class="container container--page">

    {% embed "_layouts/content-center-max-width.html.twig" %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        <!--START - AVON BUZZ LOGO-->
        <div class="my-5 pb-4 text-center">
          <img src="images/logos/beauty-buzz.png" class="img-responsive img-responsive--50 m-auto px-5 px-md-0" alt="Beauty Buzz">
        </div>
        <!--END - AVON BUZZ LOGO-->

        <section class="pt-4">
          <!-- START - NAV TABS -->
          {% include "_includes/groups/navigation/scrollable-tabs/scrollable-tabs.html.twig" %}
          <!-- END - NAV TABS -->

          <hr class="full-width-divider m-0">

          <!-- START - TAB PANES -->
          <div class="tab-content">

            {% include "_includes/modules/beauty-buzz/tab-pane.html.twig" with {
              id: 'buzz-1',
              tabLabel: 'Group 1',
              classes: 'active'
            } %}

            {% include "_includes/modules/beauty-buzz/tab-pane.html.twig" with {
              id: 'buzz-2',
              tabLabel: 'Group 2',
              classes: ''
            } %}

            {% include "_includes/modules/beauty-buzz/tab-pane.html.twig" with {
              id: 'buzz-3',
              tabLabel: 'Group 3',
              classes: ''
            } %}

            {% include "_includes/modules/beauty-buzz/tab-pane.html.twig" with {
              id: 'buzz-4',
              tabLabel: 'Group 4',
              classes: ''
            } %}

          </div>
          <!-- END - TAB PANES -->

        </section>

      {% endblock %}

    {% endembed %}

  </div>

{% endblock %}
