{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <div class="container container--page">

    {% embed "_layouts/content-center-max-width.html.twig" %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        <!--START: AVON BUZZ LOGO-->
        <div class="my-5 pb-5 text-center">
          <img src="images/logos/beauty-buzz.png" alt="Beauty Buzz">
        </div>
        <!--END: AVON BUZZ LOGO-->

        <section class="pt-4">
          <!-- START: NAV TABS -->
          {% include "_includes/groups/navigation/scrollable-tabs/scrollable-tabs.html.twig" %}
          <!-- END: NAV TABS -->

          <!-- START: TAB PANES -->
          <div class="tab-content border-top">

            {% include "_includes/modules/beauty-buzz/tab-pane.html.twig" with {
              id: 'buzz-1',
              tabLabel: 'Group 1',
              classes: 'active'
            } %}

            {% include "_includes/modules/beauty-buzz/tab-pane.html.twig" with {
              id: 'buzz-2',
              tabLabel: 'Group 2',
              classes: ''
            } %}

            {% include "_includes/modules/beauty-buzz/tab-pane.html.twig" with {
              id: 'buzz-3',
              tabLabel: 'Group 3',
              classes: ''
            } %}

            {% include "_includes/modules/beauty-buzz/tab-pane.html.twig" with {
              id: 'buzz-4',
              tabLabel: 'Group 4',
              classes: ''
            } %}

            {% include "_includes/modules/beauty-buzz/tab-pane.html.twig" with {
              id: 'buzz-5',
              tabLabel: 'Group 5',
              classes: ''
            } %}

            {% include "_includes/modules/beauty-buzz/tab-pane.html.twig" with {
              id: 'buzz-6',
              tabLabel: 'Group 6',
              classes: ''
            } %}

            {% include "_includes/modules/beauty-buzz/tab-pane.html.twig" with {
              id: 'buzz-7',
              tabLabel: 'Group 7',
              classes: ''
            } %}

            {% include "_includes/modules/beauty-buzz/tab-pane.html.twig" with {
              id: 'buzz-8',
              tabLabel: 'Group 8',
              classes: ''
            } %}

            {% include "_includes/modules/beauty-buzz/tab-pane.html.twig" with {
              id: 'buzz-9',
              tabLabel: 'Group 9',
              classes: ''
            } %}

            {% include "_includes/modules/beauty-buzz/tab-pane.html.twig" with {
              id: 'buzz-10',
              tabLabel: 'Group 10',
              classes: ''
            } %}

            {% include "_includes/modules/beauty-buzz/tab-pane.html.twig" with {
              id: 'buzz-11',
              tabLabel: 'Group 11',
              classes: ''
            } %}

            {% include "_includes/modules/beauty-buzz/tab-pane.html.twig" with {
              id: 'buzz-12',
              tabLabel: 'Group 12',
              classes: ''
            } %}

         

          </div>
          <!-- END: TAB PANES -->

        </section>

      {% endblock %}

    {% endembed %}

  </div>

{% endblock %}
