{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <!-- START - MAIN CONTENT -->
    <section class="container container--page container--brochures">

      <!-- START - VIRTUAL BROCHURE HEADER -->
      <section class="container">
        <div class="row">
          {% include '_includes/modules/brochures/header.html.twig' %}
        </div>
      </section>
      <!-- END - VIRTUAL BROCHURE HEADER -->

      <section>
        <!-- START - GRID -->
        <div class="container brochure-grid-view">
          {% include '_includes/modules/brochures/grid-view.html.twig' %}
        </div>
        <!-- END - GRID -->

        <!-- START - DETAILS -->
        <div class="container brochure-detail-view hidden">
          {% include '_includes/modules/brochures/detail-view.html.twig' %}
        </div>
        <!-- END - DETAILS -->
      </section>

    </section>
    <!-- END - MAIN CONTENT -->

  {% endblock %}

  <!-- MODAL - PRODUCT LIST -->
  {% include '_includes/modules/product/list/product-list-modal.html.twig' %}

  <!-- MODAL - BROCHURE QUICK SHOP -->
  {% include '_includes/modules/product/detail/quick-shop.html.twig' %}

  <!-- MODAL - PRODUCT IMAGE LG -->
  {% include "_includes/modules/product/detail/product-image-modal.html.twig" with { isInQuickShopModal: true } %}

  <!-- MODAL - PRODUCT VIDEO LG -->
  {% include "_includes/modules/product/detail/product-video-modal.html.twig" with { isInQuickShopModal: true } %}

{% endblock %}
