{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <!-- START - MAIN CONTENT -->
    <section class="container container--brochures">

      <!-- START - VIRTUAL BROCHURE HEADER -->
      <section class="container">
        <div class="row mt-5">
          {% include components.modules.brochures.header %}
        </div>
      </section>
      <!-- END - VIRTUAL BROCHURE HEADER -->

      <section>
        <!-- START - GRID -->
        <div class="container brochure-grid-view">
          {% include components.modules.brochures.gridView %}
        </div>
        <!-- END - GRID -->

        <!-- START - DETAILS -->
        <div class="container brochure-detail-view hidden">
          {% include components.modules.brochures.detailView %}
        </div>
        <!-- END - DETAILS -->
      </section>

    </section>
    <!-- END - MAIN CONTENT -->

  {% endblock %}

  {# MODAL - Brochure Quick Look #}
  {% include components.modules.brochures.quickLook %}

{% endblock %}
