{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

  <section class="container container--page">
    {% embed layouts.columns3x9 %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - ASIDE #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block aside %}

        {% include '_includes/groups/navigation/my-account-nav.html.twig' %}

      {% endblock %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        <h2>Password</h2>

        <hr>

        <!-- START - CURRENT PASSWORD CONTENT -->
        <div class="d-block">
          <div class="row form-group">
            <h6 class="col-sm-4 my-md-2">Current Password</h6>
            <div class="col-md-8">••••••••</div>
          </div>

          <div class="row form-group">
            <h6 class="col-sm-4 my-md-2">Password Hint</h6>
            <div class="col-md-8">"Remember that thing that happened when I was at that place?"</div>
          </div>

          <button type="submit" class="btn btn-primary mt-4">Edit</button>
        </div>
        <!-- END - CURRENT PASSWORD CONTENT -->

        <!-- START - EDIT PASSWORD CONTENT -->
        <div class="d-block">
          <div class="form-group">
            <label class="control-label">Current Password</label>
            <input type="password" class="form-control" id="current-password" placeholder="Password">
          </div>

          <div class="form-group">
            <label class="control-label">New Password</label>
            <input type="password" class="form-control" id="new-password" placeholder="New Password">
          </div>

          <div class="form-group">
            <label class="control-label">Confirm New password</label>
            <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password">
          </div>

          <div class="form-group">
            <label class="control-label">Password Hint</label>
            <textarea class="form-control" rows="3"></textarea>
          </div>

          <button type="submit" class="btn btn-default mt-4">Cancel</button>
          <button type="button" class="btn btn-primary mt-4">Save</button>
        </div>
        <!-- END - EDIT PASSWORD CONTENT -->

      {% endblock %}

    {% endembed %}
  </section>

  {% endblock %}


{% endblock %}
