{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

  <section class="container container--page">
    {% embed "_layouts/columns-10-max-3x9.html.twig" %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - ASIDE #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block aside %}

        {% include '_includes/groups/navigation/my-account-nav.html.twig' %}

      {% endblock %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        <h2>Password</h2>

        <hr>

        <!-- START - CURRENT PASSWORD CONTENT -->
        <!-- Developer note: To hide this section, add the class "d-none" -->
        <section class="">
          <div class="row my-5">
            <h6 class="col-sm-4 my-md-2">Current Password</h6>
            <div class="col-md-8">••••••••</div>
          </div>

          <div class="row my-5">
            <h6 class="col-sm-4 my-md-2">Password Hint</h6>
            <div class="col-md-8">"Remember that thing that happened when I was at that place?"</div>
          </div>

          <button type="submit" class="btn btn-primary mt-4">Edit</button>
        </section>
        <!-- END - CURRENT PASSWORD CONTENT -->

        <!-- START - EDIT PASSWORD CONTENT -->
        <!-- Developer note: To hide this section, add the class "d-none" -->
        <section class="">
          <form role="form">

            <div class="form-group col-md-7 px-0 mb-5">
              <label class="control-label">Current Password</label>
              <input type="password" class="form-control" id="current-password" placeholder="Password" value="•••••">
            </div>

            <div class="form-group col-md-7 px-0 mb-5">
              <label class="control-label">New Password</label>
              <p class="text-muted small"><em>Your password must be between 6 and 16 characters and may contain letters, numbers, and symbols.</em></p>
              <input type="password" class="form-control" id="new-password" placeholder="New Password" value="•••••">
            </div>

            <div class="form-group col-md-7 px-0 mb-5">
              <label class="control-label">Confirm New password</label>
              <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password" value="•••••">
            </div>

            <div class="form-group col-md-7 px-0 mb-5">
              <label class="control-label">Password Hint</label>
              <p class="text-muted small"><em>Set a hint that will help you remember your password.</em></p>
              <textarea class="form-control" rows="3"></textarea>
            </div>

            <div class="form-group col-md-7 px-0">
              <button type="submit" class="btn btn-default mt-4">Cancel</button>
              <button type="button" class="btn btn-primary mt-4">Save</button>
            </div>

          </form>
        </section>
        <!-- END - EDIT PASSWORD CONTENT -->

      {% endblock %}

    {% endembed %}
  </section>

  {% endblock %}


{% endblock %}
