{% extends "_layouts/theme-checkout.html.twig" %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <div class="container">

    <div class="row">
      <div class="col-sm-9">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-justified">
          <li class="active ml-4"><a href="#pd-products" data-toggle="tab">Products (8)</a></li>
          <li><a href="#pd-incentives" data-toggle="tab">Incentives (2)</a></li>
        </ul>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->

  <div class="super-panel">
    <div class="container">
 
      {% embed '_layouts/layout-9-3.html.twig' %}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - MAIN #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block main %}
          
          

          



          <!-- Tab panes -->
          <section class="tab-content">
            <section class="tab-pane active" id="pd-products">
              
              <!-- PERSON -->
              <ul class="list-group">
                {% include components.groups.checkout.personsOrder with {indexNum: '1', personName: fpo.person.1, itemCount: '8', total: '90.00', collapsed: false} %}
                {% include components.groups.checkout.personsOrder with {indexNum: '2', personName: fpo.person.2, itemCount: '8', total: '90.00'} %}
                {% include components.groups.checkout.personsOrder with {indexNum: '3', personName: fpo.person.3, itemCount: '8', total: '90.00'} %}
                {% include components.groups.checkout.personsOrder with {indexNum: '4', personName: fpo.person.4, itemCount: '8', total: '90.00'} %}
                {% include components.groups.checkout.personsOrder with {indexNum: '5', personName: fpo.person.5, itemCount: '8', total: '90.00'} %}
              </ul>

            </section>
            <section class="tab-pane" id="pd-incentives">
              Incentivces
            </section>
          </section>

          <!-- DRAWER -->
          

        {% endblock %}


        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - ASIDE #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block aside %}

          <!-- ORDER TOTAL -->
          {% include components.modules.checkout.order.total %}

           

        {% endblock %}
      {% endembed %}

    </div>
  </div><!-- /.super-panel -->


{% endblock %}