{% extends '_layouts/theme-checkout.html.twig' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <section id="" class="global-alert-msg alert container-fluid mb-0 alert-success fade in">
    <span class="alert-msg-icon lt-icon lt-medium lt-checkmark"></span>
    <span class="alert-msg-txt text-uppercase mr-0 mr-sm-4 ml-0 ml-sm-2">Balance successfully paid</span>
  </section>

  <div class="container container--page">

    {% embed '_layouts/columns-10-max-8x4-header.html.twig' with {
      contentSplit: true
    } %}

    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {# DEFINE BLOCK - CONTENT HEADER #}
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {% block contentheader %}
      {% include "_includes/groups/navigation/back-link.twig" with {label: "Back to Payment Methods"} %}
      {% include "_includes/groups/navigation/back-link.twig" with {label: "Cancel Split Payments"} %}

      <div class="clearfix my-5 pb-5 border-bottom">
        <h2 class="m-0 pull-left">Checkout</h2>
        <a href="#" class="btn btn-discourage btn-soft btn-sm pull-right m-0">Edit Order</a>
      </div>
    {% endblock %}
    {# END BLOCK - CONTENT HEADER #}

    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {# DEFINE BLOCK - MAIN #}
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {% block main %}

      <div class="mb-4 mb-md-0" data-split-content-container="mobile">

        <!-- DEV NOTE :: Order summary information is moved here with js on small screens -->

      </div>

      <!-- START - ORDER OVERVIEW -->
      {% include '_includes/modules/checkout/module-order-overview.html.twig' %}
      <!-- END - ORDER OVERVIEW -->

      <!-- START - ADDRESS -->
      {% include '_includes/modules/checkout/module-ship-to.html.twig' %}
      <!-- END - ADDRESS -->

      <!-- START - SHIPPING -->
      {% include '_includes/modules/checkout/module-shipping-method.html.twig' %}
      <!-- END - SHIPPING -->

      <!--START: ADD/CHOOSE PAYMENT METHOD-->
      {% include '_includes/modules/checkout/quick-checkout-payment-method.html.twig' with {headline: 'Choose Payment Method', hasSplitPayment: true} %}
      <!-- END - ADD/CHOOSE PAYMENT METHOD -->

      <!-- START: PAY WITH AVON CREDIT-->
      {% include '_includes/modules/checkout/quick-checkout-ac.html.twig' %}
      <!-- END: PAY WITH AVON CREDIT -->

      <!-- START - CREDIT CARD PAYMENT METHOD -->
      {% include '_includes/modules/checkout/quick-checkout-cc.html.twig' %}
      <!-- END - CREDIT CARD PAYMENT METHOD -->

      <!-- START: PAY WITH QUICKPAY-->
      {% include '_includes/modules/checkout/quick-checkout-aq.html.twig' with { showAmount:true } %}
      <!-- END: PAY WITH QUICKPAY-->

      <!-- START - PAYMENTS -->
      {% include '_includes/modules/checkout/quick-checkout-payments.html.twig' with {headline: 'Payments'} %}
      <!-- END - PAYMENTS -->

    {% endblock %}
    {# END BLOCK - MAIN #}

    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {# DEFINE BLOCK - ASIDE #}
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {% block aside %}

      <!-- START - ORDER TOTAL ASIDE -->
      {% include '_includes/modules/checkout/checkout-order-total.html.twig' with {
        buttonsToShow: {
          sumbmitEnabled: true,
          submitDisabled: true,
          reviewEnabled: false,
          reviewDisabled: false
        }
      } %}
      <!-- END - ORDER TOTAL ASIDE -->

      <!-- START - ORDER TOTAL STICKY FOOTER -->
      <!-- DEV NOTE :: This sticky footer requires some js to add appropriate
                    :: padding to <body> :: See avon-main.js near the bottom
                    :: look for "if(hasStickyFooter) {... -->
      {% include '_includes/modules/checkout/checkout-sticky-footer.html.twig' %}
      <!-- END - ORDER TOTAL STICKY FOOTER -->

    {% endblock %}
    {# END BLOCK - ASIDE #}

  {% endembed %}
  {# END LAYOUT EMBED #}


</div>
<!-- / .container -->

{% endblock %}
{# END BLOCK - CONTENT #}
