{% extends layouts.themes.checkout %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <div class="super-panel reverse-bg">
    <div class="container">

      {% embed '_layouts/columns-12-slim.html.twig' %}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - MAIN #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block main %}

          {% include '_includes/modules/checkout/itemized-checkout.html.twig' %}

        {% endblock %}

      {% endembed %}

    </div>
  </div><!-- /.super-panel -->


{% endblock %}
