{% extends '_layouts/theme-checkout.html.twig' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {% include "_includes/modules/checkout/checkout-generic-error.html.twig" %}

  <div class="container container--page">

  {% embed '_layouts/columns-10-max-8x4-header.html.twig' with {
    contentSplit: true
  } %}

    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {# DEFINE BLOCK - CONTENT HEADER #}
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {% block contentheader %}
      <div class="clearfix my-5 pb-5 border-bottom">
        <h2 class="m-0 pull-left">Checkout</h2>
        <a href="#" class="btn btn-discourage btn-soft btn-sm pull-right m-0">Edit Order</a>
      </div>
    {% endblock %}
    {# END BLOCK - CONTENT HEADER #}

    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {# DEFINE BLOCK - MAIN #}
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {% block main %}

      <!-- DEV NOTE :: 'disabled' class can be removed to enable this block when necessary -->
      <div class="mb-4 mb-md-0 disableable disabled" data-split-content-container="mobile">

        <!-- DEV NOTE :: Order summary information is moved here with js on small screens -->

      </div>

      <!-- START - BALANCE DUE METHOD -->
      {% include '_includes/modules/checkout/quick-checkout-balance-due.html.twig' %}
      <!-- END - SHIPPING METHOD -->

      <!--START - ADD/CHOOSE PAYMENT METHOD-->
      {% include '_includes/modules/checkout/quick-checkout-payment-method.html.twig' with {
        headline: 'Choose Payment Method',
        hasSplitPayment: true
      } %}
      <!-- END - ADD/CHOOSE PAYMENT METHOD -->

      <!-- START - CREDIT CARD PAYMENT METHOD -->
      {% include '_includes/modules/checkout/quick-checkout-cc.html.twig' with {
        buttonText: 'Submit'
      } %}
      <!-- END - CREDIT CARD PAYMENT METHOD -->

      <!-- START - PAY WITH QUICKPAY-->
      {% include '_includes/modules/checkout/quick-checkout-aq.html.twig' with {
        showAmount:true,
        buttonText: 'Submit'
      } %}
      <!-- END - PAY WITH QUICKPAY-->

    {% endblock %}
    {# END BLOCK - MAIN #}

    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {# DEFINE BLOCK - ASIDE #}
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {% block aside %}

      <!-- START - ORDER TOTAL ASIDE -->
      {% include '_includes/modules/checkout/checkout-order-total.html.twig' with {
        disabled: true
      } %}
      <!-- END - ORDER TOTAL ASIDE -->

      <!-- START - ORDER TOTAL STICKY FOOTER -->
      <!-- DEV NOTE :: This sticky footer requires some js to add appropriate
                    :: padding to <body> :: See avon-main.js near the bottom
                    :: look for "if(hasStickyFooter) {... -->
      {% include '_includes/modules/checkout/checkout-sticky-footer.html.twig' with {
        classes: 'd-none'
      } %}
      <!-- END - ORDER TOTAL STICKY FOOTER -->

    {% endblock %}
    {# END BLOCK - ASIDE #}

  {% endembed %}
  {# END LAYOUT EMBED #}


</div>
<!-- / .container -->

{% endblock %}
{# END BLOCK - CONTENT #}
