{% extends layouts.themes.checkout %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <div class="super-panel reverse-bg">
    <div class="container">

      {% embed layouts.columns12 %}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - MAIN #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block main %}

          {% include components.modules.checkout.reviewComplete %}

        {% endblock %}

      {% endembed %}

    </div>
  </div><!-- /.super-panel -->


{% endblock %}
