{% extends '_layouts/theme-checkout.html.twig' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {% include "_includes/modules/checkout/checkout-generic-error.html.twig" %}

  {% include "_includes/modules/checkout/checkout-successfull-paid.html.twig" %}

  <div class="container container--page">

  {% embed '_layouts/columns-10-max-8x4-header.html.twig' with {
    contentSplit: true
  } %}

    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {# DEFINE BLOCK - CONTENT HEADER #}
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {% block contentheader %}

      {% include "_includes/groups/navigation/back-link.twig" with {label: "Back to Payment Methods"} %}
      {% include "_includes/groups/navigation/back-link.twig" with {label: "Cancel Split Payments"} %}
      {% include "_includes/modules/checkout/checkout-header.html.twig" %}
      {% include "_includes/groups/alerts/alert-level-section-generic.twig" with {marginClasses: null } %}

    {% endblock %}
    {# END BLOCK - CONTENT HEADER #}

    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {# DEFINE BLOCK - MAIN #}
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {% block main %}

      <div class="mb-4 mb-md-0" data-split-content-container="mobile">

        <!-- DEV NOTE :: Order summary information is moved here with js on small screens -->

      </div>

      <!-- START - BALANCE REMAINING -->
      {% include '_includes/modules/checkout/quick-checkout-balance-remaining.html.twig' %}
      {% include '_includes/modules/checkout/quick-checkout-balance-remaining.html.twig' with {amount: '0.00', colorClass: 'text-success'} %}
      {% include '_includes/modules/checkout/quick-checkout-balance-remaining.html.twig' with {amount: '15.00', colorClass: 'text-success', overpaid: true} %}
      <!-- END - BALANCE REMAINING -->

      <!--START - ADD/CHOOSE PAYMENT METHOD-->
      {% include '_includes/modules/checkout/quick-checkout-payment-method.html.twig' with {headline: 'Choose Payment Method', hasSplitPayment: true} %}
      <!-- END - ADD/CHOOSE PAYMENT METHOD -->

      <!-- START - PAYMENTS -->
      {% include '_includes/modules/checkout/quick-checkout-payments.html.twig' with {headline: 'Payments'} %}
      <!-- END - PAYMENTS -->

      <!-- START - PAYMENTS -->
      {% include '_includes/modules/checkout/quick-checkout-cvv.html.twig' with {headline: 'Payments'} %}
      <!-- END - PAYMENTS -->

      <!-- START - SUCCESSFUL PAYMENTS -->
      {% include '_includes/modules/checkout/quick-checkout-success-payments.html.twig' with {headline: 'Successful Payments'} %}
      <!-- END - SUCCESSFUL PAYMENTS -->

      <!-- START - FAILED PAYMENTS -->
      {% include '_includes/modules/checkout/quick-checkout-failed-payments.html.twig' with {headline: 'Failed Payments'} %}
      <!-- END - FAILED PAYMENTS -->

      <!-- START - PAY WITH AVON CREDIT-->
      {% include '_includes/modules/checkout/quick-checkout-ac.html.twig' %}
      <!-- END - PAY WITH AVON CREDIT -->

      <!-- START - CREDIT CARD PAYMENT METHOD -->
      {% include '_includes/modules/checkout/quick-checkout-cc.html.twig' %}
      <!-- END - CREDIT CARD PAYMENT METHOD -->

      <!-- START - PAY WITH QUICKPAY-->
      {% include '_includes/modules/checkout/quick-checkout-aq.html.twig' with { showAmount:true } %}
      <!-- END - PAY WITH QUICKPAY-->

      <!-- START - ORDER OVERVIEW -->
      {% include '_includes/modules/checkout/module-order-overview.html.twig' %}
      <!-- END - ORDER OVERVIEW -->

      <!-- START - ADDRESS -->
      {% include '_includes/modules/checkout/module-ship-to.html.twig' %}
      <!-- END - ADDRESS -->

      <!-- START - SHIPPING -->
      {% include '_includes/modules/checkout/module-shipping-method.html.twig' %}
      <!-- END - SHIPPING -->

      <!-- START - BALANCE DUE METHOD -->
      {% include '_includes/modules/checkout/quick-checkout-balance-due.html.twig' %}
      <!-- END - SHIPPING METHOD -->

    {% endblock %}
    {# END BLOCK - MAIN #}

    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {# DEFINE BLOCK - ASIDE #}
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {% block aside %}

      <!-- START - ORDER TOTAL ASIDE -->
      {% include '_includes/modules/checkout/checkout-order-total.html.twig' %}
      <!-- END - ORDER TOTAL ASIDE -->

      <!-- START - ORDER TOTAL STICKY FOOTER -->
      <!-- DEV NOTE :: This sticky footer requires some js to add appropriate
                    :: padding to <body> :: See avon-main.js near the bottom
                    :: look for "if(hasStickyFooter) {... -->
      {% include '_includes/modules/checkout/checkout-sticky-footer.html.twig' %}
      <!-- END - ORDER TOTAL STICKY FOOTER -->

    {% endblock %}
    {# END BLOCK - ASIDE #}

  {% endembed %}
  {# END LAYOUT EMBED #}


</div>
<!-- / .container -->

<!-- START - MODAL - SHIPPING INFO MODAL -->
  {% include "_includes/modules/checkout/modals/checkout-shipping-info-modal.html.twig" %}
<!-- END - MODAL - SHIPPING INFO MODAL -->

{% endblock %}
{# END BLOCK - CONTENT #}
