{% extends "_layouts/theme-checkout.html.twig" %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="active ml-4"><a href="#pd-products" data-toggle="tab">Products (8)</a></li>
      <li><a href="#pd-incentives" data-toggle="tab">Incentives (2)</a></li>
    </ul>
  </div><!-- /.container -->

  <div class="super-panel">
    <div class="container">
 
      {% embed '_layouts/layout-9-3.html.twig' %}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - MAIN #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block main %}
          
          

          



          <!-- Tab panes -->
          <section class="tab-content">
            <section class="tab-pane active" id="pd-products">
              Products
            </section>

            <section class="tab-pane" id="pd-incentives">
              Incentivces
            </section>
          </section>

          <!-- DRAWER -->
          {% include components.modules.checkout.review.drawer.orderTotal %} 

        {% endblock %}


        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - ASIDE #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block aside %}

          <!-- ORDER SUMMARY -->
          {% include components.groups.checkout.orderSummary with {'page': 'product-detail'} %}

           

        {% endblock %}
      {% endembed %}

    </div>
  </div><!-- /.super-panel -->


{% endblock %}