{% extends layouts.themes.checkout %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}


  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        
        {% include components.modules.checkout.review.order.navTab %}

      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->


  <div class="super-panel">
    <div class="container">
 
      {% embed layouts.columns9x3 %}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - MAIN #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block main %}
          
          {% include components.modules.checkout.review.order.tabContent %}

        {% endblock %}


        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - ASIDE #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block aside %}

          <!-- ORDER TOTAL -->
          {% include components.modules.checkout.order.total %}

        {% endblock %}
      {% endembed %}

    </div>
  </div><!-- /.super-panel -->


{% endblock %}