{% extends layouts.base %}

{% set sectionClass = 'page--contacts-list' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <section class="container container--page">

      <header class="row" role="header">
        <div class="col-md-12  mb-2">
          <h3 class="mb-3 mr-auto">Customer Contacts</h3>
          <div class="d-flex align-items-center flex-wrap">
            <form class="form-inline">
              <div class="input-group mt-3 mt-sm-0">
                <div class="input-group">
                  <span class="input-group-addon"><span class="lt-icon lt-search lt-large"></span></span>
                  <input type="text" class="form-control input-sm" placeholder="Search my team...">
                </div>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="text-uppercase">By name</span> <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu pull-right">
                    <li><a href="#">[Filter category]</a></li>
                    <li><a href="#">[Filter category]</a></li>
                    <li><a href="#">[Filter category]</a></li>
                  </ul>
                </div><!-- /btn-group -->
              </div><!-- /input-group -->
            </form>
            <div class="ml-0 ml-lg-auto">
              <a class="btn btn-primary btn-sm btn-soft mt-3 mt-sm-0">Add Contact</a>
              <a class="btn btn-default btn-sm btn-soft mt-3 mt-sm-0">Import</a>
              <a class="btn btn-default btn-sm btn-soft mt-3 mt-sm-0">Groups</a>
            </div>
          </div>
        </div>
      </header>

    </section>



      {% include '_includes/modules/contacts/contacts-list/tab-content-list-view.html.twig' with { contactType: 'customer' } %}
{#
      <header class="row" role="header">
        <div class="col-md-12">
          <h3>Team Contacts</h3>
        </div>
      </header>

      {% include '_includes/modules/contacts/contacts-list/tab-content-list-view.html.twig' with { contactType: 'team' } %}
 #}


  <div style="padding-top: 1000px">XX</div>

  {% endblock %}

  <!-- START - FILTER MODAL -->
  {% include "_includes/modules/contacts/contacts-list/contact-list-filter-modal.html.twig" %}
  <!-- END - FILTER MODA -->

{% endblock %}
