{% extends layouts.base %}

{% set sectionClass = 'page--contacts-detail' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <section class="container container--page container--flex-nav">

      <header class="row" role="header">
        <div class="col-md-12 d-flex flex-wrap align-items-start">
          {% include '_includes/modules/contacts/contacts-header.html.twig' %}
        </div>
      </header>

      <hr class="w-100 mb-5">

      {% embed '_layouts/columns-3x9-secondary-nav-flex.html.twig' %}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - ASIDE #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block aside %}

          {% include '_includes/groups/navigation/my-contacts-nav.html.twig' %}

        {% endblock %}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - MAIN #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block main %}

          <div class="tab-content">
            <div class="tab-pane" id="mc-details">
              {% include '_includes/modules/contacts/contact-detail/tab-panes/pane-details.html.twig' %}
            </div>
            <div class="tab-pane" id="mc-follow-ups">
              {% include '_includes/modules/contacts/contact-detail/tab-panes/pane-follow-ups.html.twig' %}
            </div>
            <div class="tab-pane" id="mc-notes">
              {% include '_includes/modules/contacts/contact-detail/tab-panes/pane-notes.html.twig' %}
            </div>
            <div class="tab-pane active" id="mc-contacthist">
              {% include '_includes/modules/contacts/contact-detail/tab-panes/pane-contact-hist.html.twig' %}
            </div>

            <!-- START - TEAM ONLY -->
            <div class="tab-pane" id="mc-orderhist">
              {% include '_includes/modules/contacts/contact-detail/tab-panes/pane-order-hist.html.twig' %}
            </div>
            <!-- END - TEAM ONLY -->

            <!-- START - CONTACT ONLY -->
            <div class="tab-pane" id="mc-salesperf">
              {% include '_includes/modules/contacts/contact-detail/tab-panes/pane-sales-perf.html.twig' %}
            </div>
            <div class="tab-pane" id="mc-transactions">
              {% include '_includes/modules/contacts/contact-detail/tab-panes/pane-transactions.html.twig' %}
            </div>
            <div class="tab-pane" id="mc-business-dash">
              {% include '_includes/modules/contacts/contact-detail/tab-panes/pane-business-dash.html.twig' %}
            </div>
            <div class="tab-pane" id="mc-leadership">
              {% include '_includes/modules/contacts/contact-detail/tab-panes/pane-leadership.html.twig' %}
            </div>
            <div class="tab-pane" id="mc-campaign">
              {% include '_includes/modules/contacts/contact-detail/tab-panes/pane-campaign.html.twig' %}
            </div>
            <div class="tab-pane" id="mc-reports">
              {% include '_includes/modules/contacts/contact-detail/tab-panes/pane-reports.html.twig' %}
            </div>
            <!-- END - CONTACT ONLY -->

          </div>

        {% endblock %}

      {% endembed %}

    </section>

  {% endblock %}

{% endblock %}
