{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <div class="container container--page">


      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        <h1 class="mb-5">Contact - Modals</h1>

        <p><a data-toggle="modal" data-target="#modal-contact-send-email">Send Email</a></p>

        <h6>Groups</h6>
        <ul>
          <li><a data-toggle="modal" data-target="#modal-contact-groups-add-to">Add To Group</a></li>
          <li><a data-toggle="modal" data-target="#modal-contact-groups-add-new">Add New Group</a></li>
        </ul>

        <h6>Tasks</h6>
        <ul>
          <li><a data-toggle="modal" data-target="#modal-contact-tasks-add">Add Task</a></li>
          <li><a data-toggle="modal" data-target="#modal-contact-tasks-edit">Edit Task</a></li>
          <li><a data-toggle="modal" data-target="#modal-contact-tasks-delete">Delete Task</a></li>
        </ul>

        <h6>Notes</h6>
        <ul>
          <li><a data-toggle="modal" data-target="#modal-contact-notes-add">Add Note</a></li>
          <li><a data-toggle="modal" data-target="#modal-contact-notes-edit">Edit Note</a></li>
          <li><a data-toggle="modal" data-target="#modal-contact-notes-delete">Delete Note</a></li>
        </ul>

        <h6>Events</h6>
        <ul>
          <li><a data-toggle="modal" data-target="#modal-contact-events-add">Add Event</a></li>
          <li><a data-toggle="modal" data-target="#modal-contact-events-edit">Edit Event</a></li>
          <li><a data-toggle="modal" data-target="#modal-contact-events-delete">Delete Event</a></li>
        </ul>




        <!-- START - SIGN UP WITH ACCOUNT MODAL -->
        {% include "_includes/modules/account/modals-get-paid/sign-up-with-account-modal.html.twig" %}
        <!-- END - SIGN UP WITH ACCOUNT MODAL -->

        <!-- START - CHANGE ACCOUNT ACCOUNT MODAL -->
        {% include "_includes/modules/account/modals-get-paid/change-account-modal.html.twig" %}
        <!-- END - CHANGE ACCOUNT ACCOUNT MODAL -->

        <!-- START - SELECT ACCOUNT MODAL -->
        {% include "_includes/modules/account/modals-get-paid/select-account-modal.html.twig" %}
        <!-- END - SELECT ACCOUNT MODAL -->

        <!-- START - CANCEL ENROLLMENT MODAL -->
        {% include "_includes/modules/account/modals-get-paid/cancel-an-account-modal.html.twig" %}
        <!-- END - CANCEL ENROLLMENT MODAL -->

        <!-- START - SAVINGS PLAN MODAL -->
        {% include "_includes/modules/account/modals-get-paid/savings-plan-modal.html.twig" %}
        <!-- END - SAVINGS PLAN MODAL -->

        <!-- START - ROUTING NUMBER MODAL -->
        {% include "_includes/modules/account/modals-get-paid/routing-number-modal.html.twig" %}
        <!-- END - ROUTING NUMBER MODAL -->


      {% endblock %}


  </div>

{% endblock %}


<!-- START - MODAL - QUICKPAY ENROLLMENT -->
