{% extends layouts.base %}

{% set sectionClass = 'page--contacts-list' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <section class="container container--page">

{#       <header class="row" role="header">
        <div class="col-md-12 d-flex flex-wrap align-items-center">
          {% include '_includes/modules/contacts/contacts-list/contacts-list-header.html.twig' %}
        </div>
      </header>
 #}


      <header class="row" role="header">
        <div class="col-md-12 d-flex align-items-center flex-wrap mb-2">
          <h3 class="mb-3 mr-auto">Customer Contacts</h3>
          <div class="ml-0 ml-lg-auto">

              <form class="form-inline">
                <a class="btn btn-default btn-soft mt-3 mt-sm-0">Add New</a>
                <a class="btn btn-default btn-soft mt-3 mt-sm-0">Import</a>
                <div class="input-group mt-3 mt-sm-0">
                  <div class="input-group">
                    <span class="input-group-addon"><span class="lt-icon lt-search lt-large"></span></span>
                    <input type="text" class="form-control" placeholder="Search my team...">
                  </div>
                  <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action <span class="caret"></span></button>
                    <ul class="dropdown-menu pull-right">
                      <li><a href="#">Lorem</a></li>
                      <li><a href="#">Ipsum</a></li>
                      <li><a href="#">Dolor</a></li>
                    </ul>
                  </div><!-- /btn-group -->
                </div><!-- /input-group -->
              </form>

          </div>
        </div>
      </header>

      {% include '_includes/modules/contacts/contacts-list/tab-content-list-view.html.twig' with { contactType: 'customer' } %}

      <header class="row" role="header">
        <div class="col-md-12">
          <h3>Team Contacts</h3>
        </div>
      </header>

      {% include '_includes/modules/contacts/contacts-list/tab-content-list-view.html.twig' with { contactType: 'team' } %}


    </section>

  {% endblock %}

{% endblock %}
