{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <div class="container container--page">


      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        <h1 class="mb-5">Contact Detail - Modals</h1>

        <h6>General</h6>
        <ul>
          <li><a data-toggle="modal" data-target="#modal-contacts-send-email">Send Email</a></li>
          <li><a data-toggle="modal" data-target="#modal-contacts-send-ecard">Send Ecard</a></li>
          <li><a data-toggle="modal" data-target="#modal-contacts-learn-more">Learn More</a></li>
        </ul>

        <h6>Follow-ups</h6>
        <ul>
          <li><a href="javascript:void(0)" data-toggle="modal" data-target="#modal-contacts-follow-ups-add-edit">Add/Edit</a></li>
          <li><a href="javascript:void(0)" data-toggle="modal" data-target="#blank-modal-either-or-error">Delete</a></li>
          <li><a href="javascript:void(0)" data-toggle="modal" data-target="#modal-contacts-follow-ups-details">Details</a></li>
        </ul>

        <h6>Notes</h6>
        <ul>
          <li><a href="javascript:void(0)" data-toggle="modal" data-target="#modal-contacts-notes-add-edit">Add/Edit</a></li>
          <li><a href="javascript:void(0)" data-toggle="modal" data-target="#blank-modal-either-or-error">Delete</a></li>
        </ul>

        <h6>Groups</h6>
        <ul>
          <li><a href="javascript:void(0)" data-toggle="modal" data-target="#modal-contacts-groups-add-to">Add To</a></li>
          <li><a href="javascript:void(0)" data-toggle="modal" data-target="#modal-contacts-groups-add-new-edit">Add New / Edit</a></li>
          <li><a href="javascript:void(0)" data-toggle="modal" data-target="#blank-modal-either-or-error">Delete</a></li>
        </ul>



        <!-- START - SEND EMAIL MODAL -->
        {% include "_includes/modules/contacts/contact-detail/modals/send-email-modal.html.twig" %}
        <!-- END - SEND EMAIL MODAL -->

        <!-- START - SEND ECARD MODAL -->
        {% include "_includes/modules/contacts/contact-detail/modals/send-ecard-modal.html.twig" %}
        <!-- END - SEND ECARD MODAL -->

        <!-- START - FOLLOW-UPS ADD/EDIT MODAL -->
        {% include "_includes/modules/contacts/contact-detail/modals/follow-ups-add-edit-modal.html.twig" %}
        <!-- END - FOLLOW-UPS ADD/EDIT MODAL -->

        <!-- START - FOLLOW-UPS DETAILS MODAL -->
        {% include "_includes/modules/contacts/contact-detail/modals/follow-ups-details-modal.html.twig" %}
        <!-- END - FOLLOW-UPS DETAILS MODAL -->

        <!-- START - NOTES ADD/EDIT MODAL -->
        {% include "_includes/modules/contacts/contact-detail/modals/notes-add-edit-modal.html.twig" %}
        <!-- END - NOTES ADD/EDIT MODAL -->

        <!-- START - GROUPS ADD NEW MODAL -->
        {% include "_includes/modules/contacts/contact-detail/modals/groups-add-new-edit-modal.html.twig" %}
        <!-- END - GROUPS ADD NEW MODAL -->

        <!-- START - GROUPS ADD TO MODAL -->
        {% include "_includes/modules/contacts/contact-detail/modals/groups-add-to-modal.html.twig" %}
        <!-- END - GROUPS ADD TO MODAL -->

        <!-- START - DELETE MODAL (SAME TEMPLATE FOR ALL) -->
        {% include "_includes/modules/modals/modal-either-or-error.html.twig" %}
        <!-- END - DELETE MODAL (SAME TEMPLATE FOR ALL) -->

        <!-- START - LEARN MORE MODAL -->
        {% include "_includes/modules/contacts/contact-detail/modals/learn-more-modal.html.twig" %}
        <!-- END - LEARN MORE MODAL -->




      {% endblock %}


  </div>

{% endblock %}


<!-- START - MODAL - QUICKPAY ENROLLMENT -->
