{% extends layouts.base %}

{% set sectionClass = 'page--contacts-list' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <section class="container container--page">

      <header class="row" role="header">
        <div class="col-md-12 mb-2">
          <h2 class="mb-4 mr-auto">][Customer/Team Contacts]</h2>


          <!-- START - AUTOCOMPLETE -->
          <div class="d-flex align-items-center flex-wrap actions-primary">
            <form class="form-inline mb-4 mr-5">
              <div class="input-group mt-3 mt-sm-0 customer-select-autocomplete contact-list-autocomplete autocomplete-container">
                <!-- 'Modal' header for mobile autocomplete -->
                <div class="modal-header">
                  <button type="button" class="close link-muted" data-dismiss="modal" aria-hidden="true">
                    <span class="sr-only">Close modal</span>
                    <span class="lt-icon lt-close lt-large py-1"></span>
                  </button>
                  <h4 class="modal-title text-center">Search My Team</h4>
                </div>

                <div class="input-group">
                  <span class="input-group-addon input-xs"><span class="lt-icon lt-search lt-large"></span></span>

                  {% include components.elements.forms.input with {
                    id: 'autocomplete-contact-list',
                    classes: 'input-sm has-addon-after',
                    type: 'text',
                    required: null,
                    haslabelErrorIcon: true,
                    hasInlineErrorIcon: null,
                    hasAbsoluteErrorIcon: null,
                    theValue: null,
                    placeholder: 'Search my team...'
                  } %}
                  <span class="lt-icon lt-close lt-medium form-control-feedback"></span>

                  <span class="input-group-addon addon-after input-xs">
                    <div class="input-group-btn">
                      <span class="btn btn-sm btn-link dropdown-toggle" data-toggle="dropdown">
                        <span class="h7 link-muted">By name</span> <span class="caret"></span>
                      </span>
                      <ul class="dropdown-menu pull-right">
                        <li><a href="#">[Filter category]</a></li>
                        <li><a href="#">[Filter category]</a></li>
                        <li><a href="#">[Filter category]</a></li>
                      </ul>
                    </div><!-- /btn-group -->
                  </span>
                </div>

              </div><!-- /input-group -->
            </form>
            <div class="mb-4 ml-0 ml-lg-auto">
              <a class="btn btn-primary btn-sm btn-soft mt-3 mt-sm-0">Add Contact</a>
              <a class="btn btn-default btn-sm btn-soft mt-3 mt-sm-0 mx-2">Import</a>
              <a class="btn btn-default btn-sm btn-soft mt-3 mt-sm-0">Groups</a>
            </div>
          </div>
          <!-- END - AUTOCOMPLETE -->

        </div>
      </header>
    </section>

    <!-- START - TABLE - "CUSTOMER" EXAMPLE -->
    {% include '_includes/modules/contacts/contacts-list/tab-content-list-view.html.twig' with { contactType: 'customer' } %}
    <!-- END - TABLE - "CUSTOMER" EXAMPLE -->

    <!-- START - TABLE - "TEAM" EXAMPLE -->
    {% include '_includes/modules/contacts/contacts-list/tab-content-list-view.html.twig' with { contactType: 'team' } %}
    <!-- RND - TABLE - "TEAM" EXAMPLE -->

  {% endblock %}

  <!-- START - FILTER MODAL -->
  {% include "_includes/modules/contacts/contacts-list/contact-list-filter-modal.html.twig" %}
  <!-- END - FILTER MODA -->

{% endblock %}
