{% extends layouts.base %}

{% set sectionClass = 'page--contacts' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <section class="container container--page">

      <header class="row" role="header">
        <div class="col-md-12 d-flex flex-wrap align-items-center">
          {% include '_includes/modules/contacts/contacts-header.html.twig' %}
        </div>
      </header>

      <hr class="mb-5">

      {% embed '_layouts/columns-3x9-secondary-nav.html.twig' %}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - ASIDE #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block aside %}

          {% include '_includes/groups/navigation/my-contacts-nav.html.twig' %}

        {% endblock %}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - MAIN #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block main %}

          <div class="tab-content">
            <div class="tab-pane" id="mc-details">
              {% include '_includes/modules/contacts/tab-panes/pane-details.html.twig' %}
            </div>
            <div class="tab-pane" id="mc-tasks">
              {% include '_includes/modules/contacts/tab-panes/pane-tasks.html.twig' %}
            </div>
            <div class="tab-pane" id="mc-events">
              {% include '_includes/modules/contacts/tab-panes/pane-events.html.twig' %}
            </div>
            <div class="tab-pane" id="mc-notes">
              {% include '_includes/modules/contacts/tab-panes/pane-notes.html.twig' %}
            </div>
            <div class="tab-pane" id="mc-busdash">
              {% include '_includes/modules/contacts/tab-panes/pane-business-dash.html.twig' %}
            </div>
            <div class="tab-pane" id="mc-salesperf">
              {% include '_includes/modules/contacts/tab-panes/pane-sales-perf.html.twig' %}
            </div>
            <div class="tab-pane" id="mc-inquiry">
              {% include '_includes/modules/contacts/tab-panes/pane-inquiry.html.twig' %}
            </div>
            <div class="tab-pane" id="mc-leadership">
              {% include '_includes/modules/contacts/tab-panes/pane-leadership.html.twig' %}
            </div>
            <div class="tab-pane" id="mc-prevcamp">
              {% include '_includes/modules/contacts/tab-panes/pane-previous-camps.html.twig' %}
            </div>
            <div class="tab-pane" id="mc-reports">
              {% include '_includes/modules/contacts/tab-panes/pane-reports.html.twig' %}
            </div>
            <div class="tab-pane  active" id="mc-contacthist">
              {% include '_includes/modules/contacts/tab-panes/pane-contact-hist.html.twig' %}
            </div>
          </div>

          <!-- START - ACCOUNT STATEMENT BALANCES -->
          {# {% include "_includes/modules/account/account-statements-balances.html.twig" %}\ #}
          <!-- END - ACCOUNT STATEMENT BALANCES -->

          <!-- START - ACCOUNT STATEMENT SEARCH -->
          {# {% include "_includes/modules/account/account-statements-search.html.twig" %} #}
          <!-- END - ACCOUNT STATEMENT SEARCH -->

          <!-- START - ACCOUNT STATEMENT SEARCH RESULTS-->
          {# {% include "_includes/modules/account/account-statements-search-results.html.twig" %} #}
          <!-- END - ACCOUNT STATEMENT SEARCH RESULTS -->

          {# <p class="text-center">
            <a class="text-center" href="#">Print</a>
          </p> #}

        {% endblock %}

      {% endembed %}

    </section>

  {% endblock %}

{% endblock %}
