{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <div class="container container--page">


      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        <h1 class="mb-5">Contact Detail - Modals</h1>

        <h6>General</h6>
        <ul>
          <li><a data-toggle="modal" data-target="#modal-contact-detail-send-email">Send Email</a></li>

        </ul>

        <h6>Follow-ups</h6>
        <ul>
          <li><a data-toggle="modal" data-target="#modal-contact-detail-follow-ups-add-edit">Add/Edit</a></li>
          <li><a data-toggle="modal" data-target="#modal-contact-detail-follow-ups-delete">Delete</a></li>
        </ul>

        <h6>Notes</h6>
        <ul>
          <li><a data-toggle="modal" data-target="#modal-contact-detail-notes-add">Add</a></li>
          <li><a data-toggle="modal" data-target="#modal-contact-detail-notes-edit">Edit</a></li>
          <li><a data-toggle="modal" data-target="#modal-contact-detail-notes-delete">Delete</a></li>
        </ul>

        <h6>Groups</h6>
        <ul>
          <li><a data-toggle="modal" data-target="#modal-contact-detail-groups-add-to">Add To</a></li>
          <li><a data-toggle="modal" data-target="#modal-contact-detail-groups-add-new">Add New</a></li>
          <li><a data-toggle="modal" data-target="#modal-contact-detail-groups-edit">Edit</a></li>
          <li><a data-toggle="modal" data-target="#modal-contact-detail-groups-delete">Delete</a></li>
        </ul>



        <!-- START - SEND EMAIL MODAL -->
        {% include "_includes/modules/contacts/contact-detail/modals/send-email-modal.html.twig" %}
        <!-- END - SEND EMAIL MODAL -->


        <!-- START - FOLLOW-UPS ADD MODAL -->
        {% include "_includes/modules/contacts/contact-detail/modals/follow-ups-add-edit-modal.html.twig" %}
        <!-- END - FOLLOW-UPS ADD MODAL -->




      {% endblock %}


  </div>

{% endblock %}


<!-- START - MODAL - QUICKPAY ENROLLMENT -->
