{% extends layouts.base %}

{% set sectionClass = 'page--contacts-list' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <section class="container container--page">

      <header class="row" role="header">
        <div class="col-md-12  mb-2">
          <h3 class="mb-3 mr-auto">Customer Contacts</h3>


          <!-- START - AUTOCOMPLETE -->

          <!-- END - AUTOCOMPLETE -->



          <div class="d-flex align-items-center flex-wrap">
            <form class="form-inline mb-4 mr-5">
              <div class="input-group mt-3 mt-sm-0">
                <div class="input-group autocomplete-container">
                  <span class="input-group-addon input-xs"><span class="lt-icon lt-search lt-large"></span></span>
                  {# <input type="text" class="form-control input-lg has-addon-after" placeholder="Search my team..."> #}

                  {% include components.elements.forms.input with {
                    id: 'autocomplete-contact-list',
                    classes: 'input-sm has-addon-after',
                    type: 'text',
                    required: null,
                    haslabelErrorIcon: true,
                    hasInlineErrorIcon: null,
                    hasAbsoluteErrorIcon: null,
                    theValue: null,
                    placeholder: 'Search my team...'
                  } %}
                  <span class="lt-icon lt-triangle-down form-control-feedback"></span>
                  <span class="lt-icon lt-close lt-medium form-control-feedback"></span>


                  <span class="input-group-addon addon-after input-xs">
                    <div class="input-group-btn">
                      <span class="btn btn-sm btn-link dropdown-toggle" data-toggle="dropdown">
                        <span class="h7 link-muted">By name</span> <span class="caret"></span>
                      </span>
                      <ul class="dropdown-menu pull-right">
                        <li><a href="#">[Filter category]</a></li>
                        <li><a href="#">[Filter category]</a></li>
                        <li><a href="#">[Filter category]</a></li>
                      </ul>
                    </div><!-- /btn-group -->
                  </span>
                </div>

              </div><!-- /input-group -->
            </form>
            <div class="mb-4 ml-0 ml-lg-auto">
              <a class="btn btn-primary btn-sm btn-soft mt-3 mt-sm-0">Add Contact</a>
              <a class="btn btn-default btn-sm btn-soft mt-3 mt-sm-0">Import</a>
              <a class="btn btn-default btn-sm btn-soft mt-3 mt-sm-0">Groups</a>
            </div>
          </div>
        </div>
      </header>

    </section>

    {% include '_includes/modules/contacts/contacts-list/tab-content-list-view.html.twig' with { contactType: 'customer' } %}

  {% endblock %}

  <!-- START - FILTER MODAL -->
  {% include "_includes/modules/contacts/contacts-list/contact-list-filter-modal.html.twig" %}
  <!-- END - FILTER MODA -->

{% endblock %}
