{% extends layouts.base %}

{% set sectionClass = 'page--sales-leader' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <!-- START - MAGNOLIA BLOCK -->
  {% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with {
    position: 'top',
    html: '<div class="reverse-bg py-3">
    <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
    </div>'
  } %}
  <!-- END - MAGNOLIA BLOCK -->

  <div class="container container--page">

    {% embed "_layouts/content-center-max-width.html.twig" %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        {% include "_includes/groups/navigation/back-link.twig" with {label: "Support"} %}

        <h2>Contact My Sales Leader</h2>

        <section class="mt-5">

          <div class="mt-5 p-5 box-emphasize box-group--single">

            <!-- START - AVATAR -->
            <span class="avatar avatar-lg mr-4 mb-5 mb-sm-0">L</span>
            <!-- END - AVATAR -->

            <!-- START - CONTENT -->
            <div class="p-0 p-md-4 content">

              <!-- START - HEADER -->
              <div class="header">
                <h5 class="text-capitalize mt-0 mb-2">Lydia Washington</h5>
                <p class="text-muted">Issaquah, WA</p>
              </div>
              <!-- END - HEADER -->

              <!-- START - DETAILS -->
              <div class="details">

                <div class="column small">
                  <p class="mt-2"><strong>With Avon Since:</strong></p>
                  <p class="mt-2"><strong>Email:</strong></p>
                  <p class="mt-2"><strong>Phone Number:</strong></p>
                </div>

                <div class="column small">
                  <p class="mt-2">Nov 16, 2000</p>
                  <p class="mt-2"><a href="#">lydiachancelorwashington@gmail.com</a></p>
                  <p class="mt-2"><a href="#">(555) 555-1234</a></p>
                </div>

              </div>
              <!-- END - DETAILS -->

            </div>
            <!-- END - CONTENT -->

          </div>

        </section>

      {% endblock %}

    {% endembed %}

  </div>

  <!-- START - MAGNOLIA BLOCK -->
  {% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with {
    position: 'bottom',
    html: '<div class="reverse-bg py-3">
    <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
    </div>'
  } %}
  <!-- END - MAGNOLIA BLOCK -->

{% endblock %}
