{% extends layouts.base %}

{% set sectionClass = 'page--cust-order-info' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <!-- START - MAGNOLIA BLOCK -->
    {% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with {
      position: 'top',
      html: '<div class="reverse-bg py-3">
      <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
      </div>'
    } %}
    <!-- END - MAGNOLIA BLOCK -->

    <section class="container container--page">

      <div class="row">

        <div class="col-md-12">

          {% include "_includes/groups/navigation/back-link.twig" with {label: "Back to online Order 456618581"} %}

          <h2>Customer Order Information</h2>

          <div class="row my-5">
            <div class="col-xs-12 d-flex flex-wrap my-2">
              {% include '_includes/modules/customer-orders/order-summary-item.html.twig' with {
                title: 'Customer',
                value: 'Jane Johnson'
              } %}
              {% include '_includes/modules/customer-orders/order-summary-item.html.twig' with {
                title: 'Order ID',
                value: '0844557744'
              } %}
              {% include '_includes/modules/customer-orders/order-summary-item.html.twig' with {
                title: 'Confirmation',
                value: '456618581'
              } %}
              {% include '_includes/modules/customer-orders/order-summary-item.html.twig' with {
                title: 'Campaign',
                value: '23',
                isLast: true
              } %}
              <a class="align-self-end ml-auto" href="#"><span class="lt-icon lt-print lt-medium align-middle mr-2"></span>Print</a>
            </div>
          </div>

          <!-- <div class="row"> <div class="visible-sm visible-xs p-4"> <div class="alert-reverse p-2"> <h5 class="text-center">Items in Customer Order 844557744</h5> </div> </div> </div> -->

          <!-- <div class="row mt-4">
            <div class="col-xs-12 d-flex align-items-end justify-content-end my-3">
              <a href="#"><span class="lt-icon lt-print lt-medium align-middle mr-2"></span>Print</a>
            </div>
          </div> -->

          <hr class="my-0">

          <!-- DEV NOTE: This headline only appears if 'Sold Out' table is visible below -->
          <h4 class="mt-5 mb-4">Items in Order 0844557744</h4>

          <!--START - ORDER DETAILS TABLE-->
          {% include '_includes/modules/customer-orders/customer-order-info-table.html.twig' with {
            hasRemarks: false,
            items: [
              {
                campaign: '23',
                quantity: '4',
                prodNum: '728080',
                desc: 'Tta Tomrw Vial On Card'
              },
              {
                campaign: '23',
                quantity: '4',
                prodNum: '103615',
                desc: 'Smp Hydrating Var Pk1'
              },
              {
                campaign: '23',
                quantity: '4',
                prodNum: '857083',
                desc: 'Bali Comfort Revolution Front-Close Shaping Underwire Bra (3p66) Warm Steel 34b'
              },
              {
                campaign: '23',
                quantity: '2',
                prodNum: '114130',
                desc: 'Playtex Secrets Perfectly Smooth Underwire Bra (4747) in White Stripe Nude Stripe White Stripe 40ddd'
              },
              {
                campaign: '23',
                quantity: '3',
                prodNum: '114570',
                desc: 'Michelle Boatneck Top in Dandelion Stripe Tx (18w-20w)'
              }
            ]
          } %}
          <!--END - ORDER DETAILS TABLE-->

          <h4 class="mt-5 mb-4">
            <span class="lt-icon lt-warning lt-large text-danger align-middle"></span> Sold Out</h4>

          <!--START - SOLD OUT TABLE-->
          {% include '_includes/modules/customer-orders/customer-order-info-table.html.twig' with {
            hasRemarks: true,
            items: [
              {
                campaign: '23',
                quantity: '4',
                prodNum: '728080',
                desc: 'Tta Tomrw Vial On Card. Minim anim fugiat sint tempor velit ipsum fugiat tempor qui. Deserunt laboris amet in adipisicing voluptate commodo sunt est ad ad ipsum sit ipsum aliquip cillum dolore.',
                remark: 'Sold out'
              },
              {
                campaign: '23',
                quantity: '4',
                prodNum: '103615',
                desc: 'Smp Hydrating Var Pk1',
                remark: 'Reorder in C05'
              }
            ]
          } %}
          <!--END - SOLD OUT TABLE-->

          <p class="text-muted mt-5">Please note: Item price listed on your order form and in your order history may only be available as part of a special promotion. For example, a product may reflect a lower price as part of a 'Buy One Get One' offer. If you
            order only one, the item will bill at regular price, not the price shown. If ordering two one of them will bill at regular price and the second will bill at the special price. See your campaign selling materials to determine your eligibility for this
            price. In addition, demo prices may vary. Your invoice will reflect your actual prices. Prices for items that contain LABC or FUND in the description are available based on eligibility rules. Your invoice will reflect your actual price.</p>

          <p class="text-muted mt-4">**Items with quantity '0' were filled from 'on hand' inventory. For Customer Order History refer to your Customer Invoicing tool or Customer Order History in your web office.</p>

        </div>

      </div>

    </section>  <!-- START - MAGNOLIA BLOCK -->
      {% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with {
        position: 'bottom',
        html: '<div class="reverse-bg py-3">
        <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
        </div>'
      } %}
      <!-- END - MAGNOLIA BLOCK -->

  {% endblock %}

{% endblock %}
