{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <div class="container container--page">

    {% embed "_layouts/columns-10-max.html.twig" %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        {% include "_includes/groups/navigation/back-link.twig" with {label: "All Customer"} %}
        <h2>Add Team/Customer</h2>
        <h6 class="my-4">Contact Info</h6>

        <div class="row">
          <div class="col-xs-6 form-group pr-xs-0">
            {% include '_includes/groups/forms/input-and-label.html.twig' with {
            id: 'regFirstName',
            mainLabel: 'First Name (Required)',
            required: true
            } %}
          </div>

          <div class="col-xs-6 form-group">
            {% include '_includes/groups/forms/input-and-label.html.twig' with {
            type: 'text',
            id: 'regLastName',
            mainLabel: 'Last Name (Required)',
            required: true
            } %}
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 form-group">
            {% include '_includes/groups/forms/input-and-label.html.twig' with {
            type: 'email',
            id: 'regEmail',
            mainLabel: 'Email',
            required: true
            } %}
          </div>
        </div>

        <div class="row">
          <div class="col-xs-7 col-md-10 form-group">
            {% include '_includes/groups/forms/input-and-label.html.twig' with {
              type: 'text',
              id: 'priPhone',
              mainLabel: 'Primary Phone Number',
              required: true
            } %}
          </div>
          <div class="col-xs-5 col-md-2 form-group pl-xs-0">
            {% include '_includes/groups/forms/selectpicker-and-label.html.twig' with {
              id: idPrefix ~ 'primary-phone',
              label: ' ',
              classes: '',
              options: ['Mobile', 'other'],
              selectFirst: selectFirst
            } %}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-7 col-md-10 form-group">
            {% include '_includes/groups/forms/input-and-label.html.twig' with {
              type: 'text',
              id: 'priPhone',
              mainLabel: 'Secondary Phone Number',
              required: true
            } %}
          </div>
          <div class="col-xs-5 col-md-2 form-group pl-xs-0">
            {% include '_includes/groups/forms/selectpicker-and-label.html.twig' with {
              id: idPrefix ~ 'secondary-phone',
              label: ' ',
              classes: '',
              options: ['Mobile', 'other'],
              selectFirst: selectFirst
            } %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 form-group m-0">
            <label class="control-label " for="languagePref">Language Preference</label>
            <div class="clearfix">
              <div class="pull-left mr-5">
                {% include components.elements.forms.radio with {id: 'langEnglish', name: 'languagePref', theValue: 'English', theLabel: 'English', checked: true} %}
              </div>
              <div class="pull-left">
                {% include components.elements.forms.radio with {id: 'langSpanish', name: 'languagePref', theValue: 'Spanish', theLabel: 'Spanish', checked: false} %}
              </div>
            </div>
          </div>
        </div>

        <hr>

        <h6 class="mb-4">Home Address</h6>

        {% include "_includes/groups/forms/generic/address-zip-city-state-country.html.twig" with {
            'idPrefix': 'add-customer-',
            'showTheValue': false,
            'showPlaceholder': true,
        }%}

        <button type="button" class="btn btn-link p-0 my-3">+ Add work address</button>

        <hr>

        <h6>Birthday</h6>
        <div class="row">
          <div class="form-group col-md-3 pr-sm-0">
            {% include '_includes/groups/forms/selectpicker-and-label.html.twig' with {
                id: idPrefix ~ 'birthMonth',
                label: 'Month',
                classes: '',
                options: ['Select', 'January', 'February', 'March'],
                selectFirst: selectFirst
              } %}
          </div>
          <div class="form-group col-md-1 pr-sm-0">
            {% include '_includes/groups/forms/input-and-label.html.twig' with {
                type: 'text',
                id: 'birthDay',
                mainLabel: 'Day',
                required: true
              } %}
          </div>
        </div>

        <hr>

        <button type="button" class="btn btn-primary">Create Customer</button>

      {% endblock %}

    {% endembed %}

  </div>

{% endblock %}

