{% extends layouts.base %}

{% set sectionClass = 'page--dashboard' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <div class="container--dashboard">

      <!-- START - MAGNOLIA BLOCK -->
      {% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with {
        position: 'top',
        html: '<div class="reverse-bg py-3">
        <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
        </div>'
      } %}
      <!-- END - MAGNOLIA BLOCK -->

      <section class="container container--page">

        {% include "_includes/groups/navigation/back-link.twig" with {label: "Home"} %}
        <h2 class="mb-5">Dashboard</h2>

         <!-- START - TAB NAVIGATION -->
        {% include "_includes/modules/dashboard/tab-nav.html.twig" %}
        <!-- END - TAB NAVIGATION -->

      </section>
      <!-- /.container -->

      <section class="container my-5">
       {% include '_includes/modules/dashboard/tab-content.html.twig' %}
      </section>

      <!-- START - MAGNOLIA BLOCK -->
       {% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with {
         position: 'bottom',
         html: '<div class="reverse-bg py-3">
         <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
         </div>'
       } %}
       <!-- END - MAGNOLIA BLOCK -->

    </div>

    {% include "_includes/modules/dashboard/select-widget-modal.html.twig" %}

  {% endblock %}



{% endblock %}
