{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <section class="container container--page">

      <h2>Dashboard</h2>
      <div class="row">
      	<div class="col-md-3 p-0 border mb-2 col-sm-6 mx-4 mx-md-0">
      		<img src="images/utility/placeholder.png" alt="..." class="img-responsive">
      	</div>
      	<div class="col-md-3 p-0 border mb-2 col-sm-6 mx-4 mx-md-0">
      		<img src="images/utility/placeholder.png" alt="..." class="img-responsive">
      	</div>
      	<div class="col-md-3 p-0 border mb-2 col-sm-6 mx-4 mx-md-0">
      		<img src="images/utility/placeholder.png" alt="..." class="img-responsive">
      	</div>
      	<div class="col-md-3 p-0 border mb-2 col-sm-6 mx-4 mx-md-0">
      		<img src="images/utility/placeholder.png" alt="..." class="img-responsive">
      	</div>
      </div>
      <hr>
      <div class="row">
      	<div class="col-md-3 p-0 border mb-2 col-sm-6 mx-4 mx-md-0">
      		<img src="images/utility/placeholder.png" alt="..." class="img-responsive">
      	</div>
      	<div class="col-md-3 p-0 border mb-2 col-sm-6 mx-4 mx-md-0">
      		<img src="images/utility/placeholder.png" alt="..." class="img-responsive">
      	</div>
      	<div class="col-md-3 p-0 border mb-2 col-sm-6 mx-4 mx-md-0">
      		<img src="images/utility/placeholder.png" alt="..." class="img-responsive">
      	</div>
      	<div class="col-md-3 p-0 border mb-2 col-sm-6 mx-4 mx-md-0">
      		<img src="images/utility/placeholder.png" alt="..." class="img-responsive">
      	</div>
      </div>
      <hr>
      <div class="row">
      	<div class="col-md-3 p-0 border mb-2 col-sm-6 mx-4 mx-md-0">
      		<img src="images/utility/placeholder.png" alt="..." class="img-responsive">
      	</div>
      	<div class="col-md-3 p-0 border mb-2 col-sm-6 mx-4 mx-md-0">
      		<img src="images/utility/placeholder.png" alt="..." class="img-responsive">
      	</div>
      	<div class="col-md-3 p-0 border mb-2 col-sm-6 mx-4 mx-md-0">
      		<img src="images/utility/placeholder.png" alt="..." class="img-responsive">
      	</div>
      	<div class="col-md-3 p-0 border mb-2 col-sm-6 mx-4 mx-md-0">
      		<img src="images/utility/placeholder.png" alt="..." class="img-responsive">
      	</div>
      	<div class="col-md-3 p-0 border mb-2 col-sm-6 mx-4 mx-md-0">
      		<img src="images/utility/placeholder.png" alt="..." class="img-responsive">
      	</div>
      	<div class="col-md-3 p-0 border mb-2 col-sm-6 mx-4 mx-md-0">
      		<img src="images/utility/placeholder.png" alt="..." class="img-responsive">
      	</div>
      	<div class="col-md-3 p-0 border mb-2 col-sm-6 mx-4 mx-md-0">
      		<img src="images/utility/placeholder.png" alt="..." class="img-responsive">
      	</div>
      	<div class="col-md-3 p-0 border mb-2 col-sm-6 mx-4 mx-md-0">
      		<img src="images/utility/placeholder.png" alt="..." class="img-responsive">
      	</div>
      	<div class="col-md-3 p-0 border mb-2 col-sm-6 mx-4 mx-md-0">
      		<img src="images/utility/placeholder.png" alt="..." class="img-responsive">
      	</div>
      </div>


    </section>


  {% endblock %}


{% endblock %}
