{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

  <section class="container container--page">

    <div class="row">
    	<div class="col-md-12">
    		<h2>Blank Modal</h2>
    		<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#delete-carts">
			  Open Modal
			</button>

			{# MODAL - Delete Carts modal #}
			{% include "_includes/modules/your-order/delete-cart-modal.html.twig" %} 
    	</div>
    </div>

  </section>

  {% endblock %}


{% endblock %}
