{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <section class="container container--page">

      <div class="row">

        <div class="col-md-12">

          <h2>Earnings</h2>

          <div class="row">
            <h2>FPO</h2>
          </div>

          <!--START - ORDER DETAILS-->
          <div class="my-0 my-md-3 table-responsive">
            <table class="table table-striped table-bordered-outside-only table-sparse--right m-0">

              <thead>
                <tr>
                  <th class="nowrap">Campaign</th>
                  <th class="nowrap">Order Size<span class="lt-icon lt-info lt-medium align-middle"></span></th>
                  <th class="nowrap">Estimated Earnings<span class="lt-icon lt-info lt-medium align-middle"></span></th>
                  <th class="nowrap">Detail</th>
                </tr>
              </thead>

              <tbody>
                <tr>
                  <td>10 - 2018</td>
                  <td>$6.00</td>
                  <td>$1.12</td>
                  <td><a href="#">View</a></td>
                </tr>
                <tr>
                  <td>09 - 2019</td>
                  <td>$52.00</td>
                  <td>$10.42</td>
                  <td><a href="#">View</a></td>
                </tr>
                <tr>
                  <td>08 - 2018</td>
                  <td>N/A</td>
                  <td>N/A</td>
                  <td></td>
                </tr>
              </tbody>

            </table>
          </div>
          <!--END - ORDER DETAILS-->

          <p class="text-center">
            <a class="" href="#">Print</a>
          </p>

        </div>

      </div>

    </section>

  {% endblock %}

{% endblock %}
