{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <div class="container container--page">

    {% embed "_layouts/columns-10-max.html.twig" %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        <h2>Support</h2>

        <div class="row mt-5">
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="images/utility/placeholder.png" alt="...">
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="images/utility/placeholder.png" alt="...">
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="images/utility/placeholder.png" alt="...">
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="images/utility/placeholder.png" alt="...">
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="images/utility/placeholder.png" alt="...">
            </div>
          </div>

          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="images/utility/placeholder.png" alt="...">
            </div>
          </div>

        </div>

      {% endblock %}

    {% endembed %}

  </div>

{% endblock %}
