{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <div class="container container--page">

    {% embed "_layouts/columns-10-max.html.twig" %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        <h2>Support</h2>

        <div class="row mt-5">
          <!-- START - ITEM -->
          <div class="col-sm-6 col-md-4">
            <a class="thumbnail box-emphasize link-plain">
              <div class="caption text-center">
                <p class="m-0">FPO label</p>
              </div>
              <img src="images/utility/placeholder.png" alt="...">
            </a>
          </div>
          <!-- END - ITEM -->

          <!-- START - ITEM -->
          <div class="col-sm-6 col-md-4">
            <a class="thumbnail box-emphasize link-plain">
              <div class="caption text-center">
                <p class="m-0">FPO label</p>
              </div>
              <img src="images/utility/placeholder.png" alt="...">
            </a>
          </div>
          <!-- END - ITEM -->

          <!-- START - ITEM -->
          <div class="col-sm-6 col-md-4">
            <a class="thumbnail box-emphasize link-plain">
              <div class="caption text-center">
                <p class="m-0">FPO label</p>
              </div>
              <img src="images/utility/placeholder.png" alt="...">
            </a>
          </div>
          <!-- END - ITEM -->

          <!-- START - ITEM -->
          <div class="col-sm-6 col-md-4">
            <a class="thumbnail box-emphasize link-plain">
              <div class="caption text-center">
                <p class="m-0">FPO label</p>
              </div>
              <img src="images/utility/placeholder.png" alt="...">
            </a>
          </div>
          <!-- END - ITEM -->

          <!-- START - ITEM -->
          <div class="col-sm-6 col-md-4">
            <a class="thumbnail box-emphasize link-plain">
              <div class="caption text-center">
                <p class="m-0">FPO label</p>
              </div>
              <img src="images/utility/placeholder.png" alt="...">
            </a>
          </div>
          <!-- END - ITEM -->

          <!-- START - ITEM -->
          <div class="col-sm-6 col-md-4">
            <a class="thumbnail box-emphasize link-plain">
              <div class="caption text-center">
                <p class="m-0">FPO label</p>
              </div>
              <img src="images/utility/placeholder.png" alt="...">
            </a>
          </div>
          <!-- END - ITEM -->

        </div>

      {% endblock %}

    {% endembed %}

  </div>

{% endblock %}
