{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <section class="container container--page">
      {% embed '_layouts/columns-3x9-secondary-nav.html.twig' %}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - ASIDE #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block aside %}

          {% include '_includes/groups/navigation/my-account-nav.html.twig' with { active : 'get-paid-by-avon' } %}

        {% endblock %}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - MAIN #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block main %}

          <h2>Get Paid by Avon</h2>
          <p>Get all your payments from Avon quickly and easily with automatic deposits. Earnings incentives, rewards and credits go sraight to your account!</p>

          <hr>

          <section>

            <h5 class="text-uppercase mt-3 mb-2">Direct deposit to your bank account</h5>
            <p class="text-muted">Recommended! The safest and fastest way to get paid.</p>

            <div class="row my-5">
              <div class="col-sm-6">
                <h6 class="mt-0 mb-2">Traditional Earnings</h6>
                <p class="text-muted small">Traditional / non-estore sales earnings (Leadership earnings, incentive pay-outs, etc).</p>
              </div>
              <div class="col-sm-6">
                <button class="btn btn-sm btn-default btn-soft m-1" data-toggle="modal" data-target="#modal-sign-up-with-an-account">Sign Up</button>
                <button class="btn btn-sm btn-default btn-soft m-1" data-toggle="modal" data-target="#modal-cancel-an-account">Cancel Enrollment</button>
                <button class="btn btn-sm btn-default btn-soft m-1" data-toggle="modal" data-target="#modal-change-account">Change Account</button>
              </div>
            </div>

            <div class="row my-5">
              <div class="col-sm-6">
                <h6 class="mt-0 mb-2">Online Earnings</h6>
                <p class="text-muted small">Online / eStore sales earnings</p>
              </div>
              <div class="col-sm-6">
                <button class="btn btn-sm btn-default btn-soft m-1" data-toggle="modal" data-target="#modal-select-an-account">Sign Up</button>
                <button class="btn btn-sm btn-default btn-soft m-1" data-toggle="modal" data-target="#modal-cancel-an-account">Cancel Enrollment</button>
                <button class="btn btn-sm btn-default btn-soft m-1" data-toggle="modal" data-target="#modal-change-account">Change Account</button>
              </div>
            </div>

          </section>

          <hr>

          <section>

            <h5 class="text-uppercase mt-3 mb-2">Start Saving with Avon's savings plan</h5>
            <p class="text-muted">Recommended! The easiest way to ensure a financially secure future.</p>

            <div class="row my-5">
              <div class="col-sm-6">
                <h6 class="mt-0 mb-2">Savings Plan</h6>
                <a href="javascript:void(0)" class="small underline" data-toggle="modal" data-target="#modal-savings-plan">Learn More</a>
              </div>
              <div class="col-sm-6">
                <button class="btn btn-sm btn-default btn-soft">Sign Up</button>
              </div>
            </div>

          </section>

          <hr>

          <section>
            <h5 class="text-uppercase mt-3 mb-2">Get a Pre-Paid card in the mail</h5>
            <p>If you do not enroll in the direct deposit options above. Avon will automatically mail you a Citibank pre-paid card. After that, every time Avon is suppossed to pay you, our card will be loaded with specific amount.</p>
            <p>Question? Check out the <a href="#" class="underline">FAQ</a>.</p>
            <button class="btn btn-sm btn-default btn-soft mt-3">Verify your card balance</button>
          </section>

        {% endblock %}

      {% endembed %}
    </section>

  {% endblock %}

  <!-- START - SIGN UP WITH ACCOUNT MODAL -->
  {% include "_includes/modules/account/modals-get-paid/sign-up-with-account-modal.html.twig" %}
  <!-- END - SIGN UP WITH ACCOUNT MODAL -->

  <!-- START - CHANGE ACCOUNT ACCOUNT MODAL -->
  {% include "_includes/modules/account/modals-get-paid/change-account-modal.html.twig" %}
  <!-- END - CHANGE ACCOUNT ACCOUNT MODAL -->

  <!-- START - SELECT ACCOUNT MODAL -->
  {% include "_includes/modules/account/modals-get-paid/select-account-modal.html.twig" %}
  <!-- END - SELECT ACCOUNT MODAL -->

  <!-- START - CANCEL ENROLLMENT MODAL -->
  {% include "_includes/modules/account/modals-get-paid/cancel-an-account-modal.html.twig" %}
  <!-- END - CANCEL ENROLLMENT MODAL -->

  <!-- START - SAVINGS PLAN MODAL -->
  {% include "_includes/modules/account/modals-get-paid/savings-plan-modal.html.twig" %}
  <!-- END - SAVINGS PLAN MODAL -->

  <!-- START - ROUTING NUMBER MODAL -->
  {% include "_includes/modules/account/modals-get-paid/routing-number-modal.html.twig" %}
  <!-- END - ROUTING NUMBER MODAL -->

{% endblock %}
