{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <!-- START - WHITE BACKGROUND SECTION -->
    <section class="container container--page">

      <!-- START - FULL WIDTH CONTAINER -->
      <section class="my-5">

        <!-- START - FPO CONTENT -->
        <hr>
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
            <p class="m-0 small">
              <strong>FPO Content - Open HTML Section amet, lorum ipsum dolor sit lorum ipsum dolor sitlorum ipsum dolor sitlorum ipsum dolor sitlorum ipsum dolor sitlorum ipsum dolor sitlorum</strong>
            </p>
          </div>
        </div>
        <hr>
        <!-- END - FPO CONTENT -->

      </section>
      <!-- END - FULL WIDTH CONTAINER -->


      <!-- START - FULL WIDTH CONTAINER -->
      <section class="my-5">
        <div class="row">
          <div class="col-md-12 col-xs-12">

            <!-- START - FPO CONTENT -->
              <div href="#" class="thumbnail thumbnail--caption-in-front">
                <div style="height: 322px; background-color: #666;"></div>
                <div class="caption">
                  <h3 class="m-0"></h3>
                </div>
              </div>
              <!-- END - FPO CONTENT -->

          </div>
        </div>
      </section>
      <!-- END - FULL WIDTH CONTAINER -->

    </section>
    <!-- END - WHITE BACKGROUND SECTION -->


    <!-- START - GREY BACKGROUND SECTION -->
    <section class="reverse-bg">
      <div class="container">
 
        <!-- START - FULL WIDTH CONTAINER -->
        <section class="my-5">

          <!-- START - FPO HEADLINE -->
          <div class="pt-5 pb-3">
            <h5 class="text-center mb-5">FROM AVON</h5>
          </div>
          <!-- END - FPO HEADLINE -->


          <div class="row">

            <!-- START - BOX CONTAINER -->
            <div class="col-md-3 col-xs-12 my-4 my-md-0">
              <div class="box-emphasize">

                <!-- START - FPO CONTENT -->
                <div href="#" class="thumbnail thumbnail--caption-in-front">
                  <div style="height: 200px; width: 200px;"></div>
                  <div class="caption">
                    <h3 class="m-0">1</h3>
                  </div>
                </div>
                <!-- END - FPO CONTENT -->

              </div>
            </div>
            <!-- END - BOX CONTAINER -->

            <!-- START - BOX CONTAINER -->
            <div class="col-md-3 col-xs-12 my-4 my-md-0">
              <div class="box-emphasize">

                <!-- START - FPO CONTENT -->
                <div href="#" class="thumbnail thumbnail--caption-in-front">
                  <div style="height: 200px; width: 200px;"></div>
                  <div class="caption">
                    <h3 class="m-0">2</h3>
                  </div>
                </div>
                <!-- END - FPO CONTENT -->

              </div>
            </div>
            <!-- END - BOX CONTAINER -->

            <!-- START - BOX CONTAINER -->
            <div class="col-md-3 col-xs-12 my-4 my-md-0">
              <div class="box-emphasize">

                <!-- START - FPO CONTENT -->
                <div href="#" class="thumbnail thumbnail--caption-in-front">
                  <div style="height: 200px; width: 200px;"></div>
                  <div class="caption">
                    <h3 class="m-0">3</h3>
                  </div>
                </div>
                <!-- END - FPO CONTENT -->

              </div>
            </div>
            <!-- END - BOX CONTAINER -->

            <!-- START - BOX CONTAINER -->
            <div class="col-md-3 col-xs-12 my-4 my-md-0">
              <div class="box-emphasize">

                <!-- START - FPO CONTENT -->
                <div href="#" class="thumbnail thumbnail--caption-in-front">
                  <div style="height: 200px; width: 200px;"></div>
                  <div class="caption">
                    <h3 class="m-0">4</h3>
                  </div>
                </div>
                <!-- END - FPO CONTENT -->

              </div>
            </div>
            <!-- END - BOX CONTAINER -->

          </div><!-- /.row -->
        </section>
        <!-- END - FULL WIDTH CONTAINER -->





        <!-- START - FULL WIDTH CONTAINER -->
        <section class="my-5">

          <!-- START - FPO HEADLINE -->
          <div class="pt-5 pb-3">
            <h5 class="text-center my-5">JUST FOR YOU <i class="lt-icon lt-info lt-medium"></i></h5>
          </div>
          <!-- END - FPO HEADLINE -->


          <div class="row">

            <!-- START - BOX CONTAINER -->
            <div class="col-md-3 col-xs-12 my-4 my-md-0">
              <div class="box-emphasize">

                <!-- START - FPO CONTENT -->
                <div href="#" class="thumbnail thumbnail--caption-in-front">
                  <div style="height: 200px; width: 200px;"></div>
                  <div class="caption">
                    <h3 class="m-0">5</h3>
                  </div>
                </div>
                <!-- END - FPO CONTENT -->

              </div>
            </div>
            <!-- END - BOX CONTAINER -->

            <!-- START - BOX CONTAINER -->
            <div class="col-md-3 col-xs-12 my-4 my-md-0">
              <div class="box-emphasize">

                <!-- START - FPO CONTENT -->
                <div href="#" class="thumbnail thumbnail--caption-in-front">
                  <div style="height: 200px; width: 200px;"></div>
                  <div class="caption">
                    <h3 class="m-0">6</h3>
                  </div>
                </div>
                <!-- END - FPO CONTENT -->

              </div>
            </div>
            <!-- END - BOX CONTAINER -->

            <!-- START - BOX CONTAINER -->
            <div class="col-md-3 col-xs-12 my-4 my-md-0">
              <div class="box-emphasize">

                <!-- START - FPO CONTENT -->
                <div href="#" class="thumbnail thumbnail--caption-in-front">
                  <div style="height: 200px; width: 200px;"></div>
                  <div class="caption">
                    <h3 class="m-0">7</h3>
                  </div>
                </div>
                <!-- END - FPO CONTENT -->

              </div>
            </div>
            <!-- END - BOX CONTAINER -->

            <!-- START - BOX CONTAINER -->
            <div class="col-md-3 col-xs-12 my-4 my-md-0">
              <div class="box-emphasize">

                <!-- START - FPO CONTENT -->
                <div href="#" class="thumbnail thumbnail--caption-in-front">
                  <div style="height: 200px; width: 200px;"></div>
                  <div class="caption">
                    <h3 class="m-0">8</h3>
                  </div>
                </div>
                <!-- END - FPO CONTENT -->

              </div>
            </div>
            <!-- END - BOX CONTAINER -->

          </div><!-- /.row -->

          <button type="button" class="btn btn-default my-5">View full dashboard</button>
        </section>
        <!-- END - FULL WIDTH CONTAINER -->


      </div><!-- /.container -->
    </section>
    <!-- END - GREY BACKGROUND SECTION -->


    <!-- START - WHITE BACKGROUND SECTION -->
    <section class="container">
      
      <!-- START - FPO CONTENT -->
      <div class="my-5">
        <div>FPO text</div>
      </div>
      <!-- END - FPO CONTENT -->

    </section>
    <!-- END - WHITE BACKGROUND SECTION -->


    <!-- START - GREY BACKGROUND SECTION -->
    <section class="reverse-bg">
      <div class="container">
        
        <!-- START - FPO CONTENT -->
        <div class="my-5">
          <div>FPO text</div>
        </div>
        <!-- END - FPO CONTENT -->

      </div>
    </section>
    <!-- END - GREY BACKGROUND SECTION -->





   {# ~~~ {% embed layouts.columns9x3 %} ~~~ #}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - MAIN #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# ~~~ {% block main %} ~~~ #}

      {# ~~~~~~~~
      <h4 class="text-center">Video Carousel</h4>
          <!-- START - RESPONSIVE CAROUSEL -->
      <div id="home_videos" class="carousel carousel--responsive slide mt-md-2 mb-5 mb-md-0" data-ride="carousel" data-interval="false">

        <!-- START - CAROUSEL INNER -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="images/utility/placeholder.png" alt="">
          </div>
          <div class="item">
            <img src="images/utility/placeholder.png" alt="">
          </div>
          <div class="item">
            <img src="images/utility/placeholder.png" alt="">
          </div>
        </div>
        <!-- END - CAROUSEL INNER -->

        <!-- START - CAROUSEL CONTROLS -->
        <a class="left carousel-control hidden-xs" href="#home_videos" data-slide="prev">
          <span class="lt-icon lt-left lt-large"></span>
        </a>
        <a class="right carousel-control hidden-xs" href="#home_videos" data-slide="next">
          <span class="lt-icon lt-right lt-large"></span>
        </a>
        <!-- END - CAROUSEL CONTROLS -->

        <!-- START - CAROUSEL THUMBS -->
        <div class="carousel-thumbs clearfix mt-4">
          <div class="row">

            <div class="col-xs-4">
              <a href="#" class="thumbnail thumbnail--square">
                <img src="images/utility/placeholder.png" alt="..."/>
              </a>
            </div>

            <div class="col-xs-4">
              <a href="#" class="thumbnail thumbnail--square">
                <img src="images/utility/placeholder.png" alt="..."/>
              </a>
            </div>

            <div class="col-xs-4">
              <a href="#" class="thumbnail thumbnail--square">
                <img src="images/utility/placeholder.png" alt="..."/>
              </a>
            </div>

          </div>
        </div>
        <!-- END - CAROUSEL THUMBS -->

        </div>
        <!-- END - RESPONSIVE CAROUSEL -->
        ~~~~~~~~ #}

        {# ~~~ {% endblock %} ~~~ #}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - ASIDE #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# ~~~ {% block aside %} ~~~ #}

      {# ~~~~~~~
          <h4 class="text-center">Avon beauty Buzz</h4>
          <div class="border mb-4 pre-scrollable p-3">
            <ul class="list-unstyled m-0">
              <li>
                <div class="row border-bottom no-gutters mb-2">
                  <div class="col-md-3 col-sm-3 col-xs-3 pr-3 pb-2">
                    <img class="img-responsive" src="images/fpo/anew_fade-bg-lg.png" alt="...">
                  </div>
                  <div class="col-md-9 col-sm-9 col-md-9">
                    There's lots to love about our C3 Box
                  </div>
                </div>
              </li>
              <li>
                <div class="row border-bottom no-gutters mb-2">
                  <div class="col-md-3 col-sm-3 col-xs-3 pr-3 pb-2">
                    <img class="img-responsive" src="images/fpo/anew_fade-bg-lg.png" alt="...">
                  </div>
                  <div class="col-md-9 col-sm-9 col-md-9">
                    There's lots to love about our C3 Box
                  </div>
                </div>
              </li>
              <li>
                <div class="row border-bottom no-gutters mb-2">
                  <div class="col-md-3 col-sm-3 col-xs-3 pr-3 pb-2">
                    <img class="img-responsive" src="images/fpo/anew_fade-bg-lg.png" alt="...">
                  </div>
                  <div class="col-md-9 col-sm-9 col-md-9">
                    There's lots to love about our C3 Box
                  </div>
                </div>
              </li>
              <li>
                <div class="row border-bottom no-gutters mb-2">
                  <div class="col-md-3 col-sm-3 col-xs-3 pr-3 pb-2">
                    <img class="img-responsive" src="images/fpo/anew_fade-bg-lg.png" alt="...">
                  </div>
                  <div class="col-md-9 col-sm-9 col-md-9">
                    There's lots to love about our C3 Box
                  </div>
                </div>
              </li>
              <li>
                <div class="row border-bottom no-gutters mb-2">
                  <div class="col-md-3 col-sm-3 col-xs-3 pr-3 pb-2">
                    <img class="img-responsive" src="images/fpo/anew_fade-bg-lg.png" alt="...">
                  </div>
                  <div class="col-md-9 col-sm-9 col-md-9">
                    There's lots to love about our C3 Box
                  </div>
                </div>
              </li>
              <li>
                <div class="row border-bottom no-gutters mb-2">
                  <div class="col-md-3 col-sm-3 col-xs-3 pr-3 pb-2">
                    <img class="img-responsive" src="images/fpo/anew_fade-bg-lg.png" alt="...">
                  </div>
                  <div class="col-md-9 col-sm-9 col-md-9">
                    There's lots to love about our C3 Box
                  </div>
                </div>
              </li>
              <li>
                <div class="row border-bottom no-gutters mb-2">
                  <div class="col-md-3 col-sm-3 col-xs-3 pr-3 pb-2">
                    <img class="img-responsive" src="images/fpo/anew_fade-bg-lg.png" alt="...">
                  </div>
                  <div class="col-md-9 col-sm-9 col-md-9">
                    There's lots to love about our C3 Box
                  </div>
                </div>
              </li>
              <li>
                <div class="row border-bottom no-gutters mb-2">
                  <div class="col-md-3 col-sm-3 col-xs-3 pr-3 pb-2">
                    <img class="img-responsive" src="images/fpo/anew_fade-bg-lg.png" alt="...">
                  </div>
                  <div class="col-md-9 col-sm-9 col-md-9">
                    There's lots to love about our C3 Box
                  </div>
                </div>
              </li>
              <li>
                <div class="row border-bottom no-gutters mb-2">
                  <div class="col-md-3 col-sm-3 col-xs-3 pr-3 pb-2">
                    <img class="img-responsive" src="images/fpo/anew_fade-bg-lg.png" alt="...">
                  </div>
                  <div class="col-md-9 col-sm-9 col-md-9">
                    There's lots to love about our C3 Box
                  </div>
                </div>
              </li>
              <li>
                <div class="row border-bottom no-gutters mb-2">
                  <div class="col-md-3 col-sm-3 col-xs-3 pr-3 pb-2">
                    <img class="img-responsive" src="images/fpo/anew_fade-bg-lg.png" alt="...">
                  </div>
                  <div class="col-md-9 col-sm-9 col-md-9">
                    There's lots to love about our C3 Box
                  </div>
                </div>
              </li>
              <li>
                <div class="row no-gutters">
                  <div class="col-md-3 col-sm-3 col-xs-3 pr-3">
                    <img class="img-responsive" src="images/fpo/anew_fade-bg-lg.png" alt="...">
                  </div>
                  <div class="col-md-9 col-sm-9 col-md-9">
                    There's lots to love about our C3 Box
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <a href="#" class="text-center d-block underline mb-4">View All</a>
          <div class="text-center pt-4">
            <h4>Inventory Updates</h4>
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio.</p>
            <a href="#" class="underline">Learn More</a>
          </div>
          ~~~~~~~ #}

        {# ~~~ {% endblock %} ~~~ #}

      {# ~~~ {% endembed %} ~~~ #}

    {# ~~~~~~~
      <div class="row mb-4 mt-4">
        <div class="col-md-3 col-xs-12 my-4 mx-md-0">
          <div class="border text-center">
            <h4>Avon Foundation</h4>
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio.</p>
            <a href="#">Link</a>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 my-4 mx-md-0">
          <div class="border text-center">
            <h4>My Online Store</h4>
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio.</p>
            <a href="#">Link</a>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 my-4 mx-md-0">
          <div class="border text-center">
            <h4>Deals Central</h4>
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio.</p>
            <a href="#">Link</a>
          </div>
        </div>
        <div class="col-md-3 col-xs-12 my-4 mx-md-0">
          <div class="border text-center">
            <h4>Message Center</h4>
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio.</p>
            <a href="#">Link</a>
          </div>
        </div>
      </div>
      <div class="alert alert-info">
      Optional urgent message content area
    </div>
    ~~~~~~~ #}

  {% endblock %}


{% endblock %}
