{% extends "_layouts/base-simple-header.html.twig" %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - MAIN #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block main %}

<!-- START - WHITE BACKGROUND SECTION -->
<section class="container container--page">

  <!-- START - FULL WIDTH CONTAINER -->
  <section class="mb-5">

    <!-- START - FPO CONTENT -->
    <hr class="mt-0">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
        <p class="m-0 small">
          <strong>FPO Content - Open HTML Section amet, lorum ipsum dolor sit lorum ipsum dolor sitlorum ipsum dolor
            sitlorum ipsum dolor sitlorum ipsum dolor sitlorum ipsum dolor sitlorum</strong>
        </p>
      </div>
    </div>
    <hr>
    <!-- END - FPO CONTENT -->

  </section>
  <!-- END - FULL WIDTH CONTAINER -->

  <!-- START - FULL WIDTH CONTAINER -->
  <section class="mt-5">
    <div class="row">
      <div class="col-md-12 col-xs-12">

        <!-- START - FPO CONTENT -->
        <a href="#" class="thumbnail thumbnail--caption-in-front">
          <div style="height: 322px; background-color: #666;"></div>
          <div class="caption">
            <h3 class="m-0"></h3>
          </div>
        </a>
        <!-- END - FPO CONTENT -->

      </div>
    </div>
  </section>
  <!-- END - FULL WIDTH CONTAINER -->

  <!-- START - FULL WIDTH CONTAINER -->
  <section class="my-3">
    <div class="row">
      <div class="col-md-12 col-xs-12 text-center">

        <!-- START - TOUR CALLOUT -->
        <h6 class="mb-3">Discover the New youravon.com</h6>
        <p class="mb-4 text-muted">Review the helpful features of your portal to everything Avon.</p>
        <button class="btn btn-discourage btn-soft btn-sm my-3">Take the Tour</button>
        <!-- END - TOUR CALLOUT -->

      </div>
    </div>
  </section>
  <!-- END - FULL WIDTH CONTAINER -->

</section>
<!-- END - WHITE BACKGROUND SECTION -->

<!-- START - GREY BACKGROUND SECTION -->
<section class="reverse-bg my-5 pt-5 pb-3">
  <div class="container">

    <!-- START - FPO CONTENT -->
    <a href="#" class="thumbnail thumbnail--caption-in-front">
      <div style="height: 322px; background-color: #666;"></div>
      <div class="caption">
        <h3 class="m-0"></h3>
      </div>
    </a>
    <!-- END - FPO CONTENT -->

  </div>
  <!-- /.container -->
</section>
<!-- END - GREY BACKGROUND SECTION -->

{# ~~~ {% embed layouts.columns9x3 %} ~~~ #}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - MAIN #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# ~~~ {% block main %} ~~~ #}

<!-- START - WHITE BACKGROUND SECTION -->
<section class="container my-5">

  <!-- START - FPO CONTENT -->
  <hr class="mt-0">
  <div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
      <p class="m-0 small">
        <strong>FPO Content - Open HTML Section amet, lorum ipsum dolor sit lorum ipsum dolor sitlorum ipsum dolor
          sitlorum ipsum dolor sitlorum ipsum dolor sitlorum ipsum dolor sitlorum</strong>
      </p>
    </div>
  </div>
  <hr>
  <!-- END - FPO CONTENT -->

</section>
<!-- END - WHITE BACKGROUND SECTION -->

{% endblock %}

{% endblock %}
