{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <!-- START - WHITE BACKGROUND SECTION -->
    <section class="container container--page">

      <!-- START - FULL WIDTH CONTAINER -->
      <section class="mb-5">

        <!-- START - ROTATING BANNER -->
        {% include '_includes/modules/home/rotating-banner.html.twig' %}
        <!-- END - ROTATING BANNER -->

        <!-- START - FPO CONTENT -->
        <hr class="mt-0">
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
            <p class="m-0 small">
              <strong>FPO Content - Open HTML Section amet, lorum ipsum dolor sit lorum ipsum dolor sitlorum ipsum dolor sitlorum ipsum dolor sitlorum ipsum dolor sitlorum ipsum dolor sitlorum</strong>
            </p>
          </div>
        </div>
        <hr>
        <!-- END - FPO CONTENT -->

      </section>
      <!-- END - FULL WIDTH CONTAINER -->

      <!-- START - FULL WIDTH CONTAINER -->
      <section class="mt-5">
        <div class="row">
          <div class="col-md-12 col-xs-12">

            <!-- START - FPO CONTENT -->
            <a href="#" class="thumbnail thumbnail--caption-in-front">
              <div style="height: 322px; background-color: #666;"></div>
              <div class="caption">
                <h3 class="m-0"></h3>
              </div>
            </a>
            <!-- END - FPO CONTENT -->

          </div>
        </div>
      </section>
      <!-- END - FULL WIDTH CONTAINER -->

      <!-- START - FULL WIDTH CONTAINER -->
      <section class="my-3">
        <div class="row">
          <div class="col-md-12 col-xs-12 text-center">

            <!-- START - TOUR CALLOUT -->
            <h6 class="mb-3">Discover the New youravon.com</h6>
            <p class="mb-4 text-muted">Review the helpful features of your portal to everything Avon.</p>
            <button class="btn btn-discourage btn-soft btn-sm my-3">Take the Tour</button>
            <!-- END - TOUR CALLOUT -->

          </div>
        </div>
      </section>
      <!-- END - FULL WIDTH CONTAINER -->

    </section>
    <!-- END - WHITE BACKGROUND SECTION -->

    <!-- START - GREY BACKGROUND SECTION -->
    <section class="reverse-bg my-5">
      <div class="container">

        {% include "_includes/modules/home/boxes-primary-home-from-avon.html.twig" %}
        {% include "_includes/modules/home/boxes-primary-home-just-for-you.html.twig" %}

      </div>
      <!-- /.container -->
    </section>
    <!-- END - GREY BACKGROUND SECTION -->

    {# ~~~ {% embed layouts.columns9x3 %} ~~~ #}

    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {# DEFINE BLOCK - MAIN #}
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {# ~~~ {% block main %} ~~~ #}

    <!-- START - WHITE BACKGROUND SECTION -->
    <section class="container my-5">

      <!-- START - FULL WIDTH CONTAINER -->
      <section class="my-5">
        <div class="row">
          <hr class="pb-5 ml-4 mr-4 mt-0">

          <div class="col-md-8 col-xs-12">

            <!-- START - FPO CONTENT -->
            <a href="#" class="thumbnail thumbnail--caption-in-front">
              <div style="height: 500px; background-color: #666;"></div>
              <div class="caption">
                <h3 class="m-0"></h3>
              </div>
            </a>
            <!-- END - FPO CONTENT -->

          </div>

          <!-- START - BEAUTY BUZZ WIDGET -->
          {% include "_includes/modules/home/beauty-buzz-widget.html.twig" %}
          <!-- END - BEAUTY BUZZ WIDGET -->

        </div>
      </section>
      <!-- END - FULL WIDTH CONTAINER -->

      <!-- START - FPO CONTENT -->
      <hr class="mt-0">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1 text-center">
          <p class="m-0 small">
            <strong>FPO Content - Open HTML Section amet, lorum ipsum dolor sit lorum ipsum dolor sitlorum ipsum dolor sitlorum ipsum dolor sitlorum ipsum dolor sitlorum ipsum dolor sitlorum</strong>
          </p>
        </div>
      </div>
      <hr>
      <!-- END - FPO CONTENT -->

    </section>
    <!-- END - WHITE BACKGROUND SECTION -->

    {# ~~~ {% embed layouts.columns9x3 %} ~~~ #}

    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {# DEFINE BLOCK - MAIN #}
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {# ~~~ {% block main %} ~~~ #}

    {# ~~~~~~~~
      <h4 class="text-center">Video Carousel</h4>
          <!-- START - RESPONSIVE CAROUSEL -->
      <div id="home_videos" class="carousel carousel--responsive slide mt-md-2 mb-5 mb-md-0" data-ride="carousel" data-interval="false">

        <!-- START - CAROUSEL INNER -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="images/utility/placeholder.png" alt="">
          </div>
          <div class="item">
            <img src="images/utility/placeholder.png" alt="">
          </div>
          <div class="item">
            <img src="images/utility/placeholder.png" alt="">
          </div>
        </div>
        <!-- END - CAROUSEL INNER -->

        <!-- START - CAROUSEL CONTROLS -->
        <a class="left carousel-control hidden-xs" href="#home_videos" data-slide="prev">
          <span class="lt-icon lt-left lt-large"></span>
        </a>
        <a class="right carousel-control hidden-xs" href="#home_videos" data-slide="next">
          <span class="lt-icon lt-right lt-large"></span>
        </a>
        <!-- END - CAROUSEL CONTROLS -->

        <!-- START - CAROUSEL THUMBS -->
        <div class="carousel-thumbs clearfix mt-4">
          <div class="row">

            <div class="col-xs-4">
              <a href="#" class="thumbnail thumbnail--square">
                <img src="images/utility/placeholder.png" alt="..."/>
              </a>
            </div>

            <div class="col-xs-4">
              <a href="#" class="thumbnail thumbnail--square">
                <img src="images/utility/placeholder.png" alt="..."/>
              </a>
            </div>

            <div class="col-xs-4">
              <a href="#" class="thumbnail thumbnail--square">
                <img src="images/utility/placeholder.png" alt="..."/>
              </a>
            </div>

          </div>
        </div>
        <!-- END - CAROUSEL THUMBS -->

        </div>
        <!-- END - RESPONSIVE CAROUSEL -->
        ~~~~~~~~ #}

    {# ~~~ {% endblock %} ~~~ #}

    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {# DEFINE BLOCK - ASIDE #}
    {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
    {# ~~~ {% block aside %} ~~~ #}

    {# ~~~~~~~
          <h4 class="text-center">Avon beauty Buzz</h4>
          <div class="border mb-4 pre-scrollable p-3">
            <ul class="list-unstyled m-0">
              <li>
                <div class="row border-bottom no-gutters mb-2">
                  <div class="col-md-3 col-sm-3 col-xs-3 pr-3 pb-2">
                    <img class="img-responsive" src="images/fpo/anew_fade-bg-lg.png" alt="...">
                  </div>
                  <div class="col-md-9 col-sm-9 col-md-9">
                    There's lots to love about our C3 Box
                  </div>
                </div>
              </li>
              <li>
                <div class="row border-bottom no-gutters mb-2">
                  <div class="col-md-3 col-sm-3 col-xs-3 pr-3 pb-2">
                    <img class="img-responsive" src="images/fpo/anew_fade-bg-lg.png" alt="...">
                  </div>
                  <div class="col-md-9 col-sm-9 col-md-9">
                    There's lots to love about our C3 Box
                  </div>
                </div>
              </li>
              <li>
                <div class="row border-bottom no-gutters mb-2">
                  <div class="col-md-3 col-sm-3 col-xs-3 pr-3 pb-2">
                    <img class="img-responsive" src="images/fpo/anew_fade-bg-lg.png" alt="...">
                  </div>
                  <div class="col-md-9 col-sm-9 col-md-9">
                    There's lots to love about our C3 Box
                  </div>
                </div>
              </li>
              <li>
                <div class="row border-bottom no-gutters mb-2">
                  <div class="col-md-3 col-sm-3 col-xs-3 pr-3 pb-2">
                    <img class="img-responsive" src="images/fpo/anew_fade-bg-lg.png" alt="...">
                  </div>
                  <div class="col-md-9 col-sm-9 col-md-9">
                    There's lots to love about our C3 Box
                  </div>
                </div>
              </li>
              <li>
                <div class="row border-bottom no-gutters mb-2">
                  <div class="col-md-3 col-sm-3 col-xs-3 pr-3 pb-2">
                    <img class="img-responsive" src="images/fpo/anew_fade-bg-lg.png" alt="...">
                  </div>
                  <div class="col-md-9 col-sm-9 col-md-9">
                    There's lots to love about our C3 Box
                  </div>
                </div>
              </li>
              <li>
                <div class="row border-bottom no-gutters mb-2">
                  <div class="col-md-3 col-sm-3 col-xs-3 pr-3 pb-2">
                    <img class="img-responsive" src="images/fpo/anew_fade-bg-lg.png" alt="...">
                  </div>
                  <div class="col-md-9 col-sm-9 col-md-9">
                    There's lots to love about our C3 Box
                  </div>
                </div>
              </li>
              <li>
                <div class="row border-bottom no-gutters mb-2">
                  <div class="col-md-3 col-sm-3 col-xs-3 pr-3 pb-2">
                    <img class="img-responsive" src="images/fpo/anew_fade-bg-lg.png" alt="...">
                  </div>
                  <div class="col-md-9 col-sm-9 col-md-9">
                    There's lots to love about our C3 Box
                  </div>
                </div>
              </li>
              <li>
                <div class="row border-bottom no-gutters mb-2">
                  <div class="col-md-3 col-sm-3 col-xs-3 pr-3 pb-2">
                    <img class="img-responsive" src="images/fpo/anew_fade-bg-lg.png" alt="...">
                  </div>
                  <div class="col-md-9 col-sm-9 col-md-9">
                    There's lots to love about our C3 Box
                  </div>
                </div>
              </li>
              <li>
                <div class="row border-bottom no-gutters mb-2">
                  <div class="col-md-3 col-sm-3 col-xs-3 pr-3 pb-2">
                    <img class="img-responsive" src="images/fpo/anew_fade-bg-lg.png" alt="...">
                  </div>
                  <div class="col-md-9 col-sm-9 col-md-9">
                    There's lots to love about our C3 Box
                  </div>
                </div>
              </li>
              <li>
                <div class="row border-bottom no-gutters mb-2">
                  <div class="col-md-3 col-sm-3 col-xs-3 pr-3 pb-2">
                    <img class="img-responsive" src="images/fpo/anew_fade-bg-lg.png" alt="...">
                  </div>
                  <div class="col-md-9 col-sm-9 col-md-9">
                    There's lots to love about our C3 Box
                  </div>
                </div>
              </li>
              <li>
                <div class="row no-gutters">
                  <div class="col-md-3 col-sm-3 col-xs-3 pr-3">
                    <img class="img-responsive" src="images/fpo/anew_fade-bg-lg.png" alt="...">
                  </div>
                  <div class="col-md-9 col-sm-9 col-md-9">
                    There's lots to love about our C3 Box
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <a href="#" class="text-center d-block underline mb-4">View All</a>
          <div class="text-center pt-4">
            <h4>Inventory Updates</h4>
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio.</p>
            <a href="#" class="underline">Learn More</a>
          </div>
          ~~~~~~~ #}

    {# ~~~ {% endblock %} ~~~ #}

    {# ~~~ {% endembed %} ~~~ #}

    {# ~~~~~~~
      <div class="row mb-4 mt-4">
        <div class="col-xs-6 col-md-3 my-4 mx-md-0">
          <div class="border text-center">
            <h4>Avon Foundation</h4>
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio.</p>
            <a href="#">Link</a>
          </div>
        </div>
        <div class="col-xs-6 col-md-3 my-4 mx-md-0">
          <div class="border text-center">
            <h4>My Online Store</h4>
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio.</p>
            <a href="#">Link</a>
          </div>
        </div>
        <div class="col-xs-6 col-md-3 my-4 mx-md-0">
          <div class="border text-center">
            <h4>Deals Central</h4>
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio.</p>
            <a href="#">Link</a>
          </div>
        </div>
        <div class="col-xs-6 col-md-3 my-4 mx-md-0">
          <div class="border text-center">
            <h4>Message Center</h4>
            <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cras justo odio.</p>
            <a href="#">Link</a>
          </div>
        </div>
      </div>
      <div class="alert alert-info">
      Optional urgent message content area
    </div>
    ~~~~~~~ #}

  {% endblock %}

{% endblock %}
