{# index.twig #}
{% extends "_layouts/base.html.twig" %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}

<div class="container">
  <header>
    <h1>Avon POC</h1>
  </header>
  <main class="pb-5">
    <h3>Styleguide</h3>
    <ul>
      <li><a href="styleguide/">Home</a></li>
      <li><a href="styleguide/css.html">CSS</a></li>
      <li><a href="styleguide/elements.html">Elements</a></li>
      <li><a href="styleguide/groups.html">Groups</a></li>
      <li><a href="styleguide/modules.html">Modules</a></li>
    </ul>
    <hr>

    <h3>Pages</h3>
    <p><strong>Global</strong></p>
    <ul>
      <li><a href="home.html">Home</a></li>
      <li><a href="login.html">Login</a></li>
    </ul>

    <p><strong>Ordering</strong></p>
    <ul>
      <li><a href="search-results.html">Search Results</a></li>
      <li><a href="brochures.html">Virtual Brochures</a></li>
      <li><a href="product-categories.html">Product Categories (PCP)</a></li>
      <li><a href="product-list.html">Product List (PLP)</a></li>
      <li><a href="product-detail.html">Product Detail (PDP)</a></li>
      <li><a href="your-order.html">Your Order (Drawer)</a></li>
    </ul>

    <p><strong>Checkout</strong></p>
    <ul>
      <li><a href="checkout-choose-type.html">Checkout</a></li>
      <li><a href="checkout-itemized-checkout.html">Checkout - Itemized</a></li>
      <li><a href="checkout-quick-checkout.html">Checkout - Quick</a></li>
      <li><a href="checkout-review-complete.html">Checkout - Review Complete</a></li>
    </ul>


    <p><strong>Other Site Content</strong></p>
    <ul>
      <li><a href="view-invoices.html">View Invoices</a></li>
      <li><a href="account-balance.html">Account Balance</a></li>
      <li><a href="invoice-addendums.html">Invoice Addendums</a></li>
      <li><a href="process-returns.html">Process Returns</a></li>
      <li><a href="track-submitted-orders.html">Track Submitted Orders</a></li>
    </ul>
    <hr>

    <h3>Code snippets</h3>
    <ul>
      <li><a href="styleguide/code-snippets.html#facebook-login">Facebook login button</a></li>
    </ul>
    <hr>

    <h3>Diff Reports</h3>
    
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Sprint Delivery</th>
          <th>Date</th>
          <th>Changes since</th>
        </tr>
      </thead>
      <tbody>
{#         <tr>
          <td><a href="_demo/diff-reports/sprint-04/FolderComparisonReport.html">Sprint 4  - Part 2</a></td>
          <td>Feb 26</td>
          <td>Sprint 3</td>
        </tr>
        <tr>
          <td><a href="_demo/diff-reports/sprint-04--changes-since-feb-20/FolderComparisonReport.html">Sprint 4  - Part 2</a></td>
          <td>Feb 26</td>
          <td>Sprint 4 - Part 1</td>
        </tr> #}
        <tr>
          <td><a href="_demo/diff-reports/sprint-04-part-1/FolderComparisonReport.html">Sprint 4  - Part 1</a></td>
          <td>Feb 20</td>
          <td>Sprint 3</td>
        </tr>
      </tbody>
    </table>
  


   


  </main>
</div>

{% endblock %}
