{# index.twig #}
{% extends "_layouts/base.html.twig" %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}

<div class="container">
  <header>
    <h1>Avon POC</h1>
  </header>
  <main>
    <h3>Styleguide</h3>
    <ul>
      <li><a href="styleguide/">Home</a></li>
      <li><a href="styleguide/css.html">CSS</a></li>
      <li><a href="styleguide/elements.html">Elements</a></li>
      <li><a href="styleguide/groups.html">Groups</a></li>
      <li><a href="styleguide/modules.html">Modules</a></li>
    </ul>

    <h3>Pages</h3>
    <ul>
      <li><a href="home.html">Home</a></li>
      <li><a href="login.html">Login</a></li>
      <li><a href="search-results.html">Search Results</a></li>
      <li><a href="brochures.html">Virtual Brochures</a></li>
      <li><a href="product-categories.html">Product Categories (PCP)</a></li>
      <li><a href="product-list.html">Product List (PLP)</a></li>
      <li><a href="product-detail.html">Product Detail (PDP)</a></li>
      <li><a href="your-order.html">Your Order (Drawer)</a></li>
      <li><a href="checkout-choose-type.html">Checkout</a></li>
    </ul>

  </main>
</div>

{% endblock %}
