{# index.twig #}
{% extends "_layouts/base.html.twig" %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}

<div class="container">
  <header>
    <h1>Avon POC</h1>
  </header>
  <main class="pb-5">
    <h3 class="my-5">Styleguide</h3>
    <ul>
      <li><a href="styleguide/">Overview</a></li>
      <li><a href="styleguide/css.html">CSS</a></li>
      <li><a href="styleguide/elements.html">Elements</a></li>
      <li><a href="styleguide/groups.html">Groups</a></li>
      <li><a href="styleguide/layouts.html">Layouts</a></li>
      <li><a href="styleguide/javascript.html">Javascript</a></li>
    </ul>
    <hr>

    <h3 class="my-5">Pages</h3>
    <p><strong>General</strong></p>
    <ul>
      <li><a href="home.html">Home</a></li>
      <li><a href="beauty-buzz.html">Beauty Buzz</a></li>
      <li><a href="dashboard.html">Dashboard</a></li>
      <li><a href="header-footer.html">Global items (header, footer, etc.)</a></li>
    </ul>

    <p><strong>Ordering</strong></p>
    <ul>
      <li><a href="item-entry.html">Item Entry</a></li>
      <li><a href="product-detail.html">Product Detail (PDP)</a></li>
      <li><a href="product-list.html">Product List (PLP)</a></li>
      <li><a href="search-results.html">Search Results</a></li>
      <li><a href="search-results-none.html">Search Results (No Results)</a></li>
      <li><a href="brochures.html">Virtual Brochures</a></li>
      <li><a href="your-order.html">Your Order</a></li>
    </ul>

    <p><strong>Checkout</strong></p>
    <ul>
      <li><a href="checkout.html">All Modules</a></li>
      <li><a href="checkout-past-due-balance.html">Group 1 - Past Due Balance</a></li>
      <li><a href="checkout-payment-and-review.html">Group 2 - Full Payment and Review Order</a></li>
      <li><a href="checkout-split-payment.html">Group 3 - Split Payment</a></li>
      <li><a href="checkout-payment-failed.html">Group 4 - Payment Failed</a></li>
      <li><a href="checkout-order-submitted-confirmation.html">Order Confirmation</a></li>
    </ul>

    <p><strong>My Account</strong></p>
    <ul>
      <li><a href="account-balance.html">Account Balance</a></li>
      <li><a href="change-password.html">Change Password</a></li>
      <li><a href="get-paid-by-avon.html">Get Paid by Avon</a></li>
      <li><a href="get-paid-by-avon-modals.html">Get Paid by Avon - Modals</a></li>
      <li><a href="pay-avon.html">Pay Avon</a></li>
      <li><a href="pay-avon-quickpay-enrollment-modals.html">Pay Avon - QuickPAY Enrollment Modals</a></li>
      <li><a href="profile.html">Profile</a></li>
    </ul>


    <p><strong>Other Site Content</strong></p>
    <ul>
      <li><a href="customer-order-information.html">Customer Order Information</a></li>
      <li><a href="customer-product-reminder-report.html">Customer Product Reminder Report</a></li>
      <li><a href="direct-delivery-reports.html">Direct Delivery Report</a></li>
      <li><a href="invoice-addendums.html">Invoice Addendums</a></li>
      <li><a href="online-order-history.html">Online Order History</a></li>
      <li><a href="order-details.html">Order Details</a></li>
      <li><a href="process-returns.html">Process Returns</a></li>
      <li><a href="track-submitted-orders.html">Track Submitted Orders</a></li>
      <li><a href="track-submitted-order-detail.html">Track Submitted Orders - Detail</a></li>
      <li><a href="view-invoices.html">View Invoices</a></li>
    </ul>

    <p><strong>Get Support</strong></p>
    <ul>
      <li><a href="contact-sales-leader.html">Contact Sales Leader</a></li>
      <li><a href="support.html">Support</a></li>
    </ul>
    <hr>

    <p><strong>Blank Pages</strong></p>
    <ul>
      <li><a href="blank-page-12-col.html">12 Column</a></li>
      <li><a href="blank-page-10-col-centered.html">10 Column - Centered</a></li>
      <li><a href="blank-page-secondary-nav.html">Secondary Nav Demo</a></li>
    </ul>

    <p><strong>Blank Modals</strong></p>
    <ul>
      <li><a href="blank-modal-either-or.html">Either/Or</a></li>
      <li><a href="blank-modal-either-or-error.html">Either/Or Error</a></li>
      <li><a href="blank-modal-generic.html">Generic</a></li>
    </ul>
    <hr>

    <h3 class="my-5">Code snippets</h3>
    <ul>
      <li><a href="styleguide/code-snippets.html#facebook-login">Facebook login button</a></li>
    </ul>
    <hr>

    <h3 class="my-5">Diff Reports</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Latest</th>
          <th>Changes since</th>
        </tr>
      </thead>
      <tbody>
        <!-- SPRINT 7 -->
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/sprint-07-v3-apr-13__vs__sprint-07-v2-apr-12/FolderComparisonReport.html">Download</a></td>
          <td>Sprint 7 (v4) - Apr 15</td>
          <td>Sprint 7 (v3) - Apr 13</td>
        </tr>
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/sprint-07-v3-apr-13__vs__sprint-07-v2-apr-12/FolderComparisonReport.html">Download</a></td>
          <td>Sprint 7 (v4) - Apr 15</td>
          <td>Sprint 7 (v2) - Apr 12</td>
        </tr>
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/sprint-07-v3-apr-13__vs__sprint-07-v1-apr-08/FolderComparisonReport.html">Download</a></td>
          <td>Sprint 7 (v4) - Apr 15</td>
          <td>Sprint 7 (v1) - Apr 8</td>
        </tr>
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/sprint-07-v3-apr-13__vs__sprint-06-v2-apr-01/FolderComparisonReport.html">Download</a></td>
          <td>Sprint 7 (v4) - Apr 15</td>
          <td>Sprint 6 (v2) - Apr 1</td>
        </tr>


        <!-- SPRINT 6 -->
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/sprint-06-v2-apr-01__vs__sprint-06-v1-mar-25/FolderComparisonReport.html">Download</a></td>
          <td>Sprint 6 (v2) - Apr 1</td>
          <td>Sprint 6 (v1) - Mar 25</td>
        </tr>
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/sprint-06-v2-apr-01__vs__sprint-05-v3-mar-21/FolderComparisonReport.html">Download</a></td>
          <td>Sprint 6 (v2) - Apr 1</td>
          <td>Sprint 5 (v3) - Mar 21</td>
        </tr>
        <!-- SPRINT 5 -->
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/sprint-05-v3-mar-21__vs__sprint-05-v2-mar-18/FolderComparisonReport.html">Download</a></td>
          <td>Sprint 5 (v3) - Mar 21</td>
          <td>Sprint 5 (v2) - Mar 18</td>
        </tr>
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/sprint-05-v3-mar-21__vs__sprint-04-feb-23/FolderComparisonReport.html">Download</a></td>
          <td>Sprint 5 (v3) - Mar 21</td>
          <td>Sprint 4 - Feb 23</td>
        </tr>
        <!-- SPRINT 4 -->
        <tr>
          <td><a href="http://s4dc-deliveries.dreamhosters.com/sprint-04-feb-23__vs__sprint-03-feb-09/FolderComparisonReport.html">Download</a></td>
          <td>Sprint 4 - Feb 23</td>
          <td>Sprint 3 - Feb 9</td>
        </tr>
      </tbody>
    </table>

  </main>
</div>

{% endblock %}
