{# index.twig #}
{% extends "_layouts/base.html.twig" %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}

<div class="container">
  <header>
    <h1>Avon POC</h1>
  </header>
  <main class="pb-5">
    <h3 class="my-5">Styleguide</h3>
    <ul>
      <li><a href="styleguide/">Home</a></li>
      <li><a href="styleguide/css.html">CSS</a></li>
      <li><a href="styleguide/elements.html">Elements</a></li>
      <li><a href="styleguide/groups.html">Groups</a></li>
      <li><a href="styleguide/layouts.html">Layouts</a></li>
      <li><a href="styleguide/javascript.html">Javascript</a></li>
    </ul>
    <hr>

    <h3 class="my-5">Pages</h3>
    <p><strong>General</strong></p> 
    <ul>
{#       <li><a href="dashboard.html">Dashboard</a></li> #}
      <li><a href="home.html">Home</a></li>
      <li><a href="header-footer.html">Global items (header, footer, etc.)</a></li>
    </ul>

    <p><strong>Ordering</strong></p>
    <ul>
      <li><a href="online-order-history.html">Online Order History</a></li>
      <li><a href="product-categories.html">Product Categories (PCP)</a></li>
      <li><a href="product-detail.html">Product Detail (PDP)</a></li>
      <li><a href="product-list.html">Product List (PLP)</a></li>
      <li><a href="search-results.html">Search Results</a></li>
      <li><a href="search-results-none.html">Search Results (No Results)</a></li>
      <li><a href="brochures.html">Virtual Brochures</a></li>
      <li><a href="your-order.html">Your Order</a></li>
    </ul>

    <p><strong>Checkout</strong></p>
    <ul>
      <li><a href="checkout-choose-type.html">Checkout</a></li>
      <li><a href="checkout-itemized-checkout.html">Checkout - Itemized</a></li>
      <li><a href="checkout-quick-checkout.html">Checkout - Quick</a></li>
      <li><a href="checkout-review-complete.html">Checkout - Review Complete</a></li>
    </ul>


    <p><strong>Other Site Content</strong></p>
    <ul>
      <li><a href="account-balance.html">Account Balance</a></li>
      <li><a href="invoice-addendums.html">Invoice Addendums</a></li>
      <li><a href="process-returns.html">Process Returns</a></li>
      <li><a href="support.html">Support</a></li>
      <li><a href="track-submitted-orders.html">Track Submitted Orders</a></li>
      <li><a href="view-invoices.html">View Invoices</a></li>
    </ul>
    <hr>

    <p><strong>Blank Pages</strong></p>
    <ul>
      <li><a href="blank-page-12-col.html">12 Column</a></li>
      <li><a href="blank-page-10-col-centered.html">10 Column - Centered</a></li>
      <li><a href="delete-modal.html">Blank Modal</a></li>
    </ul>
    <hr>

    <h3 class="my-5">Code snippets</h3>
    <ul>
      <li><a href="styleguide/code-snippets.html#facebook-login">Facebook login button</a></li>
    </ul>
{#     <hr>

    <h3 class="my-5">Diff Reports</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Sprint Delivery</th>
          <th>Date</th>
          <th>Changes since</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a href="_demo/diff-reports/sprint-04-hotfix-march-2__since__sprint-04/FolderComparisonReport.html">Sprint 4 - Hotfixes</a></td>
          <td>Mar 2</td>
          <td>Feb 26 (Sprint 4)</td>
        </tr>
        <tr>
          <td><a href="_demo/diff-reports/sprint-04/FolderComparisonReport.html">Sprint 4</a></td>
          <td>Feb 26</td>
          <td>Feb 9 (Sprint 4  - Early Delivery)</td>
        </tr>
        <tr>
          <td><a href="_demo/diff-reports/sprint-04-part-1/FolderComparisonReport.html">Sprint 4  - Early Delivery</a></td>
          <td>Feb 20</td>
          <td>Feb 9 (Sprint 3)</td>
        </tr>
      </tbody>
    </table>
 #}





  </main>
</div>

{% endblock %}
