{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}


    <section class="container container--page">

      <div class="row m-0 p-4 item-entry-content--form">

        <div class="visible-xs-block">
          <h3>Item Entry</h3>
        </div>

        <!-- FORM -->
        <form class="" role="form">

          <div class="form-group col-xs-12 col-sm-4">
            <div class="text-left">Product Name or Number</div>
            <input id="itemEntryProduct" type="text" class="form-control collapsed" placeholder="" autocomplete="off">
            <p class="selected-item my-4"></p>
          </div>

          <div class="form-group col-xs-3 col-sm-2">
            <div class="text-left">Qty</div>
            <div class="form-group has-feedback">
              <select id="itemEntryQty" class="form-control">
                <option disabled selected value></option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
              <span class="lt-icon lt-triangle-down form-control-feedback"></span>
            </div>
          </div>

          <div class="form-group col-xs-9 col-sm-4">
            <div class="text-left">Who is this for?</div>
            <div class="form-group has-feedback">
              <select id="itemEntryCustomer" class="form-control">
                <option disabled selected value>Select a Customer</option>
                <option>Jane Johnson</option>
                <option>John Doe</option>
                <option>Lisa Anyname</option>
              </select>
              <span class="lt-icon lt-triangle-down form-control-feedback"></span>
            </div>
          </div>

          <div class="form-group col-xs-3 col-sm-2">
            <div class="text-left">&#8203;</div>
            <button href="javascript:void(0)" id="itemEntryAdd" type="submit" class="btn btn-default" disabled="disabled">Add to List</button>
          </div>

        </form>

      </div>
      <!-- /.row -->

      <!-- Main List of Items to be Added -->
      <div class="row m-0 reverse-bg item-entry-content--list hidden">
        <ul class="list-group p-4 col-xs-12 col-sm-8">

          <!-- START - LOOPING ITEMS -->
          <!-- TODO :: updating indexes for now as it is conflicting with Your Order page and breaking dropdowns -->
          {% include "_includes/groups/your-order/single-cart-li.html.twig" with {indexNum: '100', personName: fpo.person.1, itemCount: '8', total: '90.00', classes: 'd-inline-block', collapsed: true} %}
          {% include "_includes/groups/your-order/single-cart-li.html.twig" with {indexNum: '101', personName: fpo.person.2, itemCount: '4', total: '90.00', classes: 'd-inline-block', collapsed: true} %}
          {% include "_includes/groups/your-order/single-cart-li.html.twig" with {indexNum: '102', personName: fpo.person.3, itemCount: '2', total: '12.00', classes: 'd-inline-block', collapsed: true} %}
          <!-- END - LOOPING ITEMS -->


        </ul>

        <div class="item-entry-total hidden-xs col-sm-4">

          {#

            NOTE :: Removing this for now in SPRINT 5 - The include conflicts
            with JS we need for Your Orders page. If we need to re-use the yourOrder
            template later, we're going to have to customize / remove the IDs 

           #}
          {# {% include components.modules.yourOrder.total with { btnText: 'Add All Items to Order' } %} #}

        </div>

      </div>

      <!-- Submit All Button -->
      <div class="item-entry-content--submit visible-xs-block">
        <div class="container">
          <div class="btn-group btn-group-justified">
            <div class="btn-group">
              <button id="itemEntryAddAll" type="submit" class="btn btn-default" disabled="disabled">Add all items to order</button>
            </div>
          </div>
        </div>
      </div>

    </section>

  {% endblock %}

{% endblock %}


