{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <div class="container container--page container--item-entry">

    {% embed "_layouts/columns-10-max.html.twig" %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        <h1>Item Entry</h1>

        <!-- START - FORM -->
        <form class="clearfix my-5 row">

          <div class="col-xs-12 col-sm-2 item-entry-col">
            <div class="form-group ">
              <label for="item-entry-line-number" class="control-label">Line Number</label>
              <input id="item-entry-line-number" type="text" onClick="this.select();" class="form-control" value="234-567">
              <div class="stock-status">
                <!-- DEV NOTE :: Only one of these stock status messages will appear at a time -->

                {% include '_includes/groups/your-order/message-status-in-stock.html.twig' %}
                {% include '_includes/groups/your-order/message-status-out-of-stock.html.twig' %}
                {% include '_includes/groups/your-order/message-status-sold-out.html.twig' %}

              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-3 item-entry-col">
            <div class="form-group has-feedback">
              <label for="item-entry-campaign" class="control-label">Campaign</label>
              <select id="item-entry-campaign" class="form-control">
                <option>CO4 - $18.99</option>
                <option>CO5 - $18.99</option>
                <option>CO6 - $18.99</option>
              </select>
              <span class="lt-icon lt-triangle-down form-control-feedback"></span>
            </div>
          </div>

          <div class="col-xs-12 col-sm-2 item-entry-col">
            <div class="form-group has-error has-error--absolute-2-line item-entry-quantity">
              <label for="item-entry-quantity" class="control-label">Quantity</label>
              <input id="item-entry-quantity" type="number" class="form-control" value="1">
              <p class="text-danger small label-abs">
                <strong>You have exceeded your demo limit.<br>Please modify the quantity.</strong>
              </p>
            </div>
          </div>

          <!-- DEV NOTE "" the funcationlaity for this dropdown is currently piggybacking on the same dropdown from the Product Details "Who is this for". The Javascript that controls it is in product-detail.js -->
          <div class="col-xs-12 col-sm-5">
            <div class="form-group has-feedback">
              <label for="order-history-trans-type" class="control-label">Who is this for?</label>
              <input type="text" class="form-control" id="pdpCustomerSelect">
              <span class="lt-icon lt-triangle-down form-control-feedback"></span>
            </div>
          </div>

          <div class="col-xs-12 btn-group btn-group-50-50">
            <div class="btn-group my-2">
              <button type="submit" class="btn btn-default">Add to future order</button>
            </div>
            <div class="btn-group my-2">
              <button type="submit" class="btn btn-primary">Add to order</button>
            </div>
          </div>

        </form>
        <!-- END - FORM -->

        <hr>

        <!-- START - MORE ON THE WAY SECTION -->
        <!-- DEV NOTE :: To hide this section, toggle class '.d-none' -->
        <div class="row text-center">
          <p><strong>More on the way</strong></p>
          <p class="px-4">{{ fpo.sentence }} {{ fpo.sentence }}</p>

          <div class="col-xs-12 btn-group btn-group-50-50">
            <div class="btn-group my-2">
              <button type="submit" class="btn btn-default">View similar products</button>
            </div>
            <div class="btn-group my-2">
              <button type="submit" class="btn btn-default disabled">Notify me when in stock</button>
            </div>
          </div>
        <!-- END - MORE ON THE WAY SECTION -->

        <hr>

        <!-- START - SOLD OUT SECTION -->
        <!-- DEV NOTE :: To hide this section, toggle class '.d-none' -->
        <div class="clearfix text-center">
          {% include '_includes/groups/your-order/message-title-this-product-is-sold-out.twig' %}
          <p class="px-4">{{ fpo.sentence }} {{ fpo.sentence }}</p>

          <div class="col-xs-12 btn-group btn-group-50-50">
            <div class="btn-group my-2">
              <button type="submit" class="btn btn-default">View similar products</button>
            </div>
          </div>
        </div>
        <!-- END - SOLD OUT SECTION -->

        <hr>

        <!-- START - CARTS -->
        <!-- DEV NOTE :: To hide this section, toggle class '.d-none' -->
        <div class="clearfix">
          <ul class="list-group pt-3 mb-4">
            <h6 class="mb-1">Added to Cart</h6>
            <p class="small text-muted">Go to your cart to view and manage all items. <a href="javascript:void(0)">Go to Your Order</a></p>

            <!-- START - REPRESENTATIVE DELIVERY CARTS -->
            {% include '_includes/groups/your-order/single-cart-li.html.twig' with {indexNum: '1', personName: fpo.person.1, itemCount: '8', total: '90.00', classes: 'd-inline-block', collapsed: true, includeCheckbox: false, quantityStatic: true} %}
            {% include '_includes/groups/your-order/single-cart-li.html.twig' with {indexNum: '2', personName: fpo.person.2, itemCount: '8', total: '90.00', classes: 'd-inline-block', collapsed: true, includeCheckbox: false, quantityStatic: true} %}
            {% include '_includes/groups/your-order/single-cart-li.html.twig' with {indexNum: '3', personName: fpo.person.3, itemCount: '8', total: '90.00', classes: 'd-inline-block', collapsed: true, includeCheckbox: false, quantityStatic: true} %}
            <!-- END - REPRESENTATIVE DELIVERY CARTS -->
          </ul>

          <ul class="list-group pt-3 mb-4">
            <h6 class="mb-1">Future Orders</h6>
            <p class="small text-muted">Available for checkout in the next campaign</p>

            <!-- START - REPRESENTATIVE DELIVERY CARTS -->
            {% include '_includes/groups/your-order/single-cart-li.html.twig' with {indexNum: '4', personName: fpo.person.1, itemCount: '8', total: '90.00', classes: 'd-inline-block', collapsed: true, includeCheckbox: false, quantityStatic: true} %}
            {% include '_includes/groups/your-order/single-cart-li.html.twig' with {indexNum: '5', personName: fpo.person.2, itemCount: '8', total: '90.00', classes: 'd-inline-block', collapsed: true, includeCheckbox: false, quantityStatic: true} %}
            {% include '_includes/groups/your-order/single-cart-li.html.twig' with {indexNum: '6', personName: fpo.person.3, itemCount: '8', total: '90.00', classes: 'd-inline-block', collapsed: true, includeCheckbox: false, quantityStatic: true} %}
            <!-- END - REPRESENTATIVE DELIVERY CARTS -->
          </ul>
        </div>
        <!-- END - CARTS -->

    {% endblock %}

  {% endembed %}

</div>

{% endblock %}
