{% extends "_layouts/base-simple-header.html.twig" %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <section class="container container--page">
    {% embed layouts.columns6max %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        {% include "/_includes/elements/misc/link-back.html.twig" with { label: 'Back' } %}

        <h1>[Reset Your Password / Your Account Is Locked / Set Your Email Address / Set New Password]</h1>

        <div class="my-5">
          <!-- START - INLINE LEVEL ALERT -->
          {% include "_includes/groups/alerts/alert-level-template.html.twig" with {
            alertIcon: 'lt-warning-fill',
            alertHeadline: 'Alert message',
            alertBody: '
            <ul class="alert-list">
              <li>Here is a <a href="#" class="alert-link">Link</a>.</li>
              <li>' ~ fpo.sentence ~ '</li>
            </ul>
            <p>' ~ fpo.sentence ~ ' ' ~ fpo.sentence ~ '</p>',
            alertBtnText: null,
            alertClasses: 'alert-danger',
            alertLevel: 'content',
            alertDismissable: false,
            alertId: null
          } %}
          <!-- END - INLINE LEVEL ALERT -->

          <p>{{ fpo.sentence }}{{ fpo.sentence }}</p>

          <!-- START - FORM -->

          {% include "_includes/modules/login/login-email-password-inputs.html.twig" %}

          <button type="button" class="btn btn-primary btn-block">[Continue / This is my email address]</button>

          <!-- END - FORM -->
        </div>

        <p class="text-center"><a href="#">Skip for now</a></p>

        <hr>

        {% include "_includes/modules/login/login-assistance.html.twig" %}

      {% endblock %}

    {% endembed %}

  </section>

{% endblock %}




