{% extends layouts.base %}

{% set sectionClass = 'page--msg-center' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <!-- START - MAGNOLIA BLOCK -->
  {% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with {
    position: 'top',
    html: '<div class="reverse-bg py-3">
    <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
    </div>'
  } %}
  <!-- END - MAGNOLIA BLOCK -->

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <section class="container container--page container--msg-center">

      <div class="row">

        <div class="col-md-12">

          {% include "_includes/groups/navigation/back-link.twig" with {label: "Home"} %}

          <h2>Message Center</h2>

          <p>One location for all of your Avon-specific messaging. Id ex fugiat ullamco laboris elit reprehenderit laborum duis laborum.</p>

          <!-- START - TAB NAVIGATION -->
          {% include "_includes/modules/message-center/tab-nav.html.twig" %}
          <!-- END - TAB NAVIGATION -->

          <!-- START - TAB CONTENT -->
          {% include '_includes/modules/message-center/tab-content.html.twig' %}
          <!-- END - TAB CONTENT -->

        </div>

      </div>

    </section>

  {% endblock %}

  <!-- START - MAGNOLIA BLOCK -->
  {% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with {
    position: 'bottom',
    html: '<div class="reverse-bg py-3">
    <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
    </div>'
  } %}
  <!-- END - MAGNOLIA BLOCK -->

{% endblock %}
