{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <div class="container container--page">

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        <h1 class="mb-5">My Credit Cards - Modals</h1>

        <p><a data-toggle="modal" data-target="#modal-remove-cc">Remove Credit Card</a></p>

        <!-- START - REMOVE CREDIT CARD MODAL -->
        {% include "_includes/modules/account/modals-cc/remove-cc-modal.html.twig" %}
        <!-- END - REMOVE CREDIT CARD MODAL -->

      {% endblock %}

  </div>

{% endblock %}
