{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <section class="container container--page">

      <div class="row">

          <div class="col-md-10 col-md-offset-1">

            <h2 class="pb-3">Online Order History</h2>
            <div class="table-responsive">
              <table class="table table-striped table-bordered-outside-only">
                <thead>
                  <tr>
                    <th>DATE</th>
                    <th>CAMPAIGN</th>
                    <th>ORDER TYPE</th>
                    <th>STATUS</th>
                    <th>CONFIRMATION NUMBER</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>01/19/1028</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Cancelled</td>
                    <td>450418595</td>
                  </tr>
                  <tr>
                    <td>01/19/1028</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Merged</td>
                    <td>450418595</td>
                  </tr>
                  <tr>
                    <td>01/19/1028</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Cancelled</td>
                    <td>450418595</td>
                  </tr>
                  <tr>
                    <td>01/19/1028</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Merged</td>
                    <td>450418595</td>
                  </tr>
                  <tr>
                    <td>01/19/1028</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Cancelled</td>
                    <td>450418595</td>
                  </tr>
                  <tr>
                    <td>01/19/1028</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Merged</td>
                    <td>450418595</td>
                  </tr>
                  <tr>
                    <td>01/19/1028</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Cancelled</td>
                    <td>450418595</td>
                  </tr>
                  <tr>
                    <td>01/19/1028</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Merged</td>
                    <td>450418595</td>
                  </tr>
                  <tr>
                    <td>01/19/1028</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Cancelled</td>
                    <td>450418595</td>
                  </tr>
                  <tr>
                    <td>01/19/1028</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Merged</td>
                    <td>450418595</td>
                  </tr>
                  <tr>
                    <td>01/19/1028</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Cancelled</td>
                    <td>450418595</td>
                  </tr>
                  <tr>
                    <td>01/19/1028</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Merged</td>
                    <td>450418595</td>
                  </tr>
                  <tr>
                    <td>01/19/1028</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Cancelled</td>
                    <td>450418595</td>
                  </tr>
                </tbody>
              </table>
              <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
              </ul>
            </div>
            <p class="small">
              Please Note: Item price listed on your order form and in your order history may only be available as part of a special promotion. For example, aproduct may reflect a lower price as part of a 'Buy One Get One' offer. If you order only one, the item will bill at regular price, not the price shown. If ordering two, one of them will bill at regular price and the second will bill at the special price. See your campaign selling materials to determine your eligibility for this price. In addition, demo prices may vary. Your invoice will reflect your actual prices. Prices for items that contain LABC or FUND in the description are available based on eligibility rules. Your invoices will reflect your actual price.
            </p>
          </div>

      </div>
    </section>

  {% endblock %}


{% endblock %}
