{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <section class="container container--page">

      <div class="row">

          <div class="col-md-10 col-md-offset-1">

            <!-- START - MAGNOLIA BLOCK -->
            {% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with { position: 'top' } %}
            <!-- END - MAGNOLIA BLOCK -->

            <h2 class="pb-3">Online Order History</h2>

            <div class="table-responsive mt-5">

              <!-- START - TABLE 1 -->
              <table class="table table-striped table-bordered-outside-only order-history-table">
                <thead>
                  <tr>
                    <th class="nowrap">Confirmation #</th>
                    <th>Date</th>
                    <th>Campaign</th>
                    <th>Order type</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="#">450418595-1234</a></td>
                    <td>01/19/1028</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Cancelled</td>
                  </tr>
                  <tr>
                    <td><a href="#">450418595-1234</a></td>
                    <td>01/19/1028</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Merged</td>
                  </tr>
                  <tr>
                    <td><a href="#">450418595-1234</a></td>
                    <td>01/19/1028</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Cancelled</td>
                  </tr>
                  <tr>
                    <td><a href="#">450418595-1234</a></td>
                    <td>01/19/1028</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Merged</td>
                  </tr>
                  <tr>
                    <td><a href="#">450418595-1234</a></td>
                    <td>01/19/1028</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Cancelled</td>
                  </tr>
                  <tr>
                    <td><a href="#">450418595-1234</a></td>
                    <td>01/19/1028</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Merged</td>
                  </tr>
                  <tr>
                    <td><a href="#">450418595-1234</a></td>
                    <td>01/19/1028</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Cancelled</td>
                  </tr>
                  <tr>
                    <td><a href="#">450418595-1234</a></td>
                    <td>01/19/1028</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Merged</td>
                  </tr>
                  <tr>
                    <td><a href="#">450418595-1234</a></td>
                    <td>01/19/1028</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Cancelled</td>
                  </tr>
                  <tr>
                    <td><a href="#">450418595-1234</a></td>
                    <td>01/19/1028</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Merged</td>
                  </tr>
                  <tr>
                    <td><a href="#">450418595-1234</a></td>
                    <td>01/19/1028</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Cancelled</td>
                  </tr>
                  <tr>
                    <td><a href="#">450418595-1234</a></td>
                    <td>01/19/1028</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Merged</td>
                  </tr>
                  <tr>
                    <td><a href="#">450418595-1234</a></td>
                    <td>01/19/1028</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Cancelled</td>                  </tr>
                </tbody>
              </table>
              <!-- END - TABLE 1 -->

              <!-- START - TABLE 2 -->
              <table class="table table-striped table-bordered-outside-only order-history-table hidden">
                <thead>
                  <tr>
                    <th class="nowrap">Confirmation #</th>
                    <th>Date</th>
                    <th>Campaign</th>
                    <th>Order type</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><a href="#">450418595-1234</a></td>
                    <td>01/19/2018</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Cancelled</td>

                  </tr>
                  <tr>
                    <td><a href="#">450418595-1234</a></td>
                    <td>01/19/2018</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Merged</td>

                  </tr>
                  <tr>
                    <td><a href="#">450418595-1234</a></td>
                    <td>01/19/2018</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Cancelled</td>

                  </tr>
                  <tr>
                    <td><a href="#">450418595-1234</a></td>
                    <td>01/19/2018</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Merged</td>

                  </tr>
                  <tr>
                    <td><a href="#">450418595-1234</a></td>
                    <td>01/19/2018</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Cancelled</td>

                  </tr>
                  <tr>
                    <td><a href="#">450418595-1234</a></td>
                    <td>01/19/2018</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Merged</td>

                  </tr>
                  <tr>
                    <td><a href="#">450418595-1234</a></td>
                    <td>01/19/2018</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Cancelled</td>

                  </tr>
                  <tr>
                    <td><a href="#">450418595-1234</a></td>
                    <td>01/19/2018</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Merged</td>

                  </tr>
                  <tr>
                    <td><a href="#">450418595-1234</a></td>
                    <td>01/19/2018</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Cancelled</td>

                  </tr>
                  <tr>
                    <td><a href="#">450418595-1234</a></td>
                    <td>01/19/2018</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Merged</td>

                  </tr>
                  <tr>
                    <td><a href="#">450418595-1234</a></td>
                    <td>01/19/2018</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Cancelled</td>

                  </tr>
                  <tr>
                    <td><a href="#">450418595-1234</a></td>
                    <td>01/19/2018</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Merged</td>

                  </tr>
                  <tr>
                    <td><a href="#">450418595-1234</a></td>
                    <td>01/19/2018</td>
                    <td>4</td>
                    <td>Regular</td>
                    <td>Cancelled</td>
                  </tr>
                </tbody>
              </table>
              <!-- END - TABLE 2 -->

              <!-- START - PAGINATION -->
              <ul class="pagination" data-pagination-target="order-history-table">
                <li class="disabled page-prev"><a href="javascript:void(0)"><span class="lt-icon lt-carat-left lt-medium"></a></li>
                <li class="active"><a href="javascript:void(0)">1</a></li>
                <li><a href="javascript:void(0)">2</a></li>
                <li><a href="javascript:void(0)">3</a></li>
                <li><a href="javascript:void(0)">4</a></li>
                <li><a href="javascript:void(0)">5</a></li>
                <li class="page-next"><a href="javascript:void(0)"><span class="lt-icon lt-carat-right lt-medium"></a></li>
              </ul>
              <!-- END - PAGINATION -->

            </div>

            <p class="small">
              Please Note: Item price listed on your order form and in your order history may only be available as part of a special promotion. For example, aproduct may reflect a lower price as part of a 'Buy One Get One' offer. If you order only one, the item will bill at regular price, not the price shown. If ordering two, one of them will bill at regular price and the second will bill at the special price. See your campaign selling materials to determine your eligibility for this price. In addition, demo prices may vary. Your invoice will reflect your actual prices. Prices for items that contain LABC or FUND in the description are available based on eligibility rules. Your invoices will reflect your actual price.
            </p>

            <!-- START - MAGNOLIA BLOCK -->
            {% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with { position: 'bottom', extraSpacing: 4 } %}
            <!-- END - MAGNOLIA BLOCK -->

          </div>

      </div>
    </section>

  {% endblock %}


{% endblock %}
