{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <section class="container container--page">

      <div class="row">

        <div class="col-md-12">

          {% include "_includes/groups/navigation/back-link.twig" with {label: "Back to online Order History"} %}

          <h2>Order Details</h2>

          <div class="row">
            <div class="col-md-3">
              <dl class="clearfix my-2 text-muted text-uppercase">
                <dt class="pull-left">Confirmation</dt>
                <dd class="pull-right text-right">Campaign</dd>
              </dl>
              <dl class="clearfix my-2 text-muted">
                <dt class="pull-left">456618581</dt>
                <dd class="pull-right text-right">23</dd>
              </dl>
            </div>
          </div>

          <!-- START - SORT DROPDOWN -->
          <div class="product-list-header--filters">
            {% include "_includes/modules/product/list/menu-items/sort-dropdown.html.twig" with {
              variation: 'customer'
            } %}
          </div>
          <!-- END - SORT DROPDOWN -->

          <!--START - ORDER DETAILS-->
          <div class="panel-group pt-3 border-bottom" id="order-details">

            <!-- Item -->
            <div class="panel panel-light border-top">
              <div class="panel-heading border-bottom-0">
                <h4 class="panel-title">
                  <a class="d-block" data-toggle="collapse" data-parent="#order-details" href="#collapseOne">

                    <div class="row">
                      <div class="col-md-6 p-0 mb-2 mb-md-0">
                        <span class="lt-icon lt-icon lt-expand-circle lt-large"></span>
                        <span class="lt-icon lt-icon lt-collapse-circle lt-large"></span>
                        <span>Amanda Langston</span>
                      </div>
                      <div class="col-xs-6 col-md-3 text-muted p-2">
                        2 Orders
                      </div>
                      <div class="col-xs-6 col-md-3 text-right text-muted p-2">
                        23 total items
                      </div>
                    </div>
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body p-0">
                  <div class="my-3 table-responsive">
                    <table class="table table-striped table-bordered-outside-only m-0">
                      <thead>
                        <tr>
                          <th>Order ID</th>
                          <th>Date</th>
                          <th>Campaign</th>
                          <th>Quantity</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><a href="#" class="underline">0844557744</a></td>
                          <td>01/19/2018</td>
                          <td>23</td>
                          <td>25</td>
                        </tr>
                        <tr>
                          <td><a href="#" class="underline">0844557744</a></td>
                          <td>01/19/2018</td>
                          <td>23</td>
                          <td>25</td>
                        </tr>
                        <tr>
                          <td><a href="#" class="underline">0844557744</a></td>
                          <td>01/19/2018</td>
                          <td>23</td>
                          <td>25</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- Item -->
            <div class="panel panel-light border-top">
              <div class="panel-heading border-bottom-0">
                <h4 class="panel-title">
                  <a class="d-block collapsed" data-toggle="collapse" data-parent="#order-details" href="#collapseTwo">
                    <div class="row">
                      <div class="col-md-6 p-0 mb-2 mb-md-0">
                        <span class="lt-icon lt-icon lt-expand-circle lt-large"></span>
                        <span class="lt-icon lt-icon lt-collapse-circle lt-large"></span>
                        <span>Jane Johnson</span>
                      </div>
                      <div class="col-xs-6 col-md-3 text-muted p-2">
                        3 Orders
                      </div>
                      <div class="col-xs-6 col-md-3 text-right text-muted p-2">
                        150 total items
                      </div>
                    </div>
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse">
                <div class="panel-body p-0">
                  <div class="my-3 table-responsive">
                    <table class="table table-striped table-bordered-outside-only m-0">
                      <thead>
                        <tr>
                          <th>Order ID</th>
                          <th>Date</th>
                          <th>Campaign</th>
                          <th>Quantity</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><a href="#" class="underline">0844557744</a></td>
                          <td>01/19/2018</td>
                          <td>23</td>
                          <td>25</td>
                        </tr>
                        <tr>
                          <td><a href="#" class="underline">0844557744</a></td>
                          <td>01/19/2018</td>
                          <td>23</td>
                          <td>25</td>
                        </tr>
                        <tr>
                          <td><a href="#" class="underline">0844557744</a></td>
                          <td>01/19/2018</td>
                          <td>23</td>
                          <td>25</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- Item -->
            <div class="panel panel-light border-top">
              <div class="panel-heading border-bottom-0">
                <h4 class="panel-title">
                  <a class="d-block collapsed" data-toggle="collapse" data-parent="#order-details" href="#collapseThree">
                    <div class="row">
                      <div class="col-md-6 p-0 mb-2 mb-md-0">
                        <span class="lt-icon lt-icon lt-expand-circle lt-large"></span>
                        <span class="lt-icon lt-icon lt-collapse-circle lt-large"></span>
                        <span>Jassica Waverly</span>
                      </div>
                      <div class="col-xs-6 col-md-3 text-muted p-2">
                        2 Orders
                      </div>
                      <div class="col-xs-6 col-md-3 text-right text-muted p-2">
                        5 total items
                      </div>
                    </div>
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse">
                <div class="panel-body p-0">
                  <div class="my-3 table-responsive">
                    <table class="table table-striped table-bordered-outside-only m-0">
                      <thead>
                        <tr>
                          <th>Order ID</th>
                          <th>Date</th>
                          <th>Campaign</th>
                          <th>Quantity</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><a href="#" class="underline">0844557744</a></td>
                          <td>01/19/2018</td>
                          <td>23</td>
                          <td>25</td>
                        </tr>
                        <tr>
                          <td><a href="#" class="underline">0844557744</a></td>
                          <td>01/19/2018</td>
                          <td>23</td>
                          <td>25</td>
                        </tr>
                        <tr>
                          <td><a href="#" class="underline">0844557744</a></td>
                          <td>01/19/2018</td>
                          <td>23</td>
                          <td>25</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- Item -->
            <div class="panel panel-light border-top">
              <div class="panel-heading border-bottom-0">
                <h4 class="panel-title">
                  <a class="d-block collapsed" data-toggle="collapse" data-parent="#order-details" href="#collapsefour">
                    <div class="row">
                      <div class="col-md-6 p-0 mb-2 mb-md-0">
                        <span class="lt-icon lt-icon lt-expand-circle lt-large"></span>
                        <span class="lt-icon lt-icon lt-collapse-circle lt-large"></span>
                        <span>Phoebe Pope</span>
                      </div>
                      <div class="col-xs-6 col-md-3 text-muted p-2">
                        1 Orders
                      </div>
                      <div class="col-xs-6 col-md-3 text-right text-muted p-2">
                        3 total items
                      </div>
                    </div>
                  </a>
                </h4>
              </div>
              <div id="collapsefour" class="panel-collapse collapse">
                <div class="panel-body p-0">
                  <div class="my-3 table-responsive">
                    <table class="table table-striped table-bordered-outside-only m-0">
                      <thead>
                        <tr>
                          <th>Order ID</th>
                          <th>Date</th>
                          <th>Campaign</th>
                          <th>Quantity</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><a href="#" class="underline">0844557744</a></td>
                          <td>01/19/2018</td>
                          <td>23</td>
                          <td>25</td>
                        </tr>
                        <tr>
                          <td><a href="#" class="underline">0844557744</a></td>
                          <td>01/19/2018</td>
                          <td>23</td>
                          <td>25</td>
                        </tr>
                        <tr>
                          <td><a href="#" class="underline">0844557744</a></td>
                          <td>01/19/2018</td>
                          <td>23</td>
                          <td>25</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <!-- Item -->
            <div class="panel panel-light border-top">
              <div class="panel-heading border-bottom-0">
                <h4 class="panel-title">
                  <a class="d-block collapsed" data-toggle="collapse" data-parent="#order-details" href="#collapseFive">
                    <div class="row">
                      <div class="col-md-6 p-0 mb-2 mb-md-0">
                        <span class="lt-icon lt-icon lt-expand-circle lt-large"></span>
                        <span class="lt-icon lt-icon lt-collapse-circle lt-large"></span>
                        <span>Rosa Kim</span>
                      </div>
                      <div class="col-xs-6 col-md-3 text-muted p-2">
                        2 Orders
                      </div>
                      <div class="col-xs-6 col-md-3 text-right text-muted p-2">
                        150 total items
                      </div>
                    </div>
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse">
                <div class="panel-body p-0">
                  <div class="my-3 table-responsive">
                    <table class="table table-striped table-bordered-outside-only m-0">
                      <thead>
                        <tr>
                          <th>Order ID</th>
                          <th>Date</th>
                          <th>Campaign</th>
                          <th>Quantity</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><a href="#" class="underline">0844557744</a></td>
                          <td>01/19/2018</td>
                          <td>23</td>
                          <td>25</td>
                        </tr>
                        <tr>
                          <td><a href="#" class="underline">0844557744</a></td>
                          <td>01/19/2018</td>
                          <td>23</td>
                          <td>25</td>
                        </tr>
                        <tr>
                          <td><a href="#" class="underline">0844557744</a></td>
                          <td>01/19/2018</td>
                          <td>23</td>
                          <td>25</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!--END - ORDER DETAILS-->

          <a href="#" class="py-2 expand-all" data-toggle-all="accordion">Expand all</a>

          <p class="text-muted mt-4">{{fpo.paragraph}}</p>

        </div>

      </div>

    </section>

  {% endblock %}


{% endblock %}
