{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <div class="container container--page">

    {% embed "_layouts/columns-8-max.html.twig" %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}


        <h1 class="mb-5">Pay Avon - Modals</h1>
        <p><a data-toggle="modal" data-target="#checkout-quickpay-enrollment-modal">Enroll Now</a></p>

        <p><a data-toggle="modal" data-target="#checkout-quickpay-enrollment-review-modal">Enrollment Review</a></p>

        <p><a data-toggle="modal" data-target="#checkout-quickpay-enrollment-success-modal">Enrollment Success</a></p>

        <p><a data-toggle="modal" data-target="#checkout-quickpay-enrollment-learn-more-modal">Enrollment Learn More</a></p>

        <!-- START - MODAL - QUICKPAY ENROLLMENT -->
        {% include "_includes/modules/checkout/checkout-quickpay-enrollment-modal.html.twig" %}
        <!-- END - MODAL - QUICKPAY ENROLLMENT -->

        <!-- START - MODAL - QUICKPAY ENROLLMENT REVIEW -->
        {% include "_includes/modules/checkout/checkout-quickpay-enrollment-review-modal.html.twig" %}
        <!-- END - MODAL - QUICKPAY ENROLLMENT REVIEW -->

        <!-- START - MODAL - QUICKPAY ENROLLMENT SUCCESS -->
        {% include "_includes/modules/checkout/checkout-quickpay-enrollment-success-modal.html.twig" %}
        <!-- END - MODAL - QUICKPAY ENROLLMENT SUCCESS -->

        <!-- START - MODAL - QUICKPAY ENROLLMENT LEARN MORE -->
        {% include "_includes/modules/checkout/checkout-quickpay-enrollment-learn-more-modal.html.twig" %}
        <!-- END - MODAL - QUICKPAY ENROLLMENT LEARN MORE -->

        

      {% endblock %}

    {% endembed %}

  </div>

{% endblock %}


<!-- START - MODAL - QUICKPAY ENROLLMENT -->
