{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <section class="container process-return-page">

      <div class="row">
      	<div class="col-xs-12">
      		<h2 class="mb-5 mt-5">Process Returns</h2>
      		<div class="process_rtrn_iframe_holder">
      			<iframe width="100%" height="400" src="https://www.youravon.com/us-home/my-account/process-returns.html" frameborder="0"></iframe>
      		</div>
      	</div>
      </div>

    </section>

  {% endblock %}


{% endblock %}
