{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <section class="container process-return-page pt-5">

      <div class="row">
        <div class="col-xs-12">
          <h2 class="mb-5 mt-5">Process Returns</h2>
          <!-- Developer note: For the "src", for demo purposes, we added "https://www.youravon.com" to the "src" in production: "/us-home/my-account/process-returns-iframe.html" -->
          <iframe class="embed-responsive-item" id="avnIframeUrl" src="https://www.youravon.com/us-home/my-account/process-returns-iframe.html" width="800px" height="800px" scrolling="yes" frameborder="0"></iframe>
        </div>
      </div>

    </section>

  {% endblock %}

{% endblock %}
