{# product-detail.html.twig #}
{% extends "_layouts/base.html.twig" %}

{% block content %}

<div class="container">
  {% include module.organism.global.header  %}
  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <h1>Product Detail</h1>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-8">
      
      Product Image
      Headline
      Rating
      Price
      In Stock
      Add to order button
      
    </div>
    <div class="col-md-4">


      Open/close button
      Show:
      $Price
      # of items


      Hidden:

      <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container pt-4">

          <p><button type="button" class="btn btn-primary btn-xs">^ YOUR ORDER</button></p>
          <p>$180<br>18 items</p>
      
        </div>
      </div>

    </div>
  </div>
</div>


{% endblock %}