 {% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <!-- START - BREADCRUMBS -->
  {% include components.groups.navigation.breadcrumbs with {
    'items': [{
        'slug': '#',
        'label': 'Products'
      }, {
        'slug': '#',
        'label': 'Skincare'
      }
      , {
        'slug': '#',
        'label': 'Mousturizers'
      }
    ]
  }%}
  <!-- END - BREADCRUMBS -->

  <section class="container container--page">
    {% embed layouts.columns3x9 %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - ASIDE #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block aside %}

        {% include "_includes/modules/product/filters/product-categories.html.twig" %}
        {% include "_includes/modules/product/filters/product-features.html.twig" %}
        {% include "_includes/modules/product/filters/product-filters.html.twig" %}

      {% endblock %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        {% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with { position: 'within' } %}

        {% include "_includes/modules/product/landing/landing-body.html.twig" %}

      {% endblock %}

    {% endembed %}

  </section>

  <!-- BACK TO TOP BUTTON -->
  {% include '_includes/modules/global/back-to-top-btn.html.twig' %}

  <!-- MODAL - QUICK SHOP -->
  {% include "_includes/modules/product/detail/quick-shop.html.twig" %}

  <!-- MODAL - OFFERS -->
  {% include "_includes/modules/product/detail/offers-modal.html.twig" %}

  <!-- START - ADD NEW CUSTOMER MODAL -->
  {% include "_includes/modules/modals/add-new-customer-modal.html.twig" %}

  <!-- MODAL - PRODUCT IMAGE LG -->
  {% include "_includes/modules/product/detail/product-image-modal.html.twig" with { isInQuickShopModal: true } %}

  <!-- MODAL - PRODUCT VIDEO LG -->
  {% include "_includes/modules/product/detail/product-video-modal.html.twig" with { isInQuickShopModal: true } %}


{% endblock %}
