{# product-detail.html.twig #}
{% extends "_layouts/with-side-column.html.twig" %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - MAIN #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block main %}

  <!-- BREADCRUMBS -->
  {% include components.groups.navigation.breadcrumbs with {
    'classes':'hidden-xs',
    'items': [{'slug': '#', 'label': 'Home'}, {'slug':  '#', 'label': 'Link'}, {'slug':  '#', 'label': 'Link'}, { 'slug':  '#', 'label': 'Link'}]}
  %}

  <!-- PRIMARY PRODUCT INFO -->
  <section>
    {% include components.modules.product.detail.header %}
  </section>

  <!-- SECONDARY PRODUCT INFO -->
  <section class="row">
    <div class="col-md-4">
      {% include components.modules.product.detail.images %}
    </div>
    <div class="col-md-6">
      {% include components.modules.product.detail.details %}
    </div>
  </section><!-- /.row -->

  <!-- TERTIARY PRODUCT-->
  <section>
    {% include components.modules.product.detail.features %}
  </section>
{% endblock %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - ASIDE #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block aside %}

  <!-- ORDER SUMMARY -->
  {% include components.groups.checkout.orderSummary with {'page': 'product-detail'} %}

{% endblock %}