{# product-detail.html.twig #}
{% extends "_layouts/one-column.html.twig" %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - MAIN #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block main %}

  <h1>Add product to order</h1>

  <p><button type="button" class="btn btn-primary btn-lg">Add to order</button></p>

  {# 

  <!-- PRIMARY PRODUCT INFO -->
  <section>
    {% include components.modules.product.detail.header %}
  </section>

  <!-- SECONDARY PRODUCT INFO -->
  <section class="row">
    <div class="col-md-4">
      {% include components.modules.product.detail.images %}
    </div>
    <div class="col-md-6">
      {% include components.modules.product.detail.details %}
    </div>
  </section><!-- /.row -->

  <!-- TERTIARY PRODUCT-->
  <section>
    {% include components.modules.product.detail.features %}
  </section>

   <!-- ORDER SUMMARY -->
  {% include components.groups.checkout.orderSummary with {'page': 'product-detail'} %}

  #}


{% endblock %}

