{# product-detail.html.twig #}
{% extends "_layouts/base.html.twig" %}

{% block content %}

<div id="avon-poc" class="container">
  

  <article class="row">
    <main class="col-md-9">

      <ol class="breadcrumb hidden-xs">
        <li><a href="#">&lt;Home&gt;</a></li>
        <li><a href="#">&lt;Products&gt;</a></li>
        <li><a href="#">&lt;Prodct Category&gt;</a></li>
        <li class="active">&lt;Product Name&gt;</li>
      </ol>

      <div>
        <h1>&lt;Product Name&gt;</h1>
        <p>
          <span>&lt;000-000&gt;</span>
          <span class="ml-4">
            <a href="#"><span class="glyphicon glyphicon-star"></span></a>
            <a href="#"><span class="glyphicon glyphicon-star"></span></a>
            <a href="#"><span class="glyphicon glyphicon-star"></span></a>
            <a href="#"><span class="glyphicon glyphicon-star"></span></a>
            <a href="#"><span class="glyphicon glyphicon-star-empty"></span></a>
          </span>
        </p>
      </div>

        <div class="row">
          <div class="col-md-4">
            <img alt="140x140" src="images/utility/placeholder.png" class="img-responsive">
          </div>
          <div class="col-md-6">
            <p class="visible-md visible-lg">{{ lorem.paragraph }}</p>
            <p><b>$&lt;13.99&gt;</b></p>
            <p>Regular price: $&lt;19.99&gt;</p>
            <p>
              <button type="button" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-ok"></span> In stock
              </button>
            </p>
            <div class="visible-md visible-lg clearfix">

              <div class="grid-flush clearfix">
                <form role="form">
                  <div class="form-group col-sm-2">
                    <label for="exampleInput1">Qty</label>
                    <input type="email" class="form-control" id="exampleInput1" placeholder="">
                  </div>
                  <div class="form-group col-sm-6">
                    <label for="exampleSelect1">Who is this for?</label>
                    <select class="form-control" id="exampleSelect1">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="exampleSelect2">Auto Ship</label>
                    <select class="form-control" id="exampleSelect2">
                      <option>1</option>
                      <option>2</option> 
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                  </div>
                 
                </form>
              </div>
              <hr>
              <p><a href="#" class="pull-right">Add new customer</a></p>
            </div>
            <p><button type="button" class="btn btn-primary btn-lg">Add to order</button></p>
          </div>
      </div>


      
      <div>
        <h2>Features</h2>
        <p>{{ lorem.paragraph }}</p>
        <p>{{ lorem.paragraph }}</p>
        <p>{{ lorem.paragraph }}</p>
      </div>
      
    </main>
    <aside class="col-md-3">

      <div class="drawer drawer-fixed-bottom drawer-order-summary">

        <!-- NAV BAR -->
        <div class="navbar navbar-default hidden-md hidden-lg">
          <div class="container pt-4">
            <div class="pull-left">
              <button type="button" class="btn btn-default btn-xs trigger-drawer-order-summary">
                <span class="glyphicon glyphicon-chevron-up"></span> Your order
              </button>
            </div>
            <div class="pull-right">
              <b>$180</b> <small>18 items</small>
            </div>
          </div>
        </div>

        <!-- CONTENT -->
        <div class="order-summary">
          <h3>Order Summary</h3>
          <ul class="list-group">
            <li class="list-group-item">
              <dl>
                <dt>&lt;Person&gt;</dt>
                <dd>$&lt;0.00&gt;</dd>
                <dt>&lt;Person&gt;</dt>
                <dd>$&lt;0.00&gt;</dd>
              </dl>
            </li>
            <li class="list-group-item">
              <dl>
              <dt>Order subtotal</dt>
              <dd>$&lt;0.00&gt;</dd>
              <dt>Discount</dt>
              <dd>$&lt;0.00&gt;</dd>
            </dl>
            </li>
            <li class="list-group-item"><a href="#">Order $&lt;00&gt; more for &lt;0&gt;% discount!</a></li>
            <li class="list-group-item"><a href=""><span class="glyphicon glyphicon-plus-sign"></span> Add extras</a></li>
          </ul>
          <p><button type="button" class="btn btn-primary btn-lg">Checkout</button></p>



        </div>

      </div>
      
      


      

    </aside>
  </article>
</div>


{% endblock %}