{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <section class="container ">

      <h1>Product Category - FPO</h1>

      <div class="row thumbnail-grid">


        {% include '_includes/modules/product/category/thumbnail.html.twig' with { label: 'MAKEUP'} %}
        {% include '_includes/modules/product/category/thumbnail.html.twig' with { label: 'SKINCARE'} %}
        {% include '_includes/modules/product/category/thumbnail.html.twig' with { label: 'BATH &amp; BODY'} %}
        {% include '_includes/modules/product/category/thumbnail.html.twig' with { label: 'FRAGRANCE'} %}
        {% include '_includes/modules/product/category/thumbnail.html.twig' with { label: 'JEWELRY'} %}
        {% include '_includes/modules/product/category/thumbnail.html.twig' with { label: 'FASHION'} %}
        {% include '_includes/modules/product/category/thumbnail.html.twig' with { label: 'mark. BY AVON'} %}
        {% include '_includes/modules/product/category/thumbnail.html.twig' with { label: 'AVON LIVING'} %}
        {% include '_includes/modules/product/category/thumbnail.html.twig' with { label: 'MEN'} %}
        {% include '_includes/modules/product/category/thumbnail.html.twig' with { label: 'HEALTH &amp; WELLNESS'} %}
        {% include '_includes/modules/product/category/thumbnail.html.twig' with { label: 'SALE'} %}
        {% include '_includes/modules/product/category/thumbnail.html.twig' with { label: 'OUTLET'} %}
       

      </div>
     
    </section>

  {% endblock %}


{% endblock %}
