{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <!-- START - BREADCRUMBS -->
  <section class="container">
    <div class="row">
      {% include components.groups.navigation.breadcrumbs %}
    </div>
    <!-- /.row -->
  </section>
  <!-- END - BREADCRUMBS -->

  <section class="container container--product-list-page">
    {% embed layouts.columns3x9 %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - ASIDE #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block aside %}

        {% include components.modules.product.filters.productCategories %}
        {% include components.modules.product.filters.productFeatures %}
        {% include components.modules.product.filters.productFilters %}

      {% endblock %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        {% include components.modules.product.landing.body %}

      {% endblock %}

    {% endembed %}

  </section>

  <!-- MODAL - ADD TO ORDER -->
  {% include components.modules.product.detail.addToOrder %}

{% endblock %}
