{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <!-- START - BREADCRUMBS -->
  <section class="container">
    <div class="row">
      {% include components.groups.navigation.breadcrumbs with {
        'items': [{
            'slug': '#',
            'label': 'Products'
          }, {
            'slug': '#',
            'label': 'Skincare'
          }
          , {
            'slug': '#',
            'label': 'Mousturizers'
          }
        ]
      }%}
    </div>
    <!-- /.row -->
  </section>
  <!-- END - BREADCRUMBS -->

  <section class="container container--product-list-page">
    {% embed layouts.columns3x9 %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - ASIDE #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block aside %}

        {% include "_includes/modules/product/filters/product-categories.html.twig" %}
        {% include "_includes/modules/product/filters/product-features.html.twig" %}
        {% include "_includes/modules/product/filters/product-filters.html.twig" %}

      {% endblock %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        {% include "_includes/modules/product/landing/landing-body.html.twig" %}

      {% endblock %}

    {% endembed %}

  </section>

  <!-- MODAL - ADD TO ORDER -->
  {% include components.modules.product.detail.addToOrder %}

{% endblock %}
