{% extends layouts.base %}

{% set sectionClass = 'page--profile' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    {% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with {
      position: 'top',
      html: '<div class="reverse-bg py-3">
      <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
      </div>'
    } %}

    <section class="container container--page">

      {% embed '_layouts/columns-3x9-secondary-nav.html.twig' %}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - ASIDE #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block aside %}

          {% include '_includes/groups/navigation/my-account-nav.html.twig' with { active : 'profile' } %}

        {% endblock %}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - MAIN #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block main %}

          <h2>My Profile</h2>

          <hr>

          <!-- START - PROFILE HEADER -->
          {% include '_includes/modules/profile/header.html.twig' %}
          <!-- END - PROFILE HEADER -->

          <hr>

          <!-- START - PAYMENT & DELIVERY -->
          {% include '_includes/modules/profile/payment-and-delivery.html.twig' %}
          <!-- END - PAYMENT & DELIVERY -->

          <hr>

          <!-- START - CONTACT INFORMATION -->
          {% include '_includes/modules/profile/contact-information.html.twig' %}
          <!-- END - CONTACT INFORMATION -->

          <hr>

          <!-- START - ADDRESS -->
          {% include '_includes/modules/profile/address.html.twig' %}
          <!-- END - ADDRESS -->

          <hr>

          <!-- START - LANGUAGE -->
          {% include '_includes/modules/profile/language.html.twig' %}
          <!-- END - LANGUAGE -->

          <hr>

          <!-- START - SETTINGS -->
          {% include '_includes/modules/profile/settings.html.twig' %}
          <!-- END - SETTINGS -->

          <hr>

          <!-- START - PROGRAMS -->
          {# <section class="">

            <form role="form">

              <h5 class="my-5">Programs</h5>

              <div class="row my-5">
                <div class="form-group">
                  <div class="col-sm-4">
                    <h6 class="mt-md-2 mb-0 d-inline-xs mr-2">Facebook Account</h6>
                    <a href="#" class="small underline" data-toggle="modal" data-target="#learnmore">Learn More</a>
                  </div>
                  <div class="col-sm-8 mt-4 mt-md-0">
                    <a href="#" class="btn btn-default btn-soft btn-sm" target="_blank">Connect</a>
                    <!-- Developer note: This and the previous link will not appear at the same time. Use the class "d-none" to hide/show -->
                    <span class="nowrap">
                      Connected
                      <span class="ml-2">
                        <a href="#" class="btn btn-discourage btn-soft btn-sm" target="_blank">Change</a>
                      </span>
                      <span class="ml-2">
                        <a href="#" class="btn btn-discourage btn-soft btn-sm" target="_blank">Disconnect</a>
                      </span>
                    </span>
                  </div>
                </div>
              </div>

              <div class="row my-5">
                <div class="form-group">
                  <div class="col-sm-4">
                    <h6 class="mt-md-2 mb-0 d-inline-xs mr-2">Email Preferences</h6>
                    <a href="#" class="small underline" data-toggle="modal" data-target="#learnmore">Learn More</a>
                  </div>
                  <div class="col-sm-8 mt-4 mt-md-0">
                    <a href="#" class="btn btn-default btn-soft btn-sm" target="_blank">Open</a>
                  </div>
                </div>
              </div>

              <div class="row my-5">
                <div class="form-group">
                  <div class="col-sm-4">
                    <h6 class="mt-md-2 mb-0 d-inline-xs mr-2">SMS Preferences</h6>
                    <a href="#" class="small underline" data-toggle="modal" data-target="#learnmore">Learn More</a>
                  </div>
                  <div class="col-sm-8 mt-4 mt-md-0">
                    <a href="#" class="btn btn-default btn-soft btn-sm" target="_blank">Open</a>
                  </div>
                </div>
              </div>

              <div class="row my-5">
                <div class="form-group">
                  <div class="col-sm-4">
                    <h6 class="mt-md-2 mb-0 d-inline-xs mr-2">Let New Customers Find Me</h6>
                    <a href="#" class="small underline" data-toggle="modal" data-target="#learnmore">Learn More</a>
                  </div>
                  <div class="col-sm-8 mt-4 mt-md-0">
                    <a href="javascript:void(0)" class="btn btn-default btn-soft btn-sm" data-toggle="modal" data-target="#enrollnow">Enroll Now</a>
                    <!-- Developer note: This and the previous link will not appear at the same time. Use the class "d-none" to hide/show -->
                    <span class="nowrap">
                      Enrolled
                      <span class="ml-2">
                        <a href="#" class="btn btn-discourage btn-soft btn-sm" target="_blank">Change</a>
                      </span>
                    </span>
                  </div>
                </div>
              </div>

            </form>

          </section> #}
          <!-- END - PROGRAMS -->

          {# MODAL - Learn More common modal #}
          {% include "_includes/modules/profile/learn-more.html.twig" %}

          {# MODAL - Enroll Now iframe #}
          {% include "_includes/modules/profile/enroll-now.html.twig" %}

        {% endblock %}

      {% endembed %}

    </section>

    {% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with {
      position: 'bottom',
      html: '<div class="reverse-bg py-3">
      <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
      </div>'
    } %}

  {% endblock %}

{% endblock %}
