{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <section class="container container--page">
      {% embed '_layouts/columns-3x9-secondary-nav.html.twig' %}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - ASIDE #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block aside %}

          {% include '_includes/groups/navigation/my-account-nav.html.twig' with { active : 'profile' } %}

        {% endblock %}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - MAIN #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block main %}

          <h2>My Profile</h2>

          <hr>

          <!-- START - NAME AND ADDRESS-->
          <section class="">

            <h5 class="my-5">Name &amp; Address</h5>

            <div class="row my-5">
              <h6 class="col-sm-4 my-md-2">Name</h6>
              <div class="col-sm-8">Janet Johnson</div>
            </div>

            <div class="row my-5">
              <h6 class="col-sm-4 my-md-2">Home/Billing Address</h6>
              <div class="col-sm-8">9072 Rialto St
                <br>Naples, FL 34113</div>
            </div>

            <div class="row my-5">
              <h6 class="col-sm-4 my-md-2">Shipping Address</h6>
              <div class="col-sm-8">9072 Rialto St
                <br>Napls, FL 34113</div>
            </div>

            <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#requestchange">Request Change</button>

            {# MODAL - Request Change #}
            {% include "_includes/modules/profile/request-change.html.twig" %}

          </section>
          <!-- END - NAME AND ADDRESS-->

          {# <hr>

          <!-- START - PROFILE PICTURE -->
          <section class="">
            <h5 class="my-5">Profile Picture</h5>
            <div class="row my-5">
              <div class="col-sm-3">
                <img src="images/fpo/pretty_lady.png" class="w-100">
              </div>
              <div class="col-sm-9">
                <p class="">Fugiat ut excepteur esse occaecat occaecat do id laboris consectetur est ex et enim ea dolore velit adipisicing.</p>
                <p class="text-muted small">(PNG, JPEG, or GIF formats only, 10MB max file size)</p>
                <button class="btn btn-soft btn-default btn-sm mt-4">Choose Image</button>
              </div>
            </div>
          </section>
          <!-- END - PROFILE PICTURE --> #}

          <hr>

          <!-- START - CONTACT INFORMATION STATIC -->
          <section class="">

            <form role="form">

              <h5 class="my-5">Contact Information</h5>

              <div class="row my-5">
                <div class="form-group">
                  <h6 class="col-sm-4 my-md-2">Nickname</h6>
                  <div class="col-sm-8">
                    <span>Janet Johnson</span>
                  </div>
                </div>
              </div>

              <div class="row my-5">
                <div class="form-group">
                  <h6 class="col-sm-4 my-md-2">Email Address</h6>
                  <div class="col-sm-8">
                    <span>janet.johnson@aol.com</span>
                  </div>
                </div>
              </div>

              <div class="row my-5">
                <div class="form-group">
                  <h6 class="col-sm-4 my-md-2">Home/Cell Phone</h6>
                  <div class="col-sm-8">
                    <span>(513) 123-4567</span>
                  </div>
                </div>
              </div>

              <div class="row my-5">
                <div class="form-group">
                  <h6 class="col-sm-4 my-md-2">Business/Cell Phone</h6>
                  <div class="col-sm-8">
                    <span>(513) 123-8901</span>
                  </div>
                </div>
              </div>

              <button class="btn btn-sm btn-primary">Edit</button>

            </form>

          </section>
          <!-- END - CONTACT INFORMATION STATIC -->

          <hr>

          <!-- START - CONTACT INFORMATION EDIT -->
          <section class="row">

            <div class="col col-md-7">

              <form role="form">

                <h5 class="my-5">Contact Information</h5>

                <div class="my-5">
                  <div class="form-group">
                    <label class="control-label">Nickname</label>
                    {% include "_includes/elements/forms/input.html.twig" with {
                      type : 'text',
                      theValue: 'Janet Johnson'
                    } %}
                  </div>
                </div>

                <div class="my-5">
                  <div class="form-group">
                    <label class="control-label">Email Address</label>
                    {% include "_includes/elements/forms/input.html.twig" with {
                      type : 'email',
                      theValue: 'janet.johnson@aol.com'
                    } %}
                  </div>
                </div>

                <div class="my-5">
                  <div class="form-group">
                    <label class="control-label">Home/Cell Phone</label>
                    {% include "_includes/elements/forms/input.html.twig" with {
                      type : 'tel',
                      theValue: '(513) 123-4567'
                    } %}
                  </div>
                </div>

                <div class="my-5">
                  <div class="form-group">
                    <label class="control-label">Business/Cell Phone</label>
                    {% include "_includes/elements/forms/input.html.twig" with {
                      type : 'tel',
                      theValue: '(513) 123-8901'
                    } %}
                  </div>
                </div>

                <button class="btn btn-sm btn-default">Cancel</button>
                <button class="btn btn-sm btn-primary">Save</button>

              </form>

            </div>

          </section>
          <!-- END - CONTACT INFORMATION EDIT -->

          <hr>

          <!-- START - REPRESENTATIVE ID -->
          <section class="">

            <h5 class="my-5">Representative ID</h5>

            <div class="row my-5">
              <h6 class="col-sm-4 my-md-2">District Number</h6>
              <div class="col-sm-8">5999</div>
            </div>

            <div class="row my-5">
              <h6 class="col-sm-4 my-md-2">Account Number</h6>
              <div class="col-sm-8">45619986</div>
            </div>

            <div class="row my-5">
              <h6 class="col-sm-4 my-md-2">Pay by Check</h6>
              <div class="col-sm-8">Yes</div>
            </div>

            <div class="row my-5">
              <h6 class="col-sm-4 my-md-2">Avon Anniversary</h6>
              <div class="col-sm-8">Nov 12, 1999</div>
            </div>

            <div class="row my-5">
              <h6 class="col-sm-4 my-md-2">Instant Credit</h6>
              <div class="col-sm-8">Yes</div>
            </div>

            <div class="row my-5">
              <h6 class="col-sm-4 my-md-2">Leadership Level</h6>
              <div class="col-sm-8">Silver Leader</div>
            </div>

            <div class="row my-5">
              <h6 class="col-sm-4 my-md-2">Sales Level</h6>
              <div class="col-sm-8">David H. McConnell Club</div>
            </div>

            <div class="row my-5">
              <h6 class="col-sm-4 my-md-2">Beauty Advisor</h6>
              <div class="col-sm-8">[value-goes-here]</div>
            </div>

          </section>
          <!-- END - REPRESENTATIVE ID -->

          <hr>

          <!-- START - SETTINGS -->
          <section class="">

            <h5 class="my-5">Settings</h5>

            <form role="form">

              <div class="row my-5">
                <div class="form-group">
                  <div class="col-sm-4">
                    <h6 class="mt-md-2 mb-0 d-inline-xs mr-2">Language Preference</h6>
                    <a href="#" class="small underline" data-toggle="modal" data-target="#learnmore">Learn More</a>
                  </div>

                  <div class="col-sm-8 mt-4 mt-md-0">
                    <span>English</span>
                    {% include components.elements.forms.radio with {
                      id: 'language-1',
                      name: 'language',
                      classes: 'my-2 mr-4',
                      theValue: 'English',
                      theLabel: 'English',
                      checked: true
                    } %}
                    {% include components.elements.forms.radio with {
                      id: 'language-2',
                      name: 'language',
                      classes: 'my-2',
                      theValue: 'Language-2',
                      theLabel: 'Language-2',
                      checked: false
                    } %}
                  </div>
                </div>
              </div>

              <div class="row my-5">
                <div class="form-group">
                  <div class="col-sm-4">
                    <h6 class="mt-md-2 mb-0 d-inline-xs mr-2">Publicity Release</h6>
                    <a href="#" class="small underline" data-toggle="modal" data-target="#learnmore">Learn More</a>
                  </div>
                  <div class="col-sm-8 mt-4 mt-md-0">
                    <span>Yes</span>
                    {% include components.elements.forms.radio with {
                      id: 'release-yes',
                      name: 'publicity-release',
                      classes: 'my-2 mr-4',
                      theValue: 'Yes',
                      theLabel: 'Yes',
                      checked: true
                    } %}
                    {% include components.elements.forms.radio with {
                      id: 'release-no',
                      name: 'publicity-release',
                      classes: 'my-2',
                      theValue: 'No',
                      theLabel: 'No',
                      checked: false
                    } %}
                  </div>
                </div>
              </div>

              <div class="row my-5">
                <div class="form-group">
                  <div class="col-sm-4">
                    <h6 class="mt-md-2 mb-0 d-inline-xs mr-2">Paperless Invoice</h6>
                    <a href="#" class="small underline" data-toggle="modal" data-target="#learnmore">Learn More</a>
                  </div>
                  <div class="col-sm-8 mt-4 mt-md-0">
                    <span>Yes</span>
                    {% include components.elements.forms.radio with {
                      id: 'paperless-invoice-yes',
                      name: 'paperless-invoice',
                      classes: 'my-2 mr-4',
                      theValue: 'Yes',
                      theLabel: 'Yes',
                      checked: true
                    } %}
                    {% include components.elements.forms.radio with {
                      id: 'paperless-invoice-no',
                      name: 'paperless-invoice',
                      classes: 'my-2',
                      theValue: 'No',
                      theLabel: 'No',
                      checked: false
                    } %}
                  </div>
                </div>
              </div>

              <button class="btn btn-sm btn-primary">Edit</button>

            </form>

          </section>
          <!-- END - SETTINGS -->

          <hr>

          <!-- START - PROGRAMS -->
          <section class="">

            <form role="form">

              <h5 class="my-5">Programs</h5>

              <div class="row my-5">
                <div class="form-group">
                  <div class="col-sm-4">
                    <h6 class="mt-md-2 mb-0 d-inline-xs mr-2">Facebook Account</h6>
                    <a href="#" class="small underline" data-toggle="modal" data-target="#learnmore">Learn More</a>
                  </div>
                  <div class="col-sm-8 mt-4 mt-md-0">
                    <a href="#" class="btn btn-default btn-soft btn-sm" target="_blank">Connect</a>
                    <!-- Developer note: This and the previous link will not appear at the same time. Use the class "d-none" to hide/show -->
                    <span class="nowrap">
                      Connected
                      <span class="ml-2">
                        <a href="#" class="btn btn-discourage btn-soft btn-sm" target="_blank">Change</a>
                      </span>
                      <span class="ml-2">
                        <a href="#" class="btn btn-discourage btn-soft btn-sm" target="_blank">Disconnect</a>
                      </span>
                    </span>
                  </div>
                </div>
              </div>

              <div class="row my-5">
                <div class="form-group">
                  <div class="col-sm-4">
                    <h6 class="mt-md-2 mb-0 d-inline-xs mr-2">Email Preferences</h6>
                    <a href="#" class="small underline" data-toggle="modal" data-target="#learnmore">Learn More</a>
                  </div>
                  <div class="col-sm-8 mt-4 mt-md-0">
                    <a href="#" class="btn btn-default btn-soft btn-sm" target="_blank">Open</a>
                  </div>
                </div>
              </div>

              <div class="row my-5">
                <div class="form-group">
                  <div class="col-sm-4">
                    <h6 class="mt-md-2 mb-0 d-inline-xs mr-2">SMS Preferences</h6>
                    <a href="#" class="small underline" data-toggle="modal" data-target="#learnmore">Learn More</a>
                  </div>
                  <div class="col-sm-8 mt-4 mt-md-0">
                    <a href="#" class="btn btn-default btn-soft btn-sm" target="_blank">Open</a>
                  </div>
                </div>
              </div>

              <div class="row my-5">
                <div class="form-group">
                  <div class="col-sm-4">
                    <h6 class="mt-md-2 mb-0 d-inline-xs mr-2">Let New Customers Find Me</h6>
                    <a href="#" class="small underline" data-toggle="modal" data-target="#learnmore">Learn More</a>
                  </div>
                  <div class="col-sm-8 mt-4 mt-md-0">
                    <a href="javascript:void(0)" class="btn btn-default btn-soft btn-sm" data-toggle="modal" data-target="#enrollnow">Enroll Now</a>
                    <!-- Developer note: This and the previous link will not appear at the same time. Use the class "d-none" to hide/show -->
                    <span class="nowrap">
                      Enrolled
                      <span class="ml-2">
                        <a href="#" class="btn btn-discourage btn-soft btn-sm" target="_blank">Change</a>
                      </span>
                    </span>
                  </div>
                </div>
              </div>

            </form>

          </section>
          <!-- END - PROGRAMS -->

          {# MODAL - Learn More common modal #}
          {% include "_includes/modules/profile/learn-more.html.twig" %}

          {# MODAL - Enroll Now iframe #}
          {% include "_includes/modules/profile/enroll-now.html.twig" %}

        {% endblock %}

      {% endembed %}
    </section>

  {% endblock %}

{% endblock %}
