{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <section class="container container--page">
      {% embed layouts.columns3x9 %}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - ASIDE #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block aside %}

          {% include '_includes/groups/navigation/my-account-nav.html.twig' %}

        {% endblock %}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - MAIN #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block main %}

          <h2>My Profile</h2>

          <hr>

          <!-- START: NAME AND ADDRESS-->
          <div class="">
            <h5 class="my-5">Name &amp; Address</h5>

            <div class="row my-5">
              <h6 class="col-sm-4 my-md-2">Name</h6>
              <div class="col-md-8">Janet Johnson</div>
            </div>

            <div class="row my-5">
              <h6 class="col-sm-4 my-md-2">Home/Billing Address</h6>
              <div class="col-md-8">9072 Rialto St
                <br>Napls, FL 34113</div>
            </div>

            <div class="row my-5">
              <h6 class="col-sm-4 my-md-2">Shipping Address</h6>
              <div class="col-md-8">9072 Rialto St
                <br>Napls, FL 34113</div>
            </div>

            <button class="btn btn-primary" data-toggle="modal" data-target="#requestchange">Request Change</button>
            {# MODAL - Request Change #}
            {% include "_includes/modules/profile/request-change.html.twig" %}
          </div>
          <!-- END: NAME AND ADDRESS-->

          <hr>

          <!-- START: PROFILE PICTURE -->
          <div class="">
            <h5 class="my-5">Profile Picture</h5>
            <div class="row my-5">
              <div class="col-sm-3">
                <img src="images/fpo/pretty_lady.png" class="w-100">
              </div>
              <div class="col-sm-9">
                <p class="">Fugiat ut excepteur esse occaecat occaecat do id laboris consectetur est ex et enim ea dolore velit adipisicing.</p>
                <p class="text-muted small">(PNG, JPEG, or GIF formats only, 10MB max file size)</p>
                <button class="btn btn--soft btn-default btn-sm mt-4">Choose Image</button>
              </div>
            </div>
          </div>
          <!-- END: PROFILE PICTURE -->

          <hr>

          <!-- START: CONTACT INFORMATION -->
          <div class="">
            <h5 class="mb-4">Contact Information</h5>
            <dl class="row my-5">
              <dt class="text-uppercase col-md-4">Nickname</dt>
              <dd class="col-md-8 text-left">
                <span>Janet Johnson</span>
                {% include "_includes/elements/forms/input.html.twig" with {
                  'placeholder': 'Janet Johnson',
                  'theValue': 'Janet Johnson'
                } %}
              </dd>
            </dl>
            <dl class="row my-5">
              <dt class="text-uppercase col-md-4">Email Address</dt>
              <dd class="col-md-8 text-left">
                <span>janet.johnson@aol.com</span>
                {% include "_includes/elements/forms/input.html.twig" with {
                  'placeholder': 'janet.johnson@aol.com',
                  'theValue': 'janet.johnson@aol.com'
                } %}
              </dd>
            </dl>
            <dl class="row my-5">
              <dt class="text-uppercase col-md-4">Home/Cell Phone</dt>
              <dd class="col-md-8 text-left">
                <span>(513) 123-4567</span>
                {% include "_includes/elements/forms/input.html.twig" with {
                  'placeholder': '(513) 123-4567',
                  'theValue': '(513) 123-4567'
                } %}
            </dl>
            <dl class="row my-5">
              <dt class="text-uppercase col-md-4">Business/Cell Phone</dt>
              <dd class="col-md-8 text-left">
                <span>(513) 123-8901</span>
                {% include "_includes/elements/forms/input.html.twig" with {
                  'placeholder': '(513) 123-8901',
                  'theValue': '(513) 123-8901'
                } %}
            </dl>
            <button class="btn btn-primary">
              EDIT
            </button>
          </div>
          <!-- END: CONTACT INFORMATION -->

          <!-- START: REPRESENTATIVE ID -->
          <div class="border-top pt-4 mb-5">
            <h5 class="mb-4">Representative ID</h5>
            <dl class="row my-5">
              <dt class="text-uppercase col-md-4">District Number</dt>
              <dd class="col-md-8 text-left">5999</dd>
            </dl>
            <dl class="row my-5">
              <dt class="text-uppercase col-md-4">Account Number</dt>
              <dd class="col-md-8 text-left">45619986</dd>
            </dl>
            <dl class="row my-5">
              <dt class="text-uppercase col-md-4">Pay by Check</dt>
              <dd class="col-md-8 text-left">Yes</dd>
            </dl>
            <dl class="row my-5">
              <dt class="text-uppercase col-md-4">Avon Anniversary</dt>
              <dd class="col-md-8 text-left">NOV 12, 1999</dd>
            </dl>
            <dl class="row my-5">
              <dt class="text-uppercase col-md-4">Instant Credit</dt>
              <dd class="col-md-8 text-left">Yes</dd>
            </dl>
            <dl class="row my-5">
              <dt class="text-uppercase col-md-4">Leadership Level</dt>
              <dd class="col-md-8 text-left">Silver Leader</dd>
            </dl>
            <dl class="row my-5">
              <dt class="text-uppercase col-md-4">Sales Level</dt>
              <dd class="col-md-8 text-left">David H. McConnell Club</dd>
            </dl>
          </div>
          <!-- END: REPRESENTATIVE ID -->

          <!-- START: SETTINGS -->
          <div class="border-top pt-4 mb-5">
            <h5 class="mb-4">Settings</h5>
            <dl class="row my-5">
              <dt class="text-uppercase col-md-4">Language Preference</dt>
              <dd class="col-md-8 text-left clearfix">
                {% include components.elements.forms.radio with {id: 'language-1', name: 'language', classes: 'pull-left my-2 mr-4', theValue: 'English', theLabel: 'English', checked: true} %}
                {% include components.elements.forms.radio with {id: 'language-2', name: 'language', classes: 'pull-left my-2', theValue: 'Language-2', theLabel: 'Language-2', checked: false} %}
              </dd>
            </dl>
            <dl class="row my-5">
              <dt class="text-uppercase col-md-4">Publicity Release
                <a href="#" class="d-block" data-toggle="modal" data-target="#learnmore">Learn More</a>
              </dt>
              <dd class="col-md-8 text-left">
                {% include components.elements.forms.radio with {id: 'relese-yes', name: 'publicity-relese', classes: 'pull-left my-2 mr-4', theValue: 'Yes', theLabel: 'Yes', checked: true} %}
                {% include components.elements.forms.radio with {id: 'relese-no', name: 'publicity-relese', classes: 'pull-left my-2', theValue: 'No', theLabel: 'No', checked: false} %}
              </dd>
            </dl>
            <dl class="row my-5">
              <dt class="text-uppercase col-md-4">Paperless Invoice
                <a href="#" class="d-block" data-toggle="modal" data-target="#learnmore">Learn More</a>
              </dt>
              <dd class="col-md-8 text-left">
                {% include components.elements.forms.radio with {id: 'paperless-invoice-yes', name: 'paperless-invoice', classes: 'pull-left my-2 mr-4', theValue: 'Yes', theLabel: 'Yes', checked: true} %}
                {% include components.elements.forms.radio with {id: 'paperless-invoice-no', name: 'paperless-invoice', classes: 'pull-left my-2', theValue: 'No', theLabel: 'No', checked: false} %}
              </dd>
            </dl>
            <button class="btn btn-primary">
              EDIT
            </button>
          </div>
          <!-- END: SETTINGS -->

          <!-- START: PROGRAMS -->
          <div class="border-top pt-4 mb-5">
            <h5 class="mb-4">Programs</h5>
            <dl class="row my-5">
              <dt class="text-uppercase col-md-4">Facebook Account
                <a href="#" class="d-block" data-toggle="modal" data-target="#learnmore">Learn More</a>
              </dt>
              <dd class="col-md-8 text-left">
                <a href="#" class="btn btn-primary" target="_blank">Connect</a>
              </dd>
            </dl>
            <dl class="row my-5">
              <dt class="text-uppercase col-md-4">Email Preferences
                <a href="#" class="d-block" data-toggle="modal" data-target="#learnmore">Learn More</a>
              </dt>
              <dd class="col-md-8 text-left">
                <a href="#" class="btn btn-primary" target="_blank">Open</a>
              </dd>
            </dl>
            <dl class="row my-5">
              <dt class="text-uppercase col-md-4">SMS Preferences
                <a href="#" class="d-block" data-toggle="modal" data-target="#learnmore">Learn More</a>
              </dt>
              <dd class="col-md-8 text-left">
                <a href="#" class="btn btn-primary" target="_blank">Open</a>
              </dd>
            </dl>
            <dl class="row my-5">
              <dt class="text-uppercase col-md-4">Let New Customers Find Me
                <br>
                <a href="#" class="d-block" data-toggle="modal" data-target="#learnmore">Learn More</a>
              </dt>
              <dd class="col-md-8 text-left">
                <a href="#" class="btn btn-primary">Enroll Now</a>
              </dd>
            </dl>
          </div>
          <!-- END: PROGRAMS -->

          {# MODAL - Learn More common modal #}
          {% include "_includes/modules/profile/learn-more.html.twig" %}

        {% endblock %}

      {% endembed %}
    </section>

  {% endblock %}

{% endblock %}
