{% extends "_layouts/base-simple-header.html.twig" %}

{% set sectionClass = 'page--register-basic-info' %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - MAIN #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block main %}

<section class="container container--page">

  {% embed '_layouts/columns-12-optional-promo.html.twig' with {
  showPromo: true
  } %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - ASIDE #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block aside %}
  {% include '_includes/modules/register/become-a-rep/form-aside.html.twig' %}
  {% endblock %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}
  {% include '_includes/modules/register/basic-info.html.twig' %}
  {% endblock %}

  {% endembed %}

</section>

{% endblock %}
{% endblock %}
