{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <div class="container container--page">

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        <h1 class="mb-5">Saved Credit Cards - Modals</h1>

        <p><a data-toggle="modal" data-target="#modal-add-new-cc">Add Credit Card</a></p>
        <p><a data-toggle="modal" data-target="#modal-remove-cc">Remove Credit Card</a></p>

        <!-- MODAL - ADD NEW CREDIT CARD -->
        {% include "_includes/modules/account/modals-cc/add-new-cc-modal.html.twig" %}

        <!-- MODAL - REMOVE CREDIT CARD -->
        {% include "_includes/modules/account/modals-cc/remove-cc-modal.html.twig" %}

      {% endblock %}

  </div>

{% endblock %}
