{% extends layouts.base %}

{% set sectionClass = 'page--saved-cc' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

{% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with {
position: 'top',
html: '<div class="reverse-bg py-3">
  <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
</div>'
} %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - MAIN #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block main %}

<section class="container container--page">

  {% embed '_layouts/columns-3x9-secondary-nav.html.twig' %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - ASIDE #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block aside %}

  {% include '_includes/groups/navigation/my-account-nav.html.twig' with { active : 'saved-credit-cards' } %}

  {% endblock %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

  <h2 class="mb-5">Saved Credit Cards</h2>

  <hr>

  <!-- START - HEADER SECTION -->
  <div class="mb-5">
    <h5>Saved Cards</h5>
    <p>You can save a maximum of 5 credit cards to your account. You can edit card information or add/remove at any
      time.</p>
    <p>For your protection, we will remove credit cards from our system that have not been used in a one year time
      period. If you have any questions, please contact us.</p>
  </div>
  <!-- END - HEADER SECTION -->

  <hr class="mb-0">

  <div class="panel-group panel-group--icons" id="savedCreditCardsList">

    <!-- Item -->
    <div class="panel panel-light border-bottom collapsed">
      <div class="panel-heading border-0 px-0">
        <h6 class="edit-header m-0">Edit Credit Card</h6>
        <h4 class="panel-title">
          {% include "_includes/modules/account/saved-credit-card-item.html.twig" with {
          thumb: '../images/icons/payment-visa.svg',
          cardType: 'VISA',
          lastFour: '1234',
          name: 'Marcia Brady',
          expirationDate: '01/21',
          lrg: true,
          dataParent: '#savedCreditCardsList',
          dataTarget: '#collapseOne'
          } %}
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse row">
        <div class="panel-body col-xs-12 col-sm-8">
          {% include '_includes/modules/account/edit-credit-card-form.html.twig' with {
          buttonText: 'Update',
          cancelTarget: '#collapseOne'
          } %}
        </div>
      </div>
    </div>

    <!-- Item -->
    <div class="panel panel-light border-bottom collapsed">
      <div class="panel-heading border-0 px-0">
        <h6 class="edit-header m-0">Edit Credit Card</h6>
        <h4 class="panel-title">
          {% include "_includes/modules/account/saved-credit-card-item.html.twig" with {
          thumb: '../images/icons/payment-mastercard.svg',
          cardType: 'Mastercard',
          lastFour: '9876',
          name: 'Marcia Brady Englebert Wonka-Cumberbach',
          expirationDate: '03/18',
          lrg: true,
          dataParent: '#savedCreditCardsList',
          dataTarget: '#collapseTwo'
          } %}
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse row">
        <div class="panel-body col-xs-12 col-sm-8">
          {% include '_includes/modules/account/edit-credit-card-form.html.twig' with {
          buttonText: 'Update',
          cancelTarget: '#collapseTwo'
          } %}
        </div>
      </div>
    </div>

    <!-- Item -->
    <div class="panel panel-light border-bottom collapsed">
      <div class="panel-heading border-0 px-0">
        <h6 class="edit-header m-0">Edit Credit Card</h6>
        <h4 class="panel-title">
          {% include "_includes/modules/account/saved-credit-card-item.html.twig" with {
          thumb: '../images/icons/payment-visa.svg',
          cardType: 'VISA',
          lastFour: '3456',
          name: 'Marcia Brady',
          expirationDate: '08/21',
          lrg: true,
          dataParent: '#savedCreditCardsList',
          dataTarget: '#collapseThree'
          } %}
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse row">
        <div class="panel-body col-xs-12 col-sm-8">
          {% include '_includes/modules/account/edit-credit-card-form.html.twig' with {
          buttonText: 'Update',
          cancelTarget: '#collapseThree'
          } %}
        </div>
      </div>
    </div>

  </div><!-- /panel-group -->

  <!-- DEV NOTE :: The 'add a new card' button disapears when max number of saved cards is reached -->
  <div class="">
    <button class="btn btn-default btn-soft btn-sm">Add a New Card</button>
  </div>

  {% endblock %}

  {% endembed %}

</section>

{% endblock %}

<!-- START - MAGNOLIA BLOCK -->
{% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with {
position: 'bottom',
html: '<div class="reverse-bg py-3">
  <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
</div>'
} %}
<!-- END - MAGNOLIA BLOCK -->

<!-- MODAL - EDIT CREDIT CARD -->
{% include "_includes/modules/account/modals-pay/pay-avon-edit-card-modal.html.twig" %}

<!-- MODAL - REVIEW PAYMENT -->
{% include "_includes/modules/account/modals-pay/pay-avon-review-payment-modal.html.twig" %}

<!-- MODAL - PAYMENT CONFIRMATION -->
{% include "_includes/modules/account/modals-pay/pay-avon-payment-confirmation-modal.html.twig" %}

{% endblock %}
