{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <section class="container container--page container--min-height">

      <div class="row">
      	<div class="col-md-10 col-md-offset-1">
      		<h2>Search Results for "Book ends"</h2>
      		<h4><small>Your search brought back no results. Please try another search term.</small></h4>
      	</div>
      </div>

    </section>

  {% endblock %}


{% endblock %}
