{% extends "_layouts/base-simple-header.html.twig" %}

{% set pageClass = 'page-creds' %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <section class="container container--page">

    {% include "/_includes/elements/misc/link-back.html.twig" with {
      label: 'Sign In',
      classes: 'back-link--abs'
    } %}

    {% embed layouts.columns6max %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        {# Dev Note :: only one of these will be visible at a time #}
        <h5 class="text-center">Reset Your Password</h5>
        <h5 class="text-center">Set New Password</h5>
        <h5 class="text-center">Your Account Is Locked</h5>
        <h5 class="text-center">Set Your Email Address</h5>

        <hr class="thick primary stub">

        <div class="my-5">
          <!-- START - INLINE LEVEL ALERT -->
          {# {% include "_includes/groups/alerts/alert-level-template.html.twig" with {
            alertIcon: 'lt-warning-fill',
            alertHeadline: 'Alert message',
            alertBody: '
            <ul class="alert-list">
              <li>Here is a <a href="#" class="alert-link">Link</a>.</li>
              <li>' ~ fpo.sentence ~ '</li>
            </ul>
            <p>' ~ fpo.sentence ~ ' ' ~ fpo.sentence ~ '</p>',
            alertBtnText: null,
            alertClasses: 'alert-danger',
            alertLevel: 'content',
            alertDismissable: false,
            alertId: null
          } %} #}
          <!-- END - INLINE LEVEL ALERT -->

          <p class="text-muted text-center">{{ fpo.sentence }} {{ fpo.sentence }}</p>

          <!-- START - FORM -->

          {% include "_includes/modules/sign-in/sign-in-email-password-inputs.html.twig" with {
            includeReqs: true
          } %}

          <button type="button" class="btn btn-primary btn-block">Lipsum</button>

          <!-- END - FORM -->
        </div>

        <p class="text-center"><a href="#">Skip for now</a></p>

        <hr>

        <div class="text-muted text-center visible-md visible-lg pb-5">Lorem Ipsum <a href="#">Lipsum</a></div>

        {% include "_includes/modules/sign-in/sign-in-assistance.html.twig" %}

      {% endblock %}

    {% endembed %}

  </section>

{% endblock %}




