{% extends "_layouts/base-simple-header.html.twig" %}

{% set sectionClass = 'page--register' %}
{% set showPromo = false %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {#{% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with {
    position: 'top',
    html: '<div class="reverse-bg py-3">
    <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
    </div>'
  } %}#}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <section class="container container--page">
      {% include "_includes/modules/login-register/starter-kit-list.html.twig" %}
    </section>

  {% endblock %}

  <!-- START - MAGNOLIA BLOCK -->
  {# {% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with {
    position: 'bottom',
    html: '<div class="reverse-bg py-3">
    <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
    </div>'
  } %} #}
  <!-- END - MAGNOLIA BLOCK -->

 

{% endblock %}
