{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <div class="container container--page">

    {% embed "_layouts/columns-10-max.html.twig" %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        <!-- START - MAGNOLIA BLOCK -->
        {% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with { position: 'top' } %}
        <!-- END - MAGNOLIA BLOCK -->

        <h2>Support</h2>

        <div class="row d-flex flex-wrap mt-5 box-group--secondary">

          <!-- START - ITEMS -->
          {% include "_includes/groups/support/support-page-item.html.twig" with {
            'indexNum': 1,
            'title': 'Frequently Asked Questions',
            'imgUrl': 'images/fpo/support/support-telephone.svg'
          } %}

          {% include "_includes/groups/support/support-page-item.html.twig" with {
            'indexNum': 2,
            'title': 'Contact Your Sales Leader',
            'imgUrl': 'images/fpo/support/support-email.svg'
          } %}

          {% include "_includes/groups/support/support-page-item.html.twig" with {
            'indexNum': 3,
            'title': 'Live Chat with Avon',
            'imgUrl': 'images/fpo/support/support-telephone.svg'
          } %}

          {% include "_includes/groups/support/support-page-item.html.twig" with {
            'indexNum': 4,
            'title': 'Email Avon',
            'imgUrl': 'images/fpo/support/support-email.svg'
          } %}

          {% include "_includes/groups/support/support-page-item.html.twig" with {
            'indexNum': 5,
            'title': 'Call Avon',
            'imgUrl': 'images/fpo/support/support-telephone.svg'
          } %}

          {% include "_includes/groups/support/support-page-item.html.twig" with {
            'indexNum': 6,
            'title': 'Avon Mailing Address',
            'imgUrl': 'images/fpo/support/support-email.svg'
          } %}
          <!-- END - ITEMS -->

        </div>

        <!-- START - MAGNOLIA BLOCK -->
        {% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with {
          position: 'bottom',
          extraSpacing: 4
        } %}
        <!-- END - MAGNOLIA BLOCK -->

      {% endblock %}

    {% endembed %}

  </div>

{% endblock %}
