{% extends layouts.base %}

{% set sectionClass = 'page--support' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <!-- START - MAGNOLIA BLOCK -->
  {% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with {
    position: 'top',
    html: '<div class="reverse-bg py-3">
    <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
    </div>'
  } %}
  <!-- END - MAGNOLIA BLOCK -->

  <div class="container container--page">

    {% embed "_layouts/columns-10-max.html.twig" %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        <h2>Support</h2>

        <div class="row row-fix-safari-flex d-flex flex-wrap mt-5 box-group--secondary">

          <!-- START - ITEMS -->
          {% include "_includes/groups/support/support-page-item.html.twig" with {
            'indexNum': 1,
            'title': 'Frequently Asked Questions',
            'imgUrl': 'images/fpo/support/support-telephone.svg'
          } %}

          {% include "_includes/groups/support/support-page-item.html.twig" with {
            'indexNum': 2,
            'title': 'Contact Your Sales Leader',
            'imgUrl': 'images/fpo/support/support-email.svg'
          } %}

          {% include "_includes/groups/support/support-page-item.html.twig" with {
            'indexNum': 3,
            'title': 'Live Chat with Avon',
            'imgUrl': 'images/fpo/support/support-telephone.svg'
          } %}

          {% include "_includes/groups/support/support-page-item.html.twig" with {
            'indexNum': 4,
            'title': 'Email Avon',
            'imgUrl': 'images/fpo/support/support-email.svg'
          } %}

          {% include "_includes/groups/support/support-page-item.html.twig" with {
            'indexNum': 5,
            'title': 'Call Avon',
            'imgUrl': 'images/fpo/support/support-telephone.svg'
          } %}

          {% include "_includes/groups/support/support-page-item.html.twig" with {
            'indexNum': 6,
            'title': 'Avon Mailing Address',
            'imgUrl': 'images/fpo/support/support-email.svg'
          } %}
          <!-- END - ITEMS -->

        </div>

      {% endblock %}

    {% endembed %}

  </div>

  <!-- START - MAGNOLIA BLOCK -->
  {% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with {
    position: 'bottom',
    html: '<div class="reverse-bg py-3">
    <p class="m-0 text-center text-muted">Mangolia Managed Content Block</p>
    </div>'
  } %}
  <!-- END - MAGNOLIA BLOCK -->

{% endblock %}
