{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <div class="container container--page">

    {% embed "_layouts/columns-10-max.html.twig" %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        {% include "_includes/groups/navigation/back-link.twig" with {label: "Back"} %}

        {% set listItem = '<li><a class="underline" href="#">3RONJUF4IYODCOQVN6</a></li>' %}

        <h2 class="pb-3">Order #844365269</h2>
        <p>Payment Information: Your account is up-to-date</p>
        <div class="table-responsive mt-5 ">
          <table class="table mb-0 table-no-borders">
            <thead class="border-top">
              <tr>
                <th class="t-type t-ship t-boxes t-carrier t-tracking">Type</th>
                <th class="t-type t-ship t-boxes t-carrier t-tracking">Ship Date</th>
                <th class="t-type t-ship t-boxes t-carrier t-tracking nowrap"># Boxes</th>
                <th class="t-type t-ship t-boxes t-carrier t-tracking">Carrier</th>
                <th class="t-type t-ship t-boxes t-carrier t-tracking">Tracking Number(s)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="t-type t-ship t-boxes t-carrier t-tracking">Innerware</td>
                <td class="t-type t-ship t-boxes t-carrier t-tracking">02/12/2018</td>
                <td class="t-type t-ship t-boxes t-carrier t-tracking">100</td>
                <td class="t-type t-ship t-boxes t-carrier t-tracking">United Parcel Services <br> 1-800-742-5877</td>
                <td class="t-type t-ship t-boxes t-carrier t-tracking">
                  <ol class="list-counter list-counter--1-char">
                    {% for i in 0..2 %}
                      {{ listItem }}
                    {% endfor %}
                  </ol>
                </td>
              </tr>
            </tbody>

            <thead class="border-top">
              <tr>
                <th class="t-type t-ship t-boxes t-carrier t-tracking">Type</th>
                <th class="t-type t-ship t-boxes t-carrier t-tracking">Ship Date</th>
                <th class="t-type t-ship t-boxes t-carrier t-tracking nowrap"># Boxes</th>
                <th class="t-type t-ship t-boxes t-carrier t-tracking">Carrier</th>
                <th class="t-type t-ship t-boxes t-carrier t-tracking">Tracking Number(s)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="t-type t-ship t-boxes t-carrier t-tracking">Avon</td>
                <td class="t-type t-ship t-boxes t-carrier t-tracking">02/12/2018</td>
                <td class="t-type t-ship t-boxes t-carrier t-tracking">17</td>
                <td class="t-type t-ship t-boxes t-carrier t-tracking">US Postal Service</td>
                <td class="t-type t-ship t-boxes t-carrier t-tracking">

                  <ol class="list-counter list-counter--3-char">
                    {% for i in 0..100 %}
                      {{ listItem }}
                    {% endfor %}
                  </ol>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      {% endblock %}

    {% endembed %}

  </div>

{% endblock %}
