{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <!-- START - GLOBAL ALERT MESSAGE -->
  {% include "_includes/modules/global/global-alert-message.html.twig" with {
      'alertId': '',
      'alertClasses': 'alert-danger',
      'alertIcon': '',
      'alertMsg': 'FPO Error message'
    }
  %}
  <!-- END - GLOBAL ALERT MESSAGE -->


  <div class="container container--track-orders-page">


    {% embed "_layouts/columns-10-max.html.twig" %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        <h2 class="pb-3">Track Submitted Orders</h2>
        <p>Click on Confirmation numbers below to see order details. Items not available can be viewed on your invoice.</p>
        <div class="table-responsive">
          <table class="table table-striped table-bordered-outside-only">
            <thead>
              <tr>
                <th>&nbsp;</th>
                <th>Conf<br>Number</th>
                <th>Date</th>
                <th>C#</th>
                <th>Source</th>
                <th>Order<br>Amount</th>
                <th>Items Not<br>Available</th>
                <th>Type</th>
                <th>Status</th>
                <th>Status<br>Date</th>
              </tr>
            </thead>
            <tbody>

              <tr>
                <td>
                  <a class="collapsed" data-toggle="collapse" data-target="#collapseOne">
                    <i class="glyphicon glyphicon-play collapse-indicator"></i>
                  </a>
                </td>
                <td>
                  <a class="underline" href="#">451316356</a>
                </td>
                <td>02/09/2018</td>
                <td>05</td>
                <td>INTERNET</td>
                <td>NA</td>
                <td></td>
                <td>AVON</td>
                <td>Submitted</td>
                <td>02/09/2018</td>
              </tr>
              <tr>
                <td colspan="10" class="p-0">
                  <div class="collapse" id="collapseOne">
                    <h6 class="p-3">Hidden Things Lie Here</h6>
                    <p class="px-3">Adipisicing occaecat in sunt ipsum exercitation ea dolore veniam reprehenderit consectetur consectetur anim ad aute nisi. Proident sint consequat non laborum officia consequat ea veniam dolor adipisicing commodo consectetur. Eu incididunt qui amet culpa aliqua amet id sint qui ad laboris commodo ut tempor qui dolor laborum. Dolore qui proident occaecat officia aliqua duis incididunt. Aute sit aliqua Lorem Lorem fugiat esse duis quis aliquip.</p>
                  </div>
                </td>
              </tr>



              <tr>
                <td>
                  <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo">
                    <i class="glyphicon glyphicon-play collapse-indicator"></i>
                  </a>
                </td>
                <td>
                  <a class="underline" href="#">451316356</a>
                </td>
                <td>02/09/2018</td>
                <td>05</td>
                <td>INTERNET</td>
                <td>NA</td>
                <td></td>
                <td>AVON</td>
                <td>Submitted</td>
                <td>02/09/2018</td>
              </tr>
              <tr>
                <td colspan="10" class="p-0">
                  <div class="collapse" id="collapseTwo">
                    <h6 class="p-3">Hidden Things Lie Here</h6>
                    <p class="px-3">Adipisicing occaecat in sunt ipsum exercitation ea dolore veniam reprehenderit consectetur consectetur anim ad aute nisi. Proident sint consequat non laborum officia consequat ea veniam dolor adipisicing commodo consectetur. Eu incididunt qui amet culpa aliqua amet id sint qui ad laboris commodo ut tempor qui dolor laborum. Dolore qui proident occaecat officia aliqua duis incididunt. Aute sit aliqua Lorem Lorem fugiat esse duis quis aliquip.</p>
                  </div>
                </td>
              </tr>



              <tr>
                <td>
                  <a class="collapsed" data-toggle="collapse" data-target="#collapseThree">
                    <i class="glyphicon glyphicon-play collapse-indicator"></i>
                  </a>
                </td>
                <td>
                  <a class="underline" href="#">451316356</a>
                </td>
                <td>02/09/2018</td>
                <td>05</td>
                <td>INTERNET</td>
                <td>NA</td>
                <td></td>
                <td>AVON</td>
                <td>Submitted</td>
                <td>02/09/2018</td>
              </tr>
              <tr>
                <td colspan="10" class="p-0">
                  <div class="collapse" id="collapseThree">
                    <h6 class="p-3">Hidden Things Lie Here</h6>
                    <p class="px-3">Adipisicing occaecat in sunt ipsum exercitation ea dolore veniam reprehenderit consectetur consectetur anim ad aute nisi. Proident sint consequat non laborum officia consequat ea veniam dolor adipisicing commodo consectetur. Eu incididunt qui amet culpa aliqua amet id sint qui ad laboris commodo ut tempor qui dolor laborum. Dolore qui proident occaecat officia aliqua duis incididunt. Aute sit aliqua Lorem Lorem fugiat esse duis quis aliquip.</p>
                  </div>
                </td>
              </tr>



              <tr>
                <td>
                  <a class="collapsed" data-toggle="collapse" data-target="#collapseFour">
                    <i class="glyphicon glyphicon-play collapse-indicator"></i>
                  </a>
                </td>
                <td>
                  <a class="underline" href="#">451316356</a>
                </td>
                <td>02/09/2018</td>
                <td>05</td>
                <td>INTERNET</td>
                <td>NA</td>
                <td></td>
                <td>AVON</td>
                <td>Submitted</td>
                <td>02/09/2018</td>
              </tr>
              <tr>
                <td colspan="10" class="p-0">
                  <div class="collapse" id="collapseFour">
                    <h6 class="p-3">Hidden Things Lie Here</h6>
                    <p class="px-3">Adipisicing occaecat in sunt ipsum exercitation ea dolore veniam reprehenderit consectetur consectetur anim ad aute nisi. Proident sint consequat non laborum officia consequat ea veniam dolor adipisicing commodo consectetur. Eu incididunt qui amet culpa aliqua amet id sint qui ad laboris commodo ut tempor qui dolor laborum. Dolore qui proident occaecat officia aliqua duis incididunt. Aute sit aliqua Lorem Lorem fugiat esse duis quis aliquip.</p>
                  </div>
                </td>
              </tr>



              <tr>
                <td>
                  <a class="collapsed" data-toggle="collapse" data-target="#collapseFive">
                    <i class="glyphicon glyphicon-play collapse-indicator"></i>
                  </a>
                </td>
                <td>
                  <a class="underline" href="#">451316356</a>
                </td>
                <td>02/09/2018</td>
                <td>05</td>
                <td>INTERNET</td>
                <td>NA</td>
                <td></td>
                <td>AVON</td>
                <td>Submitted</td>
                <td>02/09/2018</td>
              </tr>
              <tr>
                <td colspan="10" class="p-0">
                  <div class="collapse" id="collapseFive">
                    <h6 class="p-3">Hidden Things Lie Here</h6>
                    <p class="px-3">Adipisicing occaecat in sunt ipsum exercitation ea dolore veniam reprehenderit consectetur consectetur anim ad aute nisi. Proident sint consequat non laborum officia consequat ea veniam dolor adipisicing commodo consectetur. Eu incididunt qui amet culpa aliqua amet id sint qui ad laboris commodo ut tempor qui dolor laborum. Dolore qui proident occaecat officia aliqua duis incididunt. Aute sit aliqua Lorem Lorem fugiat esse duis quis aliquip.</p>
                  </div>
                </td>
              </tr>



              <tr>
                <td>
                  <a class="collapsed" data-toggle="collapse" data-target="#collapseSix">
                    <i class="glyphicon glyphicon-play collapse-indicator"></i>
                  </a>
                </td>
                <td>
                  <a class="underline" href="#">451316356</a>
                </td>
                <td>02/09/2018</td>
                <td>05</td>
                <td>INTERNET</td>
                <td>NA</td>
                <td></td>
                <td>AVON</td>
                <td>Submitted</td>
                <td>02/09/2018</td>
              </tr>
              <tr>
                <td colspan="10" class="p-0">
                  <div class="collapse" id="collapseSix">
                    <h6 class="p-3">Hidden Things Lie Here</h6>
                    <p class="px-3">Adipisicing occaecat in sunt ipsum exercitation ea dolore veniam reprehenderit consectetur consectetur anim ad aute nisi. Proident sint consequat non laborum officia consequat ea veniam dolor adipisicing commodo consectetur. Eu incididunt qui amet culpa aliqua amet id sint qui ad laboris commodo ut tempor qui dolor laborum. Dolore qui proident occaecat officia aliqua duis incididunt. Aute sit aliqua Lorem Lorem fugiat esse duis quis aliquip.</p>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>
        </div>

      {% endblock %}

    {% endembed %}

  </div>

{% endblock %}
