{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <div class="container container--track-orders-page">

    {% embed "_layouts/columns-10-max.html.twig" %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        <h2 class="pb-3">Track Submitted Orders</h2>
        <p>Click on Confirmation numbers below to see order details. Items not available can be viewed on your invoice.</p>
        <div class="table-responsive">
          <table class="table table-striped table-bordered-outside-only">
            <thead>
              <tr>
                <th>Conf<br>Number</th>
                <th>Date</th>
                <th>C#</th>
                <th>Source</th>
                <th>Order<br>Amount</th>
                <th>Items Not<br>Available</th>
                <th>Type</th>
                <th>Status</th>
                <th>Status<br>Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a class="underline" href="#">451316356</a>
                </td>
                <td>02/09/2018</td>
                <td>05</td>
                <td>INTERNET</td>
                <td>NA</td>
                <td></td>
                <td>AVON</td>
                <td>Submitted</td>
                <td>02/09/2018</td>
              </tr>
              <tr>
                <td>
                  <a class="underline" href="#">451316356</a>
                </td>
                <td>02/09/2018</td>
                <td>05</td>
                <td>INTERNET</td>
                <td>NA</td>
                <td></td>
                <td>AVON</td>
                <td>Submitted</td>
                <td>02/09/2018</td>
              </tr>
              <tr>
                <td>
                  <a class="underline" href="#">451316356</a>
                </td>
                <td>02/09/2018</td>
                <td>05</td>
                <td>INTERNET</td>
                <td>NA</td>
                <td></td>
                <td>AVON</td>
                <td>Submitted</td>
                <td>02/09/2018</td>
              </tr>
              <tr>
                <td>
                  <a class="underline" href="#">451316356</a>
                </td>
                <td>02/09/2018</td>
                <td>05</td>
                <td>INTERNET</td>
                <td>NA</td>
                <td></td>
                <td>AVON</td>
                <td>Cancelled</td>
                <td>02/09/2018</td>
              </tr>
              <tr>
                <td>
                  <a class="underline" href="#">451316356</a>
                </td>
                <td>02/09/2018</td>
                <td>05</td>
                <td>INTERNET</td>
                <td>NA</td>
                <td></td>
                <td>AVON</td>
                <td>Cancelled</td>
                <td>02/09/2018</td>
              </tr>
              <tr>
                <td>
                  <a class="underline" href="#">451316356</a>
                </td>
                <td>02/09/2018</td>
                <td>05</td>
                <td>INTERNET</td>
                <td>NA</td>
                <td></td>
                <td>AVON</td>
                <td>Cancelled</td>
                <td>02/09/2018</td>
              </tr>
              <tr>
                <td>
                  <a class="underline" href="#">451316356</a>
                </td>
                <td>02/09/2018</td>
                <td>05</td>
                <td>INTERNET</td>
                <td>NA</td>
                <td></td>
                <td>AVON</td>
                <td>Cancelled</td>
                <td>02/09/2018</td>
              </tr>
              <tr>
                <td>
                  <a class="underline" href="#">451316356</a>
                </td>
                <td>02/09/2018</td>
                <td>05</td>
                <td>INTERNET</td>
                <td>NA</td>
                <td></td>
                <td>AVON</td>
                <td>Cancelled</td>
                <td>02/09/2018</td>
              </tr>
              <tr>
                <td>
                  <a class="underline" href="#">451316356</a>
                </td>
                <td>02/09/2018</td>
                <td>05</td>
                <td>INTERNET</td>
                <td>NA</td>
                <td></td>
                <td>AVON</td>
                <td>Cancelled</td>
                <td>02/09/2018</td>
              </tr>
              <tr>
                <td>
                  <a class="underline" href="#">451316356</a>
                </td>
                <td>02/09/2018</td>
                <td>05</td>
                <td>INTERNET</td>
                <td>NA</td>
                <td></td>
                <td>AVON</td>
                <td>Cancelled</td>
                <td>02/09/2018</td>
              </tr>
              <tr>
                <td>
                  <a class="underline" href="#">451316356</a>
                </td>
                <td>02/09/2018</td>
                <td>05</td>
                <td>INTERNET</td>
                <td>NA</td>
                <td></td>
                <td>AVON</td>
                <td>Merged</td>
                <td>02/09/2018</td>
              </tr>
              <tr>
                <td>
                  <a class="underline" href="#">450742512</a>
                </td>
                <td>01/24/2018</td>
                <td>05</td>
                <td>INTERNET</td>
                <td>NA</td>
                <td></td>
                <td>AVON</td>
                <td>Cancelled</td>
                <td>02/09/2018</td>
              </tr>
            </tbody>
          </table>
        </div>

      {% endblock %}

    {% endembed %}

  </div>

{% endblock %}
