{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <div class="container container--page">

    {% embed "_layouts/columns-10-max.html.twig" %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        <!-- START - MAGNOLIA BLOCK -->
        {% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with { position: 'top' } %}
        <!-- END - MAGNOLIA BLOCK -->

        {% include "_includes/groups/navigation/back-link.twig" with {label: "Back"} %}

        {% set listItem = '<li><a class="underline" href="#">3RONJUF4IYODCOQVN6</a></li>' %}

        <h2 class="pb-3">Order #844365269</h2>
        <p><strong>Payment Information:</strong> Your account is up-to-date</p>
        <div class="mt-5">

          <!-- DEV NOTE :: .table-collapse-to-column requires the <th> elements
                        :: in <thead> to be duplicated in <tbody> as .td-label
                        :: See below for example -->
          <table class="table mb-0 table-no-borders table-collapse-to-column">

            <thead class="border-top">
              <tr>
                <th class="t-type">Type</th>
                <th class="t-ship">Ship Date</th>
                <th class="t-boxes nowrap"># Boxes</th>
                <th class="t-carrier">Carrier</th>
                <th class="t-tracking">Tracking Number(s)</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td class="t-type">
                  <span class="td-label"><h6 class="m-0">Type</h6></span>
                  <span>Innerware</span>
                </td>

                <td class="t-ship t-pair">
                  <span class="td-label"><h6 class="m-0">Ship Date</h6></span>
                  <span>02/12/2018</span>
                </td>

                <td class="t-boxes t-pair">
                  <span class="td-label"><h6 class="m-0"># Boxes</h6></span>
                  <span>100</span>
                </td>

                <td class="t-carrier">
                  <span class="td-label"><h6 class="m-0">Carrier</h6></span>
                  <span>United Parcel Services <br> 1-800-742-5877</span>
                </td>

                <td class="t-tracking">
                  <span class="td-label"><h6 class="m-0">Tracking Number(s)</h6></span>
                  <ol class="list-counter list-counter--1-char line-height-large-xs">
                    {% for i in 0..2 %}
                      {{ listItem }}
                    {% endfor %}
                  </ol>
                </td>
              </tr>
            </tbody>

            <thead class="border-top">
              <tr>
                <th class="t-type">Type</th>
                <th class="t-ship">Ship Date</th>
                <th class="t-boxes nowrap"># Boxes</th>
                <th class="t-carrier">Carrier</th>
                <th class="t-tracking">Tracking Number(s)</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td class="t-type">
                  <span class="td-label"><h6 class="m-0">Type</h6></span>
                  <span>Avon</span>
                </td>

                <td class="t-ship t-pair">
                  <span class="td-label"><h6 class="m-0">Ship Date</h6></span>
                  <span>02/12/2018</span>
                </td>

                <td class="t-boxes t-pair">
                  <span class="td-label"><h6 class="m-0"># Boxes</h6></span>
                  <span>17</span>
                </td>

                <td class="t-carrier">
                  <span class="td-label"><h6 class="m-0">Carrier</h6></span>
                  <span>US Postal Service</span>
                </td>

                <td class="t-tracking">
                  <span class="td-label"><h6 class="m-0">Tracking Number(s)</h6></span>
                  <ol class="list-counter list-counter--3-char line-height-large-xs">
                    {% for i in 0..100 %}
                      {{ listItem }}
                    {% endfor %}
                  </ol>
                </td>

              </tr>
            </tbody>

          </table>

        </div>

        <!-- START - MAGNOLIA BLOCK -->
        {% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with { position: 'bottom' } %}
        <!-- END - MAGNOLIA BLOCK -->

      {% endblock %}

    {% endembed %}

  </div>

{% endblock %}
