{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <div class="container container--view-invoices-page">

    {% embed "_layouts/columns-10-max.html.twig" %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        <h2>View Invoices</h2>
        
        <div class="invoice-iframe-holder mt-4">
          <iframe
            src="https://data.youravon.com/repinvoicing/AvonRemoteLogin?from=old&amp;loginId=68991654&amp;repId=*68991654*"
            id="viewInvoicesIframeUrl"
            scrolling="yes"
            onload="resizeIframe(this)"
            frameborder="0"
            width="680"
            height="400"
            webkitallowfullscreen=""
            mozallowfullscreen=""
            allowfullscreen=""></iframe>
        </div>

      {% endblock %}

    {% endembed %}

  </div>

{% endblock %}
