{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <section class="container">

      <div class="row">
        <div class="col-xs-12">
          <h1>View Invoices</h1>
          <p>You have <a href="#">0 invoice(s) ready to print</a>
          </p>
          <p>Customer Invoices for the last 45 Days are shown below. To see others, go to <a href="#">View Saved Invoices</a>.</p>
          <h6>STEP 1: Identify missing Items</h6>
          <p>Using your Avon generated invoice, answer the question below. Once complete, the confirmation number becomes a link. To access the customer invoices within this order click the appropriate link below.</p>
          <iframe src="https://data.youravon.com/repinvoicing/AvonRemoteLogin?from=old&amp;loginId=68991654&amp;repId=*68991654*" id="viewInvoicesIframeUrl" scrolling="yes" onload="resizeIframe(this)" frameborder="0" width="680" height="400" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
        </div>
      </div>

    </section>

  {% endblock %}

{% endblock %}
