{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <div class="container container--page">

    {% embed "_layouts/columns-10-max.html.twig" %}

      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {# DEFINE BLOCK - MAIN #}
      {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
      {% block main %}

        <!-- START - MAGNOLIA BLOCK -->
        {% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with { position: 'top' } %}
        <!-- END - MAGNOLIA BLOCK -->

        <h2>View Invoices</h2>

        <div class="invoice-iframe-holder mt-4">
          <iframe
            src="https://data.youravon.com/repinvoicing/AvonRemoteLogin?from=old&amp;loginId=68991654&amp;repId=*68991654*"
            id="viewInvoicesIframeUrl"
            scrolling="yes"
            onload="resizeIframe(this)"
            frameborder="0"
            width="680"
            height="400"
            webkitallowfullscreen=""
            mozallowfullscreen=""
            allowfullscreen=""></iframe>
        </div>
        <p>We recommend you also check your <a href="#">Invoice Addendums</a>.</p>

        <!-- START - MAGNOLIA BLOCK -->
        {% include "_includes/groups/fpo/magnolia-managed-content-block.html.twig" with {
          position: 'bottom',
          extraSpacing: 5
        } %}
        <!-- END - MAGNOLIA BLOCK -->

      {% endblock %}

    {% endembed %}

  </div>

{% endblock %}
