{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <section class="container">

      <div class="row">
      	<div class="col-xs-12">
      		<h1>View Invoices</h1>
      		<p>You have <a href="#">0 invoice(s) ready to print</a></p>
      		<p>Customer Invoices for the last 45 Days are shown below. To see others, go to <a href="#">View Saved Invoices</a>.</p>
      		<h6>STEP 1: Identify missing Items</h6>
      		<p>Using your Avon generated invoice, answer the question below. Once complete, the confirmation number becomes a link. To access the customer invoices within this order click the appropriate link below.</p>
      		<div class="invoice_iframe_holder">
      			<iframe width="100%" height="400" src="https://www.youravon.com/us-home/my-account/invoices/view-invoices.html" frameborder="0"></iframe>
      		</div>
      	</div>
      </div>

    </section>

  {% endblock %}


{% endblock %}
