{% extends layouts.themes.yourOrder %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  <!-- START - TAB NAVIGATION -->
  <section class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">

        {% include "_includes/modules/your-order/tab-nav.html.twig" %}

      </div>
    </div><!-- /.row -->
  </section><!-- /.container -->
  <!-- END - TAB NAVIGATION -->


  <!-- START - MAIN AND ASIDE -->
  <section class="reverse-bg">
    <div class="container">

      {% embed layouts.columns9x3 %}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - MAIN #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block main %}

          {% include '_includes/modules/your-order/tab-content.html.twig' %}

        {% endblock %}


        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - ASIDE #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block aside %}

          <!-- ORDER TOTAL -->
          {% include components.modules.yourOrder.total %}

        {% endblock %}
      {% endembed %}

    </div>
  </section>
  <!-- END - MAIN AND ASIDE -->



{% endblock %}
