{% extends layouts.base %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}

  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# DEFINE BLOCK - MAIN #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {% block main %}

    <!-- START - GLOBAL ALERT MESSAGE -->
    {% include "_includes/modules/global/global-alert-message.html.twig" with {
        'alertId': '',
        'alertClasses': 'alert-success',
        'alertIcon': 'lt-checkmark',
        'alertMsg': 'Item has been added',
        'alertBtnText': 'View your Order',
        'alertDismissable': true
      }
    %}
    <!-- END - GLOBAL ALERT MESSAGE -->


    <!-- START - TAB NAVIGATION -->
    <section class="container container--page">
      <h2 class="mb-5">Your Order</h2>
      <div class="row">
        <div class="col-xs-12 col-sm-12">

          {% include "_includes/modules/your-order/tab-nav.html.twig" %}

        </div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.container -->
    <!-- END - TAB NAVIGATION -->

    <section class="container">

      {% embed "_layouts/columns-8x4.html.twig" with {
        contentSplit: true
      } %}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - MAIN #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block main %}

          {% include '_includes/modules/your-order/tab-content.html.twig' %}

        {% endblock %}

        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {# DEFINE BLOCK - ASIDE #}
        {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
        {% block aside %}

          <!-- START - ORDER TOTAL ASIDE -->
          {% include '_includes/modules/your-order/order-total.html.twig' %}
          <!-- END - ORDER TOTAL ASIDE -->

          <!-- START - ORDER TOTAL STICKY FOOTER -->
          <!-- NOTE :: This sticky footer relies on js found in js/demo/your-order-carts-tab.js -->
          <!--      :: it is required to add padding to <body> -->
          {% include '_includes/modules/your-order/order-sticky-footer.html.twig' %}
          <!-- END - ORDER TOTAL STICKY FOOTER -->

          <!-- START - CHECKOUT MODAL -->
          {% include "_includes/modules/modals/modal-either-or.html.twig" with { 'modalId': 'order-checkout-modal' } %}
          <!-- END - CHECKOUT MODAL -->

        {% endblock %}

      {% endembed %}

    </section>

  {% endblock %}

{% endblock %}
