<!-- START - PRIMARY NAV -->
<nav class="navbar navbar--primary-nav navbar-default border-bottom m-0 p-0" role="navigation">

  <!-- START - UPPER SECTION -->
  <div class="container my-5 hidden-xs">

    <div class="row d-flex align-items-center">

      <!-- desktop search -->
      {% include components.modules.search.searchInputDt %}

      <!-- desktop logo -->
      <a href="index.html" class="navbar-brand flex-fill">
        {% include components.elements.images.logoYourAvon %}
      </a>

      <!-- order / cart -->
      {% include '_includes/groups/navigation/items/order-btn.html.twig' %}

    </div>
    <!-- /.row -->

  </div>
  <!-- END - UPPER SECTION -->

  <!-- START - LOWER SECTION -->
  <div class="container">

    <div class="row d-flex align-items-center justify-content-center">

      <!-- START - MOBILE NAV -->
      <div class="navbar-header visible-xs-flex align-items-center">

        <!-- hamburger toggle -->
        <button class="navbar-toggle flex-fill" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!-- mobile logo -->
        <a href="index.html" class="navbar-brand navbar-brand--mobile flex-fill">
          {% include components.elements.images.logoYourAvon %}
        </a>

        <!-- mobile search -->
        {% include components.modules.search.searchInput %}

      </div>
      <!-- END - MOBILE NAV -->

      <!-- START - MAIN MENU -->
      <ul class="nav navbar-nav navbar-left navbar-collapse collapse pl-0">
        <li class="active">
          <a class="small pb-4" href="#">Products</a>
        </li>
        <li>
          <a class="small pb-4" href="#">Orders</a>
        </li>
        <li>
          <a class="small pb-4" href="#">Team</a>
        </li>
        <li>
          <a class="small pb-4" href="#">Campaigns</a>
        </li>
        <li>
          <a class="small pb-4" href="#">Customers</a>
        </li>
        <li>
          <a class="small pb-4" href="#">Earnings</a>
        </li>
        <li>
          <a class="small pb-4" href="#">Marketing Tools</a>
        </li>
        <li>
          <a class="small pb-4" href="#">Education</a>
        </li>
      </ul>
      <!-- END - MAIN MENU -->

    </div>
    <!-- /.row -->

  </div>
  <!-- END - LOWER SECTION -->

</nav>
<!-- END - PRIMARY NAV -->
