<!-- START - PRIMARY NAV -->
<nav class="navbar navbar--primary-nav navbar-default border-bottom m-0 p-0" role="navigation">

  <!-- START - UPPER SECTION -->
  <div class="container my-5 hidden-xs">

    <div class="row d-flex align-items-center">

      <!-- desktop search -->
      {% include components.modules.search.searchInputDt %}

      <!-- desktop logo -->
      <a href="index.html" class="navbar-brand flex-fill">
        {% include components.elements.images.logoYourAvon %}
      </a>

      <!-- order / cart -->
      {% include '_includes/groups/navigation/items/order-btn.html.twig' %}

    </div>
    <!-- /.row -->

  </div>
  <!-- END - UPPER SECTION -->

  <!-- START - LOWER SECTION -->
  <div class="container">

    <div class="row d-flex align-items-center justify-content-center">

      <!-- START - MOBILE HEADER -->
      <div class="navbar-header visible-xs-flex align-items-center">

        <!-- hamburger toggle -->
        <button class="navbar-toggle flex-fill" type="button" data-toggle="off-canvas-collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!-- mobile logo -->
        <a href="index.html" class="navbar-brand navbar-brand--mobile flex-fill">
          {% include components.elements.images.logoYourAvon %}
        </a>

        <!-- mobile search -->
        {% include components.modules.search.searchInput %}

      </div>
      <!-- END - MOBILE HEADER -->

      <!-- TODO :: remove js that sets menu to height: auto; add .menu-open class to body to prevent double scrollbars -->

      <!-- START - MAIN MENU -->
      <div class="nav navbar-nav navbar-main navbar-collapse off-canvas">

        <!-- BEGIN - MOBILE NAV HEADER SECTION -->
        <!-- TODO :: make this nav an include, we're using it in mobile menu also, classes are different here though -->
        <ul class="nav navbar-main__header visible-xs-flex flex-column list-unstyled">

          <li>
            <!-- User info -->
            <a href="#" class="link-reverse-plain pull-left py-3">
              <span class="profile-img visible-xs-inline-block align-middle mr-3"></span>
              <span class="text-uppercase d-inline-block align-middle">Jane Johnson</span>
            </a>
            <!-- close button -->
            <button class="navbar-toggle link-reverse-plain py-4 pl-4 pr-1" type="button" data-toggle="off-canvas-collapse" data-target=".navbar-collapse">
              <span class="sr-only">Close navigation</span>
              <span class="lt-icon lt-close lt-medium"></span>
            </button>
          </li>

          <li>
            <ul class="nav d-flex">
              <!-- TODO :: make below dropdown an include, lot's of different classes though -->
              <li class="dropdown flex-fill">
                <a href="#" id="accountDrop" role="button" class="dropdown-toggle link-reverse-plain small underline" data-toggle="dropdown">My Account
                  <b class="caret text-primary"></b>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="accountDrop">
                  <li role="presentation">
                    <a class="link-reverse-plain" role="menuitem" tabindex="-1" href="#">Something</a>
                  </li>
                  <li role="presentation">
                    <a class="link-reverse-plain" role="menuitem" tabindex="-1" href="#">Another action</a>
                  </li>
                  <li role="presentation">
                    <a class="link-reverse-plain" role="menuitem" tabindex="-1" href="#">Something else here</a>
                  </li>
                </ul>
              </li>
              <li>
                <a class="small underline link-reverse-plain" href="#">Español</a>
              </li>
              <li>
                <a class="small underline link-reverse-plain" href="#">Log Out</a>
              </li>
            </ul>
          </li>

          <li>
            <!-- BEGIN - BUTTONS -->
            <ul class="list-unstyled row m-0 py-4">
              <li class="col-xs-6 text-center pr-2">
                <button class="btn btn-primary btn-sm w-100 trigger-drawer-item-entry" href="#drawer-item-entry" data-toggle="drawer">
                  <i class="lt-icon lt-addlist mr-2" aria-hidden="true"></i>Item Entry</button>
              </li>
              <li class="col-xs-6 text-center pl-2">
                <button class="btn btn-primary btn-sm w-100">
                  <i class="lt-icon lt-book mr-2" aria-hidden="true"></i>Brochures</button>
              </li>
            </ul>
            <!-- END - BUTTONS -->

          </li>

        </ul>
        <!-- END - MOBILE NAV HEADER SECTION -->

        <!-- START - MAIN MENU LIST -->
        <ul class="nav navbar-nav navbar-main__list m-0">
          <li class="visible-xs-block">
            <a class="pb-4" href="#">Home</a>
          </li>
          <li class="active has-sub-items">
            <a class="pb-4" href="./product-list.html">Products</a>
            <!-- sub-menu toggle -->
            <a class="toggle text-right visible-xs-inline-block" data-toggle="off-canvas-collapse" data-target=".navbar-products"><span class="lt-icon lt-next"></span></a>
            <span class="sr-only">Toggle sub-menu</span>
          </li>
          <li>
            <a class="pb-4" href="#">Orders</a>
          </li>
          <li>
            <a class="pb-4" href="#">Team</a>
          </li>
          <li>
            <a class="pb-4" href="#">Campaigns</a>
          </li>
          <li>
            <a class="pb-4" href="#">Customers</a>
          </li>
          <li>
            <a class="pb-4" href="#">Earnings</a>
          </li>
          <li>
            <a class="pb-4" href="#">Marketing Tools</a>
          </li>
          <li>
            <a class="pb-4" href="#">Education</a>
          </li>
        </ul>
        <!-- END - MAIN MENU LIST -->

        <!-- START - MOBILE NAV FOOTER SECTION -->
        <div class="nav navbar-main__footer visible-xs-block container m-0 p-4">

          <!-- BEGIN - BUTTONS -->
          <ul class="list-unstyled row my-1">
            <li class="col-xs-6 text-center pr-2">
              <button class="btn btn-primary btn-sm w-100">
                <i class="lt-icon lt-home mr-2"></i>My Store</button>
            </li>
            <li class="col-xs-6 text-center pl-2">
              <button class="btn btn-primary btn-sm w-100">
                <i class="lt-icon lt-tip mr-2"></i>Support</button>
            </li>
          </ul>
          <!-- END - BUTTONS -->

          <!-- BEGIN - LOGOS SECTION -->
          <!-- TODO :: make this an include, also being used in mobile menu, needs passable classes -->
          <ul class="list-unstyled d-flex flex-row flex-wrap logo-list mt-4 mb-2">
            <li class="text-center my-4">
              <a class="d-inline-block" href="#"><img class="img-responsive" src="/images/logos/logo_avonU.png" alt="Avon U"></a>
            </li>
            <li class="text-center my-4">
              <a class="d-inline-block" href="#"><img class="img-responsive" src="/images/logos/logo_alma.png" alt="Alma"></a>
            </li>
            <li class="text-center my-4">
              <a class="d-inline-block" href="#"><img class="img-responsive" src="/images/logos/logo_vibe.png" alt="Vibe"></a>
            </li>
            <li class="text-center my-4">
              <a class="d-inline-block" href="#"><img class="img-responsive" src="/images/logos/logo_avon_social.png" alt="Avon Social"></a>
            </li>
          </ul>
          <!-- END - LOGOS SECTION -->

          <!-- BEGIN - LINKS SECTION -->
          <ul class="list-unstyled link-list d-flex flex-wrap justify-content-center mb-4">
            <li class="px-3 py-2">
              <a class="small underline link-reverse-plain" href="#">Conditions of Use</a>
            </li>
            <li class="px-3 py-2">
              <a class="small underline link-reverse-plain" href="#">Privacy Statement</a>
            </li>
            <li class="px-3 py-2">
              <a class="small underline link-reverse-plain" href="#">Site Map</a>
            </li>
            <li class="px-3 py-2">
              <a class="small underline link-reverse-plain" href="#">Product Recall</a>
            </li>
            <li class="px-3 py-2">
              <a class="small underline link-reverse-plain" href="#">Product Safety Certificates</a>
            </li>
            <li class="px-3 py-2">
              <a class="small underline link-reverse-plain" href="#">California Supply Chains Act</a>
            </li>
            <li class="px-3 py-2">
              <a class="small underline link-reverse-plain" href="#">Animal Welfare Policy</a>
            </li>
          </ul>
          <!-- END - LINKS SECTION -->

        </div>
        <!-- END - MOBILE NAV FOOTER SECTION -->

      </div>
      <!-- END - MAIN MENU -->

      <!-- START - PRODUCTS SUB-MENU -->
      <div class="nav navbar-nav navbar-products navbar-sub off-canvas off-canvas--right">

        <!-- START - SUB-MENU HEADER -->
        <div class="navbar-header visible-xs-flex align-items-center px-4">

          <!-- back button -->
          <a class="flex-fill ml-0">
            <span data-toggle="off-canvas-collapse" data-target=".navbar-products">
              <span class="lt-icon lt-left lt-medium mr-2"></span>
              <span class="text-light"> Products</span>
            </span>
          </a>

          <!-- close button -->
          <button class="navbar-toggle link-reverse-plain pr-1 pl-4 mr-0 mt-1" type="button" data-toggle="off-canvas-collapse" data-target=".navbar-products, .navbar-collapse">
            <span class="sr-only">Close navigation</span>
            <span class="lt-icon lt-close lt-medium pb-0"></span>
          </button>

        </div>
        <!-- END - SUB-MENU HEADER -->

        <!-- START - PRODUCTS SUB-MENU LIST -->
        <ul class="nav navbar-nav navbar-sub__sub-list m-0 visible-xs-block">
          <li class="sub-list-item">

            <!-- START - NESTED ITEMS LEVEL 1 -->
            <a class="link-reverse-plain py-4 collapsed arrow-box" data-toggle="collapse" data-target="#submenu-cat1">
              Makeup
              <span class="lt-icon lt-next ml-1"></span>
              <span class="lt-icon lt-plus lt-medium pull-right mt-1"></span>
            </a>
            <div id="submenu-cat1" class="collapse navbar-sub__sub-child">
              <ul class="nav list-unstyled text-uppercase">
                <li class="small sub-list-item">

                  <!-- START - NESTED ITEMS LEVEL 2 -->
                  <a class="link-reverse-plain pl-5 py-4 collapsed" data-toggle="collapse" data-target="#submenu-subcat1">
                    Eye
                    <span class="lt-icon lt-next ml-1"></span>
                    <span class="lt-icon lt-plus lt-medium pull-right mt-1"></span>
                  </a>
                  <div id="submenu-subcat1" class="collapse navbar-sub__sub-child">
                    <ul class="nav list-unstyled text-uppercase">
                      <li class="small pl-5 pr-4"><a class="link-reverse-plain py-4 pl-4">Mascara</a></li>
                      <li class="small pl-5 pr-4"><a class="link-reverse-plain py-4 pl-4">Eyeshadow</a></li>
                      <li class="small pl-5 pr-4"><a class="link-reverse-plain py-4 pl-4">Eye Liner</a></li>
                      <li class="small pl-5 pr-4"><a class="link-reverse-plain py-4 pl-4">Brows</a></li>
                    </ul>
                  </div>
                  <!-- END - NESTED ITEMS LEVEL 2 -->

                </li>
                <li class="small sub-list-item"><a class="link-reverse-plain pl-5 py-4 collapsed">Lips</a></li>
                <li class="small sub-list-item"><a class="link-reverse-plain pl-5 py-4 collapsed">Face</a></li>
                <li class="small sub-list-item"><a class="link-reverse-plain pl-5 py-4 collapsed">Nails</a></li>
                <li class="small sub-list-item"><a class="link-reverse-plain pl-5 py-4 collapsed">Tools &amp; Brushes</a></li>
                <li class="small sub-list-item"><a class="link-reverse-plain pl-5 py-4 collapsed">Features</a></li>
                <li class="small sub-list-item"><a class="link-reverse-plain pl-5 py-4 collapsed">Brands</a></li>
              </ul>
            </div>
            <!-- END - NESTED ITEMS LEVEL 1 -->

          </li>
          <li class="sub-list-item">
            <a class="link-reverse-plain py-4 collapsed" href="#">Skincare</a>
          </li>
          <li class="sub-list-item">
            <a class="link-reverse-plain py-4 collapsed" href="#">Bath &amp; Body</a>
          </li>
          <li class="sub-list-item">
            <a class="link-reverse-plain py-4 collapsed" href="#">Fragrance</a>
          </li>
          <li class="sub-list-item">
            <a class="link-reverse-plain py-4 collapsed" href="#">Jewelry</a>
          </li>
          <li class="sub-list-item">
            <a class="link-reverse-plain py-4 collapsed" href="#">Fashion</a>
          </li>
          <li class="sub-list-item">
            <a class="link-reverse-plain py-4 collapsed" href="#">mark. <span class="text-uppercase">by avon</span></a>
          </li>
          <li class="sub-list-item">
            <a class="link-reverse-plain py-4 collapsed" href="#">Avon Living</a>
          </li>
          <li class="sub-list-item">
            <a class="link-reverse-plain py-4 collapsed" href="#">Men</a>
          </li>
          <li class="sub-list-item">
            <a class="link-reverse-plain py-4 collapsed" href="#">Outlet</a>
          </li>
        </ul>
        <!-- END - PRODUCTS SUB-MENU LIST -->

      </div>
      <!-- END - PRODUCTS SUB-MENU -->

    </div>
    <!-- /.row -->

  </div>
  <!-- END - LOWER SECTION -->

</nav>
<!-- END - PRIMARY NAV -->
