<!-- START - STATIC NAV -->
<nav class="navbar navbar-inverse navbar-static-top navbar--utility-2 border-0 m-0 d-flex">
  <div class="container d-flex align-items-center">

    <!-- BEGIN - MORE TOOLS LOGOS - DESKTOP -->
    {% include '_includes/groups/navigation/items/tools-logo-list.html.twig' %}
    <!-- END - MORE TOOLS LOGOS - DESKTOP -->

    <!-- BEGIN - ACCOUNT SECTION -->
    <!-- TODO :: make this nav an include, we're using it in mobile menu also -->
    <ul class="nav navbar-nav navbar-right">

      <li>
        <a class="pl-2" href="#">
          <span class="profile-img visible-xs-inline"></span>
          <span class="text-uppercase">Jane Johnson</span>
        </a>
      </li>

      <!-- TODO :: make below dropdown an include -->
      <li class="dropdown">
        <a href="#" id="accountDrop" role="button" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="accountDrop">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
        </ul>
      </li>

      <!-- BEGIN - MORE TOOLS - TABLET -->
      {% include '_includes/groups/navigation/items/tools-text-dropdown.html.twig' %}
      <!-- END - MORE TOOLS - TABLET -->

      <li>
        <a class="small link-reverse-underline" href="#">Español</a>
      </li>

      <li>
        <a class="small link-reverse-underline" href="#">Log Out</a>
      </li>

    </ul>
    <!-- END - ACCOUNT SECTION -->

  </div>
</nav>
<!-- END - STATIC NAV -->
