<nav class="navbar navbar-default navbar-static-top navbar--user-nav visible-lg-block border-0 mb-0">
  <div class="container">
    <a href="index.html" class="navbar-brand">
      {% include components.elements.images.logoYourAvon %}
    </a>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#">
          <span class="profile-img"></span>Jane Johnson</a>
      </li>
      <li>
        <a class="small" href="#">Profile</a>
      </li>
      <li>
        <a class="small" href="#">Settings</a>
      </li>
      <li>
        <a class="small" href="#">Español</a>
      </li>
      <li>
        <a class="small" href="#">Log Out</a>
      </li>
    </ul>
  </div>
</nav>
