<!-- START - SECONDARY NAV -->
<nav class="navbar navbar-secondary collapsed" role="navigation">

  <ul class="list-group small">

    <!-- START - BASE LIST ITEM -->
    <li class="list-group-item">

      <!-- START - LEVEL 2 - COLLAPSABLE TRIGGER -->
      <!-- Developer note: must have data-toggle="collapse" and data-target value must match ID of "COLLAPSABLE CONTENT"-->
      <a class="collapsed" data-toggle="collapse" data-target="#secondary-nav-collapse-1">
        My Account
        <span class="lt-icon lt-carat-down lt-medium"></span>
      </a>
      <!-- END - LEVEL 2 - COLLAPSABLE TRIGGER -->

      <!-- START - LEVEL 2 - COLLAPSABLE CONTENT -->
      <div class="collapse" id="secondary-nav-collapse-1">

        <!-- START - LEVEL 2 - LIST -->
        <ul class="list-group mb-0 mt-2">
          <li class="list-group-item"><a {% if active == 'profile' %} class="active" {% endif %} href="#">Profile</a></li>
          <li class="list-group-item"><a {% if active == 'password' %} class="active" {% endif %} href="#">Password</a></li>
          <li class="list-group-item"><a {% if active == 'account-balance' %} class="active" {% endif %} href="#">Account Balance</a></li>
          <li class="list-group-item"><a {% if active == 'pay-avon' %} class="active" {% endif %} href="#">Pay Avon</a></li>
          <li class="list-group-item"><a {% if active == 'get-paid-by-avon' %} class="active" {% endif %} href="#">Get Paid by Avon</a></li>
          <li class="list-group-item"><a {% if active == 'saved-credit-cards' %} class="active" {% endif %} href="#">Saved Credit Cards</a></li>
         {#  <li class="list-group-item">

            <!-- START - LEVEL 3 - COLLAPSABLE TRIGGER -->
            <a data-toggle="collapse" data-target="#secondary-nav-collapse-2">
              Level 2
              <span class="lt-icon lt-carat-down lt-medium"></span>
            </a>
            <!-- END - LEVEL 3 - COLLAPSABLE TRIGGER -->

            <!-- START - LEVEL 3 - COLLAPSABLE CONTENT -->
              <div class="collapse in" id="secondary-nav-collapse-2">

                <!-- START - LEVEL 3 - LIST -->
                <ul class="list-group mb-0 mt-2">
                  <li class="list-group-item"><a class="active" href="#">Level 3 Nav Item</a></li>
                  <li class="list-group-item"><a href="#">Level 3 Nav Item</a></li>
                </ul>
                <!-- END - LEVEL 3 - LIST -->

              </div>
            <!-- END - LEVEL 3 - COLLAPSABLE CONTENT -->

          </li> #}


        </ul>
        <!-- END - LEVEL 2 - LIST -->

      </div>
      <!-- END - LEVEL 2 - COLLAPSABLE CONTENT -->

    </li>
    <!-- END - BASE LIST ITEM -->

  </ul>

</nav>
<!-- END - SECONDARY NAV -->
