<!-- TODO :: This is temporary, FPO until we settle on a solution -->
<h6 class="hidden-xs hidden-sm">My Account</h6>
<ul class="list-group list-group--basic small hidden-xs hidden-sm">
  <li class="list-group-item"><a class="active" href="#">My Profile</a></li>
  <li class="list-group-item"><a class="" href="#">Password</a></li>
  <li class="list-group-item"><a class="" href="#">Account Balance</a></li>
  <li class="list-group-item"><a class="" href="#">Pay Avon</a></li>
  <li class="list-group-item"><a class="" href="#">Get Paid by Avon</a></li>
</ul>
