<!-- START - SECONDARY NAV -->
<nav class="navbar navbar-secondary navbar-secondary--flex collapsed" role="navigation">

  <ul class="list-group small">

    <!-- START - BASE LIST ITEM -->
    <li class="list-group-item">

      <!-- START - LEVEL 2 - COLLAPSABLE TRIGGER -->
      <!-- Developer note: must have data-toggle="collapse" and data-target value must match ID of "COLLAPSABLE CONTENT"-->
      <a class="collapsed" data-toggle="collapse" data-target="#secondary-nav-collapse-1">
        <!-- Dev Note :: This value needs to reflect the 'active' item in the menu -->
        <span id="menuTitle">Details</span> <span class="lt-icon lt-carat-down lt-medium"></span>
      </a>
      <!-- END - LEVEL 2 - COLLAPSABLE TRIGGER -->

      <!-- START - LEVEL 2 - COLLAPSABLE CONTENT -->
      <div class="collapse" id="secondary-nav-collapse-1">

        <!-- START - LEVEL 2 - LIST -->
        <ul class="list-group mb-0 mt-2">
          <!-- Dev Note :: add 'active' class to these menu items when pane is active -->
          <li class="list-group-item active"><a href="#mc-details" data-toggle="tab">Details</a></li>
          <li class="list-group-item"><a href="#mc-followups" data-toggle="tab">Follow-Ups</a></li>
          <li class="list-group-item"><a href="#mc-notes" data-toggle="tab">Notes</a></li>
          <li class="list-group-item"><a href="#mc-contacthist" data-toggle="tab">Contact History</a></li>
          <li class="list-group-item"><a href="#mc-orderhist" data-toggle="tab">Order History</a></li>
        </ul>
        <!-- END - LEVEL 2 - LIST -->

      </div>
      <!-- END - LEVEL 2 - COLLAPSABLE CONTENT -->

    </li>
    <!-- END - BASE LIST ITEM -->

  </ul>

</nav>
<!-- END - SECONDARY NAV -->
