<!-- START - FPO HEADLINE -->
<div class="pt-5">
  <h5 class="text-center mb-4">JUST FOR YOU <i class="lt-icon lt-info lt-medium"></i></h5>
</div>
<!-- END - FPO HEADLINE -->

{% include "_includes/modules/home/boxes-primary-home-from-avon.html.twig" %}


<section class="box-group--primary">

  <!-- START - BOX GROUP PAIR -->
  <div class="box-group--pair">

    {% include "_includes/groups/boxes/primary/item.html.twig" with { label: '5' } %}
    {% include "_includes/groups/boxes/primary/item.html.twig" with { label: '6' } %}

  </div><!-- /.box-group-pair -->
  <!-- END - BOX GROUP PAIR -->


  <!-- START - BOX GROUP PAIR-->
  <div class="box-group--pair">

    {% include "_includes/groups/boxes/primary/item.html.twig" with { label: '7' } %}
    {% include "_includes/groups/boxes/primary/item.html.twig" with { label: '8' } %}

  </div><!-- /.box-group-pair -->
  <!-- END - BOX GROUP PAIR -->

  <!-- START - BOX GROUP PAIR -->
  <div class="box-group--pair">

    {% include "_includes/groups/boxes/primary/item.html.twig" with { label: '9' } %}
    {% include "_includes/groups/boxes/primary/item.html.twig" with { label: '10' } %}

  </div><!-- /.box-group-pair -->
  <!-- END - BOX GROUP PAIR -->


  <!-- START - BOX GROUP PAIR-->
  <div class="box-group--pair">

    {% include "_includes/groups/boxes/primary/item.html.twig" with { label: '11' } %}
    {% include "_includes/groups/boxes/primary/item.html.twig" with { label: '12' } %}

  </div><!-- /.box-group-pair -->
  <!-- END - BOX GROUP PAIR -->

  <!-- START - BOX GROUP PAIR-->
  <div class="box-group--pair">

    {% include "_includes/groups/boxes/primary/item.html.twig" with { label: '13' } %}

  </div><!-- /.box-group-pair -->
  <!-- END - BOX GROUP PAIR -->

</section>