
<!-- START - TAB CONTENT -->
<section class="tab-content">

  <!-- START - TAB PANEL CARTS -->
  <section class="tab-pane active" id="widgets-all">
    {% include '_includes/modules/dashboard/tab-panel-widgets-all.html.twig' %}
  </section>
  <!-- END - TAB PANEL CARTS -->

  <!-- START - TAB PANEL OFFERS -->
  <section class="tab-pane " id="widgets-my">
    {% include '_includes/modules/dashboard/tab-panel-widgets-my.html.twig' %}
  </section>
  <!-- END - TAB PANEL OFFERS -->
</section>
