<!-- START - TAB NAVIGATION -->
<ul class="nav nav-tabs border-bottom">
  <li class="active"><a href="#widgets-all" data-toggle="tab">All widgets</a></li>
  <li><a href="#widgets-my" data-toggle="tab">My widgets</a></li>
</ul>
<!-- END - TAB NAVIGATION -->
