<div class="alert alert-info">Select the widgets you would like to appear on your home page under the “Just For You” section</div>

{% include "_includes/groups/boxes/primary/item-container.html.twig" with {
  hasToolbar: true,
  carouselId: 'select-widget-modal',
  items: {
    item1: {
      widgetPath: '_includes/modules/widgets/widget-kickstart.html.twig'
    },
    item2: {
      widgetPath: '_includes/modules/widgets/widget-campaign-selling-dates.html.twig'
    },
    item3: {
      widgetPath: '_includes/modules/widgets/widget-customer-product-reminders.html.twig'
    },
    item4: {
      fpoImgSrc: 'src="images/fpo/home/4.png"'
    }
  }
} %}
