<span>
  {% include components.groups.ratings.selected %}
  {% include components.groups.ratings.selected %}
  {% include components.groups.ratings.selected %}
  {% include components.groups.ratings.selected %}
  {% include components.groups.ratings.unselected %}
</span>