<!-- START - MORE TOOLS -->
<ul class="nav navbar-nav tools-list mx-0 d-flex text-uppercase">
  <li>
    <a class="py-0 pl-2 pr-3 link-reverse" href="#" title="Avon U Training">
      <span class="">Avon U Training</span>
    </a>
  </li>
  <li>
    <a class="py-0 px-3 link-reverse" href="#" title="Alma">
      <span class="">ALMA</span>
    </a>
  </li>
  <li>
    <a class="py-0 px-3 link-reverse" href="#" title="Vibe">
      <span class="">Vibe</span>
    </a>
  </li>
  <li>
    <a class="py-0 px-3 link-reverse" href="#" title="Avon Social">
      <span class="">Avon Social</span>
    </a>
  </li>
</ul>
<!-- END - MORE TOOLS -->
