<!-- START - MORE TOOLS -->
<ul class="nav navbar-nav tools-list mx-0 d-flex text-uppercase small">
  <li>
    <a class="py-0 px-2 link-reverse" href="#" title="Avon U Training">
      <span>Avon U <span class="hidden-xs-header">Training</span></span>
    </a>
  </li>
  <li>
    <a class="py-0 px-2 link-reverse" href="#" title="Alma">
      <span>ALMA</span>
    </a>
  </li>
  <li>
    <a class="py-0 px-2 link-reverse" href="#" title="Vibe">
      <span>Vibe</span>
    </a>
  </li>
  <li>
    <a class="py-0 px-2 link-reverse" href="#" title="Avon Social">
      <span>Avon Social</span>
    </a>
  </li>
</ul>
<!-- END - MORE TOOLS -->
