<!-- START - MORE TOOLS -->
<ul class="nav navbar-nav tools-list mx-0 d-flex">
  <li>
    <a class="py-0 pl-2 pr-3 link-reverse-underline" href="#" title="Avon U">
      <!-- <img class="p-1 visible-md visible-lg" src="/images/logos/logo_avonU.png" alt="Avon U"> -->
      <span class="">Avon U</span>
    </a>
  </li>
  <li>
    <a class="py-0 px-3 link-reverse-underline" href="#" title="Alma">
      <!-- <img class="p-1 visible-md visible-lg" src="/images/logos/logo_alma.png" alt="Alma"> -->
      <span class="">ALMA</span>
    </a>
  </li>
  <li>
    <a class="py-0 px-3 link-reverse-underline" href="#" title="Vibe">
      <!-- <img class="p-1 visible-md visible-lg" src="/images/logos/logo_vibe.png" alt="Vibe"> -->
      <span class="">Vibe</span>
    </a>
  </li>
  <li>
    <a class="py-0 px-3 link-reverse-underline" href="#" title="Avon Social">
      <!-- <img class="p-1 visible-md visible-lg" src="/images/logos/logo_avon_social.png" alt="Avon Social"> -->
      <span class="">Avon Social</span>
    </a>
  </li>
</ul>
<!-- END - MORE TOOLS -->
