<!-- START - MORE TOOLS -->
<ul class="nav navbar-nav tools-list m-0 px-4 d-flex">
  <li>
    <a class="py-0 pl-2 pr-4" href="#">
      <img class="p-1 visible-md" src="/images/logos/logo_avonU.png" alt="Avon U">
      <span class="visible-xs-inline">Avon U</span>
    </a>
  </li>
  <li>
    <a class="py-0 px-4" href="#">
      <img class="p-1 visible-md" src="/images/logos/logo_alma.png" alt="Alma">
      <span class="visible-xs-inline">ALMA</span>
    </a>
  </li>
  <li>
    <a class="py-0 px-4" href="#">
      <img class="p-1 visible-md" src="/images/logos/logo_vibe.png" alt="Vibe">
      <span class="visible-xs-inline">Vibe</span>
    </a>
  </li>
  <li>
    <a class="py-0 px-4" href="#">
      <img class="p-1 visible-md" src="/images/logos/logo_avon_social.png" alt="Avon Social">
      <span class="visible-xs-inline">Avon Social</span>
    </a>
  </li>
</ul>
<!-- END - MORE TOOLS -->
