{% extends "_layouts/modal.html.twig" %}
{% set modalId = 'pay-avon-edit-card-info-modal' %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalHeader #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalHeader %}

<button type="button" class="close link-muted" data-dismiss="modal" aria-hidden="true">
  <span class="sr-only">Close modal</span>
  <span class="lt-icon lt-close lt-large py-1"></span>
</button>
<h6 class="modal-title">Edit Card Info</h6>

{% endblock %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalBody #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalBody %}

<div class="my-4 pb-4 border-bottom">
  <img class="payment-img payment-img--lg mr-4" src="images/icons/payment-visa.svg" alt="VISA">
  <span class="payment-name">VISA</span> ending in <span class="payment-digits">9876</span>
</div>

<form role="form">
  <div class="form-group">
    {% include components.groups.forms.inputAndLabel with {
      id: 'name-on-card',
      mainLabel: 'Name on Card',
      haslabelErrorIcon: true,
      hasInlineErrorIcon: null,
      hasAbsoluteErrorIcon: null,
      classes: 'form-control',
      type: 'input',
      theValue: 'Marcia Brady'
    } %}
  </div>

  <div class="form-group">
    <label class="control-label"><i class="lt-icon lt-warning-fill lt-medium show-when-has-error"></i>Expiration date</label>
    <div class="row">
      <div class="col col-sm-6">
        <div class="form-group has-feedback">
          <span class="lt-icon lt-triangle-down form-control-feedback"></span>
          {% include '_includes/elements/forms/generic/month.html.twig' with {
            optionSelected: 3
          } %}
        </div>
      </div>
      <div class="col col-sm-6">
        <div class="form-group has-feedback">
          {% include '_includes/elements/forms/generic/year.html.twig' with {
            optionSelected: 2,
            latestYear: 2019
          } %}
        </div>
      </div>
    </div>
  </div>

  <h6>Billing Address</h6>

  <section class="billing-address">
    {% include "_includes/groups/forms/generic/address-zip-city-state-country.html.twig" with {
      'idPrefix': 'edit-cc-modal-',
      'showTheValue': false,
      'showPlaceholder': true,
    }%}
  </section>

</form>

{% endblock %}

{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - modalFooter #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block modalFooter %}

<div class="row">
  <div class="col-xs-6 my-2">
    <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancel</button>
  </div>
  <div class="col-xs-6 my-2">
    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Update</button>
  </div>
</div>

{% endblock %}
