<li class="list-group-item">
  <span class="d-block-xs">{{ contactMsg }}</span>
  {% if contactType %}
  <span class="d-block-xs"><strong><a href="#">{{ contactType }} name goes here</a></strong></span>
  {% endif %}
  <div class="text-muted">Mar 22, 2022 2:45 PM</div>
</li>
