<tr>
  <td class="t-block t-conf-num">
    <a href="#" class="marge link-plain font-weight-bold underline">1234567890</a>
  </td>
  <td class="t-block t-date">
    <label class="visible-xs-inline visible-sm-inline">Date: </label>
    12/29/2018
  </td>
  <td class="t-block t-camp-num">
    <label class="visible-xs-inline visible-sm-inline">Campaign: </label>
    {{ contactCnum }}
  </td>
  <td class="t-block t-source">
    <label class="visible-xs-inline visible-sm-inline">Source: </label>
    {{ contactSource }}
  </td>
  <td class="t-block t-order-amount">
    <label class="visible-xs-inline visible-sm-inline">Order Amt: </label>
    $123.45
  </td>
  <td class="t-block t-status">
    <label class="visible-xs-inline visible-sm-inline">Status: </label>
    Shipped
  </td>
</tr>
