{# styleguide-main.html.twig #}
{% extends 'base.html.twig' %}


{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# DEFINE BLOCK - CONTENT #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{% block content %}
 

    <!-- Docs master nav -->
    {% include "../_includes/nav-main.html.twig" %}


    <!-- Docs page layout -->
    <div class="bs-header" id="content">
      <div class="container">
        <h1>{{ title }}</h1>
      </div>
    </div>

    <div class="container bs-docs-container">
      <div class="row">
        <div class="col-md-9" role="main">


          {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
          {# RENDER BLOCK - CONTENT #}
          {% block styleguideContent %}{% endblock %}
          {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}


        </div>
        <div class="col-md-3">
          <div class="bs-sidebar hidden-print" role="complementary">
            <ul class="nav bs-sidenav">

              {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
              {# BLOCK - SIDE BAR #}
              {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}


              {% if slug == "styleguide-css" %}
                {% include "../_includes/nav-css.html.twig" %}
              {% endif %}
              {% if slug == "styleguide-elements" %}
                {% include "../_includes/nav-elements.html.twig" %}
              {% endif %}
              {% if slug == "styleguide-groups" %}
                {% include "../_includes/nav-groups.html.twig" %}
              {% endif %}
              {% if slug == "styleguide-modules" %}
                {% include "../_includes/nav-modules.html.twig" %}
              {% endif %}
    
            </ul>
          </div>
        </div>
      </div>
    </div>


{% endblock %}
