h1, h1[id], h2 {
    padding-top: 2em;
}

h2 + h3 {
    padding-top: 0em;
}

h3, h4 {
    padding-top: 2em;
    padding-bottom: 0.5em;
}

.bs-example h2,
.bs-example h3,
.bs-example h4 {
    padding-top: 0;
    padding-bottom: 0;
}

pre[class*="language-"] {
    margin: 1em 0;
}

body {
    padding-top: 50px;

    // Because top nav is sticky
}

.bs-masthead,
.bs-header {
    background-color: #ed008c;
    background-image: none;
    padding-top: 30px;
    padding-bottom: 28px;
}

.bs-header h1 {
    font-size: 40px;
}

.bs-docs-nav .navbar-brand,
.bs-docs-nav .navbar-nav > li > a {
    color: #999;
}

.bs-docs-nav .navbar-nav > li > a:hover,
.bs-docs-nav .navbar-nav > .active > a,
.bs-docs-nav .navbar-nav > .active > a:hover {
    color: #ed008c;
    background-color: transparent;
}

.bs-docs-nav.navbar {
    -webkit-box-shadow: 0px -26px 41px 21px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0px -26px 41px 21px rgba(0, 0, 0, 0.23);
    box-shadow: 0px -26px 41px 21px rgba(0, 0, 0, 0.23);
    border-bottom: 1px solid #ccc;
}