{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
{# Containers #}
{# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
<h3 id="overview-container">Containers</h3>
<p>Easily center a page's contents by wrapping its contents in a <code>.container</code>. Containers set <code>width</code> at various media query breakpoints to match our grid system.</p>
<p>Note that, due to <code>padding</code> and fixed widths, containers are not nestable by default.</p>

  {{ highlightMarkup }}
  <div class="container">
    ...
  </div>
  {{ endhighlight }}