  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  {# Mobile first #}
  {# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ #}
  <h3 id="overview-mobile">Mobile first</h3>
  <p>With Bootstrap 2, we added optional mobile friendly styles for key aspects of the framework. With Bootstrap 3, we've rewritten the project to be mobile friendly from the start. Instead of adding on optional mobile styles, they're baked right into the core. In fact, <strong>Bootstrap is mobile first</strong>. Mobile first styles can be found throughout the entire library instead of in separate files.</p>
  <p>To ensure proper rendering and touch zooming, <strong>add the viewport meta tag</strong> to your <code>&lt;head&gt;</code>.</p>

  {{ highlightMarkup }}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ endhighlight }}

  <p>You can disable zooming capabilities on mobile devices by adding <code>user-scalable=no</code> to the viewport meta tag. This disables zooming, meaning users are only able to scroll, and results in your site feeling a bit more like a native application. Overall, we don't recommend this on every site, so use caution!</p>

  {{ highlightMarkup }}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  {{ endhighlight }}